{% extends "glados/base/base_layout.html" %}

{% block title %}Cell Report Card{% endblock %}

{% block content %}
<div class="container main-container">

  {% block breadcrumb %}
  {% include "glados/base/breadcrumb.html" %}
  {% endblock %}

  <div class="row">

    <!-- the scrollspy disappears in medium and down -->
    <div class="col m12 l10">

      <h2>Cell Line Report Card</h2>

      <div class="divider"></div>
      <div id="BasicInformation" class="section scrollspy">
        <h3>Basic Information</h3>

        <div class="row">

          {% block dbi %}
            {% with is_dynamic=True  %}
              {% include "glados/CellReportCardParts/BasicInformation.html" %}
            {% endwith %}
          {% endblock %}

        </div>

      </div>

      <div class="divider"></div>
      <div id="AssaySummary" class="section scrollspy">
        <h3>Assay Summary</h3>

        <div class="row">

          stuff

        </div>

      </div>

      <div class="divider"></div>
      <div id="BioactivitySummary" class="section scrollspy">
        <h3>Bioactivity Summary</h3>

        <div class="row">

          stuff

        </div>

      </div>

      <div class="divider"></div>
      <div id="CompoundSummaries" class="section scrollspy">
        <h3>Compound Summaries</h3>

        <div class="row">

          stuff

        </div>

      </div>


    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Scrolspy -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="col l2 hide-on-med-and-down">

      <div class="scrollspy-wrapper pin-top">
        <ul class="section table-of-contents">

          <li><a href="#BasicInformation">
            <small>Basic Information</small>
          </a></li>

          <li><a href="#AssaySummary">
            <small>Assay Summary</small>
          </a></li>

          <li><a href="#BioactivitySummary">
            <small>Bioactivity Summary</small>
          </a></li>

          <li><a href="#AssaySummary">
            <small>Assay Summary</small>
          </a></li>

          <li><a href="#BioactivitySummary">
            <small>Bioactivity Summary</small>
          </a></li>

          <li><a href="#CompoundSummaries">
            <small>Compound Summaries</small>
          </a></li>

        </ul>
      </div>


    </div>

  </div>

</div>

{% endblock %}


{% block custom_js %}
{% endblock %}

{% block custom_js_inline %}

$('.scrollspy').scrollSpy();
ScrollSpyHelper.initializeScrollSpyPinner();

var pathname = window.location.pathname;
var pathnameParts = pathname.split('/')
CHEMBL_ID = pathnameParts[pathnameParts.length - 2]
var cellLine = CellLineReportCardApp.initCellLine(CHEMBL_ID);

var cbiView = CellLineReportCardApp.initCBIView(cellLine, $('#CBasicInformation'));

cellLine.fetch();

{% endblock %}