{% extends "glados/base/base_layout.html" %}

{% block title %}Components list{% endblock %}

{% block custom_handlebars %}
  {% include "glados/CompoundReportCardParts/3DView-HBS.html" %}
  {% include "glados/DocumentAssayNetwork/DocumentAssayNetworkHBS.html" %}
{% endblock %}

{% block content %}

<div class="container main-container">

  <h2>
    <span><i class="icon icon-functional" data-icon="4"></i>Chembl Visual Components List</span>
  </h2>

  <h3>Compound 3D View:</h3>

  3DView for <a target="_blank" href="/compound_report_card/CHEMBL1163143">CHEMBL1163143</a>.
  (Requires <a target="_blank" href="https://en.wikipedia.org/wiki/WebGL">WebGL</a>)

  <div id='BCK-compound-3dview' style="height: 100%;">

    <!-- Backbone renders this -->
     <div class="card-preolader-to-hide">

       <div class="progress">
         <div class="indeterminate"></div>
       </div>

     </div>

  </div>


  <div class="divider"></div>
  <h3>Document Assay Network:</h3>

  {% block assay_network %}
  {% include "glados/DocumentReportCardParts/AssayNetwork.html" %}
  {% endblock %}

  <div class="divider"></div>
  <h3>Item Browsers:</h3>

  <h4>As table:</h4>

  {% block browse_as_table %}
  {% include "glados/MainPageParts/DrugBrowserParts/BrowserTableAsCard.html" %}
  {% endblock %}

  <h4>As cards pages:</h4>

  {% block browse_as_card_pages %}
    {% include "glados/SearchResultsParts/CompoundResultsAsCard.html" %}
  {% endblock %}

{% endblock %}

{% block custom_js_inline %}

// compound 3d view
var compound = initCompound('CHEMBL1163143');
comp3DView = new Compound3DView({
  el: $('#BCK-compound-3dview'),
  model: compound,
  type: 'reduced'});
compound.fetch();

// document assay network
var documentAssayNetwork = DocumentReportCardApp.initDocumentAssayNetwork('CHEMBL1151960');
var danView = DocumentReportCardApp.initDANView(documentAssayNetwork, $('#DAssayNetworkCard'));
documentAssayNetwork.fetch();

//browse as table.
var drugList = DrugBrowserApp.initDrugList();
var drugBrowserTableView = DrugBrowserApp.initBrowserAsTableCard(drugList, $('#BCK-BrowserAsTable'));
drugList.fetch({reset: true});

//sample list
var compoundList = SearchResultsApp.initCompoundsResultsList();
//browse as card pages
var compResListAsCardView = SearchResultsApp.initCompResultsListAsCardView(compoundList, $('#BCK-ResultsCardPages'));
compoundList.fetch();



{% endblock %}