{% extends "glados/base/base_layout.html" %}

{% block title %}Compound report card{% endblock %}


{% block content %}

<div class="container main-container">

  <div class="row">

    <!-- the scrollspy disappears in medium and down -->
    <div class="col m12 l10">

      <h2>Compound Report Card</h2>

      <div class="divider"></div>
      <div id="CompoundNameAndClassification" class="section scrollspy">
        <h3>Compound Name and Classification</h3>

        <div class="row">


          <div class="col s12 m9 ">

            <!-- Card Start -->
            <div class="card-panel teal lighten-5">

              <div class="row">

                <!-- Coumpound Image -->
                <div class="col s4 m4 ">

                  <div class="card-image white">
                    <img class="CNC-img" src="https://www.ebi.ac.uk/chembl/compound/displayimage_large/2046">

                  </div>

                </div>

                <!-- Basic info table -->
                <div class="col s12 m8">


                  <table class="CNC-table bordered">

                    <tbody>
                    <tr>
                      <td><b>ID:</b></td>
                      <td>CHEMBL35</td>
                    </tr>
                    <tr>
                      <td><b>Name:</b></td>
                      <td>FUROSEMIDE</td>
                    <tr>
                      <td><b>Max Phase:</b></td>
                      <td>4 (Approved)</td>
                    </tr>
                    <tr>
                      <td><b>Molecular Formula:</b></td>
                      <td>C12H11ClN2O5S</td>
                    </tr>
                    <tr>
                      <td><b>ChEMBL Synonyms:</b></td>
                      <td colspan="3">
                        <div class="chip green lighten-3">
                          Furosemide
                        </div>
                        <div class="chip green lighten-3">
                          Aquamed
                        </div>
                        <div class="chip green lighten-3">
                          Frusemide
                        </div>
                        <div class="chip green lighten-3">
                          Disal
                        </div>
                        <div class="chip green lighten-3">
                          Lasix
                        </div>
                        <div class="chip green lighten-3">
                          LB-502
                        </div>


                      </td>
                    </tr>
                    <tr>
                      <td><b>Trade Names:</b></td>
                      <td colspan="3">
                        <div class="chip light-green lighten-3">
                          Disal
                        </div>
                        <div class="chip light-green lighten-3">
                          Lasix
                        </div>
                        <div class="chip light-green lighten-3">
                          Aquamed
                        </div>
                        <div class="chip light-green lighten-3">
                          Frusemide
                        </div>
                        <div class="chip light-green lighten-3">
                          Furosemide
                        </div>
                      </td>
                    </tr>
                    </tbody>

                  </table>


                </div>

              </div>
            </div>

          </div>


        </div>

      </div>

      <!------------------------------------------------------------------------------------------------>
      <!-- End Compound Report Card -->

      <div class="divider"></div>
      <div id="CompoundRepresentations" class="section scrollspy">
        <h3>Compound Representations</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="MechanismOfAction" class="section scrollspy">
        <h3>Mechanism of Action</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="MoleculeFeatures" class="section scrollspy">
        <h3>Molecule Features</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="ClinicalData" class="section scrollspy">
        <h3>Clinical Data</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="StructuralAlerts" class="section scrollspy">
        <h3>Structural Alerts</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="AlternateFormsOfCompoundInChEMBL" class="section scrollspy">
        <h3>Alternate Forms of Compound in ChEMBL</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="CompoundBioactivitySummary" class="section scrollspy">
        <h3>Compound Bioactivity Summary</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="CompoundAssaySummary" class="section scrollspy">
        <h3>Compound Assay Summary</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="CompoundTargetSummary" class="section scrollspy">
        <h3>Compound Target Summary</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="TargetPredictions" class="section scrollspy">
        <h3>Target Predictions</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="CalculatedCompoundParentProperties" class="section scrollspy">
        <h3>Calculated Compound Parent Properties</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="CompoundCrossReferences" class="section scrollspy">
        <h3>Compound Cross References</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="UniChemCrossReferences" class="section scrollspy">
        <h3>UniChem Cross References</h3>
        <p>Stuff</p>
      </div>

    </div>


    <!---------------------------------------------------------------------------------------------------------------->
    <!-- Scrolspy -->
    <!---------------------------------------------------------------------------------------------------------------->

    <div class="col l2 hide-on-med-and-down">

      <div class="scrollspy-wrapper pin-top">

        <ul class="section table-of-contents">
          <li><a href="#CompoundNameAndClassification">
            <small>Name and Classification</small>
          </a></li>
          <li><a href="#CompoundRepresentations">
            <small>Representations</small>
          </a></li>
          <li><a href="#MechanismOfAction">
            <small>Mechanism of Action</small>
          </a></li>
          <li><a href="#MoleculeFeatures">
            <small>Molecule Features</small>
          </a></li>
          <li><a href="#ClinicalData">
            <small>Clinical Data</small>
          </a></li>
          <li><a href="#StructuralAlerts">
            <small>Structural Alerts</small>
          </a></li>
          <li><a href="#AlternateFormsOfCompoundInChEMBL">
            <small>Alternate Forms in ChEMBL</small>
          </a></li>
          <li><a href="#CompoundBioactivitySummary">
            <small>Bioactivity Summary</small>
          </a></li>
          <li><a href="#CompoundAssaySummary">
            <small>Assay Summary</small>
          </a></li>
          <li><a href="#CompoundTargetSummary">
            <small>Target Summary</small>
          </a></li>
          <li><a href="#TargetPredictions">
            <small>Target Predictions</small>
          </a></li>
          <li><a href="#CalculatedCompoundParentProperties">
            <small>Calculated Parent Properties</small>
          </a></li>
          <li><a href="#CompoundCrossReferences">
            <small>Cross References</small>
          </a></li>
          <li><a href="#UniChemCrossReferences">
            <small>UniChem Cross References</small>
          </a></li>
        </ul>

      </div>
    </div>

  </div>

</div>

{% block custom_js %}
<script type="text/javascript" src="/static/js/styling/scrollspy_helper.js"></script>
{% endblock %}

{% endblock %}
{% block custom_js_inline %}
$('.scrollspy').scrollSpy();
initializeScrollSpyHelper();
{% endblock %}
