{% extends "glados/base/base_layout.html" %}

{% block title %}Compound report card{% endblock %}


{% block content %}

<div class="container main-container">

  <div class="row">

    <!-- the scrollspy disappears in medium and down -->
    <div class="col m12 l10">

      <h2>Compound Report Card</h2>

      <div class="divider"></div>
      <div id="CompoundNameAndClassification" class="section scrollspy">
        <h3>Compound Name and Classification</h3>

        <div class="row">


          <div class="col s12 m10 ">

            <!-- Card Start -->
            <div class="card-panel grey lighten-5">

              <div class="row">

                <!-- Coumpound Image -->
                <div class="col s6 m4 offset-s3">

                  <div class="card z-depth-0">
                    <div class="card-image white hoverable">
                      <img class="CNC-img" src="https://www.ebi.ac.uk/chembl/compound/displayimage_large/2046">
                    <span class="CNC-img-btn">
                      <a class="CNC-btn btn waves-effect waves-light teal"><i
                        class="material-icons">add</i></a>
                    </span>
                    </div>
                  </div>


                </div>

                <!-- Basic info table -->
                <div class="col s12 m8">

                  <span class="easyChemConfig auto-compile">

                    <table class="CNC-table bordered">

                      <tbody>
                      <tr>
                        <td><b>ID:</b></td>
                        <td>CHEMBL35</td>
                      </tr>
                      <tr>
                        <td><b>Name:</b></td>
                        <td>FUROSEMIDE</td>
                      <tr>
                        <td><b>Max Phase:</b></td>
                        <td><span class="comp-approved-phase-4">
                          4 (Approved)
                        </span></td>
                      </tr>
                      <tr>
                        <td class="CNC-table-oneline"><b>Molecular Formula:</b></td>
                        <td><span class="echem-formula">C12H11ClN2O5S</span></td>
                      </tr>
                      <tr>
                        <td class="CNC-table-oneline"><b>ChEMBL Synonyms:</b></td>
                        <td>

                          <div class="cropped-container">




                            <div id="CompNameClass-synonyms" class="cropped">

                          <span class="CNC-chip-syn">
                            Furosemide
                          </span>
                          <span class="CNC-chip-syn">
                            Aquamed
                          </span>
                          <span class="CNC-chip-syn">
                            Frusemide
                          </span>
                          <span class="CNC-chip-syn">
                            Disal
                          </span>
                          <span class="CNC-chip-syn">
                            Lasix
                          </span>
                          <span class="CNC-chip-syn">
                            LB-502
                          </span>
                          <span class="CNC-chip-syn">
                            Furosemide
                          </span>
                          <span class="CNC-chip-syn">
                            Aquamed
                          </span>
                          <span class="CNC-chip-syn">
                            Frusemide
                          </span>
                          <span class="CNC-chip-syn">
                            Disal
                          </span>

                            <span class="CNC-chip-syn">
                            Furosemide
                          </span>
                          <span class="CNC-chip-syn">
                            Aquamed
                          </span>
                          <span class="CNC-chip-syn">
                            Frusemide
                          </span>
                          <span class="CNC-chip-syn">
                            Disal
                          </span>
                          <span class="CNC-chip-syn">
                            Lasix
                          </span>
                          <span class="CNC-chip-syn">
                            LB-502
                          </span>
                          <span class="CNC-chip-syn">
                            Furosemide
                          </span>
                          <span class="CNC-chip-syn">
                            Aquamed
                          </span>
                          <span class="CNC-chip-syn">
                            Frusemide
                          </span>
                          <span class="CNC-chip-syn">
                            Disal
                          </span>

                            <span class="CNC-chip-syn">
                            Furosemide
                          </span>
                          <span class="CNC-chip-syn">
                            Aquamed
                          </span>
                          <span class="CNC-chip-syn">
                            Frusemide
                          </span>
                          <span class="CNC-chip-syn">
                            Disal
                          </span>
                          <span class="CNC-chip-syn">
                            Lasix
                          </span>
                          <span class="CNC-chip-syn">
                            LB-502
                          </span>
                          <span class="CNC-chip-syn">
                            Furosemide
                          </span>
                          <span class="CNC-chip-syn">
                            Aquamed
                          </span>
                          <span class="CNC-chip-syn">
                            Frusemide
                          </span>
                          <span class="CNC-chip-syn">
                            Disal
                          </span>

                            <span class="CNC-chip-syn">
                            Furosemide
                          </span>
                          <span class="CNC-chip-syn">
                            Aquamed
                          </span>
                          <span class="CNC-chip-syn">
                            Frusemide
                          </span>
                          <span class="CNC-chip-syn">
                            Disal
                          </span>
                          <span class="CNC-chip-syn">
                            Lasix
                          </span>
                          <span class="CNC-chip-syn">
                            LB-502
                          </span>
                          <span class="CNC-chip-syn">
                            Furosemide
                          </span>
                          <span class="CNC-chip-syn">
                            Aquamed
                          </span>
                          <span class="CNC-chip-syn">
                            Frusemide
                          </span>
                          <span class="CNC-chip-syn">
                            Disal
                          </span>

                            <span class="CNC-chip-syn">
                            Furosemide
                          </span>
                          <span class="CNC-chip-syn">
                            Aquamed
                          </span>
                          <span class="CNC-chip-syn">
                            Frusemide
                          </span>
                          <span class="CNC-chip-syn">
                            Disal
                          </span>
                          <span class="CNC-chip-syn">
                            Lasix
                          </span>
                          <span class="CNC-chip-syn">
                            LB-502
                          </span>
                          <span class="CNC-chip-syn">
                            Furosemide
                          </span>
                          <span class="CNC-chip-syn">
                            Aquamed
                          </span>
                          <span class="CNC-chip-syn">
                            Frusemide
                          </span>
                          <span class="CNC-chip-syn">
                            Disal
                          </span>

                            </div>

                             <div class="cropped-container-btns">
                              <span data-activates="CompNameClass-synonyms">more...</span
                              ><a class="waves-effect waves-light tooltipped teal" data-tooltip="Copy to clipboard"><i
                              class="fa fa-clipboard"></i></a>
                            </div>

                          </div>

                        </td>
                      </tr>
                      <tr class="CNC-table-lastrow">
                        <td><b>Trade Names:</b></td>
                        <td>

                          <div class="cropped-container">



                            <div id="CompNameClass-tradenames" class="cropped">

                          <span class="CNC-chip-tn">
                            Disal
                          </span>
                          <span class="CNC-chip-tn">
                            Lasix
                          </span>
                          <span class="CNC-chip-tn">
                            Aquamed
                          </span>
                          <span class="CNC-chip-tn">
                            Frusemide
                          </span>
                          <span class="CNC-chip-tn">
                            Furosemide
                          </span>


                            </div>

                            <div class="cropped-container-btns">
                              <span data-activates="CompNameClass-tradenames">more...</span
                              ><a class="waves-effect waves-light tooltipped teal" data-tooltip="Copy to clipboard"
                            ><i class="fa fa-clipboard"></i></a>
                            </div>

                          </div>

                        </td>
                      </tr>
                      </tbody>

                    </table>
                    </span>

                </div>


              </div>

            </div>

          </div>

        </div>


      </div>


      <!------------------------------------------------------------------------------------------------>
      <!-- End Compound Report Card -->

      <div class="divider"></div>
      <div id="CompoundRepresentations" class="section scrollspy">
        <h3>Compound Representations</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="MechanismOfAction" class="section scrollspy">
        <h3>Mechanism of Action</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="MoleculeFeatures" class="section scrollspy">
        <h3>Molecule Features</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="ClinicalData" class="section scrollspy">
        <h3>Clinical Data</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="StructuralAlerts" class="section scrollspy">
        <h3>Structural Alerts</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="AlternateFormsOfCompoundInChEMBL" class="section scrollspy">
        <h3>Alternate Forms of Compound in ChEMBL</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="CompoundBioactivitySummary" class="section scrollspy">
        <h3>Compound Bioactivity Summary</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="CompoundAssaySummary" class="section scrollspy">
        <h3>Compound Assay Summary</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="CompoundTargetSummary" class="section scrollspy">
        <h3>Compound Target Summary</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="TargetPredictions" class="section scrollspy">
        <h3>Target Predictions</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="CalculatedCompoundParentProperties" class="section scrollspy">
        <h3>Calculated Compound Parent Properties</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="CompoundCrossReferences" class="section scrollspy">
        <h3>Compound Cross References</h3>
        <p>Stuff</p>
      </div>

      <div class="divider"></div>
      <div id="UniChemCrossReferences" class="section scrollspy">
        <h3>UniChem Cross References</h3>
        <p>Stuff</p>
      </div>

    </div>


    <!---------------------------------------------------------------------------------------------------------------->
    <!-- Scrolspy -->
    <!---------------------------------------------------------------------------------------------------------------->

    <div class="col l2 hide-on-med-and-down">

      <div class="scrollspy-wrapper pin-top">

        <ul class="section table-of-contents">
          <li><a href="#CompoundNameAndClassification">
            <small>Name and Classification</small>
          </a></li>
          <li><a href="#CompoundRepresentations">
            <small>Representations</small>
          </a></li>
          <li><a href="#MechanismOfAction">
            <small>Mechanism of Action</small>
          </a></li>
          <li><a href="#MoleculeFeatures">
            <small>Molecule Features</small>
          </a></li>
          <li><a href="#ClinicalData">
            <small>Clinical Data</small>
          </a></li>
          <li><a href="#StructuralAlerts">
            <small>Structural Alerts</small>
          </a></li>
          <li><a href="#AlternateFormsOfCompoundInChEMBL">
            <small>Alternate Forms in ChEMBL</small>
          </a></li>
          <li><a href="#CompoundBioactivitySummary">
            <small>Bioactivity Summary</small>
          </a></li>
          <li><a href="#CompoundAssaySummary">
            <small>Assay Summary</small>
          </a></li>
          <li><a href="#CompoundTargetSummary">
            <small>Target Summary</small>
          </a></li>
          <li><a href="#TargetPredictions">
            <small>Target Predictions</small>
          </a></li>
          <li><a href="#CalculatedCompoundParentProperties">
            <small>Calculated Parent Properties</small>
          </a></li>
          <li><a href="#CompoundCrossReferences">
            <small>Cross References</small>
          </a></li>
          <li><a href="#UniChemCrossReferences">
            <small>UniChem Cross References</small>
          </a></li>
        </ul>

      </div>
    </div>

  </div>

</div>

{% block custom_js %}
<script type="text/javascript" src="/static/js/styling/scrollspy_helper.js"></script>
<script type="text/javascript" src="/static/js/styling/buttons_helper.js"></script>
{% endblock %}

{% endblock %}
{% block custom_js_inline %}

$('.scrollspy').scrollSpy();
initializeScrollSpyHelper();
initCroppedContainers();

{% endblock %}
