<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Compound Report Card</title>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/static/css/materialize.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/static/css/chembl-style.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/static/css/chembl-icons.css" media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<body>


<header>


  <div class="row">

    <div id="global-masthead" class="masthead hide-on-med-and-down">

      <nav>

        <!--This has to be one line and no newline characters-->
        <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage"><img
          src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png"
          alt="EMBL European Bioinformatics Institute"></a>

        <ul id="global-nav">
          <!-- set active class as appropriate-->
          <li id="services" class="first active"><a href="//www.ebi.ac.uk/services" title="Services">Services</a></li>
          <li id="research"><a href="//www.ebi.ac.uk/research" title="Research">Research</a></li>
          <li id="training"><a href="//www.ebi.ac.uk/training" title="Training">Training</a></li>
          <li id="industry"><a href="//www.ebi.ac.uk/industry" title="Industry">Industry</a></li>
          <li id="about" class=" last"><a href="//www.ebi.ac.uk/about" title="About us">About us</a></li>
        </ul>
      </nav>

    </div>


  </div>

  <div class="row">
    <!-- ChEMBL Header-->
    <nav class="top-nav">
      <!-- To show the side navbar when it has been hidden-->
      <div class="container">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
          <i class="mdi-navigation-menu"></i>
        </a>
      </div>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">ChEMBL
            <small><span class="icon-beta"></span></small>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><img alt="Wellcome Trust" src="/static/img/wellcometrust.png" height="30" style="padding-top: 10px"/>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


</header>

<main>

  <div class="container">
    <div class="row">

      <div class="col">
        <!-- Side Navbar-->
        <ul id="nav-mobile" class="side-nav fixed">
          <li class="menu-logo"><a href="#"><img alt="ChEMBL" src="/static/img/chembl_logo.png"/></a></li>
          <li><a href="#">ChEMBL</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">UniChem</a></li>
          <li><a href="#">Malaria Data</a></li>
          <li><a href="#">ChEMBL-NTD</a></li>
          <li><a href="#">ADME SARfari <span class="new badge"></span></a></li>
          <li><a href="#">Kinase SARfari </a></li>
          <li><a hred="#">GPCR Sarfari</a></li>
          <li><a hred="#">DrugEBility</a></li>
          <li><a hred="#">Web Services <span class="new badge"></span></a></li>
          <li><a hred="#">SureChEMBL <span class="new badge"></span></a></li>
          <li><a hred="#">EBI RDF Platform</a></li>
          <li><a hred="#">FAQ</span></a></li>
          <li><a hred="#">Statistics</a></li>
        </ul>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col s12 m9 l10">
        <h1>h1: The quick brown fox jumps over the lazy dog.</h1>
        <h2>h2: The quick brown fox jumps over the lazy dog.</h2>
        <h3>h3: The quick brown fox jumps over the lazy dog.</h3>
        <h4>h4: The quick brown fox jumps over the lazy dog.</h4>
        <h5>h5: The quick brown fox jumps over the lazy dog.</h5>
        <h6>h6: The quick brown fox jumps over the lazy dog.</h6>
        <p> p: The quick brown fox jumps over the lazy dog. </p>
        <p> p: The quick brown fox jumps over the lazy dog. </p>
        <p><b> p: The quick brown fox jumps over the lazy dog.</b></p>
        <br>
        <span class="icon-accommodation"></span>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et interdum felis. Nunc sollicitudin est nec
          lorem fermentum fermentum. Curabitur eget ultricies libero, et rutrum lacus. Vestibulum varius cursus lorem ac
          malesuada. Phasellus sed efficitur arcu. Proin ut orci feugiat, fermentum tortor quis, dictum magna. Integer
          ultrices justo et euismod molestie. Sed fermentum, odio non fringilla suscipit, lacus libero feugiat nulla,
          nec posuere eros neque et erat. Donec ipsum nisi, lobortis vel mollis sed, semper et tortor. Nunc et congue
          lorem.

          Nulla a egestas nisl, non facilisis nisl. Quisque euismod nunc eget ex condimentum tincidunt. Morbi dignissim
          quam ut tristique eleifend. Phasellus leo odio, blandit a diam in, vestibulum gravida metus. Aenean sagittis
          neque laoreet lacus vulputate auctor vitae sit amet turpis. Fusce luctus leo augue, vitae commodo dui
          vestibulum interdum. In aliquet libero vel urna tristique, in rutrum dolor condimentum. Mauris vestibulum
          lacus nec nulla pellentesque mollis quis in metus. Aliquam id varius mi. Etiam accumsan molestie tellus, ac
          sodales odio malesuada a.

          Etiam consequat neque nec magna placerat condimentum. Fusce efficitur bibendum velit, eu hendrerit lorem
          porttitor at. Duis sed felis blandit, tempus nisi eget, molestie risus. Suspendisse potenti. Curabitur
          porttitor rhoncus massa id ornare. Donec gravida egestas fringilla. Cras gravida aliquet bibendum. Ut
          tincidunt dolor vel mauris condimentum volutpat. Aliquam erat volutpat. Proin convallis ante sit amet purus
          viverra semper. Vestibulum laoreet, nisl eget ullamcorper pharetra, ligula ligula finibus eros, non sagittis
          ipsum augue quis diam. Ut lorem neque, tincidunt a ullamcorper eu, facilisis at risus. Etiam lobortis luctus
          aliquam.

          In varius turpis vitae magna ullamcorper, ac ullamcorper elit laoreet. Proin nec augue augue. Suspendisse
          volutpat, metus ac aliquam sodales, arcu mauris volutpat elit, non sodales turpis leo in purus. Suspendisse
          elit neque, vulputate ac nunc sit amet, facilisis vulputate nisl. In gravida enim ex, vitae pulvinar odio
          auctor at. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vel
          congue diam. Nulla sodales in ante ac scelerisque. Suspendisse lacus libero, gravida non enim eget, dictum
          posuere nunc.

          Nunc auctor convallis felis, vitae tempor ipsum vestibulum at. Cras quis auctor dolor. Nunc sit amet est nec
          nibh pretium aliquet sed eget orci. Vestibulum velit neque, malesuada quis consectetur a, pretium quis enim.
          Phasellus lacinia nunc neque, ac cursus metus lobortis ac. Morbi in cursus metus, in blandit risus. Quisque
          nibh enim, lobortis at magna a, pellentesque euismod odio. Integer in tristique nisl, eu mattis augue. Ut ac
          dui lectus.

        </p>
      </div>
    </div>
  </div>

</main>
<!------------------------------------------------------------------------------------------------------------------>
<!-- Footer -->
<!------------------------------------------------------------------------------------------------------------------>

<footer>

  <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
  <!--
  <div id="local-footer" class="grid_24 clearfix">
<p>How to reference this page: ...</p>
</div>
  -->
  <!-- End optional local footer -->

  <!-- EBI Large footer -->
  <div id="global-footer" class="container hide-on-med-and-down">

    <!-- First row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- First column -->
      <div class="col s2 alpha">
        <a href="http://www.ebi.ac.uk" title="EMBL-EBI"><img
          src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.png"
          alt="EMBL European Bioinformatics Institute"></a>
      </div>

      <!-- Second column -->
      <div class="col s2">
        <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
      </div>

      <!-- Third column -->
      <div class="col s2">
        <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
      </div>

      <!-- Fourth column -->
      <div class="col s2">
        <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
      </div>

      <!-- Fifth column -->
      <div class="col s2">
        <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
      </div>

      <!-- Sixth column -->
      <div class="col s2">
        <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
      </div>

    </div>


    <!-- Second row -->
    <div class="row">


      <!-- First column -->
      <div class="col s2 alpha">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/brochures">Brochures</a></li>
          <li><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
          <li class="last"><a href="http://intranet.ebi.ac.uk">Intranet</a></li>
        </ul>
      </div>

      <!-- Second column -->
      <div class="col s2">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/services">By topic</a></li>
          <li><a href="//www.ebi.ac.uk/services/all">By name (A-Z)</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/support">Help &amp; Support</a></li>
        </ul>
      </div>

      <!-- Third column -->
      <div class="col s2">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/research">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/research/publications">Publications</a></li>
          <li><a href="//www.ebi.ac.uk/research/groups">Research groups</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> &amp; <a
            href="//www.ebi.ac.uk/research/eipp">PhDs</a></li>
        </ul>
      </div>

      <!-- Fourth column -->
      <div class="col s2">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/training">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/training/handson">Train at EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/roadshow">Train outside EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/online">Train online</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a></li>
        </ul>
      </div>

      <!-- Fifth column -->
      <div class="col s2">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/industry">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/industry/private">Members Area</a></li>
          <li><a href="//www.ebi.ac.uk/industry/workshops">Workshops</a></li>
          <li><a href="//www.ebi.ac.uk/industry/sme-forum"><abbr title="Small Medium Enterprise">SME</abbr>
            Forum</a>
          </li>
          <li class="last"><a href="//www.ebi.ac.uk/industry/contact">Contact Industry programme</a></li>
        </ul>
      </div>

      <!-- Sixth column -->
      <div class="col s2">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/about/leadership">Leadership</a></li>
          <li><a href="//www.ebi.ac.uk/about/funding">Funding</a></li>
          <li><a href="//www.ebi.ac.uk/about/background">Background</a></li>
          <li><a href="//www.ebi.ac.uk/about/partnerships">Collaboration</a></li>
          <li><a href="//www.ebi.ac.uk/about/jobs" title="Jobs, postdocs, PhDs...">Jobs</a></li>
          <li><a href="//www.ebi.ac.uk/about/people">People &amp; groups</a></li>
          <li><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/events">Events</a></li>
          <li><a href="//www.ebi.ac.uk/about/travel">Visit us</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
        </ul>
      </div>

    </div>

    <!-- Third row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- Only column -->
      <div class="col s12">
        <section id="ebi-footer-meta">
          <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton,
            Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
          <p class="terms-of-use">Copyright © EMBL-EBI 2016 | EBI is an outstation of the
            <a href="http://www.embl.org">European Molecular
              Biology Laboratory</a> | <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
          </p>
        </section>
      </div>

    </div>


  </div>

  <!-- EBI Medium footer -->
  <div id="global-footer-medium" class="container show-on-medium hide-on-small-and-down hide-on-large-only">

    <!-- First row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- First column -->
      <div class="col s4 alpha">
        <a href="http://www.ebi.ac.uk" title="EMBL-EBI"><img
          src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.png"
          alt="EMBL European Bioinformatics Institute"></a>
      </div>

      <!-- Second column -->
      <div class="col s4">
        <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
      </div>

      <!-- Third column -->
      <div class="col s4">
        <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
      </div>

    </div>

    <!-- Second row -->
    <div class="row">

      <!-- First column -->
      <div class="col s4 alpha">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/brochures">Brochures</a></li>
          <li><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
          <li class="last"><a href="http://intranet.ebi.ac.uk">Intranet</a></li>
        </ul>
      </div>

      <!-- Second column -->
      <div class="col s4">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/services">By topic</a></li>
          <li><a href="//www.ebi.ac.uk/services/all">By name (A-Z)</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/support">Help &amp; Support</a></li>
        </ul>
      </div>

      <!-- Third column -->
      <div class="col s4">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/research">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/research/publications">Publications</a></li>
          <li><a href="//www.ebi.ac.uk/research/groups">Research groups</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> &amp; <a
            href="//www.ebi.ac.uk/research/eipp">PhDs</a></li>
        </ul>
      </div>

    </div>


    <!-- Third row -->
    <div class="row">

      <!-- First column -->
      <div class="col s4">
        <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
      </div>

      <!-- Second column -->
      <div class="col s4">
        <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
      </div>

      <!-- Third column -->
      <div class="col s4">
        <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
      </div>


    </div>

    <!-- Fourth row -->
    <div class="row">

      <!-- First column -->
      <div class="col s4">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/training">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/training/handson">Train at EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/roadshow">Train outside EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/online">Train online</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a></li>
        </ul>
      </div>

      <!-- Second column -->
      <div class="col s4">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/industry">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/industry/private">Members Area</a></li>
          <li><a href="//www.ebi.ac.uk/industry/workshops">Workshops</a></li>
          <li><a href="//www.ebi.ac.uk/industry/sme-forum"><abbr title="Small Medium Enterprise">SME</abbr>
            Forum</a>
          </li>
          <li class="last"><a href="//www.ebi.ac.uk/industry/contact">Contact Industry programme</a></li>
        </ul>
      </div>

      <!-- Third column -->
      <div class="col s4">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/about/leadership">Leadership</a></li>
          <li><a href="//www.ebi.ac.uk/about/funding">Funding</a></li>
          <li><a href="//www.ebi.ac.uk/about/background">Background</a></li>
          <li><a href="//www.ebi.ac.uk/about/partnerships">Collaboration</a></li>
          <li><a href="//www.ebi.ac.uk/about/jobs" title="Jobs, postdocs, PhDs...">Jobs</a></li>
          <li><a href="//www.ebi.ac.uk/about/people">People &amp; groups</a></li>
          <li><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/events">Events</a></li>
          <li><a href="//www.ebi.ac.uk/about/travel">Visit us</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
        </ul>
      </div>

    </div>

    <!-- Fifth row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- Only column -->
      <div class="col s12">
        <section id="ebi-footer-meta-medium">
          <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton,
            Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
          <p class="terms-of-use">Copyright © EMBL-EBI 2016 | EBI is an outstation of the
            <a href="http://www.embl.org">European Molecular
              Biology Laboratory</a> | <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
          </p>
        </section>
      </div>

    </div>


  </div>

  <!-- EBI Small footer -->
  <div id="global-footer-small" class="container hide-on-med-and-up">

    <!-- First row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- First column -->
      <div class="col s6 alpha">
        <a href="http://www.ebi.ac.uk" title="EMBL-EBI"><img
          src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.png"
          alt="EMBL European Bioinformatics Institute"></a>
      </div>

      <!-- Second column -->
      <div class="col s6">
        <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
      </div>

    </div>

    <!-- Second row -->
    <div class="row">

      <!-- First column -->
      <div class="col s6 alpha">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/brochures">Brochures</a></li>
          <li><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
          <li class="last"><a href="http://intranet.ebi.ac.uk">Intranet</a></li>
        </ul>
      </div>

      <!-- Second column -->
      <div class="col s6">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/services">By topic</a></li>
          <li><a href="//www.ebi.ac.uk/services/all">By name (A-Z)</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/support">Help &amp; Support</a></li>
        </ul>
      </div>
    </div>

    <!-- Third row -->
    <div class="row">

      <!-- First column -->
      <div class="col s6">
        <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
      </div>

      <!-- Second column -->
      <div class="col s6">
        <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
      </div>

    </div>

    <!-- Fourth row -->
    <div class="row">

      <!-- First column -->
      <div class="col s6">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/research">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/research/publications">Publications</a></li>
          <li><a href="//www.ebi.ac.uk/research/groups">Research groups</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> &amp; <a
            href="//www.ebi.ac.uk/research/eipp">PhDs</a></li>
        </ul>
      </div>

      <!-- Second column -->
      <div class="col s6">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/training">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/training/handson">Train at EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/roadshow">Train outside EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/online">Train online</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a></li>
        </ul>
      </div>

    </div>


    <!-- Fifth row -->
    <div class="row">

      <!-- First column -->
      <div class="col s6">
        <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
      </div>

      <!-- Second column -->
      <div class="col s6">
        <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
      </div>


    </div>

    <!-- Sixth row -->
    <div class="row">

      <!-- First column -->
      <div class="col s6">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/industry">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/industry/private">Members Area</a></li>
          <li><a href="//www.ebi.ac.uk/industry/workshops">Workshops</a></li>
          <li><a href="//www.ebi.ac.uk/industry/sme-forum"><abbr title="Small Medium Enterprise">SME</abbr>
            Forum</a>
          </li>
          <li class="last"><a href="//www.ebi.ac.uk/industry/contact">Contact Industry programme</a></li>
        </ul>
      </div>

      <!-- Second column -->

      <div class="col s6">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/about/leadership">Leadership</a></li>
          <li><a href="//www.ebi.ac.uk/about/funding">Funding</a></li>
          <li><a href="//www.ebi.ac.uk/about/background">Background</a></li>
          <li><a href="//www.ebi.ac.uk/about/partnerships">Collaboration</a></li>
          <li><a href="//www.ebi.ac.uk/about/jobs" title="Jobs, postdocs, PhDs...">Jobs</a></li>
          <li><a href="//www.ebi.ac.uk/about/people">People &amp; groups</a></li>
          <li><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/events">Events</a></li>
          <li><a href="//www.ebi.ac.uk/about/travel">Visit us</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
        </ul>
      </div>

    </div>

    <!-- Seventh row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- Only column -->
      <div class="col s12">
        <section id="ebi-footer-meta-small">
          <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton,
            Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
          <p class="terms-of-use">Copyright © EMBL-EBI 2016 | EBI is an outstation of the
            <a href="http://www.embl.org">European Molecular
              Biology Laboratory</a> | <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
          </p>
        </section>
      </div>

    </div>


  </div>


</footer>

<!------------------------------------------------------------------------------------------------------------------>
<!-- APIs -->
<!------------------------------------------------------------------------------------------------------------------>

<script type="text/javascript" src="/static/js/api/jquery-2.2.0.js"></script>
<script type="text/javascript" src="/static/js/api/materialize.js"></script>


</body>
</html>