{% extends "glados/base/base_layout.html" %}

{% block title %}Document Report Card{% endblock %}

{% block content %}
<div class="container main-container">


  {% block breadcrumb %}
  {% include "glados/base/breadcrumb.html" %}
  {% endblock %}

  <div class="row">

    <!-- the scrollspy disappears in medium and down -->
    <div class="col m12 l10">

      <h2>Document Report Card</h2>

      <div class="divider"></div>
      <div id="BasicInformation" class="section scrollspy">
        <h3>Basic Information</h3>

        <div class="row">

          {% block dbi %}
            {% with is_dynamic=True  %}
              {% include "glados/DocumentReportCardParts/BasicInformation.html" %}
            {% endwith %}
          {% endblock %}

        </div>

      </div>

      <div class="divider"></div>
      <div id="RelatedDocuments" class="section scrollspy">
        <h3>Related Documents</h3>

        <div class="row">

          {% block drd %}
            {% include "glados/DocumentReportCardParts/RelatedDocuments.html" %}
          {% endblock %}

        </div>

      </div>

      <div class="divider"></div>
      <div id="AssayNetwork" class="section scrollspy">
        <h3>Assay Network</h3>

        <div class="row">

          {% block dan %}
            {% include "glados/DocumentReportCardParts/AssayNetwork.html" %}
          {% endblock %}

        </div>

      </div>

      <div class="divider"></div>
      <div id="ProteinTargetSummay" class="section scrollspy">
        <h3>Protein Target Summay</h3>

        <div class="row">

          stuff

        </div>

      </div>

      <div class="divider"></div>
      <div id="AssaySummary" class="section scrollspy">
        <h3>Assay Summary</h3>

        <div class="row">

          stuff

        </div>

      </div>

      <div class="divider"></div>
      <div id="BioactivitySummary" class="section scrollspy">
        <h3>Bioactivity Summary</h3>

        <div class="row">

          stuff

        </div>

      </div>

      <div class="divider"></div>
      <div id="CompoundSummaries" class="section scrollspy">
        <h3>Compound Summaries</h3>

        <div class="row">

          stuff

        </div>

      </div>

    </div>


    <!-- - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Scrolspy -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="col l2 hide-on-med-and-down">

      <div class="scrollspy-wrapper pin-top">
        <ul class="section table-of-contents">

          <li><a href="#BasicInformation">
            <small>Basic Information</small>
          </a></li>

          <li><a href="#RelatedDocuments">
            <small>Related Documents</small>
          </a></li>

          <li><a href="#AssayNetwork">
            <small>Assay Network</small>
          </a></li>

          <li><a href="#ProteinTargetSummay">
            <small>Protein Target Summay</small>
          </a></li>

          <li><a href="#AssaySummary">
            <small>Assay Summary</small>
          </a></li>

          <li><a href="#BioactivitySummary">
            <small>Bioactivity Summary</small>
          </a></li>

           <li><a href="#CompoundSummaries">
            <small>Compound Summaries</small>
          </a></li>

        </ul>
      </div>

    </div>





  </div>

</div>

{% endblock %}

{% block custom_js %}
{% endblock %}

{% block custom_js_inline %}

$('.scrollspy').scrollSpy();
ScrollSpyHelper.initializeScrollSpyPinner();

var pathname = window.location.pathname;
var pathnameParts = pathname.split('/')
CHEMBL_ID = pathnameParts[pathnameParts.length - 2]
var document = DocumentReportCardApp.initDocument(CHEMBL_ID);

var dbiView = DocumentReportCardApp.initDBIView(document, $('#DBasicInformation'));
var danView = DocumentReportCardApp.initDANView($('#DAssayNetworkCard'));
danView.render();

document.fetch();

{% endblock %}