<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Javascript Tests for ChEMBL</title>

  {% include "glados/base/css_imports_for_all.html" %}

  <link rel="shortcut icon" type="image/png" href="/static/css/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/css/jasmine/jasmine.css">


  {% include "glados/base/js_imports_for_all.html" %}

  <script type="text/javascript" src="/static/js/api/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/static/js/api/jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="/static/js/api/jasmine/boot.js"></script>
  <script type="text/javascript" src="/static/js/tests/TargetBrowserTest.js"></script>

</head>

<body>

</body>
