{% extends "glados/base/base_layout.html" %}

{% block title %}ChEMBL{% endblock %}

{% block content %}

<div class="container main-container">


  {% block breadcrumb %}
  {% include "glados/base/breadcrumb.html" %}
  {% endblock %}

</div>

<div class="hide-on-small-only">

  {% block search_med_big %}
    {% include "glados/MainPageParts/search_bar_med_and_up.html" %}
  {% endblock %}


</div>

{% block search_small %}
  {% include "glados/MainPageParts/search_bar_small.html" %}
{% endblock %}

<div class="row hide-on-small-only">

  <div class="col m12 l9 ">

    {% block marvin %}
    {% include "glados/MainPageParts/central_card.html" %}
    {% endblock %}

  </div>

  <div class="col m6 l3">

    {% block database_info %}
    {% include "glados/MainPageParts/database_info.html" %}
    {% endblock %}
</div>

   <div class="col m6 l3">
    {% block tweets %}
    {% include "glados/MainPageParts/tweets.html" %}
    {% endblock %}


  </div>

</div>

{% block marvin_fullscreen %}
{% include "glados/MainPageParts/link_to_marvin_fullscreen.html" %}
{% endblock %}

{% endblock %}

{% block custom_js %}



{% endblock %}

{% block custom_js_inline %}
  // pinner for search bar
  $('#search-bar-small').pushpin({ top: 106 });

  LazyIFramesHelper.initLazyIFrames();

  var targetHierarchy = TargetBrowserApp.initTargetHierarchyTree();
  var drugList = new DrugList({});

  var targetBrowserView = TargetBrowserApp.initBrowserMain(targetHierarchy, $('#BCK-TargetBrowserMain'));
  var drugBrowserTableView = DrugBrowserApp.initBrowserAsTable(drugList, $('#BCK-DrugBrowserMain'));

  drugList.fetch({reset: true});

  LazyIFramesHelper.loadObjectOnceOnClick($('a[href="#browse_targets"]'), targetHierarchy);


{% endblock %}

