<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Marvin Search</title>

  <!-- google graphs loader -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  {% load compress %}
  <!-- Imports used by all the templates-->
  {% block common_css %}
  {% include "glados/base/css_imports_for_all.html" %}
  {% endblock %}

</head>

<body>

<div class="marvin-search-fullscreen row">

  <iframe id="sketch" src="/static/marvinjs/editor.html"
          style="overflow: hidden; width: 100%; min-height: 100%; border: 1px solid darkgray;"></iframe>

</div>

<div class="marvin-search-options">

  <div class="row">

    <div class="col s4">


      <div class="left">

        <a  class="waves-effect waves-light" href="#"><i class="icon icon-functional" data-icon="1"></i> Search</a>

      </div>

    </div>

    <div class="col s4">

        <span class="center-align"> <a class="waves-effect waves-light modal-trigger" href="#options-modal"><i class="icon icon-functional" data-icon="M"></i></a></span>

      </div>

    <div class="col s4">

      <div class="right">

        <a class="waves-effect waves-light" href="/">Cancel <i class="valign icon icon-functional" data-icon="x"></i></a>

      </div>

    </div>

  </div>

</div>

  <!-- Modal Structure -->
  <div id="options-modal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Search Options</h4>
      <p>Options!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-teal btn-flat black-text">Close</a>
    </div>
  </div>

<!-- - - - - - - - - - - - - - - - - - - - -->
<!-- APIs -->
<!-- - - - - - - - - - - - - - - - - - - - -->

<!-- common imports for all templates -->
{% compress js %}

{% block common_js %}
{% include "glados/base/js_imports_for_all.html" %}
{% endblock %}

{% endcompress %}

<!-- inline javascript -->
{% compress js %}
<script type="text/javascript" charset="utf-8">

  SMALL_WIDTH = 600
  MEDIUM_WIDTH = 992

  $(document).ready(function () {

    $('.modal-trigger').leanModal();

  });
</script>
{% endcompress%}


</body>

</html>