{% extends "glados/base/base_layout.html" %}

{% block title %}Results{% endblock %}


{% block content %}

<div class="container main-container">

  <h2>
    <span><i class="icon icon-functional" data-icon="b"></i>Browse Results</span>
  </h2>

  <div id="SearchResults">

    <h3>Compounds:</h3>

    <div id="SearchResultsCardsContainer" class='row'>
      <!-- Backbone fills this with the infinity browser view -->

      <div class="col s12 m6 l4">

        <div class="card horizontal grey lighten-5">
          <div class="card-image">
            <img src="https://www.ebi.ac.uk/chembl/api/data/image/CHEMBL6939.svg">
          </div>
          <div class="card-stacked">
            <div class="card-content">

              <p>detail</p>
              <p>detail</p>
              <p>detail</p>
              <p>detail</p>

            </div>
          </div>
        </div>

      </div>

       <div class="col s12 m6 l4">

        <div class="card horizontal grey lighten-5">
          <div class="card-image">
            <img src="https://www.ebi.ac.uk/chembl/api/data/image/CHEMBL6939.svg">
          </div>
          <div class="card-stacked">
            <div class="card-content">

              <p>detail</p>
              <p>detail</p>
              <p>detail</p>
              <p>detail</p>

            </div>
          </div>
        </div>

      </div>

       <div class="col s12 m6 l4">

        <div class="card horizontal grey lighten-5">
          <div class="card-image">
            <img src="https://www.ebi.ac.uk/chembl/api/data/image/CHEMBL6939.svg">
          </div>
          <div class="card-stacked">
            <div class="card-content">

              <p>detail</p>
              <p>detail</p>
              <p>detail</p>
              <p>detail</p>

            </div>
          </div>
        </div>

      </div>

       <div class="col s12 m6 l4">

        <div class="card horizontal grey lighten-5">
          <div class="card-image">
            <img src="https://www.ebi.ac.uk/chembl/api/data/image/CHEMBL6939.svg">
          </div>
          <div class="card-stacked">
            <div class="card-content">

              <p>detail</p>
              <p>detail</p>
              <p>detail</p>
              <p>detail</p>

            </div>
          </div>
        </div>

      </div>

       <div class="col s12 m6 l4">

        <div class="card horizontal grey lighten-5">
          <div class="card-image">
            <img src="https://www.ebi.ac.uk/chembl/api/data/image/CHEMBL6939.svg">
          </div>
          <div class="card-stacked">
            <div class="card-content">

              <p>detail</p>
              <p>detail</p>
              <p>detail</p>
              <p>detail</p>

            </div>
          </div>
        </div>

      </div>

       <div class="col s12 m6 l4">

        <div class="card horizontal grey lighten-5">
          <div class="card-image">
            <img src="https://www.ebi.ac.uk/chembl/api/data/image/CHEMBL6939.svg">
          </div>
          <div class="card-stacked">
            <div class="card-content">

              <p>detail</p>
              <p>detail</p>
              <p>detail</p>
              <p>detail</p>

            </div>
          </div>
        </div>

      </div>



    </div>

  </div>
</div>

{% endblock %}