{% extends "glados/base/base_layout.html" %}

{% block title %}Results{% endblock %}


{% block content %}

<div class="container main-container">

  <h2>
    <span><i class="icon icon-functional" data-icon="b"></i>Browse Results</span>
  </h2>

  <div id="BCK-CompoundSearchResults">

    <h3>Compounds:</h3>

    <div id="BCK-CompsPreoladerContainer" class='row'>
      {% block card_loaders %}
      {% include "glados/base/card_loaders.html" %}
      {% endblock %}
    </div>

    <div id="BCK-CompsCardsPageContainer" class='row' data-hb-template="Handlebars-Common-Paginated-Card-Horizontal">

      <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

    </div>

    <div class="row">

      <div id='BCK-Cards-paginator' data-hb-template="Handlebars-Common-Paginated-UL">

        <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

      </div>

    </div>

  </div>
</div>

{% endblock %}

{% block custom_js_inline %}

// this lists will come from the results of the search
var compoundResultsList = SearchResultsApp.initCompoundsResultsList();

var compResListView = SearchResultsApp.initCompResultsListView(compoundResultsList, $('#BCK-CompoundSearchResults'));

console.log('initial url: ', compoundResultsList.url);
compoundResultsList.fetch({reset: true});

{% endblock %}