{% extends "glados/base/basic_visualisation_card.html" %}

{% block card_id %}BCK-TargetBrowserAsCircles{% endblock %}

{% block general_content %}

<div class="target-browser BCK-visualisation-container">
  <div class="browser-as-circles">

    <div class="class=center-align all-sources-link"> <a href="/browse/#targets" target="_blank"> Browse All Targets</a> </div>
    <div class="vis-container">
      <!-- Backbone fills this with the BrowseTargetAsCirclesView -->
    </div>

    <div class="instructions" data-hb-template="Handlebars-CriclesBrowser-instructions">

    </div>

  </div>
</div>

{% endblock %}
