{% extends "glados/base/basic_visualisation_card.html" %}

{% block card_id %}BCK-TargetBrowserAsCircles{% endblock %}

{% block general_content %}

    <div class="target-browser BCK-visualisation-container">

        <div class="browser-as-circles">
            <div class="instructions" data-hb-template="Handlebars-CriclesBrowser-instructions"> </div>

            <div class="vis-container">
                <!-- Backbone fills this with the BrowseTargetAsCirclesView -->
            </div>

        </div>

    </div>

{% endblock %}
