{% verbatim %}

  <script id="Handlebars-Carousel-items-bases" type="text/x-handlebars-template">

        {{#each visualisations_ids}}
            <div data-carousel-item-id="Carousel{{#if this.is_caption}}Caption{{else}}Visualisation{{/if}}{{this.id}}" class="carousel-item">
                {{#if this.is_caption}}Caption{{else}}Visualisation{{/if}} {{this.id}}
            </div>
        {{/each}}

  </script>

  <script id="Handlebars-CriclesBrowser-instructions" type="text/x-handlebars-template">

    {{#if node_name}}
      {{#if is_pressing_ctrl}}
        Click to browse all targets of class {{node_name}}
      {{else}}
        <i class="icon icon-functional" data-icon="3"></i> Click to focus on {{node_name}}
      {{/if}}
    {{/if}}
  </script>

   <script id="Handlebars-circles-browser-button" type="text/x-handlebars-template">

       {{#if node_name}}

             <a class="small-text" href={{node_link}} target="_blank">
                  Browse all {{node_name}} Targets
             </a>

       {{else}}

            <a class="small-text" href="{% url 'javascript_routing' %}#browse/targets" target="_blank">
                Browse all Targets
            </a>

       {{/if}}

   </script>

   <script id="Handlebars-circles-browser-button-medium" type="text/x-handlebars-template">

       {{#if node_name}}

             <a class="hollow-button" href={{node_link}} target="_blank">
                  Browse all {{node_name}} Targets
             </a>

       {{else}}

            <a class="hollow-button" href="{% url 'javascript_routing' %}#browse/targets" target="_blank">
                Browse all Targets
            </a>

       {{/if}}

   </script>


{% endverbatim %}