{% verbatim %}

  <script id="Handlebars-Carousel-items-bases" type="text/x-handlebars-template">

        {{#each visualisations_ids}}
            <div data-carousel-item-id="Carousel{{#if this.is_caption}}Caption{{else}}Visualisation{{/if}}{{this.id}}"
                 class="carousel-item">
            </div>
        {{/each}}

  </script>

  <script id="Handlebars-Carousel-items-caption" type="text/x-handlebars-template">

        <div class="caption-text">
            Caption: {{ caption }}
        </div>

         <div class="caption-buttons">

             <div class="col s6">
                <a class="btn-chembl" href="{% url 'javascript_routing' %}#browse/drugs/filter/_exists_%3Afirst_approval"
                   target="_blank">

                    Browse all Approved Drugs

                </a>
             </div>

             <div class="col s6">
                <a href="{% url 'visualise'%}" class="btn-chembl">

                    See all visualisations

                </a>
             </div>

        </div>

  </script>

  <script id="Handlebars-CriclesBrowser-instructions" type="text/x-handlebars-template">

    {{#if node_name}}
      {{#if is_pressing_ctrl}}
        Click to browse all targets of class {{node_name}}
      {{else}}
        <i class="icon icon-functional" data-icon="3"></i> Click to focus on {{node_name}}
      {{/if}}
    {{/if}}
  </script>

   <script id="Handlebars-circles-browser-button" type="text/x-handlebars-template">

       {{#if node_name}}

             <a class="small-text" href={{node_link}} target="_blank">
                  Browse all {{node_name}} Targets
             </a>

       {{else}}

            <a class="small-text" href="{% url 'javascript_routing' %}#browse/targets" target="_blank">
                Browse all Targets
            </a>

       {{/if}}

   </script>

   <script id="Handlebars-circles-browser-button-medium" type="text/x-handlebars-template">

       {{#if node_name}}

             <a class="hollow-button" href={{node_link}} target="_blank">
                  Browse all {{node_name}} Targets
             </a>

       {{else}}

            <a class="hollow-button" href="{% url 'javascript_routing' %}#browse/targets" target="_blank">
                Browse all Targets
            </a>

       {{/if}}

   </script>


{% endverbatim %}