{% verbatim %}

<script id="Handlebars-Compound-3D-speck" type="text/x-handlebars-template">

  <h3>{{title}}</h3>

  <div id="BCK-compound-3dview">

    <div class="row">

      <div class="col s7">

        <div id="render-container">
          <canvas id="renderer-canvas" class="teal lighten-5"></canvas>
        </div>

      </div>

      <div class="col s4 offset-s1">


        <div class="container">

          <div class="row">

            <form action="#" id="BCK-Compound-3d-speckpresets">

              <p>
                <input value='default' name="group1" type="radio" id="Balloons" checked/>
                <label for="Balloons">Default</label>
              </p>

              <p>
                <input value='stickball' name="group1" type="radio" id="BallStick"/>
                <label for="BallStick">Ball & Stick</label>
              </p>

              <p>
                <input value='toon' name="group1" type="radio" id="Toon"/>
                <label for="Toon">Toon</label>
              </p>
              <p>
                <input value='licorice' name="group1" type="radio" id="Licorice"/>
                <label for="Licorice">Licorice</label>
              </p>
            </form>

          </div>

          <div class="row">
            <ul>
              <li><a href="#">Advanced Options</a></li>
            </ul>
          </div>

        </div>


      </div>

    </div>

  </div>


</script>

<script id="Handlebars-Compound-3D-error" type="text/x-handlebars-template">

  <h3>{{title}}</h3>

  <i class="fa fa-exclamation-circle"></i> {{msg}}


</script>

{% endverbatim %}

<div id="CNC-3d-modal" class="modal" >

  <div id='BCK-compound-3dview' class="modal-content" style="height: 100%;">

    <!-- Backbone renders this -->

     <div class="card-preolader-to-hide">

       <div class="progress">
         <div class="indeterminate"></div>
       </div>


     </div>



  </div>


  {% block close_modal %}
  {% include "glados/base/modals/close_modal_button.html" %}
  {% endblock %}

</div>