{% block custom_handlebars %}
  {% include "glados/Handlebars/CompoundReportCard/Hbs-3DViews.html" %}
{% endblock %}

<div id="CNC-3d-modal" class="modal" style="height: 70%">

  <div id='BCK-compound-3dview' class="modal-content" style="height: 100%;">

    <!-- Backbone renders this -->

     <div class="card-preolader-to-hide">

       <div class="progress">
         <div class="indeterminate"></div>
       </div>


     </div>



  </div>


  {% block close_modal %}
  {% include "glados/base/modals/close_modal_button.html" %}
  {% endblock %}

</div>