{% block custom_handlebars %}
  {% include "glados/CompoundReportCardParts/3DView-HBS.html" %}
{% endblock %}

<div id="CNC-3d-modal" class="modal" >


  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#BCK-compound-3dview-Speck">Speck</a></li>
        <li class="tab col s3"><a href="#BCK-compound-3dview-LiteMol">LiteMol</a></li>
      </ul>
    </div>
  </div>

  <div id="BCK-compound-3dview-Speck" class="modal-content" style="height: 100%;">

    <!-- Backbone renders this -->

     <div class="card-preolader-to-hide">

       <div class="progress">
         <div class="indeterminate"></div>
       </div>

     </div>

  </div>

  <div id="BCK-compound-3dview-LiteMol" class="modal-content">
    LiteMol
  </div>

  {% block close_modal %}
  {% include "glados/base/modals/close_modal_button.html" %}
  {% endblock %}

</div>