{% extends "glados/base/embed_base.html" %}

{% block title %}Alternate Forms{% endblock %}

{% block content %}

   <div id="AlternateFormsOfCompoundInChEMBL" style="margin-top: 25px;">
    {% include "glados/CompoundReportCardParts/AlternateForms.html" %}
   </div>

{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="/static/js/models/Compound.js"></script>
<script type="text/javascript" src="/static/js/models/CompoundList.js"></script>
<script type="text/javascript" src="/static/js/views/base/CardView.js"></script>
<script type="text/javascript" src="/static/js/views/Compound/CompoundMoleculeFormView.js"></script>
<script type="text/javascript" src="/static/js/views/Compound/CompoundMoleculeFormsListView.js"></script>
<script type="text/javascript" src="/static/js/compoundReportCardApp.js"></script>
{% endblock %}

{% block custom_js_inline %}

var compound = new Compound({molecule_chembl_id: CHEMBL_ID});
var moleculeFormsList = initMoleculeFormsList(compound);
var compMoleculeFormsListView = initCompMoleculeFormsListView(moleculeFormsList, $('#AlternateFormsCard'));
moleculeFormsList.fetch({reset: true});

console.log(moleculeFormsList)

{% endblock %}
