{% block custom_handlebars %}
{% include "glados/Handlebars/CompoundReportCard/Hbs-AlternateForms.html" %}
{% endblock %}
<div class="col s12 m10 l12">

  <div id='AlternateFormsCard' class="card lighten-5">

     <!-- modal trigger -->
      {% block embed_button %}
      {% include "glados/base/embed_button.html" %}
      {% endblock %}

      {% block card_loaders %}
      {% include "glados/base/card_loaders.html" %}
      {% endblock %}

      <!-- Embed Modal Structure -->
      {% block embed_modal %}
      {% include "glados/base/embed_modal.html" %}
      {% endblock %}

    <div class="card-content ebi-links" style="display: none">

      <div id='Bck-AlternateForms' class="row">

        <!-- Backbone -->


      </div>

    </div>

  </div>

</div>