<div class="col s12 m10 l12">

  <div id='MoleculeFeaturesCard' class="card chembl-card grey lighten-5">

    <div class="card-content">


      <a class="waves-effect waves-light btn"><i class="fa fa-download left"></i>download</a>


      <div class="row">

        <div class="col s12 m6">

          <ul class="collection with-header">

            <li class="collection-item">
              <div>Mol. Weight: <span class="right teal-text"> 180.2</span> </div>
            </li>
            <li class="collection-item">
              <div>MW. Monoisotopic: <span class="right teal-text"> 180.0423</span></div>
            </li>
            <li class="collection-item">
              <div>ALogP: <span class="right teal-text"> 1.23</span></div>
            </li>
              <li class="collection-item">
              <div>#Rotatable Bonds: <span class="right teal-text"> 3</span></div>
            </li>
            <li class="collection-item">
              <div>Polar Surface Area:<span class="right teal-text"> 63.6</span> </div>
            </li>
             <li class="collection-item">
              <div>Molecular Species: <span class="right teal-text"> ACID</span></div>
            </li>
               <li class="collection-item">
              <div>HBA: <span class="right teal-text"> 4</span> </div>
            </li>
            <li class="collection-item">
              <div>HDB: <span class="right teal-text"> 1</span></div>
            </li>
            <li class="collection-item">
              <div>#Ro5 Violations:<span class="right teal-text"> 0</span> </div>
            </li>
            <li class="collection-item">
              <div>HBA (Lipinski): <span class="right teal-text"> 4</span> </div>
            </li>

          </ul>

        </div>

        <div class="col s12 m6">

          <ul class="collection with-header">

            <li class="collection-item">
              <div>HBD (Lipinski): <span class="right teal-text"> 1</span> </div>
            </li>
             <li class="collection-item">
              <div>#Ro5 Violations (Lipinski): <span class="right teal-text"> 0</span> </div>
            </li>
             <li class="collection-item">
              <div>ACD Acidic pKa: <span class="right teal-text"> 3.48</span> </div>
            </li>
            <li class="collection-item">
              <div>ACD Basic pKa: <span class="right teal-text"> -</span></div>
            </li>
            <li class="collection-item">
              <div>#ACD LogP:<span class="right teal-text"> 1.4</span> </div>
            </li>
            <li class="collection-item">
              <div>ACD LogD pH7.4:<span class="right teal-text"> -1.68</span> </div>
            </li>
            <li class="collection-item">
              <div>Aromatic Rings:<span class="right teal-text"> 1</span></div>
            </li>
            <li class="collection-item">
              <div>Heavy Atoms: <span class="right teal-text"> 13</span></div>
            </li>
            <li class="collection-item">
              <div>QED Weighted:<span class="right teal-text"> 0.56</span> </div>
            </li>

          </ul>

        </div>



      </div>

    </div>
  </div>
</div>