{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}CrossReferencesCard{% endblock %}

{% block buttons %}

  {% block CrossRefs-dnld %}
    {% with btn_id='CalcCompProps-dnld' additional_classes='hide-on-small-only' %}
      {% include "glados/base/btn_download_group.html" %}
    {% endwith %}
  {% endblock %}

  {% block CrossRefs-small-dnld %}
    {% with btn_id='CalcCompProps-small-dnld' additional_classes='hide-on-med-and-up' %}
      {% include "glados/base/btn_download_small_2_lines.html" %}
    {% endwith %}
  {% endblock %}

{% endblock %}

{% block expandable %}

<ul class="collapsible ebi-links z-depth-0" data-collapsible="expandable" >
        <li>
          <div class="collapsible-header active">
            <a href="http://www.whocc.no/atc_ddd_index/">
              <i class="fa fa-link"></i>
            </a>
            ATC
          </div>
          <div class="collapsible-body">

            <p>
              B - <a href="http://www.whocc.no/atc_ddd_index/?code=B&amp;showdescription=yes">BLOOD AND BLOOD FORMING
              ORGANS</a><br>
              B01 - <a href="http://www.whocc.no/atc_ddd_index/?code=B01&amp;showdescription=yes">ANTITHROMBOTIC
              AGENTS</a><br>
              B01A - <a href="http://www.whocc.no/atc_ddd_index/?code=B01A&amp;showdescription=yes">ANTITHROMBOTIC
              AGENTS</a><br>
              B01AC - <a href="http://www.whocc.no/atc_ddd_index/?code=B01AC&amp;showdescription=yes">Platelet
              aggregation inhibitors excl. heparin</a><br>
              B01AC06 - <a href="http://www.whocc.no/atc_ddd_index/?code=B01AC06&amp;showdescription=yes">acetylsalicylic
              acid</a><br><br>
              A - <a href="http://www.whocc.no/atc_ddd_index/?code=A&amp;showdescription=yes">ALIMENTARY TRACT AND
              METABOLISM</a><br>
              A01 - <a href="http://www.whocc.no/atc_ddd_index/?code=A01&amp;showdescription=yes">STOMATOLOGICAL
              PREPARATIONS</a><br>
              A01A - <a href="http://www.whocc.no/atc_ddd_index/?code=A01A&amp;showdescription=yes">STOMATOLOGICAL
              PREPARATIONS</a><br>
              A01AD - <a href="http://www.whocc.no/atc_ddd_index/?code=A01AD&amp;showdescription=yes">Other agents for
              local oral treatment</a><br>
              A01AD05 - <a href="http://www.whocc.no/atc_ddd_index/?code=A01AD05&amp;showdescription=yes">acetylsalicylic
              acid</a><br><br>
              N - <a href="http://www.whocc.no/atc_ddd_index/?code=N&amp;showdescription=yes">NERVOUS SYSTEM</a><br>
              N02 - <a href="http://www.whocc.no/atc_ddd_index/?code=N02&amp;showdescription=yes">ANALGESICS</a><br>
              N02B - <a href="http://www.whocc.no/atc_ddd_index/?code=N02B&amp;showdescription=yes">OTHER ANALGESICS AND
              ANTIPYRETICS</a><br>
              N02BA - <a href="http://www.whocc.no/atc_ddd_index/?code=N02BA&amp;showdescription=yes">Salicylic acid and
              derivatives</a><br>
              N02BA01 - <a href="http://www.whocc.no/atc_ddd_index/?code=N02BA01&amp;showdescription=yes">acetylsalicylic
              acid</a><br><br>
              N - <a href="http://www.whocc.no/atc_ddd_index/?code=N&amp;showdescription=yes">NERVOUS SYSTEM</a><br>
              N02 - <a href="http://www.whocc.no/atc_ddd_index/?code=N02&amp;showdescription=yes">ANALGESICS</a><br>
              N02B - <a href="http://www.whocc.no/atc_ddd_index/?code=N02B&amp;showdescription=yes">OTHER ANALGESICS AND
              ANTIPYRETICS</a><br>
              N02BA - <a href="http://www.whocc.no/atc_ddd_index/?code=N02BA&amp;showdescription=yes">Salicylic acid and
              derivatives</a><br>
              N02BA51 - <a href="http://www.whocc.no/atc_ddd_index/?code=N02BA51&amp;showdescription=yes">acetylsalicylic
              acid, combinations excl. psycholeptics</a><br><br>
              N - <a href="http://www.whocc.no/atc_ddd_index/?code=N&amp;showdescription=yes">NERVOUS SYSTEM</a><br>
              N02 - <a href="http://www.whocc.no/atc_ddd_index/?code=N02&amp;showdescription=yes">ANALGESICS</a><br>
              N02B - <a href="http://www.whocc.no/atc_ddd_index/?code=N02B&amp;showdescription=yes">OTHER ANALGESICS AND
              ANTIPYRETICS</a><br>
              N02BA - <a href="http://www.whocc.no/atc_ddd_index/?code=N02BA&amp;showdescription=yes">Salicylic acid and
              derivatives</a><br>
              N02BA71 - <a href="http://www.whocc.no/atc_ddd_index/?code=N02BA71&amp;showdescription=yes">acetylsalicylic
              acid, combinations with psycholeptics</a><br><br>


            </p>

          </div>
        </li>
        <li>
          <div class="collapsible-header">

            <a href="https://www.chemspider.com">
              <i class="fa fa-link"></i>
            </a>
            ChemSpider
          </div>
          <div class="collapsible-body">

            <p>

              <a href="https://www.chemspider.com/Search.aspx?q=BSYNRYMUTXBXSQ-UHFFFAOYSA-N">ChemSpider:BSYNRYMUTXBXSQ-UHFFFAOYSA-N</a>

            </p>
          </div>
        </li>
        <li>

          <div class="collapsible-header">

            <a href="http://dailymed.nlm.nih.gov/dailymed/about.cfm">
              <i class="fa fa-link"></i>
            </a>
            DailyMed

          </div>


          <div class="collapsible-body">

            <p>
              <a target="_blank" href="http://dailymed.nlm.nih.gov/dailymed/search.cfm?labeltype=all&amp;query=aspirin">aspirin</a>
            </p>


          </div>
        </li>

        <li>

          <div class="collapsible-header">

            <a href="http://pubchem.ncbi.nlm.nih.gov/">
              <i class="fa fa-link"></i>
            </a>
            PubChem

          </div>


          <div class="collapsible-body">

            <p>


              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=144203627">SID: 144203627</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=144209315">SID: 144209315</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=144210466">SID: 144210466</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=17389202">SID: 17389202</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=17390036">SID: 17390036</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=174007205">SID: 174007205</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=26747283">SID: 26747283</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=26752858">SID: 26752858</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=47193676">SID: 47193676</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=50105490">SID: 50105490</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=85230910">SID: 85230910</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=87798">SID: 87798</a>
              <a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=90340586">SID: 90340586</a>


            </p>


          </div>
        </li>

         <li>

          <div class="collapsible-header">

            <a href="http://en.wikipedia.org/">
              <i class="fa fa-link"></i>
            </a>
            Wikipedia

          </div>


          <div class="collapsible-body">

            <p>

                <a href="http://en.wikipedia.org/wiki/Aspirin">Aspirin</a>

            </p>


          </div>
        </li>

      </ul>

{% endblock %}