<div id="CNC-zoom-modal" class="modal">


  <div class="img-zoom-container">

    <div class="img-zoom-title">
      <h3><!-- backbone --></h3>
    </div>


    <img id='Bck-Comp-Img-zoom' class="responsive-height-img" src="" alt="Compound Image" style="display: none">

    <div id='Bck-Comp-Img-zoom-preloader' class="preloader-wrapper big active">
      <div class="spinner-layer spinner-teal-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <div id='Bck-Comp-Img-zoom-menuopen' class="menu-open-icon" style="display: none">
      <a><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
    </div>


    <div id='Bck-Comp-Img-zoom-menu' class="img-zoom-menu grey lighten-2">

      <div id='Bck-Comp-Img-zoom-menuclose' class="menu-close-icon">
        <a><i class="fa fa-minus-square-o fa-lg" aria-hidden="true"></i></a>
      </div>


      <div class="row">


        <b>Renderer:</b>


      </div>

      <div class="row">

        <div class="switch">
          <label>
            RDKit
            <input id='Bck-Renderer-Switch' type="checkbox">
            <span class="lever"></span>
            Indigo
          </label>
        </div>

      </div>

      <div class="row">


        <b>Image Format:</b>


      </div>

      <div class="row">

        <div class="switch">
          <label>
            SVG
            <input id='Bck-Format-Switch' type="checkbox">
            <span class="lever"></span>
            PNG
          </label>

        </div>

      </div>

      <div class="row">

        <b>Coordinates:</b>

      </div>

      <div class="row">

        <div class="switch">
          <label>
            Embedded
            <input id='Bck-Coordinates-Switch' type="checkbox">
            <span class="lever"></span>
            Computed
          </label>

        </div>

      </div>

    </div>

    {% block close_modal %}
    {% include "glados/base/modals/close_modal_button.html" %}
    {% endblock %}

    </div>

  </div>