<div class="col s12 m10 l12">

  <div id='IndicationsCard' class="card chembl-card grey lighten-5 chembl-paginated-table">

    <div class="card-content ebi-links">

      <div class='row'>

        <div class="input-field col s6 m3 l2">

          <select>
            <option value="10" selected>10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <label>Records per page:</label>

        </div>

        <div class="col s3">

          <div class="inications-dowload">

            <a class="white-text waves-effect waves-light teal btn-mini tooltipped" data-position="bottom"
               data-tooltip="Download">
              <i class="fa fa-download"></i>
            </a>

          </div>

        </div>

      </div>


      <table class="compact-table striped hide-on-small-only">
        <thead>
        <tr>
          <th>MESH Heading</th>
          <th>MESH ID</th>
          <th>EFO ID</th>
          <th>EFO Term</th>
          <th>Max phase for indication</th>
        </tr>
        </thead>

        <tbody>

        <tr>

          <td>ABORTION, HABITUAL</td>
          <td><a href="https://id.nlm.nih.gov/mesh/D000026.html">D000026</a></td>
          <td><a href="http://purl.obolibrary.org/obo/HP_0200067">HP:0200067</a></td>
          <td>RECURRENT SPONTANEOUS ABORTION</td>
          <td>3</td>

        </tr>
        <tr>

          <td>ABORTION, HABITUAL</td>
          <td><a href="https://id.nlm.nih.gov/mesh/D000026.html">D000026</a></td>
          <td><a href="http://purl.obolibrary.org/obo/HP_0200067">HP:0200067</a></td>
          <td>RECURRENT SPONTANEOUS ABORTION</td>
          <td>3</td>

        </tr>
        <tr>

          <td>ABORTION, HABITUAL</td>
          <td><a href="https://id.nlm.nih.gov/mesh/D000026.html">D000026</a></td>
          <td><a href="http://purl.obolibrary.org/obo/HP_0200067">HP:0200067</a></td>
          <td>RECURRENT SPONTANEOUS ABORTION</td>
          <td>3</td>

        </tr>
        <tr>

          <td>ABORTION, HABITUAL</td>
          <td><a href="https://id.nlm.nih.gov/mesh/D000026.html">D000026</a></td>
          <td><a href="http://purl.obolibrary.org/obo/HP_0200067">HP:0200067</a></td>
          <td>RECURRENT SPONTANEOUS ABORTION</td>
          <td>3</td>

        </tr>

        </tbody>
      </table>

      <!-- this is for small devices -->

      <ul class="collection hide-on-med-and-up">
        <li class="collection-item">

          <b>MESH Heading: </b>ABORTION, HABITUAL <br>
          <b>MESH ID:</b><a href="https://id.nlm.nih.gov/mesh/D000026.html">D000026</a><br>
          <b>EFO ID:</b> <a href="http://purl.obolibrary.org/obo/HP_0200067">HP:0200067</a> <br>
          <b>EFO Term:</b> RECURRENT SPONTANEOUS ABORTION <br>
          <b>Max phase for indication: </b> 3

          <a href="#!" class="secondary-content"><i class="fa fa-sort"></i></a>

        </li>

        <li class="collection-item">

          <b>MESH Heading: </b>ABORTION, HABITUAL <br>
          <b>MESH ID:</b><a href="https://id.nlm.nih.gov/mesh/D000026.html">D000026</a><br>
          <b>EFO ID:</b> <a href="http://purl.obolibrary.org/obo/HP_0200067">HP:0200067</a> <br>
          <b>EFO Term:</b> RECURRENT SPONTANEOUS ABORTION <br>
          <b>Max phase for indication: </b> 3

          <a href="#!" class="secondary-content"><i class="fa fa-sort"></i></a>

        </li>

        <li class="collection-item">

          <b>MESH Heading: </b>ABORTION, HABITUAL <br>
          <b>MESH ID:</b><a href="https://id.nlm.nih.gov/mesh/D000026.html">D000026</a><br>
          <b>EFO ID:</b> <a href="http://purl.obolibrary.org/obo/HP_0200067">HP:0200067</a> <br>
          <b>EFO Term:</b> RECURRENT SPONTANEOUS ABORTION <br>
          <b>Max phase for indication: </b> 3

          <a href="#!" class="secondary-content"><i class="fa fa-sort"></i></a>

        </li>

        <li class="collection-item">

          <b>MESH Heading: </b>ABORTION, HABITUAL <br>
          <b>MESH ID:</b><a href="https://id.nlm.nih.gov/mesh/D000026.html">D000026</a><br>
          <b>EFO ID:</b> <a href="http://purl.obolibrary.org/obo/HP_0200067">HP:0200067</a> <br>
          <b>EFO Term:</b> RECURRENT SPONTANEOUS ABORTION <br>
          <b>Max phase for indication: </b> 3

          <a href="#!" class="secondary-content"><i class="fa fa-sort"></i></a>

        </li>

        <li class="collection-item">

          <b>MESH Heading: </b>ABORTION, HABITUAL <br>
          <b>MESH ID:</b><a href="https://id.nlm.nih.gov/mesh/D000026.html">D000026</a><br>
          <b>EFO ID:</b> <a href="http://purl.obolibrary.org/obo/HP_0200067">HP:0200067</a> <br>
          <b>EFO Term:</b> RECURRENT SPONTANEOUS ABORTION <br>
          <b>Max phase for indication: </b> 3

          <a href="#!" class="secondary-content"><i class="fa fa-sort"></i></a>

        </li>


      </ul>


    </div>

    <div class="divider"></div>

    <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      <li class="waves-effect">100 Records Found</li>
    </ul>

  </div>

</div>
