{% block custom_models %}
{% endblock %}

{% block custom_handlebars %}
{% include "glados/Handlebars/CompoundReportCard/Hbs-MechanismOfAction.html" %}
{% endblock %}

<div class="col s12 m10 l12">

  <div id="MechOfActCard" class="card grey lighten-5">

    <!-- modal trigger -->
    {% block embed_button %}
    {% include "glados/base/embed_button.html" %}
    {% endblock %}

    {% block card_loaders %}
    {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    <!-- Embed Modal Structure -->
    {% block embed_modal %}
    {% include "glados/base/embed_modal.html" %}
    {% endblock %}

    <div class="card-content" style="display:none">

      <table class="compact-table striped ebi-links hide-on-small-only">
        <thead>
        <tr>
          <th>Mechanism Of Action</th>
          <th>ChEMBL Target</th>
          <th>References</th>
        </tr>
        </thead>

        <tbody>

        <!-- Backbone -->

        </tbody>
      </table>

      <ul class="collection hide-on-med-and-up ebi-links">

        <!-- Backbone -->

      </ul>

    </div>

  </div>


</div>
