{% block custom_models %}
{% endblock %}

{% block custom_handlebars %}
{% include "glados/Handlebars/CompoundReportCard/MechanismOfAction.html" %}
{% endblock %}

<div class="col s12 m10 l12">

  <div id="MechOfActCard" class="card-panel grey lighten-5">

    <!-- modal trigger -->
    {% block embed_button %}
    {% include "glados/base/embed_button.html" %}
    {% endblock %}

    {% block card_loaders %}
    {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    <div class="row" style="display:none">

      <table class="compact-table striped">
        <thead>
        <tr>
          <th>Mechanism Of Action</th>
          <th>Chembl Target</th>
          <th>References</th>
        </tr>
        </thead>

        <tbody>

        <!-- Backbone -->

        </tbody>
      </table>
    </div>

  </div>

  <!-- Embed Modal Structure -->
  {% block embed_modal %}
  {% include "glados/base/embed_modal.html" %}
  {% endblock %}

</div>
