{% extends "glados/base/embed_base.html" %}

{% block title %}Molecule Features{% endblock %}

{% block content %}

   <div id="MechanismOfAction" style="margin-top: 25px;">
    {% include "glados/CompoundReportCardParts/MoleculeFeatures.html" %}
   </div>

{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="/static/js/models/Compound.js"></script>
<script type="text/javascript" src="/static/js/views/base/CardView.js"></script>
<script type="text/javascript" src="/static/js/views/Compound/CompoundFeaturesView.js"></script>
<script type="text/javascript" src="/static/js/compoundReportCardApp.js"></script>
{% endblock %}

{% block custom_js_inline %}

var compound = initCompound(CHEMBL_ID);
var compFeaturesView = initCompFeaturesView(compound, $('#MoleculeFeaturesCard'));
compound.fetch();

{% endblock %}
