<div class="col s12 m10 l12">

  <div id='MoleculeFeaturesCard' class="card chembl-card grey lighten-5">

    <div class="card-content">


      <div class="row">

      <div class="col s12 m9 offset-m1">

        <div class="mol-features-grid white-text">


          <div class="row center-align">

            <div class="col s2 offset-s1 hoverable teal darken-4"><p><i class="fa fa-smile-o"></i></p>
              <p class="mol-features-detail">Small Molecule</p></div>
            <div class="col s2 teal darken-4"><p><i class="fa fa-smile-o"></i></p>
              <p class="mol-features-detail">Rule of Five</p></div>
            <div class="col s2 teal darken-4"><p><i class="fa fa-smile-o"></i></p>
              <p class="mol-features-detail">First in Class</p></div>
            <div class="col s2 teal darken-4"><p><i class="fa fa-smile-o"></i></p>
              <p class="mol-features-detail">Achiral</p></div>
            <div class="col s2 teal darken-4"><p><i class="fa fa-smile-o"></i></p>
              <p class="mol-features-detail">Prodrug</p></div>

          </div>

          <div class="row center-align">

            <div class="col s2 offset-s1 blue-grey darken-4"><p><i class="fa fa-smile-o"></i></p>
              <p class="mol-features-detail">Oral</p></div>
            <div class="col s2 blue-grey darken-4"><p><i class="fa fa-smile-o"></i></p>
              <p class="mol-features-detail">Parenteral</p></div>
            <div class="col s2 blue-grey darken-4"><p><i class="fa fa-smile-o"></i></p>
              <p class="mol-features-detail">Topical</p></div>
            <div class="col s2 blue-grey darken-4"><p><i class="fa fa-smile-o"></i></p>
              <p class="mol-features-detail">Black Box</p></div>
            <div class="col s2 blue-grey darken-4"><p><i class="fa fa-smile-o"></i></p>
              <p class="mol-features-detail">Discontinued</p></div>

          </div>


        </div>

      </div>

    </div>


  </div>

</div>

</div>