{% block custom_handlebars %}
{% include "glados/Handlebars/CompoundReportCard/Hbs-MoleculeFeatures.html" %}
{% endblock %}

<div class="col s12 m10 l12">

  <div id='MoleculeFeaturesCard' class="card chembl-card grey lighten-5">

    <!-- modal trigger -->
    {% block embed_button %}
    {% include "glados/base/embed_button.html" %}
    {% endblock %}

    {% block card_loaders %}
    {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    <div class="card-content" style="display: none">


      <div class="row">

        <div class="col s12 m9 offset-m1 l8 offset-l2">

          <div class="mol-features-grid white-text">


            <div class="row center-align first-row">

              <div id='Bck-MolType' class="col s2 offset-s1">

                <!-- Backbone -->

              </div>
              <div id='Bck-RuleOfFive' class="col s2">

                <!-- Backbone -->

              </div>
              <div id='Bck-FirstInClass' class="col s2">

                <!-- Backbone -->

              </div>

              <div id='Bck-Chirality' class="col s2">

                <!-- Backbone -->

              </div>
              <div id='Bck-Prodrug' class="col s2">

                <!-- Backbone -->

              </div>

            </div>

            <div class="row center-align second-row">

              <div id='Bck-Oral' class="col s2 offset-s1">

               <!-- Backbone -->

              </div>
              <div id='Bck-Parenteral' class="col s2">

                <!-- Backbone -->

              </div>
              <div id='Bck-Topical' class="col s2">

               <!-- Backbone -->

              </div>
              <div id='Bck-BlackBox' class="col s2">

                <!-- Backbone -->

              </div>
              <div id='Bck-Availability' class="col s2">

                <!-- Backbone -->

              </div>

            </div>


          </div>

        </div>

      </div>


    </div>

    <!-- Embed Modal Structure -->
  {% block embed_modal %}
  {% include "glados/base/embed_modal.html" %}
  {% endblock %}

  </div>

</div>