<div class="col s12 m10 l12">

  <!-- Card Start -->
  <div id="CNCCard" class="card-panel grey lighten-5">


    <!-- embed  button -->
    <a class="embed-btn hoverable waves-effect waves-light teal tooltipped modal-trigger hide-on-med-and-down"
       href="#CNC-embed-modal"
       data-position="top"
       data-tooltip="Embed Card">
      <i class="fa fa-share-square-o"></i>
    </a>

    <!-- Preloader -->
    <div class="card-preolader-to-hide">

      <div class="progress">
        <div class="indeterminate"></div>
      </div>


    </div>

    <!-- Error message -->
    <div class="card-load-error" style="display:none">

      <div class="card-panel red darken-4">
                  <span class="white-text">
                    <p id="Bck-errormsg" class="center-align">
                      <i class="fa fa-exclamation-circle"></i>
                      <!--Backbone -->
                    </p>
                  </span>
      </div>


    </div>

    <div class="row" style="display:none">


      <!-- Coumpound Image -->
      <div class="col s6 m4 offset-s3">

        <div class="card z-depth-0 expandable-menu">

          <div class="card-image white hoverable">
            <img id="Bck-COMP_IMG" class="CNC-img">
                    <span class="CNC-img-btn">

                      <a class="CNC-btn btn waves-effect waves-light teal hide-on-small-only"
                         data-activates="CNC-expandable-bottom,CNC-expandable-top"><i
                        class="material-icons">add</i></a>

                      <a class="CNC-btn btn waves-effect waves-light teal hide-on-med-and-up"
                         data-activates="CNC-expandable-left,CNC-expandable-right"
                      ><i
                        class="material-icons">add</i></a>

                    </span>
          </div>

          <!-- Expandable menu bottom -->
          <div id="CNC-expandable-bottom" class='CNC-expandable-content-bottom hide-on-small-only'>

            <div class="container">

              <a class="hoverable waves-effect waves-light teal tooltipped modal-trigger" href="#CNC-zoom-modal"
                 data-tooltip="Zoom">
                <p><i class="fa fa-search-plus"></i></p>
              </a>

              <a class="hoverable waves-effect waves-light teal tooltipped" data-tooltip="3D">
                <p><i class="fa fa-cube"></i></p>
              </a>

              <a class="hoverable waves-effect waves-light teal tooltipped" data-tooltip="Download">
                <p><i class="fa fa-download"></i></p>
              </a>

            </div>

          </div>

          <!-- Expandable menu top -->
          <div id="CNC-expandable-top" class='CNC-expandable-content-top hide-on-small-only'>

            <div class="container">

              <a class="hoverable waves-effect waves-light teal tooltipped CNC-download-png" data-position="top"
                 data-tooltip="PNG File">
                <p><i class="fa fa-file-image-o"></i></p>
              </a>

              <a class="hoverable waves-effect waves-light teal tooltipped CNC-download-svg" data-position="top"
                 data-tooltip="SVG File">
                <p><i class="fa fa-file-code-o"></i></p>
              </a>

            </div>

          </div>

          <!-- Expandable menu left -->
          <div id="CNC-expandable-left" class='CNC-expandable-content-left hide-on-med-and-up'>

            <div class="container">

              <a class="hoverable waves-effect waves-light teal tooltipped modal-trigger" data-position="left"
                 href="#CNC-zoom-modal"
                 data-tooltip="Zoom">
                <p><i class="fa fa-search-plus"></i></p>
              </a>

              <a class="hoverable waves-effect waves-light teal tooltipped" data-position="left"
                 data-tooltip="3D">
                <p><i class="fa fa-cube"></i></p>
              </a>

              <a class="hoverable waves-effect waves-light teal tooltipped" data-position="left"
                 data-tooltip="Download">
                <p><i class="fa fa-download"></i></p>
              </a>

            </div>

          </div>

          <!-- Expandable menu right -->
          <div id="CNC-expandable-right" class='CNC-expandable-content-right hide-on-med-and-up'>

            <div class="container">

              <a class="hoverable waves-effect waves-light teal tooltipped CNC-download-png" data-position="top"
                 data-tooltip="PNG File">
                <p><i class="fa fa-file-image-o"></i></p>
              </a>

              <a class="hoverable waves-effect waves-light teal tooltipped CNC-download-svg" data-position="top"
                 data-tooltip="SVG File">
                <p><i class="fa fa-file-code-o"></i></p>
              </a>

            </div>

          </div>

        </div>

        <!-- Embed Modal Structure -->
        <div id="CNC-embed-modal" class="modal">
          <div class="modal-content">
            <h3>Embed Card</h3>
            <p>Use the following code to embed the card in your site: </p>
            <code>

            </code>

            <p>You can change the width and height as you need. </p>

            <p>Preview:</p>

            <div class="container">

              <div class="embed-preview">
              </div>

            </div>


          </div>

          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-teal btn-flat">Close</a>
          </div>
        </div>

        <!-- Image zoom Modal Structure -->
        <div id="CNC-zoom-modal" class="modal">

          <div class="modal-content">
            <h3 >Modal Header</h3>

            <div class="card">
              <div class="card-image">
                <img>

                <span class="card-title">Card Title</span>
              </div>


            </div>
          </div>

          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-teal btn-flat">Close</a>
          </div>

        </div>



      </div>

      <!-- Basic info table -->
      <div class="col s12 m8">

                  <span class="easyChemConfig auto-compile">

                    <table class="CNC-table bordered">

                      <tbody>
                      <tr>
                        <td class="fixed-width-column"><b>ID:</b></td>
                        <td id="Bck-CHEMBL_ID"><!-- Backbone --></td>
                      </tr>
                      <tr>
                        <td class="fixed-width-column"><b>Name:</b></td>
                        <td id="Bck-PREF_NAME"><!-- Backbone --></td>
                      <tr>
                        <td class="fixed-width-column"><b>Max Phase:</b></td>
                        <td id="Bck-MAX_PHASE"><!-- Backbone --></td>
                      </tr>
                      <tr>
                        <td class="td-oneline fixed-width-column"><b>Molecular Formula:</b></td>
                        <td><span id="Bck-MOLFORMULA" class="echem-formula"><!-- Backbone --></span></td>
                      </tr>
                      <tr>
                        <td class="td-oneline fixed-width-column"><b>ChEMBL Synonyms:</b></td>
                        <td>

                          <div class="cropped-container">


                            <div id="CompNameClass-synonyms" class="cropped">
                              <!-- Backbone -->
                            </div>

                            <div class="cropped-container-btns">
                              <a class="waves-effect waves-light teal" data-activates="CompNameClass-synonyms"><i
                                class="fa fa-caret-down"></i></a
                              ><a class="waves-effect waves-light tooltipped teal" data-tooltip="Copy to clipboard"><i
                              class="fa fa-clipboard"></i></a>
                            </div>

                          </div>

                        </td>
                      </tr>
                      <tr class="CNC-table-lastrow fixed-width-column">
                        <td><b>Trade Names:</b></td>
                        <td>

                          <div class="cropped-container">


                            <div id="CompNameClass-tradenames" class="cropped">
                              <!-- Backbone -->
                            </div>

                            <div class="cropped-container-btns">
                              <a class="waves-effect waves-light teal" data-activates="CompNameClass-tradenames"><i
                                class="fa fa-caret-down"></i></a
                              ><a class="waves-effect waves-light tooltipped teal" data-tooltip="Copy to clipboard"
                            ><i class="fa fa-clipboard"></i></a>
                            </div>

                          </div>

                        </td>
                      </tr>
                      </tbody>

                    </table>
                    </span>

      </div>


    </div>

  </div> <!-- Card End -->

</div>