{% block custom_handlebars %}
  {% include "glados/Handlebars/CompoundReportCard/Hbs-NameAndClassification.html" %}
{% endblock %}

<div class="col s12 m10 l12">

  <!-- Card Start -->
  <div id="CNCCard" class="card grey lighten-5">


    <!-- modal trigger -->
    {% block embed_button %}
      {% include "glados/base/embed_button.html" %}
    {% endblock %}

    {% block card_loaders %}
      {% include "glados/base/card_loaders.html" %}
    {% endblock %}

     <!-- Embed Modal Structure -->
    {% block embed_modal %}
      {% include "glados/base/embed_modal.html" %}
    {% endblock %}


    <div class="row" style="display:none">




      <!-- Coumpound Image -->
      <div class="col s6 m4 offset-s3">

         {% block main_image %}
          {% include "glados/CompoundReportCardParts/MainImage.html" %}
        {% endblock %}

      </div>


      <!-- Basic info table -->
      <div class="col s12 m8">

                  <div class="easyChemConfig auto-compile">

                    <table class="CNC-table bordered">

                      <tbody>
                      <tr>
                        <td class="fixed-width-column"><b>ID:</b></td>
                        <td id="Bck-CHEMBL_ID"><!-- Backbone --></td>
                      </tr>
                      <tr>
                        <td class="fixed-width-column"><b>Name:</b></td>
                        <td id="Bck-PREF_NAME"><!-- Backbone --></td>
                      <tr>
                        <td class="fixed-width-column"><b>Max Phase:</b></td>
                        <td id="Bck-MAX_PHASE"><!-- Backbone --></td>
                      </tr>
                      <tr>
                        <td class="td-oneline fixed-width-column"><b>Molecular Formula:</b></td>
                        <td><span id="Bck-MOLFORMULA" class="echem-formula"><!-- Backbone --></span></td>
                      </tr>
                      <tr>
                        <td class="td-oneline fixed-width-column"><b>ChEMBL Synonyms:</b></td>
                        <td>

                          <div class="cropped-container">


                            <div id="CompNameClass-synonyms" class="cropped">
                              <!-- Backbone -->
                            </div>

                            <div class="cropped-container-btns">
                              <a class="waves-effect waves-light teal" data-activates="CompNameClass-synonyms" style="display: none"><i
                                class="fa fa-caret-down"></i></a
                              ><a class="waves-effect waves-light tooltipped teal" data-tooltip="Copy to clipboard"><i
                              class="fa fa-clipboard"></i></a>
                            </div>

                          </div>

                        </td>
                      </tr>
                      <tr class="CNC-table-lastrow fixed-width-column">
                        <td><b>Trade Names:</b></td>
                        <td>

                          <div class="cropped-container">


                            <div id="CompNameClass-tradenames" class="cropped">
                              <!-- Backbone -->
                            </div>

                            <div class="cropped-container-btns">
                              <a class="waves-effect waves-light teal" style="display: none" data-activates="CompNameClass-tradenames"><i
                                class="fa fa-caret-down"></i></a
                              ><a class="waves-effect waves-light tooltipped teal" data-tooltip="Copy to clipboard"
                            ><i class="fa fa-clipboard"></i></a>
                            </div>

                          </div>

                        </td>
                      </tr>
                      </tbody>

                    </table>
                    </div>

      </div>


    </div>

  </div> <!-- Card End -->

</div>