{% extends "glados/base/embed_base.html" %}

{% block title %}Compound report card{% endblock %}

{% block content %}

   <div id="CompoundNameAndClassification" style="margin-top: 25px; margin-bottom: 25px;">
    {% include "glados/CompoundReportCardParts/NameAndClassification.html" %}
   </div>

{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="/static/js/styling/buttons_helper.js"></script>
<script type="text/javascript" src="/static/js/models/Compound.js"></script>
<script type="text/javascript" src="/static/js/views/base/CardView.js"></script>
<script type="text/javascript" src="/static/js/views/Compound/CompoundNameClassificationView.js"></script>
<script type="text/javascript" src="/static/js/views/Compound/CompoundImageView.js"></script>
<script type="text/javascript" src="/static/js/compoundReportCardApp.js"></script>
{% endblock %}

{% block custom_js_inline %}

var compound = initCompound(CHEMBL_ID);
var cncView = initCNCView(compound, $('#CNCCard'));
var compImgView = initCompoundImageView(compound, $('#CNCImageCard'));
compound.fetch();

ButtonsHelper.initCroppedContainers();
ButtonsHelper.initExpendableMenus();


{% endblock %}



