<div class="col s12 m10 l12">

  <div class="card chembl-card">

    <div class="card-content">
      <div class="row">

        <table class="compact-table">

          <tbody>


          <tr>

            <td><b>Molfile:</b></td>

            <td>
              <div class="inline-block">
                <a class="waves-effect waves-light btn"><i class="fa fa-code left"></i>JSON View</a>
              </div>


              <div class="inline-block">
                <a class="waves-effect waves-light btn"><i class="fa fa-download left"></i>Download</a>
              </div>


              <div class="inline-block">
                <a class="waves-effect waves-light btn"><i class="fa fa-external-link left"></i>Open
                  in Marvin
                </a>
              </div>


              <div class="inline-block">
                <a class="waves-effect waves-light btn"><i class="fa fa-clipboard left"></i>Copy</a>
              </div>
            </td>

          </tr>

          <tr>
            <td class="td-oneline"><b>Canonical SMILES:</b></td>
          </tr>
          <tr>
            <td colspan="2"><input placeholder="Placeholder" id="canonicalSmiles" type="text" class="validate"></td>
          </tr>

          <tr>
            <td class="td-oneline"><b>Standard InChI:</b></td>
          </tr>
          <tr>
            <td colspan="2"><input placeholder="Placeholder" id="standardInchi" type="text" class="validate"></td>
          </tr>

          <tr>
            <td class="td-oneline"><b>Standard InChI Key:</b></td>
          </tr>
          <tr>
            <td colspan="2"><input placeholder="Placeholder" id="standardInchiKey" type="text" class="validate"></td>
          </tr>

          </tbody>
        </table>

      </div>

    </div>

  </div>


</div>