{% extends "glados/base/embed_base.html" %}

{% block title %}Compound Representations{% endblock %}

{% block content %}

   <div id="CompoundNameAndClassification" style="margin-top: 25px;">
    {% include "glados/CompoundReportCardParts/Representations.html" %}
   </div>

{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="/static/js/styling/buttons_helper.js"></script>
<script type="text/javascript" src="/static/js/models/Compound.js"></script>
<script type="text/javascript" src="/static/js/views/base/CardView.js"></script>
<script type="text/javascript" src="/static/js/views/Compound/CompoundRepresentationsView.js"></script>
<script type="text/javascript" src="/static/js/compoundReportCardApp.js"></script>
{% endblock %}

{% block custom_js_inline %}

var compound = new Compound({molecule_chembl_id: CHEMBL_ID});
compRepsView = new CompoundRepresentationsView({
    model: compound,
    el: $('#CompRepsCard')});
compound.fetch();

ButtonsHelper.initCroppedContainers();
ButtonsHelper.initExpendableMenus();
$('.modal-trigger').hide();

{% endblock %}

{% block custom_afterRender %}
  ButtonsHelper.initCroppedTextFields();
{% endblock %}