<div class="col s12 m10 l12">

  <div class="card chembl-card">

    <div class="card-content">
      <div class="row">

        <table class="compact-table">

          <tbody>


          <tr>

            <td><b>Molfile:</b></td>

            <td>
              <div class="inline-block">
                <a class="waves-effect waves-light btn teal"><i class="fa fa-code left"></i>JSON View</a>
              </div>


              <div class="inline-block">
                <a class="waves-effect waves-light btn teal"><i class="fa fa-download left"></i>Download</a>
              </div>


              <div class="inline-block">
                <a class="waves-effect waves-light btn teal"><i class="fa fa-external-link left"></i>Open in editor
                </a>
              </div>


              <div class="inline-block">
                <a class="waves-effect waves-light btn teal"><i class="fa fa-clipboard left"></i>Copy</a>
              </div>
            </td>

          </tr>

          <tr>
            <td class="td-oneline"><b>Canonical SMILES:</b></td>
            <td>
              <div class="cropped-text-field">

                <div class="cropped-text-field-input">
                  <input placeholder="Placeholder" id="canonicalSmiles" type="text" class="validate">
                </div>
                <div class="cropped-text-field-btns">
                  <a class="waves-effect waves-light teal"><i class="fa fa-download"></i></a>
                  <a class="waves-effect waves-light teal"><i class="fa fa-clipboard"></i></a>
                </div>

              </div>
            </td>
          </tr>

          <tr>
            <td class="td-oneline"><b>Standard InChI:</b></td>
            <td>

               <div class="cropped-text-field">

                <div class="cropped-text-field-input">
                  <input placeholder="Placeholder" id="standardInchi" type="text" class="validate">
                </div>
                <div class="cropped-text-field-btns">
                  <a class="waves-effect waves-light teal"><i class="fa fa-download"></i></a>
                  <a class="waves-effect waves-light teal"><i class="fa fa-clipboard"></i></a>
                </div>

              </div>

            </td>
          </tr>

          <tr>
            <td class="td-oneline"><b>Standard InChI Key:</b></td>
            <td>

              <div class="cropped-text-field">

                <div class="cropped-text-field-input">
                  <input placeholder="Placeholder" id="standardInchiKey" type="text" class="validate">
                </div>
                <div class="cropped-text-field-btns">
                  <a class="waves-effect waves-light teal"><i class="fa fa-download"></i></a>
                  <a class="waves-effect waves-light teal"><i class="fa fa-clipboard"></i></a>
                </div>

              </div>

            </td>
          </tr>

          </tbody>
        </table>

      </div>

    </div>

  </div>


</div>