<div class="col s12 m10 l12">

  <div id='MoleculeFeaturesCard' class="card chembl-card grey lighten-5">

    <div class="card-content">

      The two tables below display ChEMBL single-protein targets which are predicted to interact with CHEMBL25. A 1uM
      and 10 uM cut-off have been applied to ChEMBL bioactivity data used to generate the respective models and the
      green coloured rows correspond to genuine predictions, i.e. targets not included in the original training set for
      this compound.

      <h4>1uM</h4>


      <table class="compact-table ebi-links hide-on-small-only">
        <thead>
        <tr>

          <th> CHEMBL_ID</th>
          <th>Target Name</th>
          <th>Organism</th>
          <th>Score</th>

        </tr>
        </thead>

        <tbody>
        <tr class="green accent-1">
          <td><a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL2026">CHEMBL2026</a></td>
          <td>Beta-lactamase AmpC</td>
          <td>Escherichia coli K-12</td>
          <td>0.786</td>
        </tr>

        <tr>
          <td><a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL3943">CHEMBL3943</a></td>
          <td>Histamine H1 receptor</td>
          <td>Cavia porcellus</td>
          <td>0.710</td>
        </tr>

        <tr>
          <td><a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL1293231">CHEMBL1293231</a></td>
          <td>Aldo-keto reductase family 1 member C2</td>
          <td>Mus musculus</td>
          <td>0.610</td>
        </tr>

        </tbody>
      </table>

      <!-- this is for small devices -->

      <ul class="collection hide-on-med-and-up">
        <li class="collection-item ebi-links green accent-1">

          <b>CHEMBL_ID: </b> <a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL2026">CHEMBL2026</a><br>
          <b>Target Name:</b> Beta-lactamase AmpC<br>
          <b>Organism:</b> Escherichia coli K-12 <br>
          <b>Score:</b> 0.786

        </li>

        <li class="collection-item ebi-links">

          <b>CHEMBL_ID: </b> <a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL3943">CHEMBL3943</a><br>
          <b>Target Name:</b> Histamine H1 receptor<br>
          <b>Organism:</b> Cavia porcellus <br>
          <b>Score:</b> 0.710

        </li>

        <li class="collection-item ebi-links">

          <b>CHEMBL_ID: </b> <a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL1293231">CHEMBL1293231</a><br>
          <b>Target Name:</b> Nuclear receptor ROR-gamma<br>
          <b>Organism:</b> Mus musculus <br>
          <b>Score:</b> 0.610

        </li>

      </ul>

       <h4>10uM</h4>


      <table class="compact-table ebi-links hide-on-small-only">
        <thead>
        <tr>

          <th> CHEMBL_ID</th>
          <th>Target Name</th>
          <th>Organism</th>
          <th>Score</th>

        </tr>
        </thead>

        <tbody>
        <tr class="green accent-1">
          <td><a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL2026">CHEMBL2026</a></td>
          <td>Beta-lactamase AmpC</td>
          <td>Escherichia coli K-12</td>
          <td>0.786</td>
        </tr>

        <tr>
          <td><a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL3943">CHEMBL3943</a></td>
          <td>Histamine H1 receptor</td>
          <td>Cavia porcellus</td>
          <td>0.710</td>
        </tr>

        <tr>
          <td><a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL1293231">CHEMBL1293231</a></td>
          <td>Aldo-keto reductase family 1 member C2</td>
          <td>Mus musculus</td>
          <td>0.610</td>
        </tr>

        </tbody>
      </table>

      <!-- this is for small devices -->

      <ul class="collection hide-on-med-and-up">
        <li class="collection-item ebi-links green accent-1">

          <b>CHEMBL_ID: </b> <a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL2026">CHEMBL2026</a><br>
          <b>Target Name:</b> Beta-lactamase AmpC<br>
          <b>Organism:</b> Escherichia coli K-12 <br>
          <b>Score:</b> 0.786

        </li>

        <li class="collection-item ebi-links">

          <b>CHEMBL_ID: </b> <a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL3943">CHEMBL3943</a><br>
          <b>Target Name:</b> Histamine H1 receptor<br>
          <b>Organism:</b> Cavia porcellus <br>
          <b>Score:</b> 0.710

        </li>

        <li class="collection-item ebi-links">

          <b>CHEMBL_ID: </b> <a href="https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL1293231">CHEMBL1293231</a><br>
          <b>Target Name:</b> Nuclear receptor ROR-gamma<br>
          <b>Organism:</b> Mus musculus <br>
          <b>Score:</b> 0.610

        </li>

      </ul>





    </div>

  </div>

</div>