<div class="col s12 m10 l12">

  <div id='UniChemCrossReferencesCard' class="card chembl-card grey lighten-5">

    <div class="card-content">


      <ul class="collapsible ebi-links z-depth-0" data-collapsible="expandable">

        <li>
          <div class="collapsible-header">
            <a href="http://actor.epa.gov/actor/faces/ACToRHome.jsp">
              <i class="fa fa-link"></i>
            </a>
            ACToR
          </div>
          <div class="collapsible-body">

            <p>

              <a href="http://actor.epa.gov/actor/GenericChemical?casrn=11126-35-5">11126-35-5</a>
              <a href="http://actor.epa.gov/actor/GenericChemical?casrn=50-78-2">50-78-2</a>

            </p>

          </div>

        </li>

        <li>
          <div class="collapsible-header">
            <a href="http://www.ebi.ac.uk/gxa/">
              <i class="fa fa-link"></i>
            </a>
            Atlas
          </div>
          <div class="collapsible-body">

            <p>


              <a
                href="http://www.ebi.ac.uk/gxa/query?geneQuery=&amp;exactMatch=true&amp;_exactMatch=on&amp;organism=Any&amp;condition=%22aspirin">aspirin</a>
              <a
                href="http://www.ebi.ac.uk/gxa/query?geneQuery=&amp;exactMatch=true&amp;_exactMatch=on&amp;organism=Any&amp;condition=%22acetylsalicylic acid">acetylsalicylic
                acid</a>

            </p>

          </div>

        </li>

        <li>
          <div class="collapsible-header">
            <a href="https://www.ebi.ac.uk/chembl/compound/inspect/CHEMBL25">
              <i class="fa fa-link"></i>
            </a>
            BindingDB
          </div>
          <div class="collapsible-body">

            <p>


              <a href="http://www.bindingdb.org/bind/chemsearch/marvin/MolStructure.jsp?monomerid=22360">22360</a>


            </p>

          </div>

        </li>

        <li>
          <div class="collapsible-header">
            <a href="http://www.ebi.ac.uk/chebi/downloadsForward.do">
              <i class="fa fa-link"></i>
            </a>
            ChEBI
          </div>
          <div class="collapsible-body">

            <p>

              <a href="http://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI%3A15365">15365</a>


            </p>

          </div>

        </li>

        <li>
          <div class="collapsible-header">
            <a href="http://drugbank.ca/">
              <i class="fa fa-link"></i>
            </a>
            ACToR
          </div>
          <div class="collapsible-body">

            <p>


              <a href="http://www.drugbank.ca/drugs/DB00945">DB00945</a>

            </p>

          </div>

        </li>

      </ul>


    </div>
  </div>
</div>