<script id='Handlebars-SearchResultsLayout' type="text/x-handlebars-template">

    {% include "glados/SearchResultsParts/SearchBar.html" %}

    <div class="container main-container">

        <div class="BCK-SearchResultsContainer">

            <div class="BCK-summary-tabs-container summary-tabs" data-hb-template="Handlebars-ESResults-Chips">
                <!-- this is filled by backbone after each list receives its data -->
            </div>

            <div class="BCK-ESResults-lists">
                <!-- This content is rendered using handlebars templates -->
            </div>

        </div>
    </div>
</script>

{% include "glados/Handlebars/SearchResults/AuxiliarySources.html" %}