<script id='Handlebars-SearchResultsLayout' type="text/x-handlebars-template">

    <div class="container main-container">

        {% block query_explain %}
            {% include "glados/SearchResultsParts/ESQueryExplain.html" %}
        {% endblock %}

        <div class="BCK-SearchResultsContainer">

            <div class="BCK-summary-tabs-container summary-tabs" data-hb-template="Handlebars-ESResults-Chips"
                 data-hb-preloader-template="Handlebars-ESResults-Chips-Loading">
                <!-- this is filled by backbone after each list receives its data -->
            </div>

            <div class="BCK-ESResults-lists">
                <!-- This content is rendered using handlebars templates -->
            </div>

        </div>
    </div>
</script>

{% include "glados/Handlebars/SearchResults/AuxiliarySources.html" %}