<!DOCTYPE html>
{% load static %}

{% with hide_side_nav=True %}
  <html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <title>{% block title %}{% endblock %}</title>
    {% block analytics %}
      {% include "glados/base/hotjar_analytics.html" %}
    {% endblock %}
    {% load compress %}
    <!-- Imports used by all the templates-->
    <!-- only use this if absolutely necessary, it can complicate the css imports -->
    {% block common_css %}
      {% include "glados/base/css_imports_for_all.html" %}
    {% endblock %}


    <!-- Imports used by the current template -->
    {% block stylesheets %}{% endblock %}

  </head>

  <body>

  <header>
    <div id="masthead-contaniner" class="row">

      {% block header %}
        {% include "glados/base/header.html" %}
      {% endblock %}

    </div>

    {% block chembl_header %}
      {% if not hide_side_nav %}
        <div id="chembl-header-sidenav-pushpin-container">
      {% endif %}
          <div id="chembl-header-container" >
            {% include "glados/base/chembl_header.html" %}
          </div>
      {% if not hide_side_nav %}
        </div>
      {% endif %}
      <div id="chembl-header-container-spacer" class="{{hide_side_nav|yesno:',side-nav-padding' }}"></div>
    {% endblock %}

  </header>


  {% block main_start_tag %}
  <main class="with-sidenav {{ hide_side_nav|yesno:',side-nav-padding' }}">
  {% endblock %}

    {% include "glados/base/modals/generated_modals_container.html" %}

    <!-- Side Navbar-->
    {% block side_nav %}
      {% include "glados/base/side_nav.html" %}
    {% endblock %}


    {% block content %}{% endblock %}

    {% block download_db_menu %}
      {% include "glados/MainPageParts/download_db_menu.html" %}
    {% endblock %}

  </main>

  <!-- - - - - - - - - - - - - - - - - - - - -->
  <!-- Footer -->
  <!-- - - - - - - - - - - - - - - - - - - - -->
  <footer  class="page-footer">
    {% block footer %}
      {% include "glados/base/footer.html" %}
    {% endblock %}
  </footer>


  <!-- - - - - - - - - - - - - - - - - - - - -->
  <!-- APIs -->
  <!-- - - - - - - - - - - - - - - - - - - - -->

  <!-- common imports for all templates -->
  {% include "glados/base/js_imports_for_all.html" %}

  <!-- custom js imports that each template decides to load -->
  <!-- only use this if absolutely necessary, it can complicate the js imports -->
  {% compress js %}
     {% block custom_js %}{% endblock %}
  {% endcompress %}

  <!-- handlebars templates -->
  {% block common_handlebars %}
    {% include "glados/Handlebars/CommonSources.html" %}
    {% include "glados/Handlebars/DownloadWizard/Hbs-WizardStep.html" %}
  {% endblock %}

  {% block custom_handlebars %}
  {% endblock %}

  <!-- inline javascript -->
  {% compress js %}
  <script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
      glados.helpers.HeaderHelper.initializeHeader();
      glados.helpers.SideMenuHelper.initializeSideMenu();
      glados.views.SearchResults.SearchBarView.createInstances();

      {% block custom_js_inline %}{% endblock %}

      //the initialization of modals needs to be as specific as possible to avoid issues with all the other modals
      $('#download-db-modal').modal();

      var baseMenuItem = DownloadWizardApp.initWizardStep();
      DownloadWizardApp.initBaseWizardStepView(baseMenuItem, $('#download-wizard'));
      baseMenuItem.fetch();
    });
  </script>
  {% endcompress%}

  <!-- a function to be called after the content is rendered  -->
  {% compress js %}
  <script type="text/javascript" charset="utf-8">

    afterRender = function (){

      {% block custom_afterRender %}{% endblock %}


    }

  </script>
  {% endcompress%}

  {% load static %}

  <!-- common imports for all templates that need to be last -->
  {% compress js %}
  <!-- this sets up the styles for the chemical formulas after they have been rendered in the page-->
  <script type="text/javascript" src="{% static 'js/api/easychem.js' %}"></script>

  {% endcompress %}
  <div id="glados-messages" class="modal">
    <div class="modal-content">
    </div>
    <div class="modal-footer">
    </div>
  </div>
  <script type="application/javascript">
    $('#glados-messages').modal(
      {
        dismissible: false,
        opacity: .5
      }
    );
  </script>
  </body>
  </html>
{% endwith %}