{% block custom_handlebars %}{% endblock %}

<!-- This is the base layout for a card that shows the information with expandables, tables and collections -->
<div class="col s12 m12 l12">

  <div id='{% block card_id %}{% endblock %}' class="card chembl-card grey lighten-5" >

    <!-- when it is dynamic it means that the information comes from the web services and backbone takes
    care of showing and hiding the preloader and error message-->

    {% block card_loaders %}
      {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    {% block embed_button %}
      {% include "glados/base/embed_button.html" %}
    {% endblock %}

    {% block embed_modal %}
      {% include "glados/base/embed_modal.html" %}
    {% endblock %}


    <div class="card-content" {% if is_dynamic %}style="display:none"{% endif %}>

      <div class="row">

        <div class="col m3">

          {% block buttons %}
          {% endblock %}

        </div>


          <div class="input-field col m12 l9">
            {% block menu %}
            {% endblock %}

          </div>



      </div>
      <div class="row">

        <div class="col s12">

            {% block expandable %}
            {% endblock %}

            {% block table %}
            {% endblock %}


            {% block collection %}
            {% endblock %}

            {% block general_content %}
            {% endblock %}

        </div>

      </div>

    </div>



    <div class="divider"></div>

    <div class="chembl-paginated-table">

      {% block pagination %}
      {% endblock %}

    </div>


  </div>

</div>