{% load static %}

<div class="chembl-header" id="BCK-ChEMBL-Header">

    <div class="inner-row">

        <!-- Chembl Logo -->
        <a class="header-button chembl-logo left" href="{% url 'main' %}">

            <img src="{% static 'img/icons/chembl_logo_pink.png' %}">

            <span class="hide-on-med-and-down white-text"> ChEMBL </span>

        </a>

        <div class="chembl-logo hide-on-med-and-up">
            <span class="white-text"> ChEMBL </span>
        </div>

        <!-- Search Bar -->
        <div class="search-bar hide-on-small-only">

            {% include "glados/SearchResultsParts/SearchBar.html" %}

        </div>

        <!-- Drop Down Menu -->
        <div class="dropdown nav-link burger-dropdown  hide-on-large-pin-top">

            <a class="header-button burger-button right ">

                <img src="{% static 'img/icons/options_button.png' %}">

            </a>

            <div class='dropdown-contents burger-dropdown-contents'>

                <div class="row">
                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'downloads' %}" target="_blank">Downloads</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'web_services_home' %}" target="_blank">Web Services</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'unichem_home' %}" target="_blank">UniChem</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'chembl-ntd' %}" target="_blank">ChEMBL-NTD</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'surechembl' %}" target="_blank">SureChEMBL</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'chembl_rdf' %}" target="_blank">EBI RDF Platform</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'db_schema' %}" target="_blank">Schema Diagram</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'ws_schema' %}" target="_blank">WS Diagram</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'acks' %}" target="_blank">Acknowledgements</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'status' %}" target="_blank">Status</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'faqs' %}" target="_blank">FAQ</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'chembl_blog' %}" target="_blank">Blog</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'chembl_twitter' %}" target="_blank">Twitter</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'contact_us' %}" target="_blank">Contact Us</a>

                    </div>

                    <div class="col l4 m6 s12 dropdown-item">

                        <a href="{% url 'about_us' %}" target="_blank">About</a>

                    </div>

                </div>



            </div>

        </div>

    </div>

    <!-- Nav links -->
    <div class="inner-row nav-links-wrapper">

        <ul class="header-nav-links show-on-large-pin-top">

            <li class="dropdown nav-link">

                <a href='https://www.ebi.ac.uk/unichem' target="_blank">UniChem</a>

                <!-- <ul class='dropdown-contents more-section'>

                    <li class="dropdown-item">

                        <a href="{% url 'unichem_sss' %}">SSS</a>

                    </li>

                </ul> -->

            </li>

            <li class="nav-link"><a href="{% url 'chembl-ntd' %}" target="_blank"> ChEMBL-NTD </a></li>

            <li class="nav-link"><a href="https://www.surechembl.org" target="_blank"> SureChEMBL </a></li>

            <li class="nav-link"><a href="{% url 'downloads' %}" target="_blank">Downloads</a></li>

            <li class="nav-link"><a href="{% url 'web_services_home' %}" target="_blank">Web Services</a></li>

            <!-- More Links -->
            <li class="dropdown nav-link">

                <a href='#'>More</a>

                <ul class='dropdown-contents more-section'>

                    <li class="dropdown-item">

                        <a href="https://www.ebi.ac.uk/rdf" target="_blank">EBI RDF Platform</a>

                    </li>

                    <li class="dropdown-item">

                        <a href="{% url 'db_schema' %}" target="_blank">Schema Diagram</a>

                    </li>

                    <li class="dropdown-item">

                        <a href="{% url 'ws_schema' %}" target="_blank">WS Diagram</a>

                    </li>

                    <li class="dropdown-item">

                        <a href="{% url 'acks' %}" target="_blank">Acknowledgements</a>

                    </li>

                    <li class="dropdown-item">

                        <a href="{% url 'status' %}" target="_blank">Status</a>

                    </li>

                    <li class="dropdown-item">

                        <a href="{% url 'faqs' %}" target="_blank">FAQ</a>

                    </li>

                    <li class="dropdown-item">

                        <a href="{% url 'chembl_blog' %}" target="_blank">Blog</a>

                    </li>

                    <li class="dropdown-item">

                        <a href="{% url 'chembl_twitter' %}" target="_blank">Twitter</a>

                    </li>

                    <li class="dropdown-item">

                        <a href="{% url 'contact_us' %}" target="_blank">Contact Us</a>

                    </li>

                    <li class="dropdown-item">

                        <a href="{% url 'about_us' %}" target="_blank">About</a>

                    </li>

                </ul>

            </li>

        </ul>

        {% if show_save_button %}
        <ul class="header-nav-links show-on-large-pin-top">
            <li class="nav-link save-page">
                <a class="BCK-open-share-modal"><i class="icon icon-functional" data-icon="r"></i> Share</a>
            </li>
        </ul>
        {% endif %}

    </div>

</div>

