<script type="text/javascript">
    console.log('Data Protection Banner!!');
    var localFrameworkVersion = 'other';
    var newDataProtectionNotificationBanner = document.createElement('script');
    newDataProtectionNotificationBanner.src = 'https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/ebi-global-includes/script/5_ebiFrameworkNotificationBanner.js?legacyRequest='+localFrameworkVersion;
    document.head.appendChild(newDataProtectionNotificationBanner);
      newDataProtectionNotificationBanner.onload = function() {
      ebiFrameworkRunDataProtectionBanner(); // invoke the banner
    };

</script>