{% extends "glados/base/base_layout.html" %}

{% block title %} Design Components {% endblock %}

{% block content %}

    <div class="color-block">

        <div class="container">

            <div class="text-section vis-section valign-wrapper row">

                <h2 class="col l12 header-dark-grey ">

                    Design Components

                </h2>

                <p class="col l12 vis-paragraph">
                    Guide for common style and design elements used in the interface
                </p>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="section">

            <h3> BASE COLOURS </h3>
            <div class="divider"></div>

            <div class="row">

                <div class="col s3">
                    <div class="color-box chembl-teal"></div>
                </div>

                <div class="col s3">
                    <div class="color-box lighter-teal"></div>
                </div>

                <div class="col s3">
                    <div class="color-box darker-teal"></div>
                </div>

                <div class="col s3">
                    <div class="color-box accent-teal"></div>
                </div>

            </div>

            <div class="row">

                <div class="col s3">
                    <div class="color-box chembl-red"></div>
                </div>


                <div class="col s3">
                    <div class="color-box lighter-grey"></div>
                </div>

                <div class="col s3">
                    <div class="color-box medium-grey"></div>
                </div>

                <div class="col s3">
                    <div class="color-box darker-grey"></div>
                </div>

            </div>

        </div>

        <div class="section">

            <h3> VISUALISATION COLOURS </h3>
            <div class="divider"></div>

            <div class="row">

                <div class="col s6">
                    <div class="color-box-small  teal-1"></div>
                    <div class="color-box-small  teal-2"></div>
                    <div class="color-box-small  teal-3"></div>
                    <div class="color-box-small  teal-4"></div>
                    <div class="color-box-small  teal-5"></div>
                    <div class="color-box-small  teal-6"></div>
                </div>

                <div class="col s6">
                    <div class="color-box-small  red-1"></div>
                    <div class="color-box-small  red-2"></div>
                    <div class="color-box-small  red-3"></div>
                    <div class="color-box-small  red-4"></div>
                    <div class="color-box-small  red-5"></div>
                    <div class="color-box-small  red-6"></div>
                </div>

            </div>

        </div>

        <div class="section">

            <h3> TYPOGRAPHY </h3>

            <div class="divider"></div>

            <p class="chembl-font font-sample"> ChEMBL Helvetica </p>
            <p class="helvetica font-sample"> Helvetica </p>
            <p class="verdana font-sample"> Verdana </p>
            <p class="roboto-mono font-sample"> Roboto mono </p>

        </div>


        <div class="section">

            <h3> HEADERS TEXT </h3>

            <div class="divider"></div>

            <h1> This is an H1 Header </h1>

            <h2> This is an H2 Header </h2>

            <h3> This is an H3 Header </h3>

            <h4> This is an H4 Header </h4>

            <h5> This is an H5 Header </h5>

            <h6> This is an H6 Header </h6>

        </div>

        <div class="section">

            <h3> Layers </h3>

            <div class="divider"></div>

            <table>

                <thead>
                <tr>
                    <th>Name</th>
                    <th>z-index</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td> z-underlay</td>
                    <td> -1</td>
                </tr>
                <tr>
                    <td>z-default</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>z-over-a-bit</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>z-overlay</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>z-backdrop</td>
                    <td>8000</td>
                </tr>
                 <tr>
                    <td>z-on-top-of-the-top</td>
                    <td>9000</td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="section">

            <h3> Buttons </h3>

            <div class="divider"></div>

        </div>

    </div>

{% endblock %}

{% block custom_js_inline %}
    glados.apps.Main.MainGladosApp.hideMainSplashScreen()
{% endblock %}