<!-- Optional local footer (insert citation / project-specific copyright / etc here -->
<!--
<div id="local-footer" class="grid_24 clearfix">
<p>How to reference this page: ...</p>
</div>
-->
<!-- End optional local footer -->

<!-- EBI Large footer -->
<div id="global-footer" class="container hide-on-med-and-down">

  <!-- First row -->
  <div class="row" style="margin-bottom: 0px;">

    <!-- First column -->
    <div class="col s2 alpha">
      <a href="http://www.ebi.ac.uk" title="EMBL-EBI"><img
        src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.png"
        alt="EMBL European Bioinformatics Institute"></a>
    </div>

    <!-- Second column -->
    <div class="col s2">
      <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
    </div>

    <!-- Third column -->
    <div class="col s2">
      <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
    </div>

    <!-- Fourth column -->
    <div class="col s2">
      <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
    </div>

    <!-- Fifth column -->
    <div class="col s2">
      <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
    </div>

    <!-- Sixth column -->
    <div class="col s2">
      <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
    </div>

  </div>


  <!-- Second row -->
  <div class="row">


    <!-- First column -->
    <div class="col s2 alpha">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/about/news">News</a></li>
        <li><a href="//www.ebi.ac.uk/about/brochures">Brochures</a></li>
        <li><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
        <li class="last"><a href="http://intranet.ebi.ac.uk">Intranet</a></li>
      </ul>
    </div>

    <!-- Second column -->
    <div class="col s2">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/services">By topic</a></li>
        <li><a href="//www.ebi.ac.uk/services/all">By name (A-Z)</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/support">Help &amp; Support</a></li>
      </ul>
    </div>

    <!-- Third column -->
    <div class="col s2">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/research">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/research/publications">Publications</a></li>
        <li><a href="//www.ebi.ac.uk/research/groups">Research groups</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> &amp; <a
          href="//www.ebi.ac.uk/research/eipp">PhDs</a></li>
      </ul>
    </div>

    <!-- Fourth column -->
    <div class="col s2">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/training">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/training/handson">Train at EBI</a></li>
        <li><a href="//www.ebi.ac.uk/training/roadshow">Train outside EBI</a></li>
        <li><a href="//www.ebi.ac.uk/training/online">Train online</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a></li>
      </ul>
    </div>

    <!-- Fifth column -->
    <div class="col s2">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/industry">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/industry/private">Members Area</a></li>
        <li><a href="//www.ebi.ac.uk/industry/workshops">Workshops</a></li>
        <li><a href="//www.ebi.ac.uk/industry/sme-forum"><abbr title="Small Medium Enterprise">SME</abbr>
          Forum</a>
        </li>
        <li class="last"><a href="//www.ebi.ac.uk/industry/contact">Contact Industry programme</a></li>
      </ul>
    </div>

    <!-- Sixth column -->
    <div class="col s2">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/about">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/about/leadership">Leadership</a></li>
        <li><a href="//www.ebi.ac.uk/about/funding">Funding</a></li>
        <li><a href="//www.ebi.ac.uk/about/background">Background</a></li>
        <li><a href="//www.ebi.ac.uk/about/partnerships">Collaboration</a></li>
        <li><a href="//www.ebi.ac.uk/about/jobs" title="Jobs, postdocs, PhDs...">Jobs</a></li>
        <li><a href="//www.ebi.ac.uk/about/people">People &amp; groups</a></li>
        <li><a href="//www.ebi.ac.uk/about/news">News</a></li>
        <li><a href="//www.ebi.ac.uk/about/events">Events</a></li>
        <li><a href="//www.ebi.ac.uk/about/travel">Visit us</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
      </ul>
    </div>

  </div>

  <!-- Third row -->
  <div class="row" style="margin-bottom: 0px;">

    <!-- Only column -->
    <div class="col s12">
      <section id="ebi-footer-meta">
        <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton,
          Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
        <p class="terms-of-use">Copyright © EMBL-EBI 2016 | EBI is an outstation of the
          <a href="http://www.embl.org">European Molecular
            Biology Laboratory</a> | <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
        </p>
      </section>
    </div>

  </div>


</div>

<!-- EBI Medium footer -->
<div id="global-footer-medium" class="container show-on-medium hide-on-small-and-down hide-on-large-only">

  <!-- First row -->
  <div class="row" style="margin-bottom: 0px;">

    <!-- First column -->
    <div class="col s4 alpha">
      <a href="http://www.ebi.ac.uk" title="EMBL-EBI"><img width="105px" height="30px"
        src="/static/img/Ebi_official_logo_black.png"
        alt="EMBL European Bioinformatics Institute"></a>
    </div>

    <!-- Second column -->
    <div class="col s4">
      <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
    </div>

    <!-- Third column -->
    <div class="col s4">
      <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
    </div>

  </div>

  <!-- Second row -->
  <div class="row">

    <!-- First column -->
    <div class="col s4 alpha">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/about/news">News</a></li>
        <li><a href="//www.ebi.ac.uk/about/brochures">Brochures</a></li>
        <li><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
        <li class="last"><a href="http://intranet.ebi.ac.uk">Intranet</a></li>
      </ul>
    </div>

    <!-- Second column -->
    <div class="col s4">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/services">By topic</a></li>
        <li><a href="//www.ebi.ac.uk/services/all">By name (A-Z)</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/support">Help &amp; Support</a></li>
      </ul>
    </div>

    <!-- Third column -->
    <div class="col s4">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/research">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/research/publications">Publications</a></li>
        <li><a href="//www.ebi.ac.uk/research/groups">Research groups</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> &amp; <a
          href="//www.ebi.ac.uk/research/eipp">PhDs</a></li>
      </ul>
    </div>

  </div>


  <!-- Third row -->
  <div class="row">

    <!-- First column -->
    <div class="col s4">
      <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
    </div>

    <!-- Second column -->
    <div class="col s4">
      <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
    </div>

    <!-- Third column -->
    <div class="col s4">
      <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
    </div>


  </div>

  <!-- Fourth row -->
  <div class="row">

    <!-- First column -->
    <div class="col s4">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/training">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/training/handson">Train at EBI</a></li>
        <li><a href="//www.ebi.ac.uk/training/roadshow">Train outside EBI</a></li>
        <li><a href="//www.ebi.ac.uk/training/online">Train online</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a></li>
      </ul>
    </div>

    <!-- Second column -->
    <div class="col s4">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/industry">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/industry/private">Members Area</a></li>
        <li><a href="//www.ebi.ac.uk/industry/workshops">Workshops</a></li>
        <li><a href="//www.ebi.ac.uk/industry/sme-forum"><abbr title="Small Medium Enterprise">SME</abbr>
          Forum</a>
        </li>
        <li class="last"><a href="//www.ebi.ac.uk/industry/contact">Contact Industry programme</a></li>
      </ul>
    </div>

    <!-- Third column -->
    <div class="col s4">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/about">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/about/leadership">Leadership</a></li>
        <li><a href="//www.ebi.ac.uk/about/funding">Funding</a></li>
        <li><a href="//www.ebi.ac.uk/about/background">Background</a></li>
        <li><a href="//www.ebi.ac.uk/about/partnerships">Collaboration</a></li>
        <li><a href="//www.ebi.ac.uk/about/jobs" title="Jobs, postdocs, PhDs...">Jobs</a></li>
        <li><a href="//www.ebi.ac.uk/about/people">People &amp; groups</a></li>
        <li><a href="//www.ebi.ac.uk/about/news">News</a></li>
        <li><a href="//www.ebi.ac.uk/about/events">Events</a></li>
        <li><a href="//www.ebi.ac.uk/about/travel">Visit us</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
      </ul>
    </div>

  </div>

  <!-- Fifth row -->
  <div class="row" style="margin-bottom: 0px;">

    <!-- Only column -->
    <div class="col s12">
      <section id="ebi-footer-meta-medium">
        <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton,
          Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
        <p class="terms-of-use">Copyright © EMBL-EBI 2016 | EBI is an outstation of the
          <a href="http://www.embl.org">European Molecular
            Biology Laboratory</a> | <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
        </p>
      </section>
    </div>

  </div>


</div>

<!-- EBI Small footer -->
<div id="global-footer-small" class="container hide-on-med-and-up">

  <!-- First row -->
  <div class="row" style="margin-bottom: 0px;">

    <!-- First column -->
    <div class="col s6 alpha">
      <a href="http://www.ebi.ac.uk" title="EMBL-EBI"><img width="105px" height="30px"
        src="/static/img/Ebi_official_logo_black.png"
        alt="EMBL European Bioinformatics Institute"></a>
    </div>

    <!-- Second column -->
    <div class="col s6">
      <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
    </div>

  </div>

  <!-- Second row -->
  <div class="row">

    <!-- First column -->
    <div class="col s6 alpha">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/about/news">News</a></li>
        <li><a href="//www.ebi.ac.uk/about/brochures">Brochures</a></li>
        <li><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
        <li class="last"><a href="http://intranet.ebi.ac.uk">Intranet</a></li>
      </ul>
    </div>

    <!-- Second column -->
    <div class="col s6">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/services">By topic</a></li>
        <li><a href="//www.ebi.ac.uk/services/all">By name (A-Z)</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/support">Help &amp; Support</a></li>
      </ul>
    </div>
  </div>

  <!-- Third row -->
  <div class="row">

    <!-- First column -->
    <div class="col s6">
      <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
    </div>

    <!-- Second column -->
    <div class="col s6">
      <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
    </div>

  </div>

  <!-- Fourth row -->
  <div class="row">

    <!-- First column -->
    <div class="col s6">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/research">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/research/publications">Publications</a></li>
        <li><a href="//www.ebi.ac.uk/research/groups">Research groups</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> &amp; <a
          href="//www.ebi.ac.uk/research/eipp">PhDs</a></li>
      </ul>
    </div>

    <!-- Second column -->
    <div class="col s6">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/training">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/training/handson">Train at EBI</a></li>
        <li><a href="//www.ebi.ac.uk/training/roadshow">Train outside EBI</a></li>
        <li><a href="//www.ebi.ac.uk/training/online">Train online</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a></li>
      </ul>
    </div>

  </div>


  <!-- Fifth row -->
  <div class="row">

    <!-- First column -->
    <div class="col s6">
      <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
    </div>

    <!-- Second column -->
    <div class="col s6">
      <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
    </div>


  </div>

  <!-- Sixth row -->
  <div class="row">

    <!-- First column -->
    <div class="col s6">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/industry">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/industry/private">Members Area</a></li>
        <li><a href="//www.ebi.ac.uk/industry/workshops">Workshops</a></li>
        <li><a href="//www.ebi.ac.uk/industry/sme-forum"><abbr title="Small Medium Enterprise">SME</abbr>
          Forum</a>
        </li>
        <li class="last"><a href="//www.ebi.ac.uk/industry/contact">Contact Industry programme</a></li>
      </ul>
    </div>

    <!-- Second column -->

    <div class="col s6">
      <ul>
        <li class="first"><a href="//www.ebi.ac.uk/about">Overview</a></li>
        <li><a href="//www.ebi.ac.uk/about/leadership">Leadership</a></li>
        <li><a href="//www.ebi.ac.uk/about/funding">Funding</a></li>
        <li><a href="//www.ebi.ac.uk/about/background">Background</a></li>
        <li><a href="//www.ebi.ac.uk/about/partnerships">Collaboration</a></li>
        <li><a href="//www.ebi.ac.uk/about/jobs" title="Jobs, postdocs, PhDs...">Jobs</a></li>
        <li><a href="//www.ebi.ac.uk/about/people">People &amp; groups</a></li>
        <li><a href="//www.ebi.ac.uk/about/news">News</a></li>
        <li><a href="//www.ebi.ac.uk/about/events">Events</a></li>
        <li><a href="//www.ebi.ac.uk/about/travel">Visit us</a></li>
        <li class="last"><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
      </ul>
    </div>

  </div>

  <!-- Seventh row -->
  <div class="row" style="margin-bottom: 0px;">

    <!-- Only column -->
    <div class="col s12">
      <section id="ebi-footer-meta-small">
        <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton,
          Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
        <p class="terms-of-use">Copyright © EMBL-EBI 2016 | EBI is an outstation of the
          <a href="http://www.embl.org">European Molecular
            Biology Laboratory</a> | <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
        </p>
      </section>
    </div>

  </div>


</div>