{#<script defer="defer" src="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/js/script.js"></script>#}
<footer>
    <div id="global-footer" class="global-footer">
        <div id="global-nav-expanded" class="global-nav-expanded row">
            <div class="col s6 m2 ">
                <a href="//www.ebi.ac.uk" title="EMBL-EBI"><span class="ebi-logo"></span></a>
            </div>
            <div class="col s6 m2">
                <h5 class="services">
                    <a class="services-color" href="//www.ebi.ac.uk/services">Services</a>
                </h5>
                <ul>
                    <li class="first">
                        <a href="//www.ebi.ac.uk/services">By topic</a>
                    </li>
                    <li>
                        <a href="//www.ebi.ac.uk/services/all">By name (A-Z)</a>
                    </li>
                    <li class="last"><a href="//www.ebi.ac.uk/support">Help &amp; Support</a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m2"><h5 class="research"><a class="research-color"
                                                                          href="//www.ebi.ac.uk/research">Research</a>
            </h5>
                <ul>
                    <li><a href="//www.ebi.ac.uk/research/publications">Publications</a></li>
                    <li><a href="//www.ebi.ac.uk/research/groups">Research groups</a></li>
                    <li class="last"><a href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> &amp; <a
                            href="//www.ebi.ac.uk/research/eipp">PhDs</a></li>
                </ul>
            </div>
            <div class="col s6 m2"><h5 class="training"><a class="training-color"
                                                                          href="//www.ebi.ac.uk/training">Training</a>
            </h5>
                <ul>
                    <li><a href="//www.ebi.ac.uk/training/handson">Train at EBI</a></li>
                    <li><a href="//www.ebi.ac.uk/training/roadshow">Train outside EBI</a></li>
                    <li><a href="//www.ebi.ac.uk/training/online">Train online</a></li>
                    <li class="last"><a href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a></li>
                </ul>
            </div>
            <div class="col s6 m2"><h5 class="industry"><a class="industry-color"
                                                                          href="//www.ebi.ac.uk/industry">Industry</a>
            </h5>
                <ul>
                    <li><a href="//www.ebi.ac.uk/industry/private">Members Area</a></li>
                    <li><a href="//www.ebi.ac.uk/industry/workshops">Workshops</a></li>
                    <li><a href="//www.ebi.ac.uk/industry/sme-forum"><abbr title="Small Medium Enterprise">SME</abbr>
                        Forum</a></li>
                    <li class="last"><a href="//www.ebi.ac.uk/industry/contact">Contact Industry programme</a></li>
                </ul>
            </div>
            <div class="col s6 m2"><h5 class="about"><a class="ebi-color" href="//www.ebi.ac.uk/about">About
                EMBL-EBI</a></h5>
                <ul>
                    <li><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
                    <li><a href="//www.ebi.ac.uk/about/events">Events</a></li>
                    <li><a href="//www.ebi.ac.uk/about/jobs" title="Jobs, postdocs, PhDs...">Jobs</a></li>
                    <li class="first"><a href="//www.ebi.ac.uk/about/news">News</a></li>
                    <li><a href="//www.ebi.ac.uk/about/people">People &amp; groups</a></li>
                </ul>
            </div>
        </div>
        <section id="ebi-footer-meta" class="ebi-footer-meta row">
            <div class="col"><p class="address">EMBL-EBI, Wellcome Genome Campus, Hinxton, Cambridgeshire, CB10 1SD,
                UK. +44 (0)1223 49 44 44</p>
                <p class="legal">Copyright © EMBL-EBI 2018 | EMBL-EBI is <a href="http://www.embl.org/">part of the
                    European Molecular Biology Laboratory</a> | <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of
                    use</a><a class="readmore float-right" href="http://intranet.ebi.ac.uk">Intranet</a></p></div>
        </section>
    </div>
</footer>