<div id="masthead-black-bar" class="clearfix masthead-black-bar">
    <nav id="ebi-nav" class="row">
        <ul id="global-nav" class="menu">
            <!-- set active class as appropriate -->
            <li class="home-mobile"><a href="//www.ebi.ac.uk"></a></li>
            <li class="home active"><a href="//www.ebi.ac.uk">EMBL-EBI</a></li>
            <li class="services"><a href="//www.ebi.ac.uk/services">Services</a></li>
            <li class="research"><a href="//www.ebi.ac.uk/research">Research</a></li>
            <li class="training"><a href="//www.ebi.ac.uk/training">Training</a></li>
            <li class="about"><a href="//www.ebi.ac.uk/about">About us</a></li>
        </ul>
    </nav>
</div>