<!-- EBI Large Header -->
<div id="global-masthead" class="masthead hide-on-med-and-down">

  <nav>

    <!--This has to be one line and no newline characters-->
    <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage">

      <img
      src="http://www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png"
      alt="EMBL European Bioinformatics Institute">

    </a>

    <ul id="global-nav">
      <!-- set active class as appropriate-->
      <li id="services" class="first"><a href="//www.ebi.ac.uk/services" title="Services">Services</a></li>
      <li id="research"><a href="//www.ebi.ac.uk/research" title="Research">Research</a></li>
      <li id="training"><a href="//www.ebi.ac.uk/training" title="Training">Training</a></li>
      <li id="industry"><a href="//www.ebi.ac.uk/industry" title="Industry">Industry</a></li>
      <li id="about" class=" last"><a href="//www.ebi.ac.uk/about" title="About us">About us</a></li>
    </ul>
  </nav>

</div>

<!-- EBI Small and Medium Header -->

<div id="global-masthead-small" class="masthead hide-on-large-only">

  <nav>
    <div class="container" style="width: 100%;">

      <div class="row">

        <!-- EBI logo -->
        <div class="col s1 m3">
          <!--This has to be one line and no newline characters-->
          <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage"><img
            src="http://www.ebi.ac.uk/web_guidelines/responsify/EMBL_EBI-logo.svg"
            alt="EMBL European Bioinformatics Institute"></a>
        </div>

        <!-- Item services-->
        <div class="col s9 push-s2 m5 push-m4">


          <div id="masthead-mobile-about" class="menu-link">
            <a href="/about">
              <p class="embl-bar-icon"><span class="icon icon-generic" data-icon="i"></span></p>
              <p>About</p></a>
          </div>
          <div id="masthead-mobile-training" class="menu-link">
            <a href="/training">
              <p class="embl-bar-icon"><span class="icon icon-generic" data-icon="t"></span></p>
              <p>Training</p></a>
          </div>
          <div id="masthead-mobile-research" class="menu-link">
            <a href="/research">
              <p class="embl-bar-icon"><span class="icon icon-generic" data-icon=")"></span></p>
              <p>Research</p>
            </a>
          </div>
          <div id="masthead-mobile-services" class="menu-link">
            <a href="/services">
              <p class="embl-bar-icon"><span class="icon icon-generic" data-icon="("></span></p>
              <p>Services</p>
            </a>
          </div>


        </div>


      </div>

    </div>
  </nav>

</div>
