{% load static %}

<li class="menu-logo"><a href="#"> <img class="chembl-logo-header" alt="ChEMBL logo" src="{% static 'img/chembl_logo.png' %}"/></a></li>
<li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/unichem" target="_blank">UniChem</a></li>
<li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chemblntd" target="_blank">ChEMBL-NTD</a></li></li>
<li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/ws" target="_blank">Web Services </a></li>
<li><a class="waves-effect waves-teal" href="https://www.surechembl.org" target="_blank"> SureChEMBL </a></li>
<li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/rdf" target="_blank">EBI RDF Platform</a></li>
<li><a class="waves-effect waves-teal" href="{% url 'db_schema' %}" target="_blank">Schema Diagram</a></li>
<li><a class="waves-effect waves-teal" href="{% url 'ws_schema' %}" target="_blank">Web Services Diagram</a></li>
<li><a class="waves-effect waves-teal" href="{% url 'faqs' %}" target="_blank">FAQ</a></li>
<li><a class="waves-effect waves-teal" href="{% url 'acks' %}" target="_blank">Acknowledgements</a></li>
<li><a class="waves-effect waves-teal" href="http://chembl.github.io/status" target="_blank">Statistics</a></li>
<li><a class="waves-effect waves-teal" href="https://chembl.blogspot.co.uk" target="_blank">ChEMBL Blog</a></li>


