{% load static %}

<li class="menu-logo"><a href="#"> <img class="chembl-logo-header" alt="ChEMBL logo" src="#"/></a></li>
<li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/unichem">UniChem</a></li>
<li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chemblntd">ChEMBL-NTD</a></li></li>
<li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/ws">Web Services </a></li>
<li><a class="waves-effect waves-teal" href="https://www.surechembl.org/"> SureChEMBL </a></li>
<li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/rdf">EBI RDF Platform</a></li>
<li><a class="waves-effect waves-teal" href="{% url 'faqs' %}">FAQ</a></li>
<li><a class="waves-effect waves-teal" href="{% url 'acks' %}">Acknowledgements</a></li>
<li><a class="waves-effect waves-teal" href="http://chembl.github.io/status/">Statistics</a></li>


