{% extends "glados/base/base_layout_new.html" %}

{% block title %}Browse Compounds{% endblock %}

{% block content %}
<div class="container main-container">
  <h2>
    Browse Compounds
  </h2>

  <div class="BCK-BrowserContainer">

    <div class="BCK-MenuContainer">
        {% include "glados/Browsers/DefaultBrowserMenuContent.html" %}
    </div>

    <div class="BCK-BrowserCurrentViewContainer row">
      <div class="BCK-Facets-Container facets col s12 m3 l2" data-hb-template="Handlebars-Common-FacetsList">
      </div>
      <div class="BCK-Items-Container col s12 m9 l10"></div>
    </div>


  </div>


</div>
{% endblock %}

{% block custom_js_inline %}
CompoundsBrowserApp.init();
{% endblock %}