{% extends "glados/base/base_layout.html" %}

{% block title %}Browse Targets{% endblock %}

{% block content %}
<div class="container main-container">
  <h2>
    Browse Targets
  </h2>

  <div class="BCK-BrowserContainer">

    <div class="BCK-MenuContainer">
        {% include "glados/Browsers/DefaultBrowserMenuContent.html" %}
    </div>

    <div class="BCK-BrowserCurrentViewContainer">

    </div>


  </div>


</div>
{% endblock %}

{% block custom_js_inline %}
<!--CompoundsBrowserApp.init();-->
{% endblock %}