<div class="BCK-BrowserContainer">

    <div class="BCK-MenuContainer">
        {% include "glados/Browsers/DefaultBrowserMenuContent.html" %}
    </div>

    <div class="BCK-BrowserCurrentViewContainer row">

        <div class="browser-tools col s12 m4 l3">
            <div class="col s2 tool-bar">

                <a >
                    <i class="fa fa-chevron-left"></i>
                </a>

            </div>

            <div class="BCK-Facets-Container facets col s10" data-hb-template="Handlebars-Common-FacetsList"></div>
        </div>
      <div class="BCK-Items-Container col s12 m8 l9"></div>
    </div>


</div>