<div class="browser-menu row">

  <div class="col s12 m6 l5 BCK-changeView-btns-container"
       data-hb-template="Handlebars-SwitchColViewButtons">
    <!-- backbone fills this -->
  </div>

  <div class="col s12 m6 l3 BCK-selection-menu-container" data-hb-template="Handlebars-SelectionMenu">
    <!-- backbone fills this -->
  </div>

  <div class="col s12 m6 l4 right-align BCK-download-btns-container" data-hb-template="Handlebars-DownloadColButtons">
    <!-- backbone fills this -->
  </div>

</div>

<div class="row">
  <div class="col" >
    <span class="download-messages-container">
    </span>
  </div>
</div>