<div class="BCK-BrowserContainer">

    <div class="BCK-MenuContainer">
        {% include "glados/Browsers/DefaultBrowserMenuContent.html" %}
    </div>

    <div class="BCK-BrowserCurrentViewContainer browser-views-container row">

        <div class="BCK-ToolBar-Container browser-tools">
            <div class="BCK-tool-bar tool-bar">

                <a class="BCK-toggle-hide-filters menu-button" data-filters-open='yes'>
                    <i class="fa fa-2x fa-sliders"></i>
                </a>
                <a class="BCK-toggle-collapse-filters menu-button" data-filters-expanded='yes'>
                    <i class="fa fa-2x fa-angle-double-up"></i>
                </a>

                <div class="BCK-zoom-buttons-container zoom-buttons" data-hb-template="Handlebars-Common-CardsZoom">
                </div>

                <div class="BCK-special-structures-toggler-container toggle-special-structures-imgs">
                    <div class="tool-title">Similarity Maps</div>
                    <div class="switch">
                        <label>
                          On
                          <input checked type="checkbox">
                          <span class="lever"></span>
                          Off
                        </label>
                    </div>
                </div>


            </div>
        </div><!--
      --><div class="BCK-Facets-Container facets" >
            <div class="BCK-show-hide-filters-modal-container" data-hb-template="Handlebars-Common-EditFiltersModal"></div>
            <div class="BCK-Facets-content" data-hb-template="Handlebars-Common-FacetsList"></div>

        </div><!--
      --><div class="BCK-Items-Container pag-items-container"></div>
    </div>


</div>