{% load static %}
<div class="BCK-BrowserContainer" >

    <div class="BCK-query-editor" data-hb-template="Handlebars-Common-QueryEditor">
    </div>

    <div class="BCK-MenuContainer">
        {% include "glados/Browsers/DefaultBrowserMenuContent.html" %}
    </div>

    <div class="BCK-BrowserCurrentViewContainer browser-views-container row">

        <div class="BCK-ToolBar-Container browser-tools">
            <div class="BCK-tool-bar tool-bar">

                <a class="BCK-toggle-hide-filters menu-button" data-filters-open='yes'>
                    <i class="fa fa-2x fa-sliders"></i>
                </a>
                <a class="BCK-toggle-collapse-filters menu-button" data-filters-expanded='yes'>
                    <i class="fa fa-2x fa-angle-double-up"></i>
                </a>

                <div class="BCK-zoom-buttons-container zoom-buttons" data-hb-template="Handlebars-Common-CardsZoom">
                </div>

                <div class="BCK-special-structures-toggler-container toggle-special-structures-imgs"
                     data-hb-template="Handlebars-Common-SpecialStructuresControls">
                </div>


            </div>
        </div><!--
      --><div class="BCK-Facets-Container facets div-cover-wrapper" >
            <div class="BCK-show-hide-filters-modal-container" data-hb-template="Handlebars-Common-EditFiltersTitle"></div>
            <div class="BCK-Facets-content" data-hb-template="Handlebars-Common-FacetsList"></div>

            <div class="div-cover" style="display: none;">
                <div class="div-cover-centered top-aligned">
                  <p>
                    Please wait until<br>the download is complete
                  </p>
                  <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-green-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <img src="{% static 'img/glados_potato.png' %}" style="width: 100%; position: absolute; bottom: 2%;">
            </div>
        </div><!--
      --><div class="BCK-View-Container pag-items-container"></div>
    </div>


</div>