<div class="BCK-Browser-Menu-Container browser-menu row" data-hb-template="Handlebars-BrowserMenuContent"
data-hb-preloader-template="Handlebars-Common-LinearPreloader">
</div>

<div class="row">
  <div class="col" >
    <div class="BCK-download-messages-container" >
      <div class="BCK-download-error-msg" data-hb-error-template="Handlebars-Common-CardError"></div>
      <div class="BCK-progress-container" data-hb-template="Handlebars-Common-LinearPreloader-Determinate"></div>
      <div class="BCK-status-link-container" data-hb-template="Handlebars-Common-DownloadProgressLink"></div>
    </div>
  </div>
</div>