{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}ABasicInformation{% endblock %}

{% block table %}
<table class="compact-table striped hide-on-small-only">

  <tr>
    <td class="fixed-width-column-11"><b>Assay ID:</b></td>
    <td>CHEMBL1025800</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Type:</b></td>
    <td>ADME</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Description:</b></td>
    <td>Stability in 30% human plasma assessed as half life of hydrolysis at pH 7.4 in presence of 20 uM
      dubucaine-insensitive BuChE subtype inhibitor dibucaine
    </td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Format:</b></td>
    <td>Unclassified (BAO_0000366)</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Journal:</b></td>
    <td><a href="http://europepmc.org/abstract/MED/19049433" target="_blank">J. Med. Chem. (2008) 51:7991-7999</a></td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Organism:</b></td>
    <td>Homo sapiens</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Strain:</b></td>
    <td></td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Tissue:</b></td>
    <td>Plasma</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Cell Type:</b></td>
    <td></td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Subcellular Fraction:</b></td>
    <td></td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>No of Bioactivities:</b></td>
    <td>1</td>
  </tr>

</table>
{% endblock %}

{% block collection %}

<ul class="collection hide-on-med-and-up">
  <li class="collection-item">

    <b>Assay ID:</b> CHEMBL1025800

  </li>

  <li class="collection-item">

    <b>Type:</b> ADME

  </li>

  <li class="collection-item">

    <b>Description:</b> Stability in 30% human plasma assessed as half life of hydrolysis at pH 7.4 in presence of 20 uM
      dubucaine-insensitive BuChE subtype inhibitor dibucaine

  </li>

  <li class="collection-item">

    <b>Format:</b> ADME

  </li>

  <li class="collection-item">

    <b>Unclassified (BAO_0000366)</b> ADME

  </li>

  <li class="collection-item">

    <b>Journal:</b> <a href="http://europepmc.org/abstract/MED/19049433" target="_blank">J. Med. Chem. (2008) 51:7991-7999</a>

  </li>

  <li class="collection-item">

    <b>Organism:</b> Homo sapiens

  </li>

  <li class="collection-item">

    <b>Strain:</b>

  </li>

  <li class="collection-item">

    <b>Tissue:</b> Plasma

  </li>

  <li class="collection-item">

    <b>Cell Type:</b>

  </li>

  <li class="collection-item">

    <b>Subcellular Fraction:</b>

  </li>

  <li class="collection-item">

    <b>No of Bioactivities:</b> 1

  </li>

</ul>
{% endblock %}