{% extends "glados/base/embed_base.html" %}

{% block title %}Curation Summary{% endblock %}

{% block content %}

   <div id="AssayCurationSummary" style="margin-top: 25px;">
     {% with is_dynamic=True  %}
      {% include "glados/AssayReportCardParts/CurationSummary.html" %}
     {% endwith %}
   </div>

{% endblock %}


{% block custom_js_inline %}

var assay = AssayReportCardApp.initAssay(CHEMBL_ID);
var acsView = AssayReportCardApp.initACSView(assay, $('#ACurationSummaryCard'));
assay.fetch()

{% endblock %}