<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  {% load compress %}
  <!-- Imports used by all the templates-->

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% compress css %}
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/static/css/materialize.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/static/css/chembl-style.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/static/css/chembl-icons.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/static/css/easychem.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/static/css/font-awesome.css" media="screen,projection"/>
  {% endcompress %}
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Imports used by the current template -->
  {% block stylesheets %}{% endblock %}

</head>

<body>

<header>
  <div class="row">

    {% block header %}
      {% include "glados/base/header.html" %}
    {% endblock %}

  </div>

  <div class="row">
   {% block chembl_header %}
      {% include "glados/base/chembl_header.html" %}
    {% endblock %}
  </div>

</header>


<main>


  <!-- Side Navbar-->
  {% block side_nav %}
    {% include "glados/base/side_nav.html" %}
  {% endblock %}


  {% block content %}{% endblock %}

</main>

<!------------------------------------------------------------------------------------------------------------------>
<!-- Footer -->
<!------------------------------------------------------------------------------------------------------------------>
<footer>
  {% block footer %}
    {% include "glados/base/footer.html" %}
  {% endblock %}
</footer>


<!------------------------------------------------------------------------------------------------------------------>
<!-- APIs -->
<!------------------------------------------------------------------------------------------------------------------>

<!-- common imports for all templates -->
{% compress js %}
<script type="text/javascript" src="/static/js/api/jquery-2.2.0.js"></script>
<script type="text/javascript" src="/static/js/api/materialize.js"></script>
<script type="text/javascript" src="/static/js/styling/menu_helper.js"></script>
<script type="text/javascript" src="/static/js/api/underscore.js"></script>
<script type="text/javascript" src="/static/js/api/backbone.js"></script>
<script type="text/javascript" src="/static/js/api/handlebars-v4.0.5.js"></script>

{% endcompress %}

<!-- custom js imports that each template decides to load -->
{% compress js %}
   {% block custom_js %}{% endblock %}
{% endcompress %}

<!-- inline javascript -->
{% compress js %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {

    // initialization of visualization code.
    // This controls the padding of the sidenav.
    initializeTopMenuController();
    // collapse button, the one that shows the sidenav on mobile
    $(".button-collapse").sideNav();

    {% block custom_js_inline %}{% endblock %}

  });
</script>
{% endcompress%}

<!-- common imports for all templates that need to be last -->
{% compress js %}
<!-- this sets up the styles for the chemical formulas after they have been rendered in the page-->
<script type="text/javascript" src="/static/js/api/easychem.js"></script>
{% endcompress %}


</body>
</html>