<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  {% load compress %}
  <!-- Imports used by all the templates-->

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% compress css %}
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/static/css/materialize.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/static/css/chembl-style.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/static/css/chembl-icons.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/static/css/easychem.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/static/css/font-awesome.css" media="screen,projection"/>
  {% endcompress %}
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Imports used by the current template -->
  {% block stylesheets %}{% endblock %}

</head>

<body>

<header>
  <div class="row">

    <!-- EBI Large Header -->
    <div id="global-masthead" class="masthead hide-on-med-and-down">

      <nav>

        <!--This has to be one line and no newline characters-->
        <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage"><img
          src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png"
          alt="EMBL European Bioinformatics Institute"></a>

        <ul id="global-nav">
          <!-- set active class as appropriate-->
          <li id="services" class="first active"><a href="//www.ebi.ac.uk/services" title="Services">Services</a></li>
          <li id="research"><a href="//www.ebi.ac.uk/research" title="Research">Research</a></li>
          <li id="training"><a href="//www.ebi.ac.uk/training" title="Training">Training</a></li>
          <li id="industry"><a href="//www.ebi.ac.uk/industry" title="Industry">Industry</a></li>
          <li id="about" class=" last"><a href="//www.ebi.ac.uk/about" title="About us">About us</a></li>
        </ul>
      </nav>

    </div>

    <!-- EBI Small and Medium Header -->

    <div id="global-masthead-small" class="masthead hide-on-large-only">

      <nav>
        <div class="container" style="width: 100%;">

          <div class="row">

            <!-- EBI logo -->
            <div class="col s1 m3">
              <!--This has to be one line and no newline characters-->
              <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage"><img
                src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png"
                alt="EMBL European Bioinformatics Institute"></a>
            </div>

            <!-- Item services-->
            <div class="col s9 push-s2 m5 push-m4">


              <div id="masthead-mobile-about" class="menu-link">
                <a href="/about">
                  <p class="embl-bar-icon"><span class="icon-info"></span></p>
                  <p>About</p></a>
              </div>
              <div id="masthead-mobile-training" class="menu-link">
                <a href="/training">
                  <p class="embl-bar-icon"><span class="icon-tutorial"></span></p>
                  <p>Training</p></a>
              </div>
              <div id="masthead-mobile-research" class="menu-link">
                <a href="/research">
                  <p class="embl-bar-icon"><span class="icon-research"></span></p>
                  <p>Research</p>
                </a>
              </div>
              <div id="masthead-mobile-services" class="menu-link active">
                <a href="/services">
                  <p class="embl-bar-icon"><span class="icon-services"></span></p>
                  <p>Services</p>
                </a>
              </div>


            </div>


          </div>

        </div>
      </nav>

    </div>

  </div>

  <div class="row">
    <!-- ChEMBL Header-->
    <nav class="top-nav">
      <!-- To show the side navbar when it has been hidden-->
      <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse full hide-on-large-only">
          <i class="mdi-navigation-menu" style="line-height: 50px;"></i>
        </a>
      </div>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">ChEMBL
            <small><span class="icon-beta"></span></small>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><img alt="Wellcome Trust" src="/static/img/wellcometrust.png" height="30"
                     style="padding-top: 10px;"/>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</header>


<main>


  <!-- Side Navbar-->

  <!-- This shows when the screen is large -->
  <ul class="side-nav fixed hide-on-med-and-down teal lighten-5">
    <li class="menu-logo"><a href="#"><img title="Go to the ChEMBL homepage" alt="ChEMBL logo"
                                           src="/static/img/chembl_logo.png"/></a></li>
    <li><a class="waves-effect waves-teal" href="#">Downloads</a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/unichem">UniChem</a></li>
    <li><a class="waves-effect waves-teal" href="#">Malaria Data</a></li>
    <li><a class="waves-effect waves-teal" href="#">ChEMBL-NTD</a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/admesarfari">ADME SARfari <span class="new badge"></span></a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/sarfari/kinasesarfari">Kinase SARfari </a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/sarfari/gpcrsarfari">GPCR Sarfari</a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/drugebility/structure">DrugEBility</a></li>
    <li><a class="waves-effect waves-teal" href="#">Web Services <span class="new badge"></span></a></li>
    <li><a class="waves-effect waves-teal" href="https://www.surechembl.org/">SureChEMBL <span class="new badge"></span></a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/rdf">EBI RDF Platform</a></li>
    <li><a class="waves-effect waves-teal" href="#">FAQ</a></li>
    <li><a class="waves-effect waves-teal" href="#">Statistics</a></li>
  </ul>
  <!-- This shows when the screen is medium or smaller -->
  <ul id="slide-out" class="side-nav teal lighten-5">
     <li class="menu-logo"><a href="#"><img title="Go to the ChEMBL homepage" alt="ChEMBL logo"
                                           src="/static/img/chembl_logo.png"/></a></li>
    <li><a class="waves-effect waves-teal" href="#">Downloads</a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/unichem">UniChem</a></li>
    <li><a class="waves-effect waves-teal" href="#">Malaria Data</a></li>
    <li><a class="waves-effect waves-teal" href="#">ChEMBL-NTD</a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/admesarfari">ADME SARfari <span class="new badge"></span></a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/sarfari/kinasesarfari">Kinase SARfari </a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/sarfari/gpcrsarfari">GPCR Sarfari</a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/drugebility/structure">DrugEBility</a></li>
    <li><a class="waves-effect waves-teal" href="#">Web Services <span class="new badge"></span></a></li>
    <li><a class="waves-effect waves-teal" href="https://www.surechembl.org/">SureChEMBL <span class="new badge"></span></a></li>
    <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/rdf">EBI RDF Platform</a></li>
    <li><a class="waves-effect waves-teal" href="#">FAQ</a></li>
    <li><a class="waves-effect waves-teal" href="#">Statistics</a></li>
  </ul>

  {% block content %}{% endblock %}

</main>

<!------------------------------------------------------------------------------------------------------------------>
<!-- Footer -->
<!------------------------------------------------------------------------------------------------------------------>

<footer>

  <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
  <!--
  <div id="local-footer" class="grid_24 clearfix">
<p>How to reference this page: ...</p>
</div>
  -->
  <!-- End optional local footer -->

  <!-- EBI Large footer -->
  <div id="global-footer" class="container hide-on-med-and-down">

    <!-- First row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- First column -->
      <div class="col s2 alpha">
        <a href="http://www.ebi.ac.uk" title="EMBL-EBI"><img
          src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.png"
          alt="EMBL European Bioinformatics Institute"></a>
      </div>

      <!-- Second column -->
      <div class="col s2">
        <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
      </div>

      <!-- Third column -->
      <div class="col s2">
        <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
      </div>

      <!-- Fourth column -->
      <div class="col s2">
        <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
      </div>

      <!-- Fifth column -->
      <div class="col s2">
        <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
      </div>

      <!-- Sixth column -->
      <div class="col s2">
        <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
      </div>

    </div>


    <!-- Second row -->
    <div class="row">


      <!-- First column -->
      <div class="col s2 alpha">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/brochures">Brochures</a></li>
          <li><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
          <li class="last"><a href="http://intranet.ebi.ac.uk">Intranet</a></li>
        </ul>
      </div>

      <!-- Second column -->
      <div class="col s2">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/services">By topic</a></li>
          <li><a href="//www.ebi.ac.uk/services/all">By name (A-Z)</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/support">Help &amp; Support</a></li>
        </ul>
      </div>

      <!-- Third column -->
      <div class="col s2">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/research">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/research/publications">Publications</a></li>
          <li><a href="//www.ebi.ac.uk/research/groups">Research groups</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> &amp; <a
            href="//www.ebi.ac.uk/research/eipp">PhDs</a></li>
        </ul>
      </div>

      <!-- Fourth column -->
      <div class="col s2">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/training">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/training/handson">Train at EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/roadshow">Train outside EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/online">Train online</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a></li>
        </ul>
      </div>

      <!-- Fifth column -->
      <div class="col s2">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/industry">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/industry/private">Members Area</a></li>
          <li><a href="//www.ebi.ac.uk/industry/workshops">Workshops</a></li>
          <li><a href="//www.ebi.ac.uk/industry/sme-forum"><abbr title="Small Medium Enterprise">SME</abbr>
            Forum</a>
          </li>
          <li class="last"><a href="//www.ebi.ac.uk/industry/contact">Contact Industry programme</a></li>
        </ul>
      </div>

      <!-- Sixth column -->
      <div class="col s2">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/about/leadership">Leadership</a></li>
          <li><a href="//www.ebi.ac.uk/about/funding">Funding</a></li>
          <li><a href="//www.ebi.ac.uk/about/background">Background</a></li>
          <li><a href="//www.ebi.ac.uk/about/partnerships">Collaboration</a></li>
          <li><a href="//www.ebi.ac.uk/about/jobs" title="Jobs, postdocs, PhDs...">Jobs</a></li>
          <li><a href="//www.ebi.ac.uk/about/people">People &amp; groups</a></li>
          <li><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/events">Events</a></li>
          <li><a href="//www.ebi.ac.uk/about/travel">Visit us</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
        </ul>
      </div>

    </div>

    <!-- Third row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- Only column -->
      <div class="col s12">
        <section id="ebi-footer-meta">
          <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton,
            Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
          <p class="terms-of-use">Copyright © EMBL-EBI 2016 | EBI is an outstation of the
            <a href="http://www.embl.org">European Molecular
              Biology Laboratory</a> | <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
          </p>
        </section>
      </div>

    </div>


  </div>

  <!-- EBI Medium footer -->
  <div id="global-footer-medium" class="container show-on-medium hide-on-small-and-down hide-on-large-only">

    <!-- First row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- First column -->
      <div class="col s4 alpha">
        <a href="http://www.ebi.ac.uk" title="EMBL-EBI"><img
          src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.png"
          alt="EMBL European Bioinformatics Institute"></a>
      </div>

      <!-- Second column -->
      <div class="col s4">
        <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
      </div>

      <!-- Third column -->
      <div class="col s4">
        <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
      </div>

    </div>

    <!-- Second row -->
    <div class="row">

      <!-- First column -->
      <div class="col s4 alpha">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/brochures">Brochures</a></li>
          <li><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
          <li class="last"><a href="http://intranet.ebi.ac.uk">Intranet</a></li>
        </ul>
      </div>

      <!-- Second column -->
      <div class="col s4">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/services">By topic</a></li>
          <li><a href="//www.ebi.ac.uk/services/all">By name (A-Z)</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/support">Help &amp; Support</a></li>
        </ul>
      </div>

      <!-- Third column -->
      <div class="col s4">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/research">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/research/publications">Publications</a></li>
          <li><a href="//www.ebi.ac.uk/research/groups">Research groups</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> &amp; <a
            href="//www.ebi.ac.uk/research/eipp">PhDs</a></li>
        </ul>
      </div>

    </div>


    <!-- Third row -->
    <div class="row">

      <!-- First column -->
      <div class="col s4">
        <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
      </div>

      <!-- Second column -->
      <div class="col s4">
        <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
      </div>

      <!-- Third column -->
      <div class="col s4">
        <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
      </div>


    </div>

    <!-- Fourth row -->
    <div class="row">

      <!-- First column -->
      <div class="col s4">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/training">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/training/handson">Train at EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/roadshow">Train outside EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/online">Train online</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a></li>
        </ul>
      </div>

      <!-- Second column -->
      <div class="col s4">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/industry">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/industry/private">Members Area</a></li>
          <li><a href="//www.ebi.ac.uk/industry/workshops">Workshops</a></li>
          <li><a href="//www.ebi.ac.uk/industry/sme-forum"><abbr title="Small Medium Enterprise">SME</abbr>
            Forum</a>
          </li>
          <li class="last"><a href="//www.ebi.ac.uk/industry/contact">Contact Industry programme</a></li>
        </ul>
      </div>

      <!-- Third column -->
      <div class="col s4">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/about/leadership">Leadership</a></li>
          <li><a href="//www.ebi.ac.uk/about/funding">Funding</a></li>
          <li><a href="//www.ebi.ac.uk/about/background">Background</a></li>
          <li><a href="//www.ebi.ac.uk/about/partnerships">Collaboration</a></li>
          <li><a href="//www.ebi.ac.uk/about/jobs" title="Jobs, postdocs, PhDs...">Jobs</a></li>
          <li><a href="//www.ebi.ac.uk/about/people">People &amp; groups</a></li>
          <li><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/events">Events</a></li>
          <li><a href="//www.ebi.ac.uk/about/travel">Visit us</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
        </ul>
      </div>

    </div>

    <!-- Fifth row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- Only column -->
      <div class="col s12">
        <section id="ebi-footer-meta-medium">
          <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton,
            Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
          <p class="terms-of-use">Copyright © EMBL-EBI 2016 | EBI is an outstation of the
            <a href="http://www.embl.org">European Molecular
              Biology Laboratory</a> | <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
          </p>
        </section>
      </div>

    </div>


  </div>

  <!-- EBI Small footer -->
  <div id="global-footer-small" class="container hide-on-med-and-up">

    <!-- First row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- First column -->
      <div class="col s6 alpha">
        <a href="http://www.ebi.ac.uk" title="EMBL-EBI"><img
          src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.png"
          alt="EMBL European Bioinformatics Institute"></a>
      </div>

      <!-- Second column -->
      <div class="col s6">
        <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
      </div>

    </div>

    <!-- Second row -->
    <div class="row">

      <!-- First column -->
      <div class="col s6 alpha">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/brochures">Brochures</a></li>
          <li><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
          <li class="last"><a href="http://intranet.ebi.ac.uk">Intranet</a></li>
        </ul>
      </div>

      <!-- Second column -->
      <div class="col s6">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/services">By topic</a></li>
          <li><a href="//www.ebi.ac.uk/services/all">By name (A-Z)</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/support">Help &amp; Support</a></li>
        </ul>
      </div>
    </div>

    <!-- Third row -->
    <div class="row">

      <!-- First column -->
      <div class="col s6">
        <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
      </div>

      <!-- Second column -->
      <div class="col s6">
        <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
      </div>

    </div>

    <!-- Fourth row -->
    <div class="row">

      <!-- First column -->
      <div class="col s6">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/research">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/research/publications">Publications</a></li>
          <li><a href="//www.ebi.ac.uk/research/groups">Research groups</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> &amp; <a
            href="//www.ebi.ac.uk/research/eipp">PhDs</a></li>
        </ul>
      </div>

      <!-- Second column -->
      <div class="col s6">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/training">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/training/handson">Train at EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/roadshow">Train outside EBI</a></li>
          <li><a href="//www.ebi.ac.uk/training/online">Train online</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a></li>
        </ul>
      </div>

    </div>


    <!-- Fifth row -->
    <div class="row">

      <!-- First column -->
      <div class="col s6">
        <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
      </div>

      <!-- Second column -->
      <div class="col s6">
        <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
      </div>


    </div>

    <!-- Sixth row -->
    <div class="row">

      <!-- First column -->
      <div class="col s6">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/industry">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/industry/private">Members Area</a></li>
          <li><a href="//www.ebi.ac.uk/industry/workshops">Workshops</a></li>
          <li><a href="//www.ebi.ac.uk/industry/sme-forum"><abbr title="Small Medium Enterprise">SME</abbr>
            Forum</a>
          </li>
          <li class="last"><a href="//www.ebi.ac.uk/industry/contact">Contact Industry programme</a></li>
        </ul>
      </div>

      <!-- Second column -->

      <div class="col s6">
        <ul>
          <li class="first"><a href="//www.ebi.ac.uk/about">Overview</a></li>
          <li><a href="//www.ebi.ac.uk/about/leadership">Leadership</a></li>
          <li><a href="//www.ebi.ac.uk/about/funding">Funding</a></li>
          <li><a href="//www.ebi.ac.uk/about/background">Background</a></li>
          <li><a href="//www.ebi.ac.uk/about/partnerships">Collaboration</a></li>
          <li><a href="//www.ebi.ac.uk/about/jobs" title="Jobs, postdocs, PhDs...">Jobs</a></li>
          <li><a href="//www.ebi.ac.uk/about/people">People &amp; groups</a></li>
          <li><a href="//www.ebi.ac.uk/about/news">News</a></li>
          <li><a href="//www.ebi.ac.uk/about/events">Events</a></li>
          <li><a href="//www.ebi.ac.uk/about/travel">Visit us</a></li>
          <li class="last"><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>
        </ul>
      </div>

    </div>

    <!-- Seventh row -->
    <div class="row" style="margin-bottom: 0px;">

      <!-- Only column -->
      <div class="col s12">
        <section id="ebi-footer-meta-small">
          <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton,
            Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
          <p class="terms-of-use">Copyright © EMBL-EBI 2016 | EBI is an outstation of the
            <a href="http://www.embl.org">European Molecular
              Biology Laboratory</a> | <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
          </p>
        </section>
      </div>

    </div>


  </div>


</footer>

<!------------------------------------------------------------------------------------------------------------------>
<!-- APIs -->
<!------------------------------------------------------------------------------------------------------------------>

<!-- common imports for all templates -->
{% compress js %}
<script type="text/javascript" src="/static/js/api/jquery-2.2.0.js"></script>
<script type="text/javascript" src="/static/js/api/materialize.js"></script>
<script type="text/javascript" src="/static/js/api/easychem.js"></script>
<script type="text/javascript" src="/static/js/styling/menu_helper.js"></script>
<script type="text/javascript" src="/static/js/api/underscore.js"></script>
<script type="text/javascript" src="/static/js/api/backbone.js"></script>
<script type="text/javascript" src="/static/js/api/underscore.js"></script>

{% endcompress %}

<!-- custom js imports that each template decides to load -->
{% compress js %}
   {% block custom_js %}{% endblock %}
{% endcompress %}

<!-- inline javascript -->
{% compress js %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {

    // initialization of visualization code.
    // This controls the padding of the sidenav.
    initializeTopMenuController();
    // collapse button, the one that shows the sidenav on mobile
    $(".button-collapse").sideNav();

    {% block custom_js_inline %}{% endblock %}

  });
</script>
{% endcompress%}

</body>
</html>