<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- google graphs loader -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  {% load compress %}
  <!-- Imports used by all the templates-->
  {% block common_css %}
    {% include "glados/base/css_imports_for_all.html" %}
  {% endblock %}


  <!-- Imports used by the current template -->
  {% block stylesheets %}{% endblock %}

</head>

<body>

<header>
  <div class="row">

    {% block header %}
      {% include "glados/base/header.html" %}
    {% endblock %}

  </div>

  <div class="row">
   {% block chembl_header %}
      {% include "glados/base/chembl_header.html" %}
    {% endblock %}
  </div>

</header>


<main>


  <!-- Side Navbar-->
  {% block side_nav %}
    {% include "glados/base/side_nav.html" %}
  {% endblock %}


  {% block content %}{% endblock %}

</main>

<!-- - - - - - - - - - - - - - - - - - - - -->
<!-- Footer -->
<!-- - - - - - - - - - - - - - - - - - - - -->
<footer  class="page-footer">
  {% block footer %}
    {% include "glados/base/footer.html" %}
  {% endblock %}
</footer>


<!-- - - - - - - - - - - - - - - - - - - - -->
<!-- APIs -->
<!-- - - - - - - - - - - - - - - - - - - - -->

<!-- common imports for all templates -->
{% compress js %}

   {% block common_js %}
    {% include "glados/base/js_imports_for_all.html" %}
  {% endblock %}

{% endcompress %}

<!-- custom js imports that each template decides to load -->
{% compress js %}
   {% block custom_js %}{% endblock %}
{% endcompress %}

<!-- handlebars templates -->
{% block common_handlebars %}
  {% include "glados/Handlebars/CommonSources.html" %}
{% endblock %}

{% block custom_handlebars %}
{% endblock %}

<!-- inline javascript -->
{% compress js %}
<script type="text/javascript" charset="utf-8">

  SMALL_WIDTH = 600
  MEDIUM_WIDTH = 992

  $(document).ready(function () {

    // initialization of visualization code.
    // This controls the padding of the sidenav.
    SideMenuHelper.initializeTopMenuController();
    // collapse button, the one that shows the sidenav on mobile
    $(".button-collapse").sideNav();
    SideMenuHelper.complementaryinitSideNav();

    {% block custom_js_inline %}{% endblock %}

  });
</script>
{% endcompress%}

<!-- a function to be called after the content is rendered  -->
{% compress js %}
<script type="text/javascript" charset="utf-8">

  afterRender = function (){

    {% block custom_afterRender %}{% endblock %}

  }

</script>
{% endcompress%}

<!-- common imports for all templates that need to be last -->
{% compress js %}
<!-- this sets up the styles for the chemical formulas after they have been rendered in the page-->
<script type="text/javascript" src="/static/js/api/easychem.js"></script>
{% endcompress %}


</body>
</html>