<div class="col s12 m10 l12">

  <div id='{% block card_id %}{% endblock %}' class="card chembl-card grey lighten-5">

    <div class="card-content">

      <div class="row">

        <div class="col s3">

          {% block buttons %}
          {% endblock %}

        </div>
      </div>
      <div class="row">

        <div class="col s12">

            {% block expandable %}
            {% endblock %}

            {% block table %}
            {% endblock %}


            {% block collection %}
            {% endblock %}

        </div>

      </div>

    </div>
  </div>

</div>