<a id='{{btn_id}}'
   class="waves-effect waves-light teal btn-mini download-text {{additional_classes}} tooltipped BCK-open-download-options"
   data-position="bottom"
   data-tooltip="Download">
  <i class="fa fa-download"></i>
</a>

<a
  class="waves-effect waves-light teal btn-mini download-text {{additional_classes}} tooltipped BCK-open-download-options BCK-trigger-download-CSV"
  data-position="bottom"
  data-tooltip="CSV">
  CSV
</a>

<a
  class="waves-effect waves-light teal btn-mini download-text {{additional_classes}} tooltipped BCK-open-download-options center-align BCK-trigger-download-JSON"
  data-position="bottom"
  data-tooltip="JSON">
  JSON
</a>




