<!-- Preloader -->
<div class="card-preolader-to-hide">

  <div class="progress">
    <div class="indeterminate"></div>
  </div>


</div>

<!-- Error message -->
<div class="card-load-error" style="display:none">

  <div class="card-panel red darken-4">
                  <span class="white-text">
                    <p  class="center-align Bck-errormsg">
                      <i class="fa fa-exclamation-circle"></i>
                      <!--Backbone -->
                    </p>
                  </span>
  </div>


</div>