<nav class="top-nav">
  <!-- To show the side navbar when it has been hidden-->
  <div class="container">
    <a href="#" data-activates="slide-out" class="button-collapse full hide-on-large-only">
      <i class="mdi-navigation-menu" style="line-height: 50px;"></i>
    </a>
  </div>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">ChEMBL
        <small><span class="icon icon-generic" data-icon =">" ></span></small>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><img alt="Wellcome Trust" src="/static/img/wellcometrust.png" height="30"
                 style="padding-top: 10px;"/>
        </li>
      </ul>
    </div>
  </div>
</nav>