<nav class="top-nav">
  <!-- To show the side navbar when it has been hidden-->
  <div class="container">

    <a href="#" data-activates="slide-out" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>

  </div>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">ChEMBL
        <small><span class="icon icon-generic" data-icon=">"></span></small>
      </a>
      <ul class="right hide-on-med-and-down">

        <li><img alt="Wellcome Trust" src="/static/img/wellcometrust.png" height="30"
                 style="padding-top: 10px;"/>
        </li>

      </ul>

    </div>
  </div>

  <div class="donwload-database-btn">
      <a href="#" class="right">
        <small><i class="fa fa-download" aria-hidden="true"></i></small>
      </a>

  </div>
</nav>