<!-- the view generates the id for this modal when the card is loaded -->
<div class="modal embed-modal">
  <div class="modal-content">
    <h3>Embed Card</h3>
    <p>Use the following code to embed the card in your site: </p>
    <code>

    </code>

    <p>You can change the width and height as you need. </p>

    <p>Preview:</p>

    <div class="container">

      <div class="embed-preview">
      </div>

    </div>


  </div>

  <div class="modal-close-icon">
    <a href="#!" class=" modal-action modal-close btn-flat"><i class="fa fa-times"></i></a>
  </div>

</div>