<script type="text/javascript" src="/static/js/api/jquery-2.2.0.js"></script>
<script type="text/javascript" src="/static/js/api/materialize.js"></script>
<script type="text/javascript" src="/static/js/styling/menu_helper.js"></script>
<script type="text/javascript" src="/static/js/api/underscore.js"></script>
<script type="text/javascript" src="/static/js/api/backbone.js"></script>
<script type="text/javascript" src="/static/js/api/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="/static/js/api/clipboard.js"></script>