<script type="text/javascript" src="/static/js/api/jquery-2.2.0.js"></script>
<script type="text/javascript" src="/static/js/api/materialize.js"></script>
<script type="text/javascript" src="/static/js/api/underscore.js"></script>
<script type="text/javascript" src="/static/js/api/backbone.js"></script>
<script type="text/javascript" src="/static/js/api/backbone-relational.js"></script>
<script type="text/javascript" src="/static/js/api/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="/static/js/api/chartist.js"></script>
<script type="text/javascript" src="/static/js/api/clipboard.js"></script>
<script type="text/javascript" src="/static/js/api/d3.v3.js"></script>
<script type="text/javascript" src="/static/js/api/d3tip.js"></script>
<script type="text/javascript" src="/static/js/api/jquery.waypoints.js"></script>
<script type="text/javascript" src="/static/js/api/nouislider.js"></script>
<script type="text/javascript" src="/static/js/api/color.min.js"></script>
<script type="text/javascript" src="/static/js/api/FileSaver.js"></script>

<!-- App Settings -->
<script type="text/javascript" src="/static/js/Settings.js"></script>

<!-- Styling and layout helpers -->

<script type="text/javascript" src="/static/js/styling/lazy_iframes_helper.js"></script>
<script type="text/javascript" src="/static/js/styling/scrollspy_helper.js"></script>
<script type="text/javascript" src="/static/js/styling/buttons_helper.js"></script>
<script type="text/javascript" src="/static/js/styling/menu_helper.js"></script>

<!-- Backbone -->

<script type="text/javascript" src="/static/js/models/PaginatedCollection.js"></script>
<script type="text/javascript" src="/static/js/views/base/PaginatedViewExt.js"></script>
<script type="text/javascript" src="/static/js/views/base/ResponsiviseViewExt.js"></script>
<script type="text/javascript" src="/static/js/views/base/DANViewExt.js"></script>

<!-- Download Wizard -->
<script type="text/javascript" src="/static/js/models/WizardStep.js"></script>
<script type="text/javascript" src="/static/js/models/WizardOption.js"></script>
<script type="text/javascript" src="/static/js/views/DownloadWizard/WizardStepView.js"></script>
<script type="text/javascript" src="/static/js/views/DownloadWizard/WizardOptionView.js"></script>

<!-- Target Browser -->
<script type="text/javascript" src="/static/js/models/TargetHierarchyNode.js"></script>
<script type="text/javascript" src="/static/js/models/TargetHierarchyChildren.js"></script>
<script type="text/javascript" src="/static/js/models/TargetHierarchyTree.js"></script>
<script type="text/javascript" src="/static/js/views/Target/BrowseTargetAsListNodeView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/BrowseTargetAsListView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/BrowseTargetAsCirclesNodeView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/BrowseTargetAsCirclesView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/BrowseTargetMainView.js"></script>
<script type="text/javascript" src="/static/js/targetBrowserApp.js"></script>

<!-- Drug Browser -->
<script type="text/javascript" src="/static/js/models/Drug.js"></script>
<script type="text/javascript" src="/static/js/models/DrugList.js"></script>
<script type="text/javascript" src="/static/js/views/DrugBrowser/DrugBrowserTableView.js"></script>
<script type="text/javascript" src="/static/js/views/DrugBrowser/DrugBrowserInfinityView.js"></script>
<script type="text/javascript" src="/static/js/drugBrowserApp.js"></script>

<!-- Report Cards -->
<script type="text/javascript" src="/static/js/views/base/CardView.js"></script>


<!-- Target Report Card -->

<script type="text/javascript" src="/static/js/models/ApprovedDrugClinicalCandidate.js"></script>
<script type="text/javascript" src="/static/js/models/ApprovedDrugClinicalCandidateList.js"></script>
<script type="text/javascript" src="/static/js/models/Target.js"></script>
<script type="text/javascript" src="/static/js/models/TargetRelation.js"></script>
<script type="text/javascript" src="/static/js/models/TargetRelationList.js"></script>
<script type="text/javascript" src="/static/js/views/Target/TargetNameAndClassificationView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/TargetComponentsView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/ApprovedDrugsClinicalCandidatesView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/RelationsView.js"></script>
<script type="text/javascript" src="/static/js/targetReportCardApp.js"></script>

<!-- Cell Line Report Card -->
<script type="text/javascript" src="/static/js/models/CellLine.js"></script>
<script type="text/javascript" src="/static/js/cellLineReportCardApp.js"></script>
<script type="text/javascript" src="/static/js/views/CellLine/CellLineBasicInformationView.js"></script>

<!-- Assay Report Card -->
<script type="text/javascript" src="/static/js/models/Assay.js"></script>
<script type="text/javascript" src="/static/js/assayReportCardApp.js"></script>
<script type="text/javascript" src="/static/js/views/Assay/AssayBasicInformationView.js"></script>
<script type="text/javascript" src="/static/js/views/Assay/AssayCurationSummaryView.js"></script>

<!-- Document Report Card -->
<script type="text/javascript" src="/static/js/models/Document.js"></script>
<script type="text/javascript" src="/static/js/models/DocumentAssayNetwork.js"></script>
<script type="text/javascript" src="/static/js/documentReportCardApp.js"></script>
<script type="text/javascript" src="/static/js/views/Document/DocumentBasicInformationView.js"></script>
<script type="text/javascript" src="/static/js/views/Document/DocumentAssayNetworkView.js"></script>
<script type="text/javascript" src="/static/js/views/Document/DocumentAssayNetworkFSView.js"></script>
<script type="text/javascript" src="/static/js/downloadWizardApp.js"></script>

