<script type="text/javascript" src="/static/js/api/jquery-2.2.0.js"></script>
<script type="text/javascript" src="/static/js/api/materialize.js"></script>
<script type="text/javascript" src="/static/js/api/underscore.js"></script>
<script type="text/javascript" src="/static/js/api/backbone.js"></script>
<script type="text/javascript" src="/static/js/api/backbone-relational.js"></script>
<script type="text/javascript" src="/static/js/api/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="/static/js/api/chartist.js"></script>
<script type="text/javascript" src="/static/js/api/clipboard.js"></script>
<script type="text/javascript" src="/static/js/api/d3.v3.js"></script>
<script type="text/javascript" src="/static/js/api/datatables/datatables.js"></script>
<script type="text/javascript" src="/static/js/api/datatables/dataTables.responsive.js"></script>

<!-- Styling and layout helpers -->

<script type="text/javascript" src="/static/js/styling/lazy_iframes_helper.js"></script>
<script type="text/javascript" src="/static/js/styling/scrollspy_helper.js"></script>
<script type="text/javascript" src="/static/js/styling/buttons_helper.js"></script>
<script type="text/javascript" src="/static/js/styling/menu_helper.js"></script>

<!-- Backbone -->

<!-- Download Wizard -->
<script type="text/javascript" src="/static/js/models/WizardStep.js"></script>
<script type="text/javascript" src="/static/js/models/WizardOption.js"></script>
<script type="text/javascript" src="/static/js/views/DownloadWizard/WizardStepView.js"></script>
<script type="text/javascript" src="/static/js/views/DownloadWizard/WizardOptionView.js"></script>

<!-- Target Browser -->
<script type="text/javascript" src="/static/js/models/TargetHierarchyNode.js"></script>
<script type="text/javascript" src="/static/js/models/TargetHierarchyChildren.js"></script>
<script type="text/javascript" src="/static/js/models/TargetHierarchyTree.js"></script>
<script type="text/javascript" src="/static/js/views/Target/BrowseTargetAsListNodeView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/BrowseTargetAsListView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/BrowseTargetAsCirclesNodeView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/BrowseTargetAsCirclesView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/BrowseTargetMainView.js"></script>
<script type="text/javascript" src="/static/js/targetBrowserApp.js"></script>


<!-- Report Cards -->

<script type="text/javascript" src="/static/js/views/base/CardView.js"></script>


<!-- Target Report Card -->

<script type="text/javascript" src="/static/js/models/ApprovedDrugClinicalCandidate.js"></script>
<script type="text/javascript" src="/static/js/models/ApprovedDrugClinicalCandidateList.js"></script>
<script type="text/javascript" src="/static/js/models/ApprovedDrugClinicalCandidateListTest.js"></script>
<script type="text/javascript" src="/static/js/models/Target.js"></script>
<script type="text/javascript" src="/static/js/targetReportCardApp.js"></script>
<script type="text/javascript" src="/static/js/views/Target/TargetNameAndClassificationView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/TargetComponentsView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/ApprovedDrugsClinicalCandidatesView.js"></script>
<script type="text/javascript" src="/static/js/views/Target/ApprovedDrugsClinicalCandidatesViewTest.js"></script>

<!-- Cell Line Report Card -->
<script type="text/javascript" src="/static/js/models/CellLine.js"></script>
<script type="text/javascript" src="/static/js/cellLineReportCardApp.js"></script>
<script type="text/javascript" src="/static/js/views/CellLine/CellLineBasicInformationView.js"></script>

<!-- Assay Report Card -->
<script type="text/javascript" src="/static/js/models/Assay.js"></script>
<script type="text/javascript" src="/static/js/assayReportCardApp.js"></script>
<script type="text/javascript" src="/static/js/views/Assay/AssayBasicInformationView.js"></script>
<script type="text/javascript" src="/static/js/views/Assay/AssayCurationSummaryView.js"></script>

<!-- Document Report Card -->
<script type="text/javascript" src="/static/js/models/Document.js"></script>
<script type="text/javascript" src="/static/js/documentReportCardApp.js"></script>
<script type="text/javascript" src="/static/js/views/Document/DocumentBasicInformationView.js"></script>


<script type="text/javascript" src="/static/js/downloadWizardApp.js"></script>

