<!-- This shows when the screen is large -->
<ul class="side-nav fixed hide-on-med-and-down teal lighten-5">
  <li class="menu-logo"><a href="#"><img title="Go to the ChEMBL homepage" alt="ChEMBL logo"
                                         src="/static/img/chembl_logo.png"/></a></li>
  <li><a class="waves-effect waves-teal" href="#">Downloads</a></li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/unichem">UniChem</a></li>
  <li><a class="waves-effect waves-teal" href="#">Malaria Data</a></li>
  <li><a class="waves-effect waves-teal" href="#">ChEMBL-NTD</a></li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/admesarfari">ADME SARfari <span
    class="new badge"></span></a></li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/sarfari/kinasesarfari">Kinase SARfari </a>
  </li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/sarfari/gpcrsarfari">GPCR Sarfari</a></li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/drugebility/structure">DrugEBility</a></li>
  <li><a class="waves-effect waves-teal" href="#">Web Services <span class="new badge"></span></a></li>
  <li><a class="waves-effect waves-teal" href="https://www.surechembl.org/">SureChEMBL <span
    class="new badge"></span></a></li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/rdf">EBI RDF Platform</a></li>
  <li><a class="waves-effect waves-teal" href="#">FAQ</a></li>
  <li><a class="waves-effect waves-teal" href="#">Statistics</a></li>
</ul>
<!-- This shows when the screen is medium or smaller -->
<ul id="slide-out" class="side-nav teal lighten-5">
  <li class="menu-logo"><a href="#"><img title="Go to the ChEMBL homepage" alt="ChEMBL logo"
                                         src="/static/img/chembl_logo.png"/></a></li>
  <li><a class="waves-effect waves-teal" href="#">Downloads</a></li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/unichem">UniChem</a></li>
  <li><a class="waves-effect waves-teal" href="#">Malaria Data</a></li>
  <li><a class="waves-effect waves-teal" href="#">ChEMBL-NTD</a></li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/admesarfari">ADME SARfari <span
    class="new badge"></span></a></li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/sarfari/kinasesarfari">Kinase SARfari </a>
  </li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/sarfari/gpcrsarfari">GPCR Sarfari</a></li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/chembl/drugebility/structure">DrugEBility</a></li>
  <li><a class="waves-effect waves-teal" href="#">Web Services <span class="new badge"></span></a></li>
  <li><a class="waves-effect waves-teal" href="https://www.surechembl.org/">SureChEMBL <span
    class="new badge"></span></a></li>
  <li><a class="waves-effect waves-teal" href="https://www.ebi.ac.uk/rdf">EBI RDF Platform</a></li>
  <li><a class="waves-effect waves-teal" href="#">FAQ</a></li>
  <li><a class="waves-effect waves-teal" href="#">Statistics</a></li>
</ul>