{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}CBasicInformation{% endblock %}

{% block table %}

<table class="compact-table striped hide-on-small-only">

  <tr>
    <td class="fixed-width-column-11"><b>ChEMMBL ID:</b></td>
    <td>CHEMBL3307391</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Name:</b></td>
    <td>CC-1</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Description:</b></td>
    <td>CC-1</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Source Tissue:</b></td>
    <td>Liver</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Source Organism:</b></td>
    <td>Rattus norvegicus</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Source Taxid:</b></td>
    <td>10116</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Cell Line Ontology:</b></td>
    <td><a href="http://purl.obolibrary.org/obo/CLO_0002215" target="_blank"> CLO_0002215</a></td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Experimental Factor Ontology:</b></td>
    <td></td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Cellosaurus:</b></td>
    <td><a href="http://web.expasy.org/cellosaurus/CVCL_4141" target="_blank">CVCL_4141</a></td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>LINCS Project:</b></td>
    <td></td>
  </tr>

</table>
{% endblock %}

{% block collection %}

<ul class="collection hide-on-med-and-up">

  <li class="collection-item">

    <b>ChEMMBL ID:</b> CHEMBL3307391

  </li>

  <li class="collection-item">

    <b>Name:</b> CC-1

  </li>

  <li class="collection-item">

    <b>Description:</b> CC-1

  </li>

  <li class="collection-item">

    <b>Source Tissue:</b> Liver

  </li>

  <li class="collection-item">

    <b>Source Organism:</b> Rattus norvegicus

  </li>

  <li class="collection-item">

    <b>Source Taxid:</b> 10116

  </li>

  <li class="collection-item">

    <b>Cell Line Ontology:</b> <a href="http://purl.obolibrary.org/obo/CLO_0002215" target="_blank"> CLO_0002215</a>

  </li>

  <li class="collection-item">

    <b>Experimental Factor Ontology:</b>

  </li>

  <li class="collection-item">

    <b>Cellosaurus:</b> <a href="http://web.expasy.org/cellosaurus/CVCL_4141" target="_blank">CVCL_4141</a>

  </li>

  <li class="collection-item">

    <b>LINCS Project:</b>

  </li>



</ul>

{% endblock %}