{% extends "glados/base/basic_table_card.html" %}


{% block card_id %}CBasicInformation{% endblock %}

{% block table %}

<div id="BCK-CBI-large" data-hb-template="Handlebars-CellLine-BasicInformation-large">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% verbatim %}

<script id="Handlebars-CellLine-BasicInformation-large" type="text/x-handlebars-template">

<table class="compact-table striped hide-on-small-only">

  <tr>
    <td class="fixed-width-column-11"><b>ChEMMBL ID:</b></td>
    <td id="Bck-CellLine_ID">{{chembl_id}}</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Name:</b></td>
    <td id="Bck-CellLine_Name">{{name}}</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Description:</b></td>
    <td id="Bck-CellLine_Desc">{{description}}</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Source Tissue:</b></td>
    {{#if tissue}}
      <td id="Bck-CellLine_SourceT">{{tissue}}</td>
    {{else}}
      <td id="Bck-CellLine_SourceT">---</td>
    {{/if}}
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Source Organism:</b></td>
    {{#if organism}}
      <td id="Bck-CellLine_SourceO">{{organism}}</td>
    {{else}}
      <td id="Bck-CellLine_SourceO">---</td>
    {{/if}}
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Source Taxid:</b></td>
    {{#if tax_id}}
      <td id="Bck-CellLine_SourceTx">{{tax_id}}</td>
    {{else}}
      <td id="Bck-CellLine_SourceTx">---</td>
    {{/if}}
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Cell Line Ontology:</b></td>
    {{#if clo_id}}
      <td id="Bck-CellLine_CLO"><a href="http://purl.obolibrary.org/obo/{{clo_id}}" target="_blank">{{clo_id}}</a></td>
    {{else}}
      <td id="Bck-CellLine_CLO">---</td>
    {{/if}}
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Experimental Factor Ontology:</b></td>
    {{#if efo_id}}
      <td id="Bck-CellLine_EFO"><a href="http://www.ebi.ac.uk/efo/{{efo_id}}" target="_blank">{{efo_id}}</a></td>
    {{else}}
      <td id="Bck-CellLine_EFO">---</td>
    {{/if}}
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Cellosaurus:</b></td>
    {{#if cellosaurus_id}}
      <td id="Bck-CellLine_Cellosaurus"><a href="http://web.expasy.org/cellosaurus/{{cellosaurus_id}}" target="_blank">{{cellosaurus_id}}</a></td>
    {{else}}
      <td id="Bck-CellLine_Cellosaurus">---</td>
    {{/if}}
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>LINCS Project:</b></td>
    <td>---</td>
  </tr>

</table>



</script>

{% endverbatim %}

{% endblock %}

{% block collection %}

<div id="BCK-CBI-small" data-hb-template="Handlebars-CellLine-BasicInformation-small">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% verbatim %}

<script id="Handlebars-CellLine-BasicInformation-small" type="text/x-handlebars-template">

<ul class="collection hide-on-med-and-up">

  <li class="collection-item">

    <b>ChEMMBL ID:</b> {{chembl_id}}

  </li>

  <li class="collection-item">

    <b>Name:</b> {{name}}

  </li>

  <li class="collection-item">

    <b>Description:</b> {{description}}

  </li>

  <li class="collection-item">

    <b>Source Tissue:</b> {{#if tissue}} {{tissue}} {{else}} --- {{/if}}

  </li>

  <li class="collection-item">

    <b>Source Organism:</b> {{#if organism}} {{organism}} {{else}} --- {{/if}}

  </li>

  <li class="collection-item">

    <b>Source Taxid:</b> {{#if tax_id}} {{tax_id}} {{else}} --- {{/if}}

  </li>

  <li class="collection-item">

    <b>Cell Line Ontology:</b> {{#if clo_id}} <a href="http://purl.obolibrary.org/obo/{{clo_id}}"> {{clo_id}}</a> {{else}} --- {{/if}}

  </li>

  <li class="collection-item">

    <b>Experimental Factor Ontology:</b> {{#if efo_id}} <a href="http://www.ebi.ac.uk/efo/{{efo_id}}" target="_blank">{{efo_id}}</a> {{else}} --- {{/if}}

  </li>

  <li class="collection-item">

    <b>Cellosaurus:</b> {{#if cellosaurus_id}} <a href="http://web.expasy.org/cellosaurus/{{cellosaurus_id}}">{{cellosaurus_id}}</a> {{else}} --- {{/if}}

  </li>

  <li class="collection-item">

    <b>LINCS Project:</b> ---

  </li>



</ul>

</script>

{% endverbatim %}


{% endblock %}