{% extends "glados/base/basic_table_card.html" %}

{% block custom_handlebars %}
  {% include "glados/Handlebars/CellReportCard/Hbs-BasicInformation.html" %}
{% endblock %}

{% block card_id %}CBasicInformation{% endblock %}

{% block table %}

<div id="BCK-CBI-large" data-hb-template="Handlebars-CellLine-BasicInformation-large">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% endblock %}

{% block collection %}

<ul class="collection hide-on-med-and-up">

  <li class="collection-item">

    <b>ChEMMBL ID:</b> CHEMBL3307391

  </li>

  <li class="collection-item">

    <b>Name:</b> CC-1

  </li>

  <li class="collection-item">

    <b>Description:</b> CC-1

  </li>

  <li class="collection-item">

    <b>Source Tissue:</b> Liver

  </li>

  <li class="collection-item">

    <b>Source Organism:</b> Rattus norvegicus

  </li>

  <li class="collection-item">

    <b>Source Taxid:</b> 10116

  </li>

  <li class="collection-item">

    <b>Cell Line Ontology:</b> <a href="http://purl.obolibrary.org/obo/CLO_0002215" target="_blank"> CLO_0002215</a>

  </li>

  <li class="collection-item">

    <b>Experimental Factor Ontology:</b>

  </li>

  <li class="collection-item">

    <b>Cellosaurus:</b> <a href="http://web.expasy.org/cellosaurus/CVCL_4141" target="_blank">CVCL_4141</a>

  </li>

  <li class="collection-item">

    <b>LINCS Project:</b>

  </li>



</ul>

{% endblock %}