{% verbatim %}

<script id="Handlebars-Visualisations-BrowseEntitiesCircles" type="text/x-handlebars-template">

    {% endverbatim %}
    {% with is_dynamic=True %}
        {% include "glados/MainPageParts/Visualizations/browse_entities.html" %}
    {% endwith %}
    {% verbatim %}
</script>

<script id="Handlebars-Visualisations-ZoomableSunburst" type="text/x-handlebars-template">
    {% endverbatim %}
    {% with is_dynamic=True %}
        {% include "glados/MainPageParts/Visualizations/zoomable_sunburst.html" %}
    {% endwith %}
    {% verbatim %}
</script>
{% endverbatim %}
