<span class="card-title"><i class="icon icon-generic" data-icon="v"></i>Browse Targets</span>

<div class="divider"></div>
<br>

<div id="BCK-TargetBrowserAsList">

  <div class="row">

    <input name="group1" type="radio" id="proteinTargetTree" checked/>
    <label for="proteinTargetTree">Protein Target Tree</label>

    <input name="group1" type="radio" id="taxonomyTree"/>
    <label for="taxonomyTree">Protein Target Tree</label>

    <input name="group1" type="radio" id="geneOntologyTree"/>
    <label for="geneOntologyTree">Gene Ontology Tree</label>

  </div>

  <div class="row">

    <table class="tree">
      <tr class="treegrid-1">
        <td>Root node</td>
        <td>Additional info</td>
      </tr>
      <tr class="treegrid-2 treegrid-parent-1">
        <td>Node 1-1</td>
        <td>Additional info</td>
      </tr>
      <tr class="treegrid-3 treegrid-parent-1">
        <td>Node 1-2</td>
        <td>Additional info</td>
      </tr>
      <tr class="treegrid-4 treegrid-parent-3">
        <td>Node 1-2-1</td>
        <td>Additional info</td>
      </tr>
    </table>


  </div>

</div>