<span class="card-title"><i class="icon icon-generic" data-icon="v"></i>Browse Targets</span>

<div class="divider"></div>
<br>

<div id='BCK-TargetBrowserMain' class="row target-browser">

  <div class="row">

    <div class="col s12 center-align">

      <input name="selectTree" type="radio" id="radio-proteinTargetTree" checked/>
      <label for="radio-proteinTargetTree">Protein Target Tree</label>

      <input name="selectTree" type="radio" id="radio-taxonomyTree"/>
      <label for="radio-taxonomyTree">Taxonomy Tree</label>

      <input name="selectTree" type="radio" id="radio-geneOntologyTree"/>
      <label for="radio-geneOntologyTree">Gene Ontology Tree</label>

    </div>

  </div>

  <div class="row">

    <div class="col s12 options center-align">

      <a href="#!" class="btn-chembl teal clear-selections">Clear Selections</a>
      <a href="#!" class="btn-chembl teal select-all">Select All</a>
      <a href="#!" class="btn-chembl teal collapse-all">Collapse All</a>
      <a href="#!" class="btn-chembl teal open-all">Open All</a>
      <a href="#!" class="btn-chembl teal">Fetch selected</a>

    </div>

  </div>

  <div class="row">

    <div class="col s8 offset-s2 center-align">

      <div class="search-tree">
        <input placeholder="Search in the hierarchy" id="first_name" type="text" class="validate">
        <a href="#" class="btn-chembl teal">Search in tree</a>
      </div>

    </div>

  </div>


  <div class="col l6 m12">

    {% block browse_as_list %}
      {% include "glados/MainPageParts/TargetBrowserParts/browse_as_list.html" %}
    {% endblock %}

  </div>

  <div class="col l6 m12">

    {% block browse_as_circles %}
      {% include "glados/MainPageParts/TargetBrowserParts/browse_as_circles.html" %}
    {% endblock %}

  </div>


</div>