<div class="card grey lighten-4 z-depth-0">
  <div class="card-content">

    <div class="row">

     <div class="col s12 chembl-version-wrapper teal-text">
       <h2>ChEMBL 21</h2>
     </div>

    </div>

    <div class="row">

      <div class="database-stats grey lighten-5">

        <ul>

          <li>Targets: <span class="teal-text">11,019</span></li>
          <li>Compound records: <span class="teal-text">1,928,903</span></li>
          <li>Distinct compounds: <span class="teal-text">1,592,191</span></li>
          <li>Activities: <span class="teal-text">13,967,816</span></li>
          <li>Publications: <span class="teal-text">62,501</span></li>
          <li><a href="#">Release Notes</a></li>

        </ul>

      </div>


    </div>

    <div class="row">

      <div class="center-align">
        <a class="waves-effect waves-light btn-chembl teal"><i class="icon icon-functional"
                                                               data-icon="="></i>Download</a>
      </div>

    </div>

  </div>

</div>