<!-- Modal Structure -->
<div id="download-db-modal" class="modal">

  <div class="modal-content">

    <h3>Downloads</h3>

    <div class="row">

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 valign-wrapper hoverable">

            <a href="#" class="center-align valign waves-effect waves-light">
              <p><i class="fa fa-database fa-3x" aria-hidden="true"></i></p>
              <p>SQL Data</p>
            </a>

          </div>

          <div class="card-content">
            Download our sql data.
          </div>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 valign-wrapper hoverable">

            <a href="#" class="center-align valign waves-effect waves-light">
              <p><i class="fa fa-cubes fa-3x" aria-hidden="true"></i></p>
              <p>Virtual Environments</p>
            </a>

          </div>

          <div class="card-content">
            ChEMBL Virtual Machines.
          </div>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 valign-wrapper hoverable">

            <a href="#" class="center-align valign waves-effect waves-light">
              <p><i class="fa fa-sitemap fa-3x" aria-hidden="true"></i></p>
              <p>RDF</p>
            </a>

          </div>

          <div class="card-content">
            Download the ChEMBL-RDF.
          </div>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 valign-wrapper hoverable">

            <a href="#" class="center-align valign waves-effect waves-light">
              <p><i class="fa fa-database fa-3x" aria-hidden="true"></i></p>
              <p>UniChem</p>
            </a>

          </div>

          <div class="card-content">
            Data dumps from UniChem.
          </div>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 valign-wrapper hoverable">

            <a href="#" class="center-align valign waves-effect waves-light">
              <p><i class="fa fa-book fa-3x" aria-hidden="true"></i></p>
              <p>Patents</p>
            </a>

          </div>

          <div class="card-content">
            Patent compound exports.
          </div>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 valign-wrapper hoverable">

            <a href="#" class="center-align valign waves-effect waves-light">
              <p><i class="fa fa-smile-o fa-3x" aria-hidden="true"></i></p>
              <p>Monomers</p>
            </a>

          </div>

          <div class="card-content">
            Monomers.
          </div>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 valign-wrapper hoverable">

            <a href="#" class="center-align valign waves-effect waves-light">
              <p><i class="fa fa-smile-o fa-3x" aria-hidden="true"></i></p>
              <p>Monomers</p>
            </a>

          </div>

          <div class="card-content">
            ChEMBL Virtual Machines.
          </div>


        </div>

      </div>


    </div>


    <div class="divider"></div>

    
    <div class="row">

      <div class="col s12">

        <div class="right">
          <a href="#">More...</a>
        </div>
      </div>

    </div>


    {% block close_modal %}
    {% include "glados/base/modals/close_modal_button.html" %}
    {% endblock %}

  </div>

</div>