<!-- Modal Structure -->
<div id="download-db-modal" class="modal">

  <div class="modal-content">

    <h3>Downloads</h3>

    <div class="row">

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 center-align">

            <a href="#">
              <p><i class="fa fa-database fa-3x" aria-hidden="true"></i></p>
              <p>SQL Data</p>
            </a>

          </div>

          <div class="card-content">
             Download our sql data.
          </div>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 center-align">

            <a href="#">
              <p><i class="fa fa-cubes fa-3x" aria-hidden="true"></i></p>
              <p>Virtual Environment</p>
            </a>

          </div>

          <p>ChEMBL Virtual Machines.</p>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 center-align">

            <a href="#">
              <p><i class="fa fa-sitemap fa-3x" aria-hidden="true"></i></p>
              <p>RDF</p>
            </a>

          </div>

          <p>Download the ChEMBL-RDF.</p>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 center-align">

            <a href="#">
              <p><i class="fa fa-database fa-3x" aria-hidden="true"></i></p>
              <p>UniChem</p>
            </a>

          </div>

          <p>Data dumps from UniChem</p>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 center-align">

            <a href="#">
              <p><i class="fa fa-book fa-3x" aria-hidden="true"></i></p>
              <p>Patents</p>
            </a>

          </div>

          <p>Patent information compound exports.</p>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 center-align">

            <a href="#">
              <p><i class="fa fa-cubes fa-3x" aria-hidden="true"></i></p>
              <p>Monomers</p>
            </a>

          </div>

          <p>ChEMBL Virtual Machines.</p>


        </div>

      </div>

      <div class="col s6 m4 l3">

        <div class="card z-depth-0 db-menu-option">

          <div class="menu-link z-depth-1 center-align">

            <a href="#">
              <p><i class="fa fa-database fa-3x" aria-hidden="true"></i></p>
              <p>SQL Data</p>
            </a>

          </div>

          <p>Download your sql data.</p>


        </div>

      </div>


    </div>

    <div class="row">

      <div class="row">

        <div class="col s12">
          <a href="#" class="btn-chembl">More...</a>
        </div>

      </div>


    </div>


    {% block close_modal %}
    {% include "glados/base/modals/close_modal_button.html" %}
    {% endblock %}

  </div>

</div>