<!-- Modal Structure -->
<div id="download-db-modal" class="modal">

  <div class="modal-content">

    <h3>Downloads</h3>

    <div class="row">

      <div class="col s12 m6 l4">

        <div class="card-panel z-depth-0 db-menu-option">
          <div class="card-content">

            <a href="#">
              <p class="menu-icon center-align"><i class="fa fa-database fa-5x" aria-hidden="true"></i></p>
              <p class="center-align"><b>SQL Data</b></p>
            </a>
            <p>Download here our sql data.</p>

          </div>

        </div>

      </div>


      <div class="col s12 m6 l4">

        <div class="card-panel z-depth-0 db-menu-option">
          <div class="card-content">

            <a href="#">
              <p class="menu-icon center-align"><i class="fa fa-cubes fa-5x" aria-hidden="true"></i></p>
              <p class="center-align"><b>Virtual Environment</b></p>
            </a>
            <p>ChEMBL Virtual machines.</p>

          </div>

        </div>

      </div>

      <div class="col s12 m6 l4">

        <div class="card-panel z-depth-0 db-menu-option">
          <div class="card-content">

            <a href="#">
              <p class="menu-icon center-align"><i class="fa fa-sitemap fa-5x" aria-hidden="true"></i></p>
              <p class="center-align"><b>RDF</b></p>
            </a>


            <p>Download the ChEMBL-RDF.</p>


          </div>

        </div>

      </div>

      <div class="col s12 m6 l4">

        <div class="card-panel z-depth-0 db-menu-option">
          <div class="card-content">

            <a href="#">
              <p class="menu-icon center-align"><i class="fa fa-smile-o fa-5x" aria-hidden="true"></i></p>
              <p class="center-align"><b>UniChem</b></p>
            </a>
            <p>Data dumps from UniChem.</p>

          </div>

        </div>

      </div>

      <div class="col s12 m6 l4">

        <div class="card-panel z-depth-0 db-menu-option">
          <div class="card-content">

            <a href="#">
              <p class="menu-icon center-align"><i class="fa fa-smile-o fa-5x" aria-hidden="true"></i></p>
              <p class="center-align"><b>SureChEMBL</b></p>
            </a>
            <p>SureChEMBL compound exports.</p>

          </div>

        </div>

      </div>

      <div class="col s12 m6 l4">

        <div class="card-panel z-depth-0 db-menu-option">
          <div class="card-content">

            <a href="#">
              <p class="menu-icon center-align"><i class="fa fa-smile-o fa-5x" aria-hidden="true"></i></p>
              <p class="center-align"><b>Monomers</b></p>
            </a>
            <p>Monomers data!</p>

          </div>

        </div>

      </div>


    </div>

    <div class="row">

      <div class="col s12">
        <a href="#" class="btn-chembl" >More...</a>
      </div>

    </div>


  </div>


  {% block close_modal %}
  {% include "glados/base/modals/close_modal_button.html" %}
  {% endblock %}

</div>