<div class="card grey lighten-4 z-depth-0">
  <div class="card-content">

    <div class="row">

      <div class="col s12">

        <p>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          Tweets by <a target="_blank" href="https://twitter.com/chembl">@ChEMBL</a>
        </p>

      </div>

    </div>

    <div class="tweets">

      <ul class="tweets-list">

        <li class="tweet grey lighten-5">

          <div class="row">
            <div class="col s2">
              <img class="responsive-img" src="/static/img/chembl_logo.png" alt="" class="circle">
            </div>

            <div class="col s9">
              <p><b>ChEMBL</b></p>
              <p><small><a target="_blank" href="https://twitter.com/chembl">@ChEMBL</a></small></p>
            </div>

            <div class="col s1">
              <a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>

          </div>

          <div class="row">

            <div class="flow-text">
              <div class="tweet-content">
                <p>
                  Interested in attending a workshop on training needs for bimolecular modelling and simulation (3/4
                  May)? <a href="https://t.co/ncpgbnd6Hv">http://www.ebi.ac.uk/traini...</a>
                </p>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col s4">
              <a href="#!"><i class="fa fa-heart" aria-hidden="true"></i></a>
              <a href="#!"><i class="fa fa-share-alt-square" aria-hidden="true"></i></a>
            </div>


            <div class="col s8 right-align">
              <span>14-Apr</span>
            </div>

          </div>



        </li>

          <li class="tweet grey lighten-5">

          <div class="row">
            <div class="col s2">
              <img class="responsive-img" src="/static/img/chembl_logo.png" alt="" class="circle">
            </div>

            <div class="col s9">
              <p><b>ChEMBL</b></p>
              <p><small><a target="_blank" href="https://twitter.com/chembl">@ChEMBL</a></small></p>
            </div>

            <div class="col s1">
              <a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>

          </div>

          <div class="row">

            <div class="flow-text">
              <div class="tweet-content">
                <p>
                  Interested in attending a workshop on training needs for bimolecular modelling and simulation (3/4
                  May)? <a href="https://t.co/ncpgbnd6Hv">http://www.ebi.ac.uk/traini...</a>
                </p>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col s4">
              <a href="#!"><i class="fa fa-heart" aria-hidden="true"></i></a>
              <a href="#!"><i class="fa fa-share-alt-square" aria-hidden="true"></i></a>
            </div>


            <div class="col s8 right-align">
              <span>14-Apr</span>
            </div>

          </div>



        </li>

          <li class="tweet grey lighten-5">

          <div class="row">
            <div class="col s2">
              <img class="responsive-img" src="/static/img/chembl_logo.png" alt="" class="circle">
            </div>

            <div class="col s9">
              <p><b>ChEMBL</b></p>
              <p><small><a target="_blank" href="https://twitter.com/chembl">@ChEMBL</a></small></p>
            </div>

            <div class="col s1">
              <a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>

          </div>

          <div class="row">

            <div class="flow-text">
              <div class="tweet-content">
                <p>
                  Interested in attending a workshop on training needs for bimolecular modelling and simulation (3/4
                  May)? <a href="https://t.co/ncpgbnd6Hv">http://www.ebi.ac.uk/traini...</a>
                </p>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col s4">
              <a href="#!"><i class="fa fa-heart" aria-hidden="true"></i></a>
              <a href="#!"><i class="fa fa-share-alt-square" aria-hidden="true"></i></a>
            </div>


            <div class="col s8 right-align">
              <span>14-Apr</span>
            </div>

          </div>



        </li>









      </ul>

    </div>

  </div>
</div>