<div class="card grey lighten-4 z-depth-0">
  <div class="card-content">
    <span class="card-title"><i class="fa fa-twitter" aria-hidden="true"></i>Tweets</span>

    <ul class="collection">
      <li class="collection-item avatar">
        <img src="/static/img/chembl_logo.png" alt="" class="circle">

        Tweet

        <a href="#!" class="secondary-content"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li class="collection-item avatar">
        <img src="/static/img/chembl_logo.png" alt="" class="circle">

        Tweet

        <a href="#!" class="secondary-content"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>

    </ul>


  </div>
</div>