<div class="card teal lighten-5 z-depth-0">

  <div class="tabs-wrapper">


    <ul class="tabs teal lighten-4">
      <li class="tab"><a class="active" href="#editor-search">Ligand Search</a></li>

      <li class="tab">
        <a class="iframe-lazy-loader" data-if-id="if_database_schema"
           data-if-src="/static/chembl_schema_diagrams/src/schema.html" href="#db_schema">Database Schema</a>
      </li>

      <li class="tab">
        <a class="iframe-lazy-loader" href="#ws_diagram" data-if-id="if_ws_diagram"
           data-if-src="/static/chembl_schema_diagrams/src/ws.html">Web Services Diagram</a></li>
      <li class="tab"><a href="#browse_targets">Browse Targets</a></li>
      <li class="tab"><a href="#browse_drugs">Browse Drugs</a></li>
    </ul>


  </div>

  <div class="card-content">

    <div id="editor-search">

      {% block marvin_search %}
      {% include "glados/MainPageParts/marvin_editor.html" %}
      {% endblock %}

    </div>


    <div id="db_schema">

      {% block db_schema %}
      {% include "glados/MainPageParts/database_schema.html" %}
      {% endblock %}

    </div>
    <div id="ws_diagram">

      {% block ws_diagram %}
      {% include "glados/MainPageParts/ws_diagram.html" %}
      {% endblock %}

    </div>

    <div id="browse_targets">

      {% block browse_targets %}
      {% include "glados/MainPageParts/browse_targets.html" %}
      {% endblock %}

    </div>

     <div id="browse_drugs">

      {% block browse_drugs %}
      {% include "glados/MainPageParts/DrugBrowserParts/browse_drugs.html" %}
      {% endblock %}

    </div>



  </div>

</div>