{% load static %}
<div class="BCK-Database-summary-info card teal lighten-5 z-depth-0">

  <div class="card-preolader-to-hide">

    <div class="progress">
      <div class="indeterminate"></div>
    </div>

  </div>

  <div class="BCK-content database-info" style="display: none">

    <div class="card-content">

      <div class="row valign-wrapper">


        <div class="col s4">

          <div class="version-number-logo">

            <img src="{% static 'img/chembl_logo.png' %}" class="responsive-img">

          </div>

        </div>

        <div class="col s8">

          <div class="row">
            <p><b>DB Version: 21</b></p>
            <p>3 March 2016</p>
          </div>

        </div>


      </div>

      <div class="row">

        <div class="database-stats">

          <ul>

            <li>Targets: <span class="teal-text">11,019</span></li>
            <li>Compound records: <span class="teal-text">1,928,903</span></li>
            <li>Distinct compounds: <span class="teal-text">1,592,191</span></li>
            <li>Activities: <span class="teal-text">13,967,816</span></li>
            <li>Publications: <span class="teal-text">62,501</span></li>

          </ul>

        </div>


      </div>

      <div class="row">

        <div class="col s12 center-align">


          <a href="#download-db-modal" class="modal-trigger-safe waves-effect waves-light btn-chembl teal"><i
            class="fa fa-download" aria-hidden="true"></i>
            Download</a>

          <a class="rel-notes" href="#">Release Notes</a>


        </div>


      </div>

    </div>

  </div>

</div>

