<h2> Explore the database </h2>

<div class="links-carousel">

    <!-- Button for browse entities as circles -->
    <div class="carousel-item">

        <div class="btn-container">

            <a class="hollow-button" href="/g/#search_results/all" target="_blank">

                Browse all ChEMBL

            </a>

        </div>

    </div>

    <!-- Button for zoomable sunburst -->
    <div class="carousel-item">

        <div class="BCK-browse-button-medium btn-container"
             data-hb-template="Handlebars-circles-browser-button-medium">

            <a class="hollow-button" href="/g/#browse/targets" target="_blank">

                Browse all Targets

            </a>

        </div>

    </div>

    <!-- Button for browse as circles view -->
    <div class="carousel-item">

        <div class="BCK-browse-button-medium-circles btn-container"
             data-hb-template="Handlebars-circles-browser-button-medium">

            <a class="hollow-button" href="/g/#browse/targets" target="_blank">

                Browse all Targets

            </a>

        </div>

    </div>

    <!-- Button for main histogram -->
    <div class="carousel-item">

        <div class="btn-container">

            <a class="hollow-button" href="/g/#browse/drugs/filter/_metadata.compound_records.src_id:13"
               target="_blank">

                Browse all USAN Drugs

            </a>

        </div>

    </div>

    <!-- Button for donut chart -->
    <div class="carousel-item">

        <div class="btn-container">

            <a class="hollow-button" href="/g/#browse/drugs" target="_blank">
                Browse all Drugs
            </a>

        </div>

    </div>

</div>