<div class="container">

    <span class="small-text">

        Latest Commit on GitHub:

    </span>

    <span class="small-text">

        <a href="#">

            Update Read.md

        </a>

    </span>

    <span class="small-text grey-light ">

        2 hours ago

    </span>

    <div class="right">

        <span class="small-text">

            <a href="https://github.com/chembl/GLaDOS/issues/new" target="_blank">

                Report a bug

            </a>

        </span>

    <span class="btn-container">

        <a class="button" href="https://github.com/chembl/GLaDOS" target="_blank">

           GitHub

        </a>

     </span>

    </div>
</div>