{% load static %}

<div class="row">

    <div class="container valign-wrapper">

        <img class="col l4 m4 s3 responsive-img hide-on-small-and-down"
             src=" {% static 'img/icons/paper_img_grey.png' %}">

        <div class="col l8 m8 s12 pub-container ">

            <h3> Citing ChEMBL </h3>

            <div class="chembl-paper">

                <h6>

                    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5210557/" target="_blank">

                        The ChEMBL database in 2017

                    </a>

                </h6>

                <p class="small-text">

                    Gaulton A, Hersey A, Nowotka M, Bento AP, Chambers J, Mendez D, Mutowo P, Atkinson F, Bellis LJ,
                    Cibrián-Uhalte E, Davies M, Dedman N, Karlsson A, Magariños MP, Overington JP, Papadatos G, Smit I,
                    Leach AR.

                </p>

                <p class="small-text">

                    <em>

                        — Nucleic Acids Res. 2017; 45(D1):D945-D954. doi: 10.1093/nar/gkw1074

                    </em>

                </p>

            </div>

            <div class="chembl-paper">

                <h6>

                    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4489243/" target="_blank">

                        ChEMBL web services: streamlining access to drug discovery data and utilities.

                    </a>

                </h6>

                <p class="small-text truncate">

                    Davies M, Nowotka M, Papadatos G, Dedman N, Gaulton A, Atkinson F, Bellis L, Overington JP.

                </p>

                <p class="small-text truncate">

                    <em>

                        — Nucleic Acids Res. 2015; 43(W1):W612-20. doi: 10.1093/nar/gkv352

                    </em>

                </p>

            </div>

        </div>

    </div>

</div>