<div class="carousel-wrapper">

    <div class="carousel-item">

        {% with is_dynamic=True %}
            {% include "glados/MainPageParts/Visualizations/browse_entities.html" %}
        {% endwith %}

        <span class="btn-container hide-on-med-and-down">

            <a class="small-text" href="{% url 'javascript_routing' %}#search_results/all" target="_blank">

                Browse all ChEMBL

            </a>

            <a href="{% url 'visualise'%}" class="small-text no-border">

                See all visualisations

            </a>

        </span>




    </div>

    <div class="carousel-item">

        {% with is_dynamic=True %}
            {% include "glados/MainPageParts/Visualizations/zoomable_sunburst.html" %}
        {% endwith %}

        <div class="BCK-browse-button btn-container hide-on-med-and-down"
             data-hb-template="Handlebars-circles-browser-button">

            <a class="small-text" href="{% url 'javascript_routing' %}#browse/targets" target="_blank">

                Browse all Targets

            </a>

            <a href="{% url 'visualise'%}" class="small-text no-border">

                See all visualisations

            </a>

        </div>

    </div>

    <div class="carousel-item">

        {% with is_dynamic=True %}

            {% include "glados/MainPageParts/Visualizations/PapersPerYearHistogram.html" %}

        {% endwith %}

        <div class="btn-container hide-on-med-and-down">

            <a class="small-text" href="{% url 'javascript_routing' %}#browse/drugs/filter/_metadata.compound_records.src_id:13" target="_blank">

                Browse all USAN Drugs

            </a>

            <a href="{% url 'visualise'%}" class="small-text no-border">

                See all visualisations

            </a>

        </div>

    </div>

    <div class="carousel-item">

        {% with is_dynamic=True %}
            {% include "glados/MainPageParts/TargetBrowserParts/browse_as_circles.html" %}
        {% endwith %}

        <div class="BCK-browse-button-circles btn-container hide-on-med-and-down"
             data-hb-template="Handlebars-circles-browser-button">

            <a class="small-text" href="{% url 'javascript_routing' %}#browse/targets" target="_blank">

                Browse all Targets

            </a>

            <a href="{% url 'visualise'%}" class="small-text no-border">

                See all visualisations

            </a>

        </div>

    </div>

    <div class="carousel-item">

        {% with is_dynamic=True %}
            {% include "glados/MainPageParts/Visualizations/MaxPhaseForDiseaseDonut.html" %}
        {% endwith %}

        <div class="btn-container hide-on-med-and-down">

            <a class="small-text" href="{% url 'javascript_routing' %}#browse/drugs" target="_blank">

                Browse all Drugs

            </a>

            <a href="{% url 'visualise'%}" class="small-text no-border">

                See all visualisations

            </a>

        </div>

    </div>

    <div class="carousel-item">

        {% with is_dynamic=True %}

            {% include "glados/MainPageParts/Visualizations/first_approval_histogram.html" %}

        {% endwith %}

        <div class="btn-container hide-on-med-and-down">

            <a class="small-text" href="{% url 'javascript_routing' %}#browse/drugs/filter/_exists_%3Afirst_approval" target="_blank">

                Browse all Approved Drugs

            </a>

            <a href="{% url 'visualise'%}" class="small-text no-border">

                See all visualisations

            </a>

        </div>

    </div>

</div>