<div class="BCK-Tweets-container">
    <div class="card teal lighten-5 z-depth-0">
        <div class="card-content tweet-content">

            <div class="col s12 tweet-header">

                <p>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    Tweets by <a target="_blank" href="https://twitter.com/chembl">@ChEMBL</a>
                </p>

            </div>

            <div class="tweets">
                {% include "glados/base/PaginatedCollections/DefaultInfinityBrowserContent.html" %}
            </div>
        </div>
    </div>

</div>