{% load static %}

<h3 class="center"> Want to know more? </h3>

<a class=" col l2 m4 s6 more-container center-align" href="#" target="_blank">

    <img class="more-img" src="{% static 'img/icons/more/faq_icon.png' %}">

    <h6 class="title center-align">FAQs</h6>

</a>

<a class=" col l2 m4 s6 more-container center-align" href="#" target="_blank">

    <img class="more-img" src="{% static 'img/icons/more/stats_icon.png' %}">

    <h6 class="title center-align">Status</h6>

</a>

<a class=" col l2 m4 s6 more-container center-align" href="#" target="_blank">

    <img class="more-img" src="{% static 'img/icons/more/scheme_icon.png' %}">

    <h6 class="title center-align">Database Schema</h6>

</a>

<a class=" col l2 m4 s6 more-container center-align" href="#" target="_blank">

    <img class="more-img" src="{% static 'img/icons/more/funding_icon.png' %}">

    <h6 class="title center-align">Funding</h6>

</a>

<a class=" col l2 m4 s6 more-container center-align" href="#" target="_blank">

    <img class="more-img" src="{% static 'img/icons/more/rdf_icon.png' %}">

    <h6 class="title center-align">EBI RDF Platform</h6>

</a>

<a class=" col l2 m4 s6  more-container center-align" href="#" target="_blank">

    <img class="more-img" src="{% static 'img/icons/more/internships_icon.png' %}">

    <h6 class="title center-align">Internships</h6>

</a>
