{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}DAssayNetworkCard{% endblock %}

{% block buttons %}

 {% block DBasicInformation-dnld %}
    {% with btn_id='DBasicInformation-dnld' additional_classes='hide-on-small-only' %}
      {% include "glados/base/btn_download_small.html" %}
    {% endwith %}
  {% endblock %}

  {% block DBasicInformation-small-dnld %}
    {% with btn_id='DBasicInformation-small-dnld' additional_classes='hide-on-med-and-up' %}
      {% include "glados/base/btn_download_small_2_lines.html" %}
    {% endwith %}
  {% endblock %}

{% endblock %}

{% block general_content %}

{% verbatim %}
<script id="Handlebars-Document-DAN-FullScreenLink" type="text/x-handlebars-template">

  <a href="/document_assay_network/{{chembl_id}}" target="_blank">See in full screen</a>

</script>
{% endverbatim %}

{% verbatim %}
<script id="Handlebars-Document-DAN-NumResults" type="text/x-handlebars-template">
  {{num_results}} Assays found:
</script>
{% endverbatim %}

<div class="fullscreen-link">
</div>

<div class="num-results">
</div>

<div id="AssayNetworkVisualisationContainer">

</div>

{% endblock %}