{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}DBasicInformation{% endblock %}

{% block table %}

<table class="compact-table striped hide-on-small-only">

  <tr>
    <td class="fixed-width-column-11"><b>Doc ID:</b></td>
    <td>CHEMBL1151960</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Journal:</b></td>
    <td>J. Med. Chem. (2009) 52:5058-5068</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Title:</b></td>
    <td>Modified smear method for screening potential inhibitors of platelet aggregation from plant sources.</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Authors:</b></td>
    <td>Yun-Choi HS, Kim SO, Kim JH, Lee JR, Cho HI</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Abstract:</b></td>
    <td>The smear method developed by Velaskar and Chitre was modified to allow the massive screening of plant extracts
      and/or fractions for platelet antiaggregating activity. Aspirin and papaverine, known inhibitors of platelet
      aggregation, were tested by the modified method and showed comparable results with previously reported data.
      Fifty-four fractions prepared from eighteen plant species were screened for their inhibitory effects on adenosine
      5'-diphosphate, arachidonic acid, or collagen-induced rat platelet aggregation. The results suggest that plants
      could be a potential source of inhibitors of platelet aggregation.
    </td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>CiteXplore:</b></td>
    <td><a href="http://europepmc.org/abstract/MED/3928819" target="_blank">3928819</a></td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>DOI:</b></td>
    <td><a href="http://dx.doi.org/10.1021/np50039a003" target="_blank">10.1021/np50039a003</a></td>
  </tr>

</table>

{% endblock %}

{% block collection %}

<ul class="collection hide-on-med-and-up">

  <li class="collection-item">

    <b>Doc ID:</b> CHEMBL1151960

  </li>

  <li class="collection-item">

    <b>Journal:</b> J. Med. Chem. (2009) 52:5058-5068

  </li>

  <li class="collection-item">

    <b>Title:</b> Modified smear method for screening potential inhibitors of platelet aggregation from plant sources.

  </li>

  <li class="collection-item">

    <b>Authors:</b> Yun-Choi HS, Kim SO, Kim JH, Lee JR, Cho HI

  </li>

  <li class="collection-item">

    <b>Abstract:</b> The smear method developed by Velaskar and Chitre was modified to allow the massive screening of plant extracts
      and/or fractions for platelet antiaggregating activity. Aspirin and papaverine, known inhibitors of platelet
      aggregation, were tested by the modified method and showed comparable results with previously reported data.
      Fifty-four fractions prepared from eighteen plant species were screened for their inhibitory effects on adenosine
      5'-diphosphate, arachidonic acid, or collagen-induced rat platelet aggregation. The results suggest that plants
      could be a potential source of inhibitors of platelet aggregation.

  </li>

  <li class="collection-item">

    <b>CiteXplore:</b> <a href="http://europepmc.org/abstract/MED/3928819" target="_blank">3928819</a>

  </li>

  <li class="collection-item">

    <b>DOI:</b> <a href="http://dx.doi.org/10.1021/np50039a003" target="_blank">10.1021/np50039a003</a>

  </li>

</ul>
{% endblock %}