<div class='BCK-CompTargetMatrix'>

  <div class="row BCK-VisualisationMessages" data-hb-template="Handlebars-Common-VisualisationProgress">

  </div>

  <div class="row">

    <div class="input-field col s6 l4 select-colouring-container" data-hb-template="Handlebars-Common-SortSelect">
      <!-- Backbone fills this in the MatrixView -->
    </div>

    <div class="input-field col s4 l3 select-row-sort-container" data-hb-template="Handlebars-Common-SortSelect">
      <!-- Backbone fills this in the MatrixView -->
    </div>

    <div class="col s2 l1 full-height btn-row-sort-direction-container" data-hb-template="Handlebars-Common-SortDirectionBtn">
       <!-- Backbone fills this from the corresponding view -->
    </div>

    <div class="input-field col s4 l3 select-col-sort-container" data-hb-template="Handlebars-Common-SortSelect">
      <!-- Backbone fills this in the MatrixView -->
    </div>

    <div class="col s2 l1 full-height btn-col-sort-direction-container" data-hb-template="Handlebars-Common-SortDirectionBtn">
       <!-- Backbone fills this from the corresponding view -->
    </div>

  </div>

  <div class="BCK-CompTargMatrixContainer es-results-matrix">

  </div>

  <div class="row BCK-CompResultsGraphLegendContainer center-align">
  </div>
</div>