<div class='BCK-CompResultsGraph'>

   <div class="row BCK-VisualisationMessages" data-hb-template="Handlebars-Common-VisualisationProgress">
  </div>

   <div class="row">

    <div class="input-field col s6 m3">
      <select class="select-xaxis">
        <option value="full_mwt" selected>full_mwt</option>
        <option value="aromatic_rings">aromatic_rings</option>
        <option value="heavy_atoms">heavy_atoms</option>
        <option value="num_ro5_violations">num_ro5_violations</option>
        <option value="max_phase">max_phase</option>
      </select>
      <label>X axis:</label>
    </div>

     <div class="input-field col s6 m3">
      <select class="select-yaxis">
        <option value="full_mwt" >full_mwt</option>
        <option value="aromatic_rings" selected>aromatic_rings</option>
        <option value="heavy_atoms">heavy_atoms</option>
        <option value="num_ro5_violations">num_ro5_violations</option>
        <option value="max_phase">max_phase</option>
      </select>
      <label>Y axis:</label>
    </div>

     <div class="input-field col s6 m3">
      <select class="select-colour">
        <option value="full_mwt">full_mwt</option>
        <option value="aromatic_rings">aromatic_rings</option>
        <option value="heavy_atoms" selected>heavy_atoms</option>
        <option value="num_ro5_violations">num_ro5_violations</option>
        <option value="structure_type">structure_type</option>
        <option value="max_phase">max_phase</option>
      </select>
      <label>Colour by:</label>
    </div>

    <div class="input-field col s6 m3">
      <a class="reset-zoom-btn">reset zoom</a>
    </div>

  </div>

  <div class="BCK-CompResultsGraphContainer">
  </div>

</div>