{% extends "glados/base/base_layout.html" %}

{% block title %}Compound results graph{% endblock %}

{% block stylesheets %}

<style>

.y-axis line,
.x-axis line{
  fill: none;
  stroke: gray;
  stroke-dasharray: 10,2;
}

</style>

{% endblock %}

{% block content %}



<div class="container main-container">

  <h2>
    <span><i class="icon icon-generic" data-icon="g"></i>Search Results Graph</span>
  </h2>


  {% include "glados/SearchResultsParts/CompoundResultsGraphBase.html" %}


</div>

{% endblock %}

{% block custom_js_inline %}

var compResGraphView = SearchResultsApp.initCompResultsGraphView($('.BCK-CompResultsGraph'));
compResGraphView.render();

{% endblock %}