<div id="es-query-explain-wrapper" style="display: none;">
  <h3 class="es-query-explain-header">
    Search Results <small><small><a class="es-query-explain-show dotted-link">Why am I getting these results?</a></small></small>
  </h3>
  <div class="card search-banner-results z-depth-0 es-query-explain" style="display: none">
    <a class="es-query-explain-close close-corner-button"><i class="material-icons">close</i></a>
    <div class="card-content">
      <div class="row no-padding no-margin">
        <div class="col m12">
          <b>Your Query:</b>
          <p class="center-align query-explain-p"></p>
          <hr>
          <div class="center-align">
            <a class="menu-button edit-query">Edit query</a>
            <a class="menu-button edit-query-nt">Edit query in a new tab</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>