{% extends "glados/base/base_layout.html" %}

{% block title %}Results{% endblock %}

{% block content %}

{% include "glados/SearchResultsParts/SearchBar.html" %}

<!-- Handlebars Templates -->
{% verbatim %}
<script id="Handlebars-ESResults-Chips" type="text/x-handlebars-template">
  <span class="hide-on-med-and-down">Summary:</span>
  {{#each chips}}
    {{#if this.prepend_br}}<br class="hide-on-med-and-up"/>{{/if}}
    <a href="{{this.url_path}}" class="waves-effect waves-light chip chip-rl-summary{{#if this.selected}} selected{{/if}}">
      <span class="badge-primary-color-no-float">{{this.total_records}}</span> {{this.label}}
    </a>
  {{/each}}
</script>

<script id="Handlebars-DownloadColButtons" type="text/x-handlebars-template">
  {{#each formats}}
  <a class="waves-effect waves-light btn-small teal es-collection-download-btn BCK-download-btn-for-format"
     data-format="{{this}}">
    <p><i class="fa fa-download"></i></p>
    <p>{{this}}</p>
  </a>
  {{/each}}
</script>

<script id="Handlebars-SwitchColViewButtons" type="text/x-handlebars-template">
  {{#each options}}
  <a class="waves-effect waves-light btn-small teal es-collection-download-btn BCK-btn-switch-view"
    data-view="{{this.label}}">
    <p><i class="fa {{this.icon_class}}"></i></p>
    <p>{{this.label}}</p>
  </a>
  {{/each}}
</script>


<script id="Handlebars-ESResultsListTitleAndMenu" type="text/x-handlebars-template">
  <h3>{{es_results_list_title}}
    <small><small>
      <a id ="{{es_results_list_id}}-filter-link" href="{{es_results_url_path}}" style="display: none">Filter {{es_results_list_title}} results</a>
      <a id ="{{es_results_list_id}}-all-link" href="{{es_all_results_url_path}}" style="display: none">Explore All Results</a>
    </small></small>
  </h3>

  <div id ="{{es_results_list_id}}-menu">

    <div class="row">

      <div class="col s12 m6 BCK-download-btns-container" data-hb-template="Handlebars-DownloadColButtons">
        <!-- backbone fills this -->
      </div>

      <div class="col s12 m6 right-align BCK-changeView-btns-container" data-hb-template="Handlebars-SwitchColViewButtons">

        <!-- backbone fills this -->

      </div>

    </div>

    <div class="row">
      <div class="col" >
        <span class="download-messages-container">
        </span>
      </div>
    </div>

  </div>

</script>


<script id="Handlebars-ESResultsListViewContainer" type="text/x-handlebars-template">

  <div id="{{es_results_list_id}}">

  </div>
</script>

<script id="Handlebars-ESResultsListMatrixView" type="text/x-handlebars-template">
  <span class="load-messages-container">
  </span>

  <div class="card grey lighten-5">
    <div class="card-content">
      {% endverbatim %}

        {% include "glados/SearchResultsParts/CompoundTargetMatrixBase.html" %}

      {% verbatim %}
    </div>

</div>
</script>

<script id="Handlebars-ESResultsListGraphView" type="text/x-handlebars-template">

  <span class="load-messages-container">
  </span>

  <div class="card grey lighten-5">
    <div class="card-content">
      {% endverbatim %}

        {% include "glados/SearchResultsParts/CompoundResultsGraphBase.html" %}

      {% verbatim %}
    </div>


</script>

<script id="Handlebars-ESResultsListTableView" type="text/x-handlebars-template">

  {% endverbatim %}
    {% include "glados/base/PaginatedCollections/DefaultTableContent.html" %}
  {% verbatim %}

</script>

<script id="Handlebars-ESResultsListInfiniteView" type="text/x-handlebars-template">
Infinite
</script>

{% endverbatim %}

{% verbatim %}
<script id="Handlebars-ESResultsListCardsView" type="text/x-handlebars-template">

{% endverbatim %}
    {% include "glados/base/PaginatedCollections/DefaultCardPageContent.html" %}
{% verbatim %}

</script>
{% endverbatim %}

<!-- End of Handlebars Templates -->

<div class="container main-container" id="BCK-ESResults" style="display: none">
  <div id="BCK-ESResults-header">
    <h3>
      <span><i class="icon icon-functional" data-icon="b"></i>Browse Results</span>
    </h3>

    <div class="summary-chips-container">
      <!-- this is filled by backbone after each list receives its data -->
    </div>

  </div>
  <div id="BCK-ESResults-lists">
    <!-- This content is rendered using handlebars templates -->
  </div>
</div>

{% endblock %}

{% block custom_js_inline %}

// this lists will come from the results of the search
SearchResultsApp.init();

{% endblock %}