<!-- ChEMBL Header SearchBar -->
<div id="chembl-header-search-bar-container"
     class="col l6 pull-l0 m6 pull-m1 s12 no-padding {{ hide_side_nav|yesno:',hide-before-big-bar' }}">
    {% block autocomplete_chembl_header %}
      {% include "glados/SearchResultsParts/SearchBarAutocomplete.html" %}
    {% endblock %}
    <ul class="max-expand-content">
        <li>
            <div class="row chembl-search-bar-container">
                <div class="col s12 no-padding">
                    <div class="row search-bar-wrapper">
                        <div class="col s10 no-padding">
                            <input type="search" value="" name="search-str" class="chembl-search-bar" placeholder="Search in ChEMBL!">
                        </div>
                        <div class="col s1 no-padding">
                            <a class="search-button green lighten-1 hoverable waves-effect waves-light">
                                <i class="material-icons">search</i>
                            </a>
                        </div>
                        <div class="col s1 no-padding">
                            <a class="draw-structure green lighten-1 hoverable waves-effect waves-light tooltipped hide-on-small-only"
                               data-position="left" data-delay="50" data-tooltip="Draw a structure">
                                <i class="icon icon-conceptual icon-c6" data-icon="b"> </i>
                            </a>
                            <a class="draw-structure green lighten-1 hoverable waves-effect waves-light tooltipped hide-on-med-and-up"
                                href="{% url 'main' %}marvin_search_fullscreen/"
                                data-position="left" data-delay="50" data-tooltip="Draw a structure">
                                <i class="icon icon-conceptual icon-c6" data-icon="b"> </i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="example-link-container green-text lighten-5">
                        <b class="green-text lighten-5">Examples: </b>
                        <a class="example-link" href="{% url 'main' %}search_results/Dopamine" >Dopamine</a>,
                        <span class="hide-on-small-only" ><a class="example-link" href="{% url 'main' %}search_results/Aspirin">Aspirin</a>,</span>
                        <a class="example-link" href="{% url 'main' %}search_results/NCCc1ccc(O)c(O)c1"  >NCCc1ccc(O)c(O)c1</a><span class="hide-on-small-only no-padding no-margin">,</span>
                        <span class="hide-on-small-only" ><a class="example-link hide-on-small-only" href="{% url 'main' %}search_results/Liver">Liver</a></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

