<div class="container main-container">
  {% if not hide_side_nav %}
    <div id="BCK-SRB-wrapper">
      {% block autocomplete_BCK_SRB %}
        {% include "glados/SearchResultsParts/SearchBarAutocomplete.html" %}
      {% endblock %}
      <div class="hide-on-small-only" >

        <div class="card search-banner z-depth-0">
            <div class="card-content">

              <div class="section">

                  <div class="row">

                    <div class="col m12">

                      <div class="search-bar full-height z-depth-2">

                        <div class="search-bar-help">
                          <small><b>Example:</b>
                            <a class="example-link" href="/search_results/Dopamine">Dopamine</a>,
                            <a class="example-link" href="/search_results/Dopamine" >Aspirin</a>,
                            <a class="example-link" href="/search_results/NCCc1ccc(O)c(O)c1">NCCc1ccc(O)c(O)c1</a>,
                            <a class="example-link" href="/search_results/Liver">Liver</a>
                          </small>
                        </div>

                        <div class="col m7 l8">

                          <div class="search-input-wrapper" >
                            <input type="search" value="" name="search-str"
                                   placeholder="Search in ChEMBL!" class="chembl-search-bar"/>
                          </div>

                        </div>
                        <div class="col m5 l4">
                            <div class="row no-margin">

                                <div class="col m4">

                                  <button onclick="this.blur();" class="search-opts col m12">
                                    <span>
                                      <i class="icon icon-generic" data-icon="("></i> Advanced
                                    </span>
                                  </button>

                                </div>

                                <div class="col m3">

                                  <a onclick="this.blur();" class="draw-structure draw-st-btn col m12 tooltipped hide-on-small-only"
                                        data-position="left" data-delay="50" data-tooltip="Draw a structure">
                                    <span>
                                      <i class="icon icon-conceptual icon-c6" data-icon="b"> </i> Draw
                                    </span>
                                  </a>

                                </div>

                                <div class="col m5">

                                  <button onclick="this.blur();" class="search-button search-btn col m12 tooltipped"
                                        data-position="left" data-delay="50" data-tooltip="Search">
                                    <span>
                                      <i class="icon icon-functional" data-icon="1"></i> Search
                                    </span>
                                  </button>

                                </div>

                            </div>
                        </div>


                      </div>

                    </div>

                  </div>

              </div>

            </div>

          </div>
      </div>

    </div>
  {% endif %}
  {% block query_explain %}
    {% include "glados/SearchResultsParts/ESQueryExplain.html" %}
  {% endblock %}
</div>