{% extends "glados/base/base_layout.html" %}

{% block title %}Results{% endblock %}

{% block content %}

{% include "glados/SearchResultsParts/SearchBar.html" %}

<!-- Handlebars Templates -->
{% verbatim %}
<script id="Handlebars-ESResults-Chips" type="text/x-handlebars-template">
  {{#each chips}}{{#if this.prepend_br}}<br class="hide-on-med-and-up"/>{{/if}}<a href="{{this.url_path}}" class="results-section-item{{#if this.selected}} selected{{/if}}">
      {{this.label}} <span class="badge-primary-color-no-float">{{this.total_records}}</span>
    </a>{{/each}}
</script>


<script id="Handlebars-ESResultsListViewContainer" type="text/x-handlebars-template">

  <div id="{{es_results_list_id}}">

  </div>
</script>

{% endverbatim %}

<!-- End of Handlebars Templates -->

<div class="container main-container" >

  <div class="BCK-SearchResultsContainer">

    <div class="BCK-summary-tabs-container summary-tabs" data-hb-template="Handlebars-ESResults-Chips">
      <!-- this is filled by backbone after each list receives its data -->
    </div>

    <div class="BCK-ESResults-lists">
      <!-- This content is rendered using handlebars templates -->
    </div>

  </div>
</div>

{% endblock %}

{% block custom_js_inline %}

// this lists will come from the results of the search
SearchResultsApp.init();

{% endblock %}