{% extends "glados/base/base_layout.html" %}

{% block title %}Results{% endblock %}

{% block content %}

{% include "glados/SearchResultsParts/SearchBar.html" %}

<!-- Handlebars Templates -->
{% verbatim %}
<script id="Handlebars-ESResults-Chips" type="text/x-handlebars-template">
  Summary:
  {{#each chips}}
  <div class="chip">
    <a href="{{this.url_path}}"><span class="teal-text">{{this.total_records}}</span>  {{this.label}}</a>
  </div>
  {{/each}}
</script>
{% endverbatim %}

{% verbatim %}
<script id="Handlebars-ESResultsListTitleAndMenu" type="text/x-handlebars-template">
  <h3>{{es_results_list_title}}</h3>

  <div id ="{{es_results_list_id}}-menu">

    <div class="row">

      <div class="col BCK-download-btns-container" data-hb-template="Handlebars-Common-DownloadColButtons">
        <!-- backbone fills this -->
      </div>

    </div>

    <div class="row">
      <div class="col" >
        <span class="download-messages-container">
        </span>
      </div>
    </div>

  </div>

</script>
{% endverbatim %}


<script id="Handlebars-ESResultsListCards" type="text/x-handlebars-template">
  {% verbatim %}
  <div id="{{es_results_list_id}}">
      {% endverbatim %}
      {% include "glados/base/PaginatedCollections/DefaultCardPageContent.html" %}

  </div>
</script>

<!-- End of Handlebars Templates -->

<div class="container main-container" id="BCK-ESResults" style="display: none">
  <div id="BCK-ESResults-header">
    <h3>
      <span><i class="icon icon-functional" data-icon="b"></i>Browse Results</span>
    </h3>

    <div class="summary-chips-container">
      <!-- this is filled by backbone after each list receives its data -->
    </div>

  </div>
  <div id="BCK-ESResults-lists">
    <!-- This content is rendered using handlebars templates -->
  </div>
</div>

{% endblock %}

{% block custom_js_inline %}

// this lists will come from the results of the search
SearchResultsApp.init();

{% endblock %}