/*
* ChEMBL custom style added to materialize
*/

/**
* Fonts
* ----------------------------------------------------------------------------------------------------------------------
*/

@font-face {
  font-family: "ChEMBL_Verdana";
  src: local(Verdana), url("../font/verdana/Verdana.eot");
  src: url("../font/verdana/Verdana.eot?#iefix") format("embedded-opentype"), url("../font/verdana/Verdana.woff") format("woff"), url("../font/verdana/Verdana.ttf") format("truetype"), url('../font/verdana/Verdana.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ChEMBL_Verdana";
  src: local(Verdana Bold), url("../font/verdana/Verdana-Bold.eot");
  src: url("../font/verdana/Verdana-Bold.eot?#iefix") format("embedded-opentype"), url("../font/verdana/Verdana-Bold.woff") format("woff"), url("../font/verdana/Verdana-Bold.ttf") format("truetype"), url('../font/verdana/Verdana-Bold.svg') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: "ChEMBL_HelveticaNeueLTPRo";
  src: local(Verdana Bold), url("../font/helvetica/helveticaneueltprolt.eot");
  src: url("../font/helvetica/helveticaneueltprolt.eot?#iefix") format("embedded-opentype"), url("../font/helvetica/helveticaneueltprolt.woff") format("woff"), url("../font/helvetica/helveticaneueltprolt.ttf") format("truetype"), url('../font/helvetica/helveticaneueltprolt.svg') format('svg'), url('../font/helvetica/helveticaneueltprolt.otf') format('otf');
}

/**
* Typograhpy and colours
* ----------------------------------------------------------------------------------------------------------------------
*/

html {
  font-family: "ChEMBL_Verdana", Verdana, sans-serif;
}

body {
  line-height: 20px;
}

h1 {
  color: #f7f7f7;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 370%;
}

h2 {
  color: #207a7a;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 277%;
}

h3 {
  color: #996a44;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 182%;
}

h4 {
  color: #222;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 161.6%;
}

h5 {
  color: #222;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 138.5%;
}

h6 {
  color: #222;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 123.1%;
}

/**
* General layout setup
* ----------------------------------------------------------------------------------------------------------------------
*/

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/**
* Side Menu bar
* ----------------------------------------------------------------------------------------------------------------------
*/

.side-nav li.menu-logo {
  text-align: center;
  height: 105px;
  background-color: #207a7a;
  border-bottom: 1px solid #d1d1d1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 5%;

}

.side-nav li.menu-logo:hover {
  background-color: #207a7a;
}

.side-nav.fixed li.menu-logo {
  height: 90px;
}

.side-nav li.menu-logo a {
  height: 100%;
  padding: 0px;
}

.side-nav li.menu-logo img {
  height: 90%;
  padding: 5px;
  margin-top: 5px;
}

.side-nav {
  width: 180px;
}

.side-nav.fixed {
  padding-top: 32px;
  z-index: 960;
}

.side-nav li {
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  padding-left: 5px;
}

.side-nav li:hover {
  background-color: #b2dfdb;
}

.side-nav a,
.side-nav li {
  height: 34px;
  line-height: 34px;
}

.side-nav a {
  padding-top: 2px;
}

.side-nav span.badge {
  position: relative;
  padding: 3px;
  border-radius: 4px;
  text-align: center;
  left: 5px;
  bottom: 2px;
}

main {
  /* to prevent the side bar from overlapping the main contens */
  padding-left: 180px;
}

/**
* Chembl bar
* ----------------------------------------------------------------------------------------------------------------------
*/

header .row {
  margin-bottom: 0;
}

nav.top-nav {
  background-color: #207a7a;
  background: linear-gradient(to right, #207a7a 60%, white);
  height: 90px;
  line-height: 100px;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  border-bottom: 1px solid #d1d1d1;
  padding-left: 50px;
}

nav.top-nav a {
  text-shadow: 1px 1px #000000;
  font-size: 3rem;
}

/* responsive sizes */
@media only screen and (max-width: 993px) {
  header, main, footer {
    padding-left: 0px;
  }

  nav.top-nav {
    background: #207a7a;
    margin-left: 0px;
    margin-top: 0px;
    height: 56px;
    line-height: 61px;
    padding-left: 0px;
  }

  nav.top-nav a {
    font-size: 2rem;
  }
}

/**
* EMBL-EBI bar
* ----------------------------------------------------------------------------------------------------------------------
*/

div#global-masthead,
div#global-masthead nav {
  height: auto;
  background-color: #333333;
  position: relative;
  z-index: 970;
  line-height: 1px;
  border-bottom: 1px solid #e3e3e3
}

div#global-masthead nav {
  float: right
}

div#global-masthead p {
  margin: 0
}

div.masthead ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  line-height: normal;
}

div.masthead ul li {
  float: left;
}

div.masthead ul a {
  display: block;
}

div.masthead ul li a,
div.masthead ul li a {
  padding: 0.2em 0.6em;
  font-size: 93%;

}

div.masthead ul li abbr {
  border-bottom: 0 none
}

div#global-masthead {
  border-bottom: 1px solid #e3e3e3
}

div#global-masthead p,
div#global-masthead img {
  float: left
}

div#global-masthead img {
  padding-left: 0.69em;
  float: left;
}

div#global-masthead p {
}

div#global-masthead p#logo a,
div#global-masthead p#logo a:link,
div#global-masthead p#logo a:visited {
  border: 0 none
}

div#local-footer p {
  padding-top: 10px;
  margin: 0
}

div#global-masthead nav {
  height: auto;
}

div#global-masthead ul {
  float: right;
  font-size: 93%;

}

div#global-masthead ul li a {
  display: block;
  border-right: 1px solid #000;
  border-left: 1px solid #666;
  padding-top: 5px;
  height: 31px;
}

.oldie div#global-masthead ul li a {
  width: 5em;
  text-align: center
}

div#global-masthead ul li.first a {
  border-left: 0 none
}

div#global-masthead ul li.last a {
  border-right: 0 none
}

div#global-masthead ul li a,
div#global-masthead ul li a:link,
div#global-masthead ul li a:visited {
  color: white;
  border-bottom: 0 none
}

div#global-masthead ul li a:hover,
div#global-masthead ul li a:active,
div#global-masthead ul li a:focus,
div#global-masthead ul li.active a,
div#global-masthead ul li.active-trail a {
  border-top: 3px solid white;

}

div#global-masthead ul li#services a:hover,
div#global-masthead ul li#services a:active,
div#global-masthead ul li#services a:focus,
div#global-masthead ul li.active#services a,
div#global-masthead ul li.active-trail#services a {
  border-top-color: #207a7a
}

div#global-masthead ul li#research a:hover,
div#global-masthead ul li#research a:active,
div#global-masthead ul li#research a:focus,
div#global-masthead ul li#research.active a,
div#global-masthead ul li#research.active-trail a {
  border-top-color: #71b360
}

div#global-masthead ul li#training a:hover,
div#global-masthead ul li#training a:active,
div#global-masthead ul li#training a:focus,
div#global-masthead ul li#training.active a,
div#global-masthead ul li#training.active-trail a {
  border-top-color: #fab700
}

div#global-masthead ul li#industry a:hover,
div#global-masthead ul li#industry a:active,
div#global-masthead ul li#industry a:focus,
div#global-masthead ul li#industry.active a,
div#global-masthead ul li#industry.active-trail a {
  border-top-color: #346189
}

div#global-masthead ul li#industry {
  display: none !important
}

div#global-masthead ul li#about a:hover,
div#global-masthead ul li#about a:active,
div#global-masthead ul li#about a:focus,
div#global-masthead ul li#about.active a,
div#global-masthead ul li#about.active-trail a {
  border-top-color: #207a7a
}

div#global-masthead ul li#about-us a:hover,
div#global-masthead ul li#about-us a:active,
div#global-masthead ul li#about-us a:focus,
div#global-masthead ul li#about-us.active a,
div#global-masthead ul li#about-us.active-trail a {
  border-top-color: #207a7a
}

/**
* EMBL-EBI Medium and small bar
* ----------------------------------------------------------------------------------------------------------------------
*/

div#global-masthead-small nav {
  height: 49px;
  background-color: #333333;
  position: relative;
  z-index: 970;
  line-height: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#global-masthead-small img {
  margin-left: 9px;
  margin-top: 7px;
}

#global-masthead-small .row {
  margin-bottom: 0px;
}

#global-masthead-small .menu-link {
  display: inline-block;
  margin: 0 0 -4px 0;
  line-height: 4px;
  vertical-align: middle;
  padding: 6px 4px 0px;
  width: 48px;
  text-align: center;
  font-size: 8px;
  height: 49px;
  overflow: hidden;
  float: right;
}

#global-masthead-small a {
  color: #dedede;
}

#global-masthead-small div#masthead-mobile-services {
  border-bottom: 3px solid #60bdc4;
}

#global-masthead-small div#masthead-mobile-research {
  border-bottom: 3px solid #73A95B;
}

#global-masthead-small div#masthead-mobile-training {
  border-bottom: 3px solid #fab700;
}

#global-masthead-small div#masthead-mobile-about {
  border-bottom: 3px solid #60bdc4;
}

#global-masthead-small div#masthead-mobile-search {
  border-bottom: 3px solid #000;
}

#global-masthead-small div#masthead-mobile-services.active {
  background: #60bdc4;
  border-bottom: 3px solid #FFF;
}

#global-masthead-small div#masthead-mobile-research.active {
  background: #73A95B;
  border-bottom: 3px solid #FFF;
}

#global-masthead-small div#masthead-mobile-training.active {
  background: #fab700;
  border-bottom: 3px solid #FFF;
}

#global-masthead-small div#masthead-mobile-about.active {
  background: #60bdc4;
  border-bottom: 3px solid #FFF;
}

#global-masthead-small div#masthead-mobile-search.active {
  background: #000;
  border-bottom: 3px solid #FFF;
}

/*  TODO: check if there is a better way to paint the borders of the menu items */

#global-masthead-small .embl-bar-icon {
  padding: 0;
  margin: 0;
  font-size: 2.2em;
}

/**
* EMBL-EBI footer
* ----------------------------------------------------------------------------------------------------------------------
*/
div#global-footer-small,
div#global-footer-medium,
div#global-footer {
  background-color: rgb(250, 250, 250);
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 980;
  height: auto;
  max-width: none;
  line-height: 1.538;
}

div#global-footer-small img,
div#global-footer-medium img,
div#global-footer img {
  padding-left: 0.7em;
  margin: 29px 0 0 0;
  float: left;
}

#ebi-footer-meta-small,
#ebi-footer-meta-medium,
#ebi-footer-meta {
  padding-bottom: 1px;
  clear: both
}

#global-footer-small,
#global-footer-medium,
#global-footer {
  border-top: 5px solid #eee
}

#global-footer-small h3,
#global-footer-medium h3,
#global-footer h3 {
  font-size: 123.1%;
  margin-bottom: 5px;
  color: #333;
  line-height: 1.538;
  margin-top: 20px;
}

#global-footer-small h3 a,
#global-footer-medium h3 a,
#global-footer h3 a {
  padding: 0.5em 0.3em 0em 0.3em;
}

#global-footer-small h3 a:link,
#global-footer-medium h3 a:link,
#global-footer h3 a:link {
  color: #333333;
}

#global-footer-small h3 a:visited,
#global-footer-medium h3 a:visited,
#global-footer h3 a:visited {
  color: #333333;
}

#global-footer-small p,
#global-footer-medium p,
#global-footer p {
  font-size: 100%;
  margin: 0 0 5px 0
}

#global-footer-small ul,
#global-footer-medium ul,
#global-footer ul {
  font-size: 75%;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 0;
}

#global-footer-small a,
#global-footer-medium a,
#global-footer a {
  border-bottom: 0 none;
  color: #0f2559;
}

#global-footer-small a:hover,
#global-footer-medium a:hover,
#global-footer a:hover {
  color: #0e6a0e;
}

#global-footer-small a:visited,
#global-footer-medium a:visited,
#global-footer a:visited {
  color: #666;
}

#global-footer-small ul li a,
#global-footer-medium ul li a,
#ebi-footer-meta-medium p a,
#global-footer ul li a,
#ebi-footer-meta p a {
  padding: 2px 4px 2px 0
}

#ebi-footer-meta-small p a,
#ebi-footer-meta-medium p a,
#ebi-footer-meta p a {
  margin-left: 0
}

#global-footer-small ul li a:hover,
#global-footer-small ul li a:focus,
#global-footer-small ul li a:active,
#ebi-footer-meta-small p a:hover,
#ebi-footer-meta-small p a:focus,
#ebi-footer-meta-small p a:active,
#global-footer-medium ul li a:hover,
#global-footer-medium ul li a:focus,
#global-footer-medium ul li a:active,
#ebi-footer-meta-medium p a:hover,
#ebi-footer-meta-medium p a:focus,
#ebi-footer-meta-medium p a:active,
#global-footer ul li a:hover,
#global-footer ul li a:focus,
#global-footer ul li a:active,
#ebi-footer-meta p a:hover,
#ebi-footer-meta p a:focus,
#ebi-footer-meta p a:active {
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #e4e4e4
}

#ebi-footer-meta-medium p.address,
#ebi-footer-meta p.address {
  color: #888;
  font-size: 85%;
  padding-left: 0.7em;
}

#ebi-footer-meta-medium p.terms-of-use,
#ebi-footer-meta p.terms-of-use {
  font-size: 85%;
  padding-left: 0.7em;
}

#ebi-footer-meta-small p.address,
#ebi-footer-meta-small p.terms-of-use {
  font-size: 65%;
  padding-left: 0.7em;
}

#global-footer-small h3.services,
#global-footer-medium h3.services,
#global-footer h3.services {
  border-bottom: 2px solid #207a7a
}

#global-footer-small h3.research,
#global-footer-medium h3.research,
#global-footer h3.research {
  border-bottom: 2px solid #71b360
}

#global-footer-small h3.training,
#global-footer-medium h3.training,
#global-footer h3.training {
  border-bottom: 2px solid #fab700
}

#global-footer-small h3.industry,
#global-footer-medium h3.industry,
#global-footer h3.industry {
  border-bottom: 2px solid #346189
}

#global-footer-small h3.about,
#global-footer-medium h3.about,
#global-footer h3.about {
  border-bottom: 2px solid #207a7a
}

#global-footer-small h3:hover,
#global-footer-small h3:focus,
#global-footer-small h3:active,
#global-footer-medium h3:hover,
#global-footer-medium h3:focus,
#global-footer-medium h3:active,
#global-footer h3:hover,
#global-footer h3:focus,
#global-footer h3:active {
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #e4e4e4
}

/**
* Scroll spy
* ----------------------------------------------------------------------------------------------------------------------
*/

.scrollspy-wrapper{
  position: relative;
}

.pin-top{
  margin-top: 40px;
}

.pinned{
  top: 40px;
}

.table-of-contents a.active{
  border-left: 2px solid #996a44;
}

.table-of-contents a:hover {
  border-left: 1px solid #996a44;
}

/**
* main content container
* ----------------------------------------------------------------------------------------------------------------------
*/

.main-container{
  width: 100%;
  padding-left: 2%;
}

/**
* Compound report card
* ----------------------------------------------------------------------------------------------------------------------
*/

div#CompoundNameAndClassification .row{
  margin-bottom: 0;
}

div#CompoundNameAndClassification .CNC-img{
  max-width: 100%;
  max-height: 90%;
}

div#CompoundNameAndClassification .CNC-img-btn{
  position: absolute;
  top: 50%;
}

div#CompoundNameAndClassification .CNC-table td{
  padding: 2px;
  font-size: 80%;
}

div#CompoundNameAndClassification .card-panel{
  padding: 5px;
}