 <div class="row BCK-ViewHandlerMessages" data-hb-template="Handlebars-Common-VisualisationProgress">
 </div>
  <div class="row BCK-ShowAnywayButtonContainer center-align" data-hb-template="Handlebars-Common-ShowAnywayButton">
    <a class="menu-button BCK-show-anyway">Display Visualisation</a>
 </div>
 <div class="BCK-See-all-activities" data-hb-template="Handlebars-Common-SeeMatrixAllActivites">
 </div>
<div class='BCK-CompTargetMatrix'>

  <div class="row BCK-VisualisationMessages" data-hb-template="Handlebars-Common-VisualisationProgress">
  </div>

    hola!

  <div class="row">

    <div class="input-field col s6 l4 select-colouring-container" data-hb-template="Handlebars-Common-SortSelect">
      <!-- Backbone fills this in the MatrixView -->
    </div>

    <div class="input-field col s4 l3 select-row-sort-container" data-hb-template="Handlebars-Common-SortSelect">
      <!-- Backbone fills this in the MatrixView -->
    </div>

    <div class="col s2 l1 full-height btn-row-sort-direction-container" data-hb-template="Handlebars-Common-SortDirectionBtn">
       <!-- Backbone fills this from the corresponding view -->
    </div>

    <div class="input-field col s4 l3 select-col-sort-container" data-hb-template="Handlebars-Common-SortSelect">
      <!-- Backbone fills this in the MatrixView -->
    </div>

    <div class="col s2 l1 full-height btn-col-sort-direction-container" data-hb-template="Handlebars-Common-SortDirectionBtn">
       <!-- Backbone fills this from the corresponding view -->
    </div>

  </div>


  <div class="row BCK-CompTargMatrixContainer es-results-matrix">
  </div>

  <div class="row">
    <div class="col BCK-CompResultsGraphLegendContainer legend center-align l6 offset-l3 m8 offset-m2 s10 offset-s1"></div>
    </div>
  </div>
</div>