{% extends "glados/base/basic_visualisation_card.html" %}

{% block card_id %}BCK-protein-classification-zoomburst{% endblock %}

{% block general_content %}

    <div class='tree-select-anchor'>
        <div class="tree-select-container row">
            <div class="col s12"><small>Select a hierarchy tree:</small></div>
            <select class="BCK-TreeSelect col s12 m4"
                    data-hb-template="Handlebars-Visualisations-SelectHierarchyTree">


            </select>
        </div>
    </div>

    <div class="BCK-sunbursts-container sunbursts-group-container">
    </div>

{% endblock %}
