{% extends "glados/base/basic_visualisation_card.html" %}

{% block card_id %}BCK-protein-classification-zoomburst{% endblock %}

{% block general_content %}


    <div class="row">
        <div class="col s12">Select a hierarchy tree:</div>
        <select class="BCK-TreeSelect col s12 m4"
                data-hb-template="Handlebars-Visualisations-SelectHierarchyTree">


        </select>
    </div>


    <div class="BCK-sunbursts-container">
    </div>

{% endblock %}



{##}
{#{% verbatim %}#}
{#<div>#}
{##}
{#    #}
{##}
{#    {% endverbatim %}#}
{#    {% with is_dynamic=True %}#}
{#        {% include "glados/MainPageParts/Visualizations/zoomable_sunburst.html" %}#}
{#    {% endwith %}#}
{##}
{#</div>#}


