{% extends "glados/base/basic_visualisation_card.html" %}

{% block card_id %}YourIdeaHereCard{% endblock %}

{% block general_content %}

    <div class="about-chembl valign-wrapper flow-text">
        <p class="flow-text"> <b> ChEMBL </b> is a manually curated chemical database of bioactive molecules
            with drug-like
            properties. <br> It is maintained by the European Bioinformatics Institute (EBI), of the European Molecular
            Biology Laboratory (EMBL), based at the Wellcome Trust Genome Campus, Hinxton, UK.</p>
    </div>
{% endblock %}
