{% extends "glados/base/base_layout.html" %}

{% block title %}Compound results graph{% endblock %}


{% block content %}

<div class="container main-container">

  <h2>
    <span><i class="icon icon-generic" data-icon="g"></i>Search Results Graph</span>
  </h2>

  <div id='CompResultsGraph'>

     <div class="row">

      <div class="input-field col s6">
        <select class="select-xaxis">
          <option value="" disabled selected>Choose your option</option>
          <option value="mol_wt">mol_wt</option>
          <option value="max_phase">max_phase</option>
          <option value="molecule_type">molecule_type</option>
        </select>
        <label>X axis:</label>
      </div>

    </div>

    <div id="BCK-CompResultsGraphContainer">
    </div>

  </div>
</div>

{% endblock %}

{% block custom_js_inline %}

var compResGraphView = SearchResultsApp.initCompResultsGraphView($('#CompResultsGraph'));
compResGraphView.render();

{% endblock %}