{% extends "glados/base/base_layout.html" %}

{% block title %}Compound Target Matrix{% endblock %}


{% block content %}

<div class="container main-container">

  <h2>
    <span><i class="icon icon-functional" data-icon="T"></i>Compound Targets Matrix</span>
  </h2>

  <div id='CompTargetMatrix'>

    <div class="row">

      <div class="input-field col s6">
        <select class="select-property">
          <option value="" disabled selected>Choose your option</option>
          <option value="pchembl">pchembl</option>
          <option value="num_bioactivities">num_bioactivities</option>
          <option value="assay_type">assay_type</option>
        </select>
        <label>Select property</label>
      </div>

    </div>

    <div id="BCK-CompTargMatrixContainer">

    </div>

  </div>

</div>

{% endblock %}

{% block custom_js_inline %}

var compTargMatrixView = SearchResultsApp.initCompTargMatrixView($('#CompTargetMatrix'));
compTargMatrixView.render();

{% endblock %}