{% verbatim %}
<script id="Handlebars-SearchBar-med-and-up" type="text/x-handlebars-template" xmlns="http://www.w3.org/1999/html">
  <div class="card search-banner z-depth-0">
    <div class="card-content">

      <div class="section">
        <div class="container">

          <div class="row">

            <div class="col m12">


              <div class="search-bar full-height z-depth-2">

                <div class="search-bar-help">
                  <small><b>Example:</b>
                    <a href="#" class="example_link">Dopamine</a>,
                    <a href="#" class="example_link">Aspirine</a>,
                    <a href="#" class="example_link">NCCc1ccc(O)c(O)c1</a>,
                    <a href="#" class="example_link">Liver</a>
                  </small>
                </div>

                <div class="col m8">


                  <div class="search-input-wrapper">
                    <input id="search_bar" type="search" value="{{searchBarQueryStr}}" name="search_str" placeholder="Search in ChEMBL" required/>
                  </div>


                </div>

                <div class="col m2">

                  <button id="search-opts" onclick="this.blur();" class="search-opts col m12">
                    <span>
                      <i class="icon icon-generic" data-icon="("></i> Advanced
                    </span>
                  </button>


                </div>

                <div class="col m2">

                  <button id="submit_search" onclick="this.blur();" class="search-btn col m12">
                    <span>
                      <i class="icon icon-functional" data-icon="1"></i> Search
                    </span>
                  </button>


                </div>


              </div>


            </div>


          </div>


        </div>

      </div>

    </div>

  </div>
</script>
{% endverbatim %}