{% verbatim %}
<script id="Handlebars-SearchBar-med-and-up" type="text/x-handlebars-template" xmlns="http://www.w3.org/1999/html">
  <div class="card search-banner z-depth-0">
    <div class="card-content">

      <div class="section">
        <div class="container">

          <div class="row">

            <div class="col m12">


              <div class="search-bar full-height z-depth-2">

                <div class="search-bar-help">
                  <small><b>Example:</b> <a href="/search_results?search_str=Dopamine">Dopamine</a>, <a href="#">Aspirine</a>, <a
                    href="#">NCCc1ccc(O)c(O)c1</a>, <a href="#">Liver</a>
                  </small>
                </div>

                <div class="col m8">


                  <div class="search-input-wrapper">
                    <input id="search_bar" type="search" name="search_str" placeholder="Search in ChEMBL" required>
                      {{searchBarQueryStr}}
                    </input>
                  </div>


                </div>

                <div class="col m2">


                  <div class="search-opts-wrapper valign-wrapper">


                    <div class="valign calign">
                      <a id="submit_search_1"><i class="icon icon-generic" data-icon="("></i> Advanced</a>
                    </div>

                  </div>

                </div>

                <div class="col m2">

                  <button id="submit_search_2" class="search-btn col m12">
                    <span>
                      <i class="icon icon-functional" data-icon="1"></i> Search
                    </span>
                  </button>


                </div>


              </div>


            </div>


          </div>


        </div>

      </div>

    </div>

  </div>
</script>
{% endverbatim %}