{% extends "glados/base/base_layout.html" %}

{% block title %}Results{% endblock %}


{% block content %}

<div class="container main-container">

  <h2>
    <span><i class="icon icon-functional" data-icon="b"></i>Browse Results</span>
  </h2>

  <div id="BCK-CompoundSearchResults">

    <h3>Compounds:</h3>

    {% block comps_cards_pages %}
      {% include "glados/base/PaginatedCollections/DefaultCardPageContent.html" %}
    {% endblock %}

  </div>

  <div id="BCK-DocSearchResults">

    <h3>Documents:</h3>

    {% block docs_cards_pages %}
      {% include "glados/base/PaginatedCollections/DefaultCardPageContent.html" %}
    {% endblock %}

  </div>
</div>

{% endblock %}

{% block custom_js_inline %}

// this lists will come from the results of the search
SearchResultsApp.init();

{% endblock %}