{% extends "glados/base/base_layout.html" %}

{% block title %}ChEMBL{% endblock %}

{% block content %}

<div class="container main-container">

  <div id="BCK-SimilaritySearchResults">

    <h2>Similarity Search Results:</h2>

    {% verbatim %}
      <script id="Handlebars-SimmilarCompoundsResults-Title" type="text/x-handlebars-template">
        Compounds similar with at least {{similarity}}% similarity:
      </script>
    {% endverbatim %}

    <span class="similar-compounds-title">
    </span>

    <br>
    <br>

    {% block browser_content %}
      {% include "glados/base/PaginatedCollections/DefaultInfinityBrowserContent.html" %}
    {% endblock %}

  </div>
</div>


{% endblock %}

{% block custom_js_inline %}

SearchResultsApp.initSimilaritySearchResults();

{% endblock %}