{% extends "glados/base/base_layout.html" %}

{% block title %}ChEMBL{% endblock %}

{% block content %}

<div class="container main-container">

  <div id="BCK-SimilaritySearchResults">

    <h2>Similarity Search Results:</h2>

    {% verbatim %}
      <script id="Handlebars-SimmilarCompoundsResults-Title" type="text/x-handlebars-template">
        Compounds similar with at least {{similarity}}% similarity:
      </script>
    {% endverbatim %}

    <span class="similar-compounds-title">
    </span>

    <br>
    <br>

    <div class="col s12 num-results" data-hb-template="Handlebars-Common-Paginated-NumResults">
      <!-- Backbone fills this with the infinity browser view -->
    </div>


    <div class='BCK-items-container row' data-is-infinite="yes"
         data-hb-template="Handlebars-Common-Paginated-Card">
      <!-- Backbone fills this with the infinity browser view -->
    </div>

    <div class="BCK-PreoladerContainer">
      {% block preloaders %}
      {% include "glados/base/infinite_browse_loaders.html" %}
      {% endblock %}
    </div>

  </div>
</div>


{% endblock %}

{% block custom_js_inline %}

SearchResultsApp.initSimilaritySearchResults();

{% endblock %}