{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}ApprovedDrugsAndClinicalCandidatesCard{% endblock %}

{% block buttons %}

{% block CalcCompProps-dnld %}
{% with btn_id='CalcCompProps-dnld' additional_classes='hide-on-small-only' %}
{% include "glados/base/btn_download_group.html" %}
{% endwith %}
{% endblock %}

{% block CalcCompProps-small-dnld %}
{% with btn_id='CalcCompProps-small-dnld' additional_classes='hide-on-med-and-up' %}
{% include "glados/base/btn_download_small_2_lines.html" %}
{% endwith %}
{% endblock %}

{% endblock %}

{% block menu %}

<div class="row">

  <div class="BCK-select-page-size-container col s4" data-hb-template="Handlebars-Common-SelectPageSizeContainer">

      <!-- Backbone fills this, it will use the handlebars template defined in data-hb-template -->

  </div>

<div class="col offset-s3 s4">

  <div class="input-field">
    <input placeholder="Search" id="first_name" type="text" class="validate search">
  </div>

</div>

</div>

{% endblock %}

{% block table %}

<table class="BCK-items-container compact-table striped hide-on-small-only ebi-links"
       data-hb-template="Handlebars-Common-Paginated-Row-large"
       data-hb-header-template="Handlebars-Common-Paginated-Header-large">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</table>

{% endblock %}


{% block collection %}


<ul class="BCK-items-container collection hide-on-med-and-up" data-hb-template="Handlebars-Common-Pagination-LI">

   <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</ul>

{% endblock %}

{% block pagination %}


<div class='BCK-paginator-container' data-hb-template="Handlebars-Common-Paginated-UL">

   <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% endblock %}