{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}ApprovedDrugsAndClinicalCandidatesCard{% endblock %}

{% block buttons %}

{% block CalcCompProps-dnld %}
{% with btn_id='CalcCompProps-dnld' additional_classes='hide-on-small-only' %}
{% include "glados/base/btn_download_small.html" %}
{% endwith %}
{% endblock %}

{% block CalcCompProps-small-dnld %}
{% with btn_id='CalcCompProps-small-dnld' additional_classes='hide-on-med-and-up' %}
{% include "glados/base/btn_download_small_2_lines.html" %}
{% endwith %}
{% endblock %}

{% endblock %}

{% block table %}

{% verbatim %}
<script id="Handlebars-Target-ADCCRow-large" type="text/x-handlebars-template">

  <tr>

    <td><a href="/compound_report_card/{{molecule_chembl_id}}" target="_blank">{{molecule_chembl_id}}</a></td>
    <td>{{pref_name}}</td>
    <td>{{mechanism_of_action}}</td>
    <td>{{max_phase}}</td>
    <td><a href="http://europepmc.org/abstract/MED/15987694">PubMed</a></td>

  </tr>

</script>
{% endverbatim %}

<table id='ADCCTable-large' class="compact-table striped hide-on-small-only ebi-links"
       data-hb-template="Handlebars-Target-ADCCRow-large">

  <tr>

    <th>ChEMBL ID</th>
    <th>Name</th>
    <th>Mechanism of Action</th>
    <th>Max Phase</th>
    <th>References</th>

  </tr>

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</table>

{% endblock %}


{% block collection %}

{% verbatim %}
<script id="Handlebars-Target-ADCCLI-large" type="text/x-handlebars-template">

  <li class="collection-item">

    <p>

      <b>ChEMBL ID:</b> <a href="/compound_report_card/{{molecule_chembl_id}}">{{molecule_chembl_id}}</a><br>
      <b>Name:</b>{{pref_name}}<br>
      <b>Mechanism of Action:</b>{{mechanism_of_action}}<br>
      <b>Max Phase:</b> {{max_phase}}<br>
      <b>References:</b> <a href="http://europepmc.org/abstract/MED/15987694">PubMed</a><br>

    </p>

  </li>

</script>
{% endverbatim %}


<ul id='ADCCUL-small' class="collection hide-on-med-and-up" data-hb-template="Handlebars-Target-ADCCLI-large">

   <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</ul>

{% endblock %}

{% block pagination %}

{% verbatim %}
<script id="Handlebars-Target-ADCCPaginator" type="text/x-handlebars-template">

  <ul class="pagination">
    <li class="page-selector" data-page='previous'><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect page-selector active" data-page='1' ><a href="#!">1</a></li>
    <li class="waves-effect page-selector" data-page='2' ><a href="#!">2</a></li>
    <li class="waves-effect page-selector" data-page='3' ><a href="#!">3</a></li>
    <li class="waves-effect page-selector" data-page='4' ><a href="#!">4</a></li>
    <li class="waves-effect page-selector" data-page='5' ><a href="#!">5</a></li>
    <li class="waves-effect page-selector" data-page='next' ><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    <li class="waves-effect">{{total_records}} Records Found</li>
  </ul>

</script>
{% endverbatim %}

<div id='ADCCUL-paginator' data-hb-template="Handlebars-Target-ADCCPaginator">

   <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% endblock %}