{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}TGeneCrossReferencesCard{% endblock %}

{% block buttons %}

  {% block TGeneCrossRefs-dnld %}
    {% with btn_id='CalcCompProps-dnld' additional_classes='hide-on-small-only' %}
      {% include "glados/base/btn_download_group.html" %}
    {% endwith %}
  {% endblock %}

  {% block TGeneCrossRefs-small-dnld %}
    {% with btn_id='CalcCompProps-small-dnld' additional_classes='hide-on-med-and-up' %}
      {% include "glados/base/btn_download_small_2_lines.html" %}
    {% endwith %}
  {% endblock %}

{% endblock %}

{% block expandable %}

<ul class="collapsible ebi-links z-depth-0" data-collapsible="expandable">

  <li>
    <div class="collapsible-header active">
      <a href="http://www.ebi.ac.uk/arrayexpress/">
        <i class="fa fa-link"></i>
      </a>
      ArrayExpress
    </div>
    <div class="collapsible-body">

      <p>

        <a href=" http://www.ebi.ac.uk/gxa/gene/ENSG00000104365">ENSG00000104365</a>

      </p>

    </div>

  </li>

  <li>
    <div class="collapsible-header">
      <a href="http://www.ensembl.org/">
        <i class="fa fa-link"></i>
      </a>
      Ensembl
    </div>
    <div class="collapsible-body">

      <p>

        <a href="http://www.ensembl.org/Gene/Summary?g=ENSG00000104365">ENSG00000104365</a>

      </p>

    </div>

  </li>

  <li>
    <div class="collapsible-header">
      <a href="http://www.ebi.ac.uk/QuickGO/">
        <i class="fa fa-link"></i>
      </a>
      GO Cellular Component
    </div>
    <div class="collapsible-body">

      <p>

          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009898">GO:0009898</a> (cytoplasmic side of plasma membrane)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005829">GO:0005829</a> (cytosol)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008385">GO:0008385</a> (IkappaB kinase complex)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005634">GO:0005634</a> (nucleus)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005737">GO:0005737</a> (cytoplasm)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0035631">GO:0035631</a> (CD40 receptor complex)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045121">GO:0045121</a> (membrane raft)<br>


      </p>

    </div>

  </li>

  <li>
    <div class="collapsible-header">
      <a href="http://www.ebi.ac.uk/QuickGO/">
        <i class="fa fa-link"></i>
      </a>
      GO Biological Process
    </div>
    <div class="collapsible-body">

      <p>

          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0007249">GO:0007249</a> (I-kappaB kinase/NF-kappaB signaling)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0010765">GO:0010765</a> (positive regulation of sodium ion transport)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031175">GO:0031175</a> (neuron projection development)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:1903140">GO:1903140</a> (regulation of establishment of endothelial barrier)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0002755">GO:0002755</a> (MyD88-dependent toll-like receptor signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0007252">GO:0007252</a> (I-kappaB phosphorylation)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030866">GO:0030866</a> (cortical actin cytoskeleton organization)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0034162">GO:0034162</a> (toll-like receptor 9 signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042325">GO:0042325</a> (regulation of phosphorylation)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042493">GO:0042493</a> (response to drug)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043066">GO:0043066</a> (negative regulation of apoptotic process)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0090002">GO:0090002</a> (establishment of protein localization to plasma membrane)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006468">GO:0006468</a> (protein phosphorylation)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0010803">GO:0010803</a> (regulation of tumor necrosis factor-mediated signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0048011">GO:0048011</a> (neurotrophin TRK receptor signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0070498">GO:0070498</a> (interleukin-1-mediated signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0070542">GO:0070542</a> (response to fatty acid)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:1903347">GO:1903347</a> (negative regulation of bicellular tight junction assembly)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0001782">GO:0001782</a> (B cell homeostasis)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006954">GO:0006954</a> (inflammatory response)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0035509">GO:0035509</a> (negative regulation of myosin-light-chain-phosphatase activity)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0038095">GO:0038095</a> (Fc-epsilon receptor signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043123">GO:0043123</a> (positive regulation of I-kappaB kinase/NF-kappaB signaling)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0002756">GO:0002756</a> (MyD88-independent toll-like receptor signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003009">GO:0003009</a> (skeletal muscle contraction)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008284">GO:0008284</a> (positive regulation of cell proliferation)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0033209">GO:0033209</a> (tumor necrosis factor-mediated signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0034166">GO:0034166</a> (toll-like receptor 10 signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0035872">GO:0035872</a> (nucleotide-binding domain, leucine rich repeat containing receptor signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0038123">GO:0038123</a> (toll-like receptor TLR1:TLR2 signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045087">GO:0045087</a> (innate immune response)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0050852">GO:0050852</a> (T cell receptor signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0051092">GO:0051092</a> (positive regulation of NF-kappaB transcription factor activity)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0051403">GO:0051403</a> (stress-activated MAPK cascade)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009615">GO:0009615</a> (response to virus)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032481">GO:0032481</a> (positive regulation of type I interferon production)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0035666">GO:0035666</a> (TRIF-dependent toll-like receptor signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0038124">GO:0038124</a> (toll-like receptor TLR6:TLR2 signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0070423">GO:0070423</a> (nucleotide-binding oligomerization domain containing signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0002223">GO:0002223</a> (stimulatory C-type lectin receptor signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0007166">GO:0007166</a> (cell surface receptor signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009636">GO:0009636</a> (response to toxic substance)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0034138">GO:0034138</a> (toll-like receptor 3 signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0034142">GO:0034142</a> (toll-like receptor 4 signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042501">GO:0042501</a> (serine phosphorylation of STAT protein)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045893">GO:0045893</a> (positive regulation of transcription, DNA-templated)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:2001259">GO:2001259</a> (positive regulation of cation channel activity)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0002224">GO:0002224</a> (toll-like receptor signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0034134">GO:0034134</a> (toll-like receptor 2 signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0034146">GO:0034146</a> (toll-like receptor 5 signaling pathway)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045944">GO:0045944</a> (positive regulation of transcription from RNA polymerase II promoter)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0071356">GO:0071356</a> (cellular response to tumor necrosis factor)<br>
          <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:1901216">GO:1901216</a> (positive regulation of neuron death)<br>


      </p>

    </div>

  </li>

  <li>
    <div class="collapsible-header">
      <a href="http://en.wikipedia.org/">
        <i class="fa fa-link"></i>
      </a>
      Wikipedia
    </div>
    <div class="collapsible-body">

      <p>
          <a href="http://en.wikipedia.org/wiki/IKK2">IKK2</a>
      </p>

    </div>

  </li>


</ul>

{% endblock %}