{% extends "glados/base/basic_table_card.html" %}

{% block custom_handlebars %}
  {% include "glados/Handlebars/TargetReportCard/Hbs-NameAndClassification.html" %}
{% endblock %}

{% block card_id %}TNameClassificationCard{% endblock %}

{% block table %}

<div id="BCK-TNC-large" data-hb-template="Handlebars-Target-NameAndClassification-large">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% endblock %}


{% block collection %}

<ul class="collection hide-on-med-and-up">
  <li class="collection-item">

    <b>ID:</b> CHEMBL2243

  </li>
  <li class="collection-item">

    <b>Type:</b> SINGLE PROTEIN

  </li>
  <li class="collection-item">

    <b>Preferred Name:</b> Anandamide amidohydrolase

  </li>
  <li class="collection-item">

    <b>Synonyms:</b>

    <span class="chip-syn">Anandamide amidohydrolase 1</span>
    <span class="chip-syn">FAAH</span>
    <span class="chip-syn">FAAH1</span>
    <span class="chip-syn">Fatty-acid amide hydrolase 1</span>
    <span class="chip-syn">Oleamide hydrolase 1</span>


  </li>

  <li class="collection-item">

    <b>Organism:</b> Homo sapiens

  </li>

  <li class="collection-item">

    <b>Species Group:</b> No

  </li>

  <li class="collection-item">

    <b>Protein Target Classification:</b> Enzyme

  </li>
</ul>

{% endblock %}



