<div class="col s12 m10 l12">

  <div id='TNameClassificationCard' class="card chembl-card grey lighten-5">

    <div class="card-content">

      <table class="compact-table striped hide-on-small-only">
        <tr>
          <td class="fixed-width-column-11"><b>ID:</b></td>
          <td>CHEMBL2243</td>
        </tr>
        <tr>
          <td class="fixed-width-column-11"><b>Type:</b></td>
          <td>SINGLE PROTEIN</td>
        </tr>
        <tr>
          <td class="fixed-width-column-11"><b>Preferred Name:</b></td>
          <td>Anandamide amidohydrolase</td>
        </tr>
        <tr>
          <td class="fixed-width-column-11"><b>Synonyms:</b></td>
          <td>
            <span class="chip-syn">Anandamide amidohydrolase 1</span>
            <span class="chip-syn">FAAH</span>
            <span class="chip-syn">FAAH1</span>
            <span class="chip-syn">Fatty-acid amide hydrolase 1</span>
            <span class="chip-syn">Oleamide hydrolase 1</span>
          </td>
        </tr>
        <tr>
          <td class="fixed-width-column-11"><b>Organism:</b></td>
          <td> Homo sapiens</td>
        </tr>
        <tr>
          <td class="fixed-width-column-11"><b>Species Group:</b></td>
          <td>No</td>
        </tr>
        <tr>
          <td class="fixed-width-column-11"><b>Protein Target Classification:</b></td>
          <td>Enzyme</td>
        </tr>
      </table>

      <ul class="collection hide-on-med-and-up">
        <li class="collection-item">

          <b>ID:</b> CHEMBL2243

        </li>
        <li class="collection-item">

          <b>Type:</b> SINGLE PROTEIN

        </li>
        <li class="collection-item">

          <b>Preferred Name:</b> Anandamide amidohydrolase

        </li>
        <li class="collection-item">

          <b>Synonyms:</b>

          <span class="chip-syn">Anandamide amidohydrolase 1</span>
          <span class="chip-syn">FAAH</span>
          <span class="chip-syn">FAAH1</span>
          <span class="chip-syn">Fatty-acid amide hydrolase 1</span>
          <span class="chip-syn">Oleamide hydrolase 1</span>


        </li>

        <li class="collection-item">

          <b>Organism:</b> Homo sapiens

        </li>

        <li class="collection-item">

          <b>Species Group:</b> No

        </li>

        <li class="collection-item">

          <b>Protein Target Classification:</b> Enzyme

        </li>
      </ul>

    </div>

  </div>

</div>
