{% extends "glados/base/embed_base.html" %}

{% block title %}Name And Classification{% endblock %}

{% block content %}

   <div id="TargetNameAndClassification" style="margin-top: 25px;">
     {% with is_dynamic=True  %}
       {% include "glados/TargetReportCardParts/NameAndClassification.html" %}
     {% endwith %}
   </div>

{% endblock %}


{% block custom_js_inline %}

var target = TargetReportCardApp.initTarget(CHEMBL_ID);
var TNCView = TargetReportCardApp.initTNCView(target, $('#TNameClassificationCard'));
target.fetch()

{% endblock %}