<div class="col s12 m10 l12">

  <div id='TNameClassificationCard' class="card chembl-card grey lighten-5">

    <div class="card-content">

      <table class="compact-table striped">
        <tr>
          <td class="fixed-width-column-11"><b>ID:</b></td>
          <td>CHEMBL2243</td>
        </tr>
        <tr>
          <td class="fixed-width-column-11"><b>Type:</b></td>
          <td>SINGLE PROTEIN</td>
        </tr>
        <tr>
          <td class="fixed-width-column-11"><b>Preferred Name:</b></td>
          <td>Anandamide amidohydrolase</td>
        </tr>
        <tr>
          <td class="fixed-width-column-11"><b>Synonyms:</b></td>
          <td> Anandamide amidohydrolase 1 | FAAH | FAAH1 | Fatty-acid amide hydrolase 1 | Oleamide hydrolase 1</td>
        </tr>
        <tr>
          <td class="fixed-width-column-11"><b>Organism:</b></td>
          <td> Homo sapiens </td>
        </tr>
        <tr>
          <td class="fixed-width-column-11"><b>Species Group:</b></td>
          <td>No </td>
        </tr>
         <tr>
          <td class="fixed-width-column-11"><b>Protein Target Classification:</b></td>
          <td>Enzyme </td>
        </tr>
      </table>

    </div>

  </div>

</div>
