{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}TRelationsCard{% endblock %}

{% block buttons %}

  {% block TRelations-dnld %}
    {% with btn_id='TRelations-dnld' additional_classes='hide-on-small-only' %}
      {% include "glados/base/btn_download_small.html" %}
    {% endwith %}
  {% endblock %}

  {% block TRelations-small-dnld %}
    {% with btn_id='TRelations-small-dnld' additional_classes='hide-on-med-and-up' %}
      {% include "glados/base/btn_download_small_2_lines.html" %}
    {% endwith %}
  {% endblock %}

{% endblock %}

{% block menu %}

<div class="row">

<div class="input-field col s4" >
  <select class="change-page-size">
    <option value="5" >5</option>
    <option value="10" selected>10</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <label>Records per page:</label>
</div>

{% endblock %}


{% block table %}


<table id='TRTable-large' class="compact-table striped hide-on-small-only ebi-links"
       data-hb-template="Handlebars-Common-Paginated-Row-large"
       data-hb-template-2="Handlebars-Common-Paginated-Header-large">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</table>

{% endblock %}


{% block collection %}

<ul id='TR-UL-small' class="collection hide-on-med-and-up" data-hb-template="Handlebars-Common-Pagination-LI">

   <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</ul>


{% endblock %}

{% block pagination %}


<div id='TR-paginator' data-hb-template="Handlebars-Common-Paginated-UL">

   <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% endblock %}