{% extends "glados/base/embed_base.html" %}

{% block title %}Relations{% endblock %}

{% block content %}

   <div id="TRelations" style="margin-top: 25px;">
     {% with is_dynamic=True  %}
       {% include "glados/TargetReportCardParts/Relations.html" %}
     {% endwith %}
   </div>

{% endblock %}


{% block custom_js_inline %}

var targetRelations = TargetReportCardApp.initTargetRelations(CHEMBL_ID);
var tRelView = TargetReportCardApp.initTRelationsView(targetRelations, $('#TRelationsCard'));
targetRelations.fetch({reset: true});

{% endblock %}