{% verbatim %}

<script id="Handlebars-DefaultBrowserContent" type="text/x-handlebars-template">

    <h2>
        Browse {{entity_name}}
    </h2>
    {% endverbatim %}
        {% include "glados/Browsers/DefaultBrowserContent.html" %}
    {% verbatim %}

    <div class="BCK-matrix-full-screen matrix-full-screen">
        {% endverbatim %}
            {% include "glados/base/Visualisation/DefaultMatrixContent.html" %}
        {% verbatim %}
    </div>

</script>

<script id="Handlebars-MainBrowserContent" type="text/x-handlebars-template">

    <div class="container main-container BCK-main-container" style="display: none;">
      <div class="BCK-browser-wrapper" data-hb-template='Handlebars-DefaultBrowserContent'>
      </div>
    </div>

</script>

{% endverbatim %}

{% include "glados/Handlebars/ReportCards/Compound/UnichemConnectivity.html" %}