{% verbatim %}

<script id="Handlebars-DefaultBrowserContent" type="text/x-handlebars-template">

    <h2>
        Browse {{entity_name}}
    </h2>
    <div class="query-editor">
        <div>
            <a class="dotted-link">Show Full Query</a>
        </div>
        <div>
            <div>Menu</div>
            <div class="query-container">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum orci libero, nec luctus metus fermentum quis. Etiam at ex non nisl facilisis tempus. Morbi eu eleifend urna. Sed vel neque eget nulla consequat molestie id dignissim diam. Sed ullamcorper elementum sapien, ac molestie velit egestas nec. Ut mattis dignissim libero, at pretium turpis. Ut faucibus lacus lacus, at blandit ex fringilla quis. Integer tempor purus nec risus hendrerit rutrum.

    Duis dapibus mauris tellus, sit amet auctor arcu molestie venenatis. Mauris eget neque vel dui hendrerit commodo et ut sem. Aliquam nec dui faucibus, dignissim purus sit amet, commodo enim. Integer in quam at lectus commodo condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis orci lacus, semper id odio eget, sollicitudin luctus metus. Donec mi elit, bibendum bibendum magna et, imperdiet egestas dui. Nam sit amet quam urna. Etiam scelerisque leo eu odio pellentesque congue.

    Fusce sed porta libero, in malesuada mauris. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam ut mattis dolor. Praesent et lorem arcu. Curabitur ullamcorper tincidunt eros et vehicula. Curabitur volutpat ac quam sit amet ultrices.

    Nunc consequat diam id ipsum mollis pulvinar. Donec volutpat, nunc in tincidunt aliquam, nulla erat elementum ligula, vel accumsan nisi sem non mi. Nam venenatis sollicitudin venenatis. Phasellus accumsan sit amet massa sit amet viverra. Curabitur porta tempus elit, eu bibendum massa dictum eget. Suspendisse ac leo et nisl convallis rhoncus. Suspendisse consectetur risus sed ipsum maximus cursus. Cras at libero blandit, imperdiet dolor viverra, auctor odio. Proin faucibus rhoncus scelerisque. Suspendisse sed nulla ligula. Morbi eget augue vitae ante varius dapibus. Praesent suscipit turpis vel malesuada lobortis. Phasellus dapibus arcu a feugiat mollis. Nullam gravida quam id bibendum gravida.

    Phasellus massa lacus, tincidunt porta condimentum in, porta quis ante. Proin vestibulum turpis quam, sit amet aliquam magna porta quis. Pellentesque magna sapien, auctor vitae orci eu, gravida consequat est. Nunc eget interdum justo. Nam id fringilla ante. Donec tincidunt egestas elit, eget porta metus aliquam nec. Integer in eros mi.

    Duis pulvinar ultrices sagittis. Cras ultrices ex sit amet felis accumsan scelerisque feugiat nec leo. Nulla facilisi. Praesent euismod cursus est, consectetur egestas leo. Nullam sed orci eget lorem sagittis egestas. Aliquam ut pretium lacus. Pellentesque ornare dui risus, ut porta massa interdum at. Integer tortor ante, interdum at pretium a, efficitur eu dui.


            </div>
        </div>

    </div>

    {% endverbatim %}
        {% include "glados/Browsers/DefaultBrowserContent.html" %}
    {% verbatim %}

    <div class="BCK-matrix-full-screen matrix-full-screen">
        {% endverbatim %}
            {% include "glados/base/Visualisation/DefaultMatrixContent.html" %}
        {% verbatim %}
    </div>

</script>

<script id="Handlebars-MainBrowserContent" type="text/x-handlebars-template">

    <div class="container main-container BCK-main-container" style="display: none;">
      <div class="BCK-browser-wrapper" data-hb-template='Handlebars-DefaultBrowserContent'>
      </div>
    </div>

</script>

{% endverbatim %}
