{% verbatim %}

<script id="Handlebars-Common-MiniReportCard" type="text/x-handlebars-template">

    <div class="card horizontal grey lighten-5 z-depth-0 mini-report-card">

        {{#unless hide_img}}
            {{#if img_url}}
                <div class="white card-image" >
                    <img src="{{img_url}}" height="150px" width="150px" >
                </div>
            {{/if}}
        {{/unless}}
        <div class="card-content {{#if img_url}}has-img{{/if}}">

            {% endverbatim %}
                {% include "glados/Handlebars/ColumnsSource.html" with for_card=True %}
            {% verbatim %}

            {{#if general_link_url}}
                <hr>
                <a href="{{general_link_url}}">{{general_link_text}}</a>
            {{/if}}
        </div>

    </div>

 </script>

<script id='Handlebars-Common-Paginated-Card-Compound' type="text/x-handlebars-template">

    <div class="col s{{small_size}}
        m{{medium_size}}
        l{{large_size}}">

        <div class="card vertical grey lighten-5 hoverable">

            <div class="BCK-Embed-ButtonContainer embed-btn-in-card"></div>
            <div class='checkbox-container'>
                <input type="checkbox" class="filled-in BCK-select-one-item" id="BCK-cards-{{base_check_box_id}}-select"
                    {{#if is_selected}}checked="checked"{{/if}}/>
                <label for="BCK-cards-{{base_check_box_id}}-select"></label>
            </div>

            <div class="white card-image BCK-image">

                <div class="BCK-preloader"></div>
                <div class="BCK-error-messages-container"></div>
                <img class="BCK-specialStruct-image similarity-map-img">
                <img class="BCK-main-image"src="{{img_url}}">

            </div>

            <div class="card-content BCK-info-opener">
                <div class="slide-more-info opener">
                    <div class="center-align">
                        <a class="BCK-open-info">
                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                {% endverbatim %}
                {% include "glados/Handlebars/ColumnsSource.html" with for_card=True %}
                {% verbatim %}
            </div>

            <div class="grey lighten-5 BCK-info-container details">

                <div class="slide-more-info">

                    <div class="center-align">
                        <a class="BCK-close-info">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>

                <div class="BCK-tabs-contents tabs-contents">

                </div>

                <div class="tabs-container">
                    <div class="card-tabs">
                        <a class="section-item BCK-openTab selected" data-tab-id="Details">Details</a>
                        <a class="section-item BCK-openTab" data-tab-id="Targets" >Targets</a>
                    </div>
                </div>


            </div>

        </div>

    </div>

</script>

<script id="Handlebars-Common-Paginated-Card-Horizontal" type="text/x-handlebars-template">

    <div class="col s{{small_size}}
        m{{medium_size}}
        l{{large_size}}" >

        <div class="card horizontal grey lighten-5{{#unless img_url}} card-top-border{{/unless}}
            hoverable paginated-card" style="height: 95%">

            <div class='checkbox-container'>
                <input type="checkbox" class="filled-in BCK-select-one-item" id="BCK-cards-{{base_check_box_id}}-select"
                    {{#if is_selected}}checked="checked"{{/if}}/>
                <label for="BCK-cards-{{base_check_box_id}}-select"></label>
            </div>

            <div class="BCK-Embed-ButtonContainer embed-btn-in-card"></div>
            {{#if img_url}}
                <div class="white card-image" >
                    <div class="image-container">
                        <img src="{{img_url}}" height="150px" width="150px" >
                    </div>
                </div>
            {{/if}}
            <div class="card-stacked">
                <div class="card-content">

                    {% endverbatim %}
                    {% include "glados/Handlebars/ColumnsSource.html" with for_card=True %}
                    {% verbatim %}

                </div>
            </div>
        </div>

    </div>

</script>

<script id="Handlebars-Common-Paginated-Card-Document" type="text/x-handlebars-template">

    <div class="col s12 m6 l4">

        <div class="card grey lighten-5" >

            <div class="card-content" >

                {% endverbatim %}
                {% include "glados/Handlebars/ColumnsSource.html" with for_card=True %}
                {% verbatim %}

            </div>

        </div>

    </div>

</script>

<script id="Handlebars-Common-CompoundDetails" type="text/x-handlebars-template">

    <div class="compound-details">
        {{#if img_url}}
            <div class="white center-align">
                <img src="{{img_url}}" height="100px">
            </div>
        {{/if}}
        <div class="card-content">

            {% endverbatim %}
            {% include "glados/Handlebars/ColumnsSource.html" with for_card=True %}
            {% verbatim %}

        </div>

    </div>

</script>

<script id="Handlebars-Common-Paginated-Card" type="text/x-handlebars-template">

    <div class="col s12 m6 l4">
        <div class="card grey lighten-5 hoverable">

            {{#if img_url}}
                <div class="white card-image">
                    <img src="{{img_url}}" height="200px">
                </div>
            {{/if}}
            <div class="card-content">

                {% endverbatim %}
                {% include "glados/Handlebars/ColumnsSource.html" with for_card=True %}
                {% verbatim %}

            </div>
        </div>

    </div>

</script>

<script id="Handlebars-Common-Paginated-Card-Carousel" type="text/x-handlebars-template">

        <div class= "card-s{{small_size}}
            card-m{{medium_size}}
            card-l{{large_size}}
             carousel-card">
        <div class="card grey lighten-4 card-container">

            {{#if img_url}}
                <div class="white card-image">
                    <img src="{{img_url}}" class="responsive-img">
                </div>
            {{/if}}
            <div class="card-content">

                {% endverbatim %}
                {% include "glados/Handlebars/ColumnsSource.html" with for_card=True %}
                {% verbatim %}

            </div>
        </div>

    </div>
</script>


<script id="Handlebars-Common-Carousel-UL" type="text/x-handlebars-template">
    <div class="col s12 m4 l6 number-of-results">
        Showing {{records_showing}} out of {{total_records}} records
    </div>
    <ul class="col s12 pagination center-align">
        {{#each pages}}
        <li class="waves-effect page-selector active" data-page='{{this}}'><a>{{this}}</a></li>
        {{/each}}
    </ul>

</script>
{% endverbatim %}