{% verbatim %}
<script id="Handlebars-Common-CardError" type="text/x-handlebars-template">
  <i class="fa fa-exclamation-circle"></i> {{msg}}
</script>

<script id="Handlebars-Common-ErrorInCard" type="text/x-handlebars-template">
  <div class="card grey lighten-5">
    <div class="card-content">
      <i class="fa fa-exclamation-triangle"></i> <b>Error:</b> {{msg}}
    </div>
  </div>
</script>

<script id="Handlebars-Common-EmbedCode" type="text/x-handlebars-template">

  <object data="{{base_url}}{{resource_type}}_report_card/{{chembl_id}}/embed/{{section_name}}/"
             width="360px" height="600px"></object>

</script>

<script id="Handlebars-Common-Preloader" type="text/x-handlebars-template">


  {{#if msg}}
    {{msg}}
  {{/if}}

  <div class="card-preolader-to-hide">

    <div class="progress">
      <div class="indeterminate"></div>
    </div>

  </div>


</script>

<script id="Handlebars-Common-MiniRepCardPreloader" type="text/x-handlebars-template">

   <div class="preloader-wrapper small active">
    <div class="spinner-layer spinner-teal-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

</script>

<script id="Handlebars-Common-SelectAll" type="text/x-handlebars-template">
  <input type="checkbox" class="filled-in BCK-toggle-select-all"
         id="BCK-list-{{base_check_box_id}}-selectAll"
    {{#if all_items_selected}}checked="checked"{{/if}}/>
  <label for="BCK-list-{{base_check_box_id}}-selectAll">Select All</label>
</script>

<script id="Handlebars-Common-Paginated-Row-large" type="text/x-handlebars-template">

    <tr>
      {{#unless selection_disabled}}
      <td>
        <input type="checkbox" class="filled-in BCK-select-one-item" id="BCK-table-{{base_check_box_id}}-select"
           {{#if is_selected}}checked="checked"{{/if}}/>
          <label for="BCK-table-{{base_check_box_id}}-select"></label>
      </td>
      {{/unless}}

      {{#each columns}}

        <td class="{{#if this.img_url}}center-align{{/if}} {{format_class}}" >
        {{#if this.img_url}}
          <img src="{{this.img_url}}" height="75px" width="75px" ><br>
        {{/if}}
        {{#if this.has_link}}
          <a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
        {{else}}
          {{this.value}}
        {{/if}}

        {{#if this.is_function_link}}
          <br>
          <div>
          <a class="BCK-function-link" data-function-paramaters="{{this.function_parameters}}"
             data-function-key="{{this.function_key}}">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </a>
          </div>
        {{/if}}

        </td>
      {{/each}}

    </tr>

</script>


<script id="Handlebars-Common-Paginated-Header-large" type="text/x-handlebars-template">


  <thead>

    <tr >

      {{#unless selection_disabled}}
      <th>
          <input type="checkbox" class="filled-in BCK-toggle-select-all"
                 id="BCK-table-{{base_check_box_id}}-selectAll"
                 {{#if all_items_selected}}checked="checked"{{/if}}/>
          <label for="BCK-table-{{base_check_box_id}}-selectAll"></label>
      </th>
      {{/unless}}

      {{#each columns}}
        <th>

           <table class="headers-table {{#unless this.sort_disabled}}sort{{/unless}}">
            <thead>
             <tr>
               <th class="name-to-show">

          {{this.name_to_show}}
               </th>
               <th>
          {{#unless this.sort_disabled}}

          <i class="fa {{sort_class}} grey-text sort-icon"
             aria-hidden="true" data-comparator="{{this.comparator}}"></i>

          {{/unless}}

                 </th>
               <tr>
              <thead>
            </table>


          </th>
      {{/each}}

    </tr>

  </thead>

</script>

<script id="Handlebars-Common-Pagination-LI" type="text/x-handlebars-template">

  <li class="collection-item">

    {{#unless selection_disabled}}
    <p>
      <input type="checkbox" class="filled-in BCK-select-one-item"
             id="BCK-list-{{base_check_box_id}}-select"
      {{#if is_selected}}checked="checked"{{/if}}/>
      <label for="BCK-list-{{base_check_box_id}}-select"></label>
    </p>
    {{/unless}}

    <p>

      {{#each columns}}
        <b>{{this.name_to_show}}:</b>
        {{#if this.has_link}}
          <a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
        {{else}}
          {{this.value}}
        {{/if}}
        <br>

      {{/each}}

    </p>

  </li>

</script>


<script id="Handlebars-Common-Paginated-UL" type="text/x-handlebars-template">

  <div class="col s12 m4 l6">
    Showing {{records_showing}} out of {{total_records}} records
  </div>
  <div class="col s12 m8 l6">
    <ul class="pagination right-align">
      <li class="page-selector" data-page='previous'><a><i class="material-icons">chevron_left</i></a></li>

        {{#if show_previous_ellipsis}}
          <li class="disabled" >...</li>
        {{/if}}

        {{#each pages}}
          <li class="waves-effect page-selector active" data-page='{{this}}' ><a>{{this}}</a></li>
        {{/each}}
        {{#if show_next_ellipsis}}
          <li class="disabled" >...</li>
        {{/if}}

      <li class="waves-effect page-selector" data-page='next' ><a><i class="material-icons">chevron_right</i></a></li>
    </ul>

  </div>

</script>

<script id="Handlebars-Common-GladosSummoned" type="text/x-handlebars-template">
<div class="card">
  <div class="card-image">
    <img src="https://upload.wikimedia.org/wikipedia/en/b/bf/Glados.png">
  </div>
  <div class="card-content">
    <p>I am still alive!</p>
  </div>
</div>
</script>


<script id="Handlebars-Common-MiniReportCard" type="text/x-handlebars-template">

  <div class="card horizontal grey lighten-5 z-depth-0">


    {{#unless hide_img}}
      {{#if img_url}}
        <div class="white card-image" >
          <img src="{{img_url}}" height="150px" width="150px" >
        </div>
      {{/if}}
    {{/unless}}
    <div class="card-content">

      {{#each columns}}

      {{#if this.has_link}}

      <p><a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
      </p>

      {{else}}
      <small>
        <p><b>{{this.name_to_show}}:</b> {{this.value}}</p>
      </small>
      {{/if}}
      {{/each}}

      {{#if general_link_url}}
        <hr>
        <a target="_blank" href="{{general_link_url}}">{{general_link_text}}</a>
      {{/if}}
    </div>

  </div>

 </script>

<script id='Handlebars-Common-Paginated-Card-Compound' type="text/x-handlebars-template">

  <div class="col s{{small_size}}
                  m{{medium_size}}
                  l{{large_size}}">

    <div class="card grey lighten-5 hoverable">

      <div class='checkbox-container'>
        <input type="checkbox" class="filled-in BCK-select-one-item" id="BCK-cards-{{base_check_box_id}}-select"
           {{#if is_selected}}checked="checked"{{/if}}/>
          <label for="BCK-cards-{{base_check_box_id}}-select"></label>
      </div>

      <div class="white card-image BCK-image">
        <img src="{{img_url}}">
      </div>

      <div class="card-content BCK-info-opener">
        <div class="slide-more-info opener">
          <div class="center-align">
            <a class="BCK-open-info">
              <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        {{#each columns}}
          {{#if this.has_link}}
            <p><a href="{{this.link_url}}" target="_blank">{{this.value}}</a></p>
          {{else}}
            <small>
              <p><b>{{this.name_to_show}}:</b> {{this.value}}</p>
            </small>
          {{/if}}
        {{/each}}
      </div>

      <div class="grey lighten-5 BCK-info-container details">

        <div class="slide-more-info">

          <div class="center-align">
            <a class="BCK-close-info">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>

        </div>

        <div class="BCK-tabs-contents tabs-contents">

        </div>

        <div class="tabs-container">
          <div class="card-tabs">
            <a class="section-item BCK-openTab selected" data-tab-id="Details">Details</a>
            <a class="section-item BCK-openTab" data-tab-id="Targets" >Targets</a>
          </div>
        </div>


      </div>

    </div>

  </div>

</script>

<script id='Handlebars-Common-Paginated-Card-TabContent' type="text/x-handlebars-template">
  <div class="BCK-tab-content" data-tab-id='{{tab_id}}'>{{tab_id}}</div>
</script>


<script id="Handlebars-Common-Paginated-Card-Horizontal" type="text/x-handlebars-template">

  <div class="col s{{small_size}}
                  m{{medium_size}}
                  l{{large_size}}">

    <div class="card horizontal grey lighten-5{{#unless img_url}} card-top-border{{/unless}}">

      <div class='checkbox-container'>
        <input type="checkbox" class="filled-in BCK-select-one-item" id="BCK-cards-{{base_check_box_id}}-select"
           {{#if is_selected}}checked="checked"{{/if}}/>
          <label for="BCK-cards-{{base_check_box_id}}-select"></label>
      </div>

      {{#if img_url}}
        <div class="white card-image" >
          <img src="{{img_url}}" height="150px" width="150px" >
        </div>
      {{/if}}
      <div class="card-stacked">
        <div class="card-content">

          {{#each columns}}

          {{#if this.has_link}}

            {{#if this.is_secondary_link}}
                <small>
                  <p ><b>{{this.name_to_show}}</b>: <a href="{{this.link_url}}" target="_blank">{{this.value}}</a></p>
                </small>
              {{else}}
                <p><a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
                </p>
              {{/if}}

          {{else}}
          <small>
            <p><b>{{this.name_to_show}}:</b> {{this.value}}</p>
          </small>
          {{/if}}
          {{/each}}

        </div>
      </div>
    </div>

  </div>

 </script>

<script id="Handlebars-Common-Paginated-Card-Document" type="text/x-handlebars-template">

  <div class="col s12 m6 l4">

    <div class="card grey lighten-5" >

        <div class="card-content" >

          {{#each columns}}

          {{#if this.has_link}}

          <p><a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
          </p>

          {{else if this.custom_html}}
            <p style="overflow: hidden; text-overflow: ellipsis; white-space:nowrap;">
              {{{this.custom_html}}}
            </p>
          {{else}}
          <small>
            <p style="overflow: hidden; text-overflow: ellipsis; white-space:nowrap;">
              {{this.value}}
            </p>
          </small>
          {{/if}}
          {{/each}}

        </div>

    </div>

  </div>

 </script>

<script id="Handlebars-Common-CompoundDetails" type="text/x-handlebars-template">

  <div class="compound-details">
    {{#if img_url}}
      <div class="white center-align">
        <img src="{{img_url}}" height="100px">
      </div>
    {{/if}}
    <div class="card-content">

      {{#each columns}}

      {{#if this.has_link}}

        {{#if this.is_secondary_link}}
          <small>
            <p ><b>{{this.name_to_show}}</b>: <a href="{{this.link_url}}" target="_blank">{{this.value}}</a></p>
          </small>
        {{else}}
          <p><a href="{{this.link_url}}" target="_blank">{{this.value}}</a></p>
        {{/if}}

      {{else}}
      <small>
        <p >
          <b>{{this.name_to_show}}</b>: {{this.value}}
        </p>
      </small>
      {{/if}}
      {{/each}}

    </div>

  </div>

</script>

<script id="Handlebars-Common-Paginated-Card" type="text/x-handlebars-template">

    <div class="col s12 m6 l4">
      <div class="card grey lighten-5 hoverable">

        {{#if img_url}}
          <div class="white card-image">
            <img src="{{img_url}}" height="200px">
          </div>
        {{/if}}
        <div class="card-content">

          {{#each columns}}

          {{#if this.has_link}}

            {{#if this.is_secondary_link}}
              <small>
                <p ><b>{{this.name_to_show}}</b>: <a href="{{this.link_url}}" target="_blank">{{this.value}}</a></p>
              </small>
            {{else}}
              <p><a href="{{this.link_url}}" target="_blank">{{this.value}}</a></p>
            {{/if}}

          {{else}}
          <small>
            <p >
              <b>{{this.name_to_show}}</b>: {{this.value}}
            </p>
          </small>
          {{/if}}
          {{/each}}

        </div>
      </div>

    </div>

  </script>

<script id="Handlebars-Common-Paginated-Card-Carousel" type="text/x-handlebars-template">

    <div class="col s12 m6 l4">
      <div class="card grey lighten-5">

        {{#if img_url}}
          <div class="white card-image">
            <img src="{{img_url}}" height="200px">
          </div>
        {{/if}}
        <div class="card-content">

          {{#each columns}}

          {{#if this.has_link}}

          <p><a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
          </p>

          {{else}}
          <small>
            <p >
              {{this.name_to_show}}:{{this.value}}
            </p>
          </small>
          {{/if}}
          {{/each}}

        </div>
      </div>

    </div>

  </script>


<script id="Handlebars-Common-SortSelect" type="text/x-handlebars-template">

  <select class="{{#if custom_class }} {{custom_class}} {{else}} select-sort {{/if}}">
    <option value="" disabled {{#unless this.one_selected}} selected {{/unless}}>Choose a field</option>
    {{#each columns}}
      <option value="{{this.comparator}}" {{#if this.selected}} selected {{/if}}>{{this.label}}</option>
    {{/each}}
  </select>
  <label>{{#if custom_label }} {{custom_label}} {{else}} Sort by: {{/if}}</label>

</script>

<script id="Handlebars-Common-SortDirectionBtn" type="text/x-handlebars-template">

  <a class="waves-effect waves-light btn-mini teal btn-sort-direction" {{#if disabled}} disabled {{/if}}
  data-target-property="{{target_property}}">
    <i class="fa {{sort_class}}" aria-hidden="true"></i>
    {{text}}
  </a>

</script>

<script id="Handlebars-Common-Paginated-NumResults" type="text/x-handlebars-template">
  {{num_results}} Results
</script>


<script id="Handlebars-Common-SelectPageSizeContainer" type="text/x-handlebars-template">

  <div class="input-field">

      <select class="change-page-size">

        {{#each items}}

        <option value="{{this.number}}" {{#if this.is_selected}}selected{{/if}}>{{this.number}}</option>

        {{/each}}

      </select>
      <label>Records per page:</label>
    </div>

</script>

<script id="Handlebars-Common-CardsZoom" type="text/x-handlebars-template">

  <a class="BCK-zoom-in menu-button {{#if disable_zoom_in}}disabled{{/if}}"><i class="fa fa-plus" ></i></a>
  <a class="BCK-reset-zoom menu-button {{#if disable_reset}}disabled{{/if}}"><i class="fa fa-home" ></i></a>
  <a class="BCK-zoom-out menu-button {{#if disable_zoom_out}}disabled{{/if}}"><i class="fa fa-minus"></i></a>

</script>
<script id="Handlebars-Common-ShowHideColumnsDropdown" type="text/x-handlebars-template">

  <!-- Dropdown Trigger -->
    <a class='menu-button' href="#{{modal_id}}">Show/Hide Columns</a>

    <!-- Modal Structure -->
    <div id="{{modal_id}}" class="modal bottom-sheet">
      <div class="modal-content left-align">

        <div class="row">
          {{#each columns}}
          <div class="col s6 m3 l2">

            <input type="checkbox" class="BCK-show-hide-column filled-in" id="check-{{this.comparator}}"
                   data-comparator='{{this.comparator}}' checked="checked" />
            <label for="check-{{this.comparator}}">{{this.name_to_show}}</label>

          </div>
          {{/each}}
          {{#each additional_columns}}
          <div class="col s6 m3 l2">
            <input type="checkbox" class="BCK-show-hide-column filled-in"
                   data-comparator='{{this.comparator}}' id="check-{{this.comparator}}" />
            <label for="check-{{this.comparator}}">{{this.name_to_show}}</label>
          </div>
          {{/each}}
        </div>

        <div class="row">
          You may need to scroll the table horizontally to see all columns.
        </div>

      </div>

    </div>

</script>


<script id="Handlebars-Common-CollectionErrorMsg" type="text/x-handlebars-template">
  <i class="fa fa-exclamation-circle"></i> Error: {{msg}}
  <a> <i class="fa fa-times" aria-hidden="true" onclick="$(this).parent().parent().empty();"></i></a>
</script>

<script id="Handlebars-Common-DownloadColMessages0" type="text/x-handlebars-template">
  <i class="fa fa-cog fa-spin fa-fw"></i> Collecting Items... {{percentage}}%
</script>

<script id="Handlebars-Common-DownloadColMessages1" type="text/x-handlebars-template">
  <i class="fa fa-cog fa-spin fa-fw"></i> Generating File...
</script>

<script id="Handlebars-Common-DownloadColMessages2" type="text/x-handlebars-template">
  <i class="fa fa-cog fa-spin fa-fw"></i> Done! Final file has {{num_compounds}} compounds
</script>

<script id="Handlebars-Common-DownloadColMessages3" type="text/x-handlebars-template">
  <i class="fa fa-cog fa-spin fa-fw"></i> Generating File... {{percentage}}%
</script>

<script id="Handlebars-Common-VisualisationProgress" type="text/x-handlebars-template">
  {{#unless hide_cog}}<i class="fa fa-cog fa-spin fa-fw">{{/unless}}</i>
  {{#if show_warning_icon}} <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{/if}}
  {{message}}
  {{#if link_url}}
    <a target="_blank" href="{{link_url}}">{{link_text}}</a>
  {{/if}}
</script>

<script id="Handlebars-Common-PlotError" type="text/x-handlebars-template">
  <br><br>
  <img class="responsive-img" src="{{static_images_url}}plot_error.png">
</script>

<script id="Handlebars-Common-MatrixError" type="text/x-handlebars-template">
  <br><br>
  <img class="responsive-img" src="{{static_images_url}}matrix_error.png">
</script>

<script id="Handlebars-Common-DownloadErrorModal" type="text/x-handlebars-template">

  <div id="{{modal_id}}" class="modal">
    <div class="modal-content">
      <h4>Error</h4>
      <p>{{msg}}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>

</script>

<script id="Handlebars-Common-ESResultsPlot-axesOptions" type="text/x-handlebars-template">
  <span class="hide-on-med-and-down">Summary:</span>
  {{#each options}}
  <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
  {{/each}}
</script>

<script id="Handlebars-Common-Histogram-numbars" type="text/x-handlebars-template">
  <p><small>Number of bins: <b>{{current_value}}</b></small></p></p>
  <p class="range-field">
    <input type="range" min="{{min_value}}" max="{{max_value}}" value="{{current_value}}"/>
  </p>
</script>

<script id="Handlebars-Common-Histogram-binsize" type="text/x-handlebars-template">
  <p><small>Bin size: <b>{{current_value}}</b></small></p></p>
  <p class="range-field">
    <input type="range" min="{{min_value}}" max="{{max_value}}" value="{{current_value}}"/>
  </p>
</script>

<script id="Handlebars-Common-ESResultsPlot-rejectedResults" type="text/x-handlebars-template">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> The following results were excluded from the plot
  because in any of the shown axes their value is null: <br>
  {{#each rejected}}
    <a href="/compound_report_card/{{id}}" target="_blank" {{#if selected}}class="green lighten-5"{{/if}}>{{id}}</a>
  {{/each}}
</script>


<script id="Handlebars-Common-ESResultsMatrix-ZoomOptions" type="text/x-handlebars-template">
    <div class="matrix-vis-options grey lighten-3">
        <a class="BCK-reset-zoom-btn"><i class="fa fa-lg fa-home tooltipped" aria-hidden="true" href=""
              data-position="bottom" data-tooltip="Reset zoom"></i></a>
        <a class="BCK-zoom-in-btn"><i class="fa fa-lg fa-search-plus tooltipped" aria-hidden="true" data-position="bottom"
              data-tooltip="Zoom in" ></i></a>
        <a class="BCK-zoom-out-btn"><i class="fa fa-lg fa-search-minus tooltipped" aria-hidden="true" data-position="bottom"
              data-tooltip="Zoom out"></i></a>
        <a class="BCK-toggle-grab"><i class="fa fa-lg fa-hand-paper-o tooltipped" aria-hidden="true" data-position="bottom"
              data-tooltip="Grab"></i></a>
    </div>
</script>

<script id="Handlebars-Common-totalItems" type="text/x-handlebars-template">
<small>
  Total items: {{num_items}}
</small>
</script>

<script id="Handlebars-Common-BioactivitiesOfTargetLink" type="text/x-handlebars-template">
<a target='_blank' href="{{url}}" > See all bioactivities for target {{target_chembl_id}} used in this visualisation</a>
</script>

<script id="Handlebars-Common-ESResultsListInfiniteView" type="text/x-handlebars-template">
{% endverbatim %}
  {% include "glados/base/PaginatedCollections/DefaultInfinityBrowserContent.html" %}
{% verbatim %}
</script>

<script id="Handlebars-Common-ESResultsListGraphView" type="text/x-handlebars-template">

  <span class="load-messages-container">
  </span>

  <div class="card grey lighten-5">
    <div class="card-content">
      {% endverbatim %}

        {% include "glados/base/Visualisation/DefaultScatterPLotContent.html" %}

      {% verbatim %}
    </div>


</script>

<script id="Handlebars-Common-ESResultsListTableView" type="text/x-handlebars-template">

  {% endverbatim %}
    {% include "glados/base/PaginatedCollections/DefaultTableContent.html" %}
  {% verbatim %}

</script>

{% endverbatim %}

{% verbatim %}
<script id="Handlebars-Common-ESResultsListCardsView" type="text/x-handlebars-template">

{% endverbatim %}
    {% include "glados/base/PaginatedCollections/DefaultCardPageContent.html" %}
{% verbatim %}
</script>

<script id="Handlebars-Common-ESResultsListMatrixView" type="text/x-handlebars-template">
  <span class="load-messages-container">
  </span>

  <div class="card grey lighten-5">
    <div class="card-content">

      {% endverbatim %}
        {% include "glados/ActivityAggregations/ActivityAggregationMatrixBase.html" %}
      {% verbatim %}
    </div>
</div>
</script>

<script id="Handlebars-Common-ESResultsListBioactivityView" type="text/x-handlebars-template">

  <span class="load-messages-container">
  </span>
  <div class="card grey lighten-5">
    <div class="card-content">
    {% endverbatim %}
      {% include "glados/ActivityAggregations/ActivityAggregationMatrixBase.html" %}
    {% verbatim %}
    </div>
  </div>
</script>

<script id="Handlebars-DownloadColButtons" type="text/x-handlebars-template">

  <div class="buttons-container">
    {{#each formats}}
    <a class="menu-button big BCK-download-btn-for-format" data-format="{{this}}"><i class="fa fa-download"></i> {{this}}</a>
    {{/each}}
  </div>

</script>

<script id="Handlebars-SwitchColViewButtons" type="text/x-handlebars-template">

  {{#each options}}
  <a class="section-item BCK-btn-switch-view {{#if is_disabled}}disabled{{/if}}" data-view="{{this.label}}">
    <p class="icon"><i class="fa {{this.icon_class}}"></i></p>
    <p class="label">{{this.label}}</p>
  </a>
  {{/each}}

</script>

<script id="Handlebars-SelectionMenu" type="text/x-handlebars-template">

  <div class="selection-menu">
    <div class="selection-information">

      <b>{{total_items}} {{entity_label}}</b><br>
      {{num_selected}} Selected
    </div>

    <div class="selection-button-container">
      <a class="menu-button mini BCK-toggle-clear-selections">
        {{#if none_is_selected}}
        Select All
        {{else}}
        Clear Selections
        {{/if}}
      </a>
    </div>

  </div>

</script>

<script id="Handlebars-ESResultsList" type="text/x-handlebars-template">

  <h2 class="browser-header" >
    {{entity_name}}
  </h2>

  {% endverbatim %}
    {% include "glados/Browsers/DefaultBrowserContent.html" %}
  {% verbatim %}
</script>

<script id="Handlebars-ESResultsListTitleAndMenu" type="text/x-handlebars-template">
  <h3>{{es_results_list_title}}
    <small><small>
      <a id ="{{es_results_list_id}}-filter-link" href="{{es_results_url_path}}" style="display: none">Filter {{es_results_list_title}} results</a>
      <a id ="{{es_results_list_id}}-all-link" href="{{es_all_results_url_path}}" style="display: none">Explore All Results</a>
    </small></small>
  </h3>

  <div id ="{{es_results_list_id}}-menu">
    {% endverbatim %}
      {% include "glados/Browsers/DefaultBrowserMenuContent.html" %}
    {% verbatim %}
  </div>

</script>

<script id="Handlebars-Common-MiniHistogramContainer" type="text/x-handlebars-template">
  <div class="BCK-VisualisationMessages"></div>
  <div class="BCK-HistogramContainer histogram mini"></div>
</script>

<script id="Handlebars-Common-Bioactivity-Columns-Selector-Container" type="text/x-handlebars-template">

  {{#each columnsDescriptions}}
    <div class="input-field col l3 m4 s6">
      <select class="BCK-Bioactivity-column-select">
        {{#each this.fields}}
          <option value='{{this.value}}'  {{#if this.is_selected}}selected='selected'{{/if}}
          >{{this.name_to_show}}</option>
        {{/each}}
      </select>
      <label>Column {{this.columnNumber}}:</label>
    </div>
  {{/each}}

</script>

<script id="Handlebars-Common-SeeMatrixAllActivites" type="text/x-handlebars-template">
 <a target="_blank" href="{{url}}">Browse all activities used in this visualisation</a>
</script>

<script id="Handlebars-Common-FacetsList" type="text/x-handlebars-template">

  <div class='BCK-Preloader-Container' data-hb-template="Handlebars-Common-Preloader" >
  </div>

  <div class='BCK-FacetsContent'>
    <div class="center-align"><b>Filters</b></div>

    <div class="BCK-clearFiltersButtonContainer">
      <div class="clear-filters-button center-align">
        <a class="menu-button BCK-clear-facets">Clear Filters</a>
      </div>
    </div>

    <ul>
      {{#each facets}}
        <li><b>{{this.label}}</b><br>
        <div class="BCK-facet-group-histogram histogram-container" data-facet-group-key="{{this.key}}">
        </div>
        </li>
      {{/each}}

    </ul>
  </div>
</script>

<script id="Handlebars-Common-StructureQuery" type="text/x-handlebars-template">

 <div class="card-panel z-depth-0 green lighten-5">
  <b>Query:</b> {{search_term}}
  {{#if similarity}}
   <b>Threshold:</b> {{similarity}}%
  {{/if}}
  <a class="menu-button BCK-Edit-Query">Edit</a>
 </div>

</script>

<script id="Handlebars-Common-MarvinModal" type="text/x-handlebars-template">
  <div id="{{id}}" class='modal' style="display: none; max-height: 100% !important ; overflow-y: hidden !important ; overflow-x: hidden !important ;">
    {% endverbatim %}
      {% include "glados/Sketchers/marvinSearch.html" %}
    {% verbatim %}
  </div>
</script>

{% endverbatim %}
