{% verbatim %}
<script id="Handlebars-Common-CardError" type="text/x-handlebars-template">

  <i class="fa fa-exclamation-circle"></i> {{msg}}

</script>

<script id="Handlebars-Common-EmbedCode" type="text/x-handlebars-template">

  <object data="http://{{base_url}}{{resource_type}}_report_card/{{chembl_id}}/embed/{{section_name}}/"
             width="360px" height="600px"></object>

</script>

<script id="Handlebars-Common-Preloader" type="text/x-handlebars-template">

  <div class="card-preolader-to-hide">

  <div class="progress">
    <div class="indeterminate"></div>
  </div>


</div>

</script>

<!-- -- -- -- -- -- -- -- -- -- -- -- -- -->
<!-- -- -- -- Pagination -- -- -- -- -- -- -->
<!-- -- -- -- -- -- -- -- -- -- -- -- -- -->

<script id="Handlebars-Common-Paginated-Row-large" type="text/x-handlebars-template">

    <tr>

      {{#each columns}}

        {{#if this.has_link}}

          <td> <a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
          </td>

        {{else}}
          <td>{{this.value}}
          </td>
        {{/if}}
      {{/each}}

    </tr>

</script>


<script id="Handlebars-Common-Paginated-Header-large" type="text/x-handlebars-template">


  <thead>

    <tr>

      {{#each columns}}
        <th>{{this.name_to_show}}
          {{#unless this.sort_disabled}}
          <i class="fa {{sort_class}} sort"
             aria-hidden="true" data-comparator="{{this.comparator}}"></i>
          {{/unless}} </th>
      {{/each}}

    </tr>

  </thead>

</script>

<script id="Handlebars-Common-Pagination-LI" type="text/x-handlebars-template">

  <li class="collection-item">

    <p>

      {{#each columns}}
        <b>{{this.name_to_show}}:</b>
        {{#if this.has_link}}
          <a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
        {{else}}
          {{this.value}}
        {{/if}}
        <br>

      {{/each}}

    </p>

  </li>

</script>


<script id="Handlebars-Common-Paginated-UL" type="text/x-handlebars-template">

  <ul class="pagination">
    <li class="page-selector" data-page='previous'><a><i class="material-icons">chevron_left</i></a></li>

      {{#if show_previous_ellipsis}}
        <li class="disabled" >...</li>
      {{/if}}

      {{#each pages}}
        <li class="waves-effect page-selector active" data-page='{{this}}' ><a>{{this}}</a></li>
      {{/each}}
      {{#if show_next_ellipsis}}
        <li class="disabled" >...</li>
      {{/if}}

    <li class="waves-effect page-selector" data-page='next' ><a><i class="material-icons">chevron_right</i></a></li>

    <li class="waves-effect">Showing {{records_showing}} out of {{total_records}} records</li>
  </ul>

</script>

<script id="Handlebars-Common-Paginated-Card-Horizontal" type="text/x-handlebars-template">

  <div class="col s12 m6 l4">

    {{#if img_url}}
    <div class="card horizontal grey lighten-5">
        <div class="white card-image" >
          <img src="{{img_url}}" height="150px" width="150px" >
        </div>
    {{else}}
    <div class="card horizontal grey lighten-5 card-top-border">
    {{/if}}
      <div class="card-stacked">
        <div class="card-content">

          {{#each columns}}

          {{#if this.has_link}}

          <p><a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
          </p>

          {{else}}
          <small>
            <p><b>{{this.name_to_show}}:</b> {{this.value}}</p>
          </small>
          {{/if}}
          {{/each}}

        </div>
      </div>
    </div>

  </div>

 </script>

<script id="Handlebars-Common-Paginated-Card-Document" type="text/x-handlebars-template">

  <div class="col s12 m6 l4">

    <div class="card grey lighten-5" >

        <div class="card-content" >

          {{#each columns}}

          {{#if this.has_link}}

          <p><a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
          </p>

          {{else if this.custom_html}}
            <p style="overflow: hidden; text-overflow: ellipsis; white-space:nowrap;">
              {{{this.custom_html}}}
            </p>
          {{else}}
          <small>
            <p style="overflow: hidden; text-overflow: ellipsis; white-space:nowrap;">
              {{this.value}}
            </p>
          </small>
          {{/if}}
          {{/each}}

        </div>

    </div>

  </div>

 </script>

<script id="Handlebars-Common-Paginated-Card" type="text/x-handlebars-template">

    <div class="col s12 m6 l4">
      <div class="card grey lighten-5">

        {{#if img_url}}
          <div class="white card-image">
            <img src="{{img_url}}" height="200px">
          </div>
        {{/if}}
        <div class="card-content">

          {{#each columns}}

          {{#if this.has_link}}

          <p><a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
          </p>

          {{else}}
          <small>
            <p >
              <b>{{this.name_to_show}}</b>: {{this.value}}
            </p>
          </small>
          {{/if}}
          {{/each}}

        </div>
      </div>

    </div>

  </script>

<script id="Handlebars-Common-Paginated-Card-Carousel" type="text/x-handlebars-template">

    <div class="col s12 m6 l4">
      <div class="card grey lighten-5">

        {{#if img_url}}
          <div class="white card-image">
            <img src="{{img_url}}" height="200px">
          </div>
        {{/if}}
        <div class="card-content">

          {{#each columns}}

          {{#if this.has_link}}

          <p><a href="{{this.link_url}}" target="_blank">{{this.value}}</a>
          </p>

          {{else}}
          <small>
            <p >
              {{this.name_to_show}}:{{this.value}}
            </p>
          </small>
          {{/if}}
          {{/each}}

        </div>
      </div>

    </div>

  </script>


<script id="Handlebars-Common-SortSelect" type="text/x-handlebars-template">

  <select class="{{#if custom_class }} {{custom_class}} {{else}} select-sort {{/if}}">
    <option value="" disabled {{#unless this.one_selected}} selected {{/unless}}>Choose a field</option>
    {{#each columns}}
      <option value="{{this.comparator}}" {{#if this.selected}} selected {{/if}}>{{this.comparator}}</option>
    {{/each}}
  </select>
  <label>{{#if custom_label }} {{custom_label}} {{else}} Sort by: {{/if}}</label>

</script>

<script id="Handlebars-Common-SortDirectionBtn" type="text/x-handlebars-template">

  <a class="waves-effect waves-light btn-mini teal btn-sort-direction" {{#if disabled}} disabled {{/if}}
  data-target-property="{{target_property}}">
    <i class="fa {{sort_class}}" aria-hidden="true"></i>
    {{text}}
  </a>

</script>

<script id="Handlebars-Common-Paginated-NumResults" type="text/x-handlebars-template">
  {{num_results}} Results
</script>


<script id="Handlebars-Common-SelectPageSizeContainer" type="text/x-handlebars-template">

  <div class="input-field">

      <select class="change-page-size">

        {{#each items}}

        <option value="{{this.number}}" {{#if this.is_selected}}selected{{/if}}>{{this.number}}</option>

        {{/each}}

      </select>
      <label>Records per page:</label>
    </div>

</script>

<script id="Handlebars-Common-CollectionErrorMsg" type="text/x-handlebars-template">
  <i class="fa fa-exclamation-circle"></i> Error: {{msg}}
</script>

<script id="Handlebars-Common-DownloadColMessages0" type="text/x-handlebars-template">
  <i class="fa fa-cog fa-spin fa-fw"></i> Collecting Items... {{percentage}}%
</script>

<script id="Handlebars-Common-DownloadColMessages1" type="text/x-handlebars-template">
  <i class="fa fa-cog fa-spin fa-fw"></i> Generating File...
</script>

<script id="Handlebars-Common-DownloadColMessages2" type="text/x-handlebars-template">
  <i class="fa fa-cog fa-spin fa-fw"></i> Done! Final file has {{num_compounds}} compounds
</script>

<script id="Handlebars-Common-DownloadColMessages3" type="text/x-handlebars-template">
  <i class="fa fa-cog fa-spin fa-fw"></i> Generating File... {{percentage}}%
</script>

<script id="Handlebars-Common-VisualisationProgress" type="text/x-handlebars-template">
  <i class="fa fa-cog fa-spin fa-fw"></i> {{message}}
</script>


{% endverbatim %}
