{% verbatim %}
<script id="Handlebars-Common-Preloader" type="text/x-handlebars-template">


  {{#if msg}}
  <div class="center-align">
    {{msg}}
  </div>
  {{/if}}

  <div class="card-preolader-to-hide">

    <div class="progress">
      <div class="indeterminate"></div>
    </div>

  </div>


</script>


<script id="Handlebars-Common-MiniRepCardPreloader" type="text/x-handlebars-template">

     <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-teal-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

</script>

<script id="Handlebars-Common-LinearPreloader" type="text/x-handlebars-template">


  {{#if msg}}
  <div class="center-align">
    {{msg}}
  </div>
  {{/if}}

    <div class="progress">
      <div class="indeterminate"></div>
    </div>

</script>

<script id="Handlebars-Common-LinearPreloader-Determinate" type="text/x-handlebars-template">


  {{#if msg}}
  <div class="center-align">
    {{msg}} ({{percentage}}%)
  </div>
  {{/if}}

    <div class="progress">
      <div class="determinate" style="width: {{percentage}}%"></div>
    </div>

</script>

<script id="Handlebars-Common-MiniPreloader" type="text/x-handlebars-template">
     <i class="fa fa-cog fa-spin fa-fw"></i> (loading...)
</script>

{% endverbatim %}