{% verbatim %}
<script id='Handlebars-Common-Report-cards-section-header' type="text/x-handlebars-template">
    <div class="divider"></div>

    <table class="report-card-header-table">
        <tr>
            <td><h3 class="BCK-toggle-expand-collapse">{{title}}</h3></td>
            <td class="collapser-button-cell">
                <a class="menu-button BCK-toggle-expand-collapse">
                    <i class="fa fa-minus BCK-expand-collapse-button"></i>
                </a>
            </td>
        </tr>
    </table>
</script>
{% endverbatim %}