{% verbatim %}
<script id="Handlebars-Common-MarvinModal" type="text/x-handlebars-template" data-starting-top="0%">
  <div id="{{id}}" class='modal' style="display: none; width:85% !important; max-height: 100vh !important; overflow-y: hidden !important ; overflow-x: hidden !important; height: 100vh !important;">
    {% endverbatim %}
      {% with in_modal=True %}
        {% include "glados/Sketchers/marvinSearch.html" %}
      {% endwith %}
    {% verbatim %}
  </div>
</script>
{% endverbatim %}