/*
* ChEMBL custom icons added to materialize
*/

/* Biological concepts and top-level icons (e.g. Services, Research, etc. */
@font-face {
  font-family: 'EBI-Conceptual';
  src: url('../font/EBI-Conceptual/EBI-Conceptual.eot');
  src: url('../font/EBI-Conceptual/EBI-Conceptual.eot?#iefix') format('embedded-opentype'),
  url('../font/EBI-Conceptual/EBI-Conceptual.woff') format('woff'),
  local('â˜º'),
  url('../font/EBI-Conceptual/EBI-Conceptual.svg#EBI-Conceptual') format('svg'),
  url('../font/EBI-Conceptual/EBI-Conceptual.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Generic, functional or activity-orientated icons */
@font-face {
  font-family: 'EBI-Functional';
  src: url('../font/EBI-Functional/EBI-Functional.eot');
  src: url('../font/EBI-Functional/EBI-Functional.eot?#iefix') format('embedded-opentype'),
  url('../font/EBI-Functional/EBI-Functional.woff') format('woff'),
  local('â˜º'),
  url('../font/EBI-Functional/EBI-Functional.svg#EBI-Functional') format('svg'),
  url('../font/EBI-Functional/EBI-Functional.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Generic icons that can be used as decoration or emphasis */
@font-face {
  font-family: 'EBI-Generic';
  src: url('../font/EBI-Generic/EBI-Generic.eot');
  src: url('../font/EBI-Generic/EBI-Generic.eot?#iefix') format('embedded-opentype'),
  url('../font/EBI-Generic/EBI-Generic.woff') format('woff'),
  local('â˜º'),
  url('../font/EBI-Generic/EBI-Generic.svg#EBI-Generic') format('svg'),
  url('../font/EBI-Generic/EBI-Generic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Icons for commonly referenced species and orgamisms */
@font-face {
  font-family: 'EBI-Species';
  src: url('../font/EBI-Species/EBI-Species.eot');
  src: url('../font/EBI-Species/EBI-Species.eot?#iefix') format('embedded-opentype'),
  url('../font/EBI-Species/EBI-Species.woff') format('woff'),
  local('â˜º'),
  url('../font/EBI-Species/EBI-Species.svg#EBI-Species') format('svg'),
  url('../font/EBI-Species/EBI-Species.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Icons for social media */
@font-face {
  font-family: 'EBI-SocialMedia';
  src: url('../font/EBI-SocialMedia/EBI-SocialMedia.eot');
  src: url('../font/EBI-SocialMedia/EBI-SocialMedia.eot?#iefix') format('embedded-opentype'),
  url('../font/EBI-SocialMedia/EBI-SocialMedia.woff') format('woff'),
  local('â˜º'),
  url('../font/EBI-SocialMedia/EBI-SocialMedia.svg#EBI-SocialMedia') format('svg'),
  url('../font/EBI-SocialMedia/EBI-SocialMedia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Specific file formats */
@font-face {
  font-family: 'EBI-FileFormats';
  src: url('../font/EBI-FileFormats/EBI-FileFormats.eot');
  src: url('../font/EBI-FileFormats/EBI-FileFormats.eot?#iefix') format('embedded-opentype'),
  url('../font/EBI-FileFormats/EBI-FileFormats.woff') format('woff'),
  local('â˜º'),
  url('../font/EBI-FileFormats/EBI-FileFormats.svg#EBI-Functional') format('svg'),
  url('../font/EBI-FileFormats/EBI-FileFormats.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Chemistry font */
@font-face {
  font-family: 'EBI-Chemistry';
  src: url('../font/EBI-Chemistry/EBI-Chemistry.eot');
  src: url('../font/EBI-Chemistry/EBI-Chemistry.eot?#iefix') format('embedded-opentype'),
  url('../font/EBI-Chemistry/EBI-Chemistry.woff') format('woff'),
  local('â˜º'),
  url('../font/EBI-Chemistry/EBI-Chemistry.svg#EBI-Chemistry') format('svg'),
  url('../font/EBI-Chemistry/EBI-Chemistry.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Chembl font */
@font-face {
  font-family: 'EBI-ChEMBL';
  src: url('../font/EBI-ChEMBL/EBI-ChEMBL.eot');
  src: url('../font/EBI-ChEMBL/EBI-ChEMBL.eot?#iefix') format('embedded-opentype'),
  url('../font/EBI-ChEMBL/EBI-ChEMBL.woff') format('woff'),
  local('â˜º'),
  url('../font/EBI-ChEMBL/EBI-ChEMBL.svg#EBI-Chemistry') format('svg'),
  url('../font/EBI-ChEMBL/EBI-ChEMBL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.icon {
  text-decoration: none;
  font-style: normal;
}

.icon-conceptual:before {
  font-family: 'EBI-Conceptual';
  /* font-size: 123.1%; */
  font-size: 138.5%;
  content: attr(data-icon);
  margin: 0 0.3em 0 0;
}

.icon-functional:before {
  font-family: 'EBI-Functional';
  /* font-size: 123.1%; */
  font-size: 100%;
  content: attr(data-icon);
  margin: 0 0.3em 0 0;
}

.icon-static:before, /* deprecated, included for back-compatibility */
.icon-generic:before {
  font-family: 'EBI-Generic';
  /* font-size: 123.1%; */
  font-size: 100%;
  content: attr(data-icon);
  margin: 0 0.3em 0 0;
}

.icon-species:before {
  font-family: 'EBI-Species';
  /* font-size: 123.1%; */
  font-size: 100%;
  content: attr(data-icon);
  margin: 0 0.3em 0 0;
}

.icon-socialmedia:before {
  font-family: 'EBI-SocialMedia';
  /* font-size: 123.1%; */
  font-size: 100%;
  content: attr(data-icon);
  margin: 0 0.3em 0 0;
}

.icon-fileformats:before {
  font-family: 'EBI-FileFormats';
  /* font-size: 123.1%; */
  font-size: 123.1%;
  content: attr(data-icon);
  margin: 0 0.3em 0 0;
}

.icon-chemistry:before {
  font-family: 'EBI-Chemistry';
  font-size: 100%;
  content: attr(data-icon);
  margin: 0 0.3em 0 0;
}

.icon-chembl:before {
  font-family: 'EBI-ChEMBL';
  font-size: 100%;
  content: attr(data-icon);
  margin: 0 0.3em 0 0;
}