
<script id="Handlebars-Compound-3D-options-menu" type="text/x-handlebars-template">
    <div class="row">
      <b>Force Field:</b>
    </div>
    {% verbatim %}
        <p>
        {{#each renderingOptions}}
            {{#if selected}}
                <input id="rendering-option-{{@index}}" name="renderer" type="radio" value="{{@index}}" class="with-gap" checked/>
            {{else}}
                <input id="rendering-option-{{@index}}" name="renderer" type="radio" value="{{@index}}" class="with-gap"/>
            {{/if}}
            <label for="rendering-option-{{@index}}">{{label}}</label>
        {{/each}}
        </p>
        <div class="row">
            <p>
            {{#if enable_sdf}}
                <b>SDF:</b>
                <a class="waves-effect waves-light btn-mini teal sdf-3d-dnld">
                    <i class="fa fa-download"></i>
                </a>
                <a class="waves-effect waves-light btn-mini teal sdf-3d-copy">
                    <i class="fa fa-clipboard"></i>
                </a>
            {{/if}}
            {{#if enable_xyz}}
                <b>XYZ:</b>
                <a class="waves-effect waves-light btn-mini teal xyz-3d-dnld">
                    <i class="fa fa-download"></i>
                </a>
                <a class="waves-effect waves-light btn-mini teal xyz-3d-copy">
                    <i class="fa fa-clipboard"></i>
                </a>
            {{/if}}
            </p>
        </div>

    {% endverbatim %}
</script>