
{% include "glados/CompoundReportCardParts/3DView-HBS.html" %}
{% include "glados/CompoundReportCardParts/3DMethodSelector.html" %}
{% verbatim %}
<script id="Handlebars-Compound-3D-error" type="text/x-handlebars-template">

  <i class="fa fa-exclamation-circle"></i> {{msg}}

</script>
{% endverbatim %}

<!-- PDBE -->
<!-- https://www.ebi.ac.uk/pdbe/pdb-component-library/getting_started.html -->

<!-- Complied & minified library css -->
<link rel="stylesheet" href="//www.ebi.ac.uk/pdbe/pdb-component-library/v1.0/css/pdb.component.library.min-1.0.0.css"/>

<!-- Dependencey scripts (these can be skipped if already included in page) -->
<script src="//www.ebi.ac.uk/pdbe/pdb-component-library/libs/d3.min.js"></script>
<script src="//www.ebi.ac.uk/pdbe/pdb-component-library/libs/angular.1.4.7.min.js"></script>

<!-- Complied & minified library JS -->
<script src="//www.ebi.ac.uk/pdbe/pdb-component-library/v1.0/js/pdb.component.library.min-1.0.0.js"></script>

<!-- 3D Mol Visualizer -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/3Dmol/1.2.0/3Dmol-min.js"></script>


<div id="CNC-3d-modal" class="modal modal-3D">


  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#BCK-compound-3dview-3DMol">3DMol</a></li>
        <li class="tab col s3"><a href="#BCK-compound-3dview-LiteMol">LiteMol</a></li>
        <li class="tab col s3"><a href="#BCK-compound-3dview-Speck">Speck</a></li>
      </ul>
    </div>
  </div>
  {% include "glados/CompoundReportCardParts/3DTabContent3DMol.html" %}

  {% include "glados/CompoundReportCardParts/3DTabContentLiteMol.html" %}

  <div id="BCK-compound-3dview-Speck" class="modal-content vis-3D-wrapper" style="height: 100%;">

    <!-- Backbone renders this -->

    <div class="card-preolader-to-hide">

      <div class="progress">
        <div class="indeterminate"></div>
      </div>

    </div>

  </div>

  <!-- Floating options panel -->
  <div class="options-3D-menu-wrapper">
    <div id='Bck-Comp-3D-options-menuopen' class="menu-open-icon" style="display: none">
      <a><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
    </div>
    <div id='Bck-Comp-3D-options-menu' class="img-3D-menu grey lighten-2">
      <div id='Bck-Comp-3D-options-menuclose' class="menu-close-icon">
        <a><i class="fa fa-minus-square-o fa-lg" aria-hidden="true"></i></a>
      </div>
      <div class="3D-options">

      </div>
    </div>

  </div>

  {% block close_modal %}
  {% include "glados/base/modals/close_modal_button.html" %}
  {% endblock %}
</div>