<div class="col s12 m12 l12">

  <div id='AlternateFormsCard' class="card grey lighten-5">

     <!-- modal trigger -->
      {% block embed_button %}
      {% include "glados/base/embed_button.html" %}
      {% endblock %}

      {% block card_loaders %}
      {% include "glados/base/card_loaders.html" %}
      {% endblock %}

      <!-- Embed Modal Structure -->
      {% block embed_modal %}
      {% include "glados/base/embed_modal.html" %}
      {% endblock %}

    <div class="card-content ebi-links" style="display: none">

      <div id='Bck-AlternateForms' class="row">

        <!-- Backbone -->


      </div>

      {% verbatim %}

        <script id="Handlebars-Compound-AlternateFormCard" type="text/x-handlebars-template">

          <div class="card {{colour}} z-depth-0">
            <div class="card-image hoverable">
              <img src="https://www.ebi.ac.uk/chembl/api/data/image/{{molecule_chembl_id}}.svg" class="responsive-img" alt="Alternate Form Image">
                    <span class="chembl-card-title"><a
                      href="http://glados-ebitest.rhcloud.com/compound_report_card/{{molecule_chembl_id}}/">{{molecule_chembl_id}}</a></span>
            </div>
          </div>

        </script>


      {% endverbatim %}

    </div>

  </div>

</div>