{% extends "glados/base/embed_base.html" %}

{% block title %}Alternate Forms{% endblock %}

{% block content %}

   <div id="AlternateFormsOfCompoundInChEMBL" style="margin-top: 25px;">
    {% include "glados/CompoundReportCardParts/AlternateForms.html" %}
   </div>

{% endblock %}

{% load static %}
{% block custom_js %}
<script type="text/javascript" src="{% static 'js/coffee-gen/models/Compound.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coffee-gen/models/CompoundList.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coffee-gen/views/base/CardView.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coffee-gen/views/Compound/CompoundMoleculeFormView.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coffee-gen/views/Compound/CompoundMoleculeFormsListView.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coffee-gen/compoundReportCardApp.js' %}"></script>
{% endblock %}

{% block custom_js_inline %}

CompoundReportCardApp.initAlternateForms();

{% endblock %}
