{% extends "glados/base/basic_table_card.html" %}
{% block card_id %}CBioseqCard{% endblock %}

{% block general_content %}
{% verbatim %}
<script id='Handlebars-Bioseq' type="text/x-handlebars-template">

    <b>{{molecule_chembl_id.value}} Biocomponents:</b>
    <br>

    <table class="compact-table">

        {{#each biotherapeutic_dot_biocomponents.value}}
            <tr>
                <td>
                    <b>{{this.description}}:</b>
                </td>
            </tr>
            <tr>
                .
            </tr>
        {{/each}}
    </table>
</script>
{% endverbatim %}
<div class="BCK-Details-Container" data-hb-template="Handlebars-Bioseq"></div>
{% endblock %}