<div class="col s12 m12 l12">

  <div id='CalculatedParentPropertiesCard' class="card chembl-card grey lighten-5">

    {% block card_loaders %}
    {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    <div class="card-content" style="display: none">


      {% block CalcCompProps-dnld %}
        {% with btn_id='CalcCompProps-dnld' additional_classes='hide-on-small-only' %}
          {% include "glados/base/btn_download_group.html" %}
        {% endwith %}
      {% endblock %}

      {% block CalcCompProps-small-dnld %}
        {% with btn_id='CalcCompProps-small-dnld' additional_classes='hide-on-med-and-up' %}
          {% include "glados/base/btn_download_small_2_lines.html" %}
        {% endwith %}
      {% endblock %}




      <div class="row">

        <div class="col s12 m6">

          <ul class="collection with-header">

            <li class="collection-item">
              <div>Mol. Weight: <span id='Bck-CalcCompProp-MolWt' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>MW. Monoisotopic: <span id='Bck-CalcCompProp-MolWtM' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>ALogP: <span id='Bck-CalcCompProp-ALogP' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>#Rotatable Bonds: <span id='Bck-CalcCompProp-RotBonds' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>Polar Surface Area:<span id='Bck-CalcCompProp-PSA' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>Molecular Species: <span id='Bck-CalcCompProp-Msp' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>HBA: <span id='Bck-CalcCompProp-HBA' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>HDB: <span id='Bck-CalcCompProp-HBD' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>#Ro5 Violations:<span id='Bck-CalcCompProp-RO5' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>HBA (Lipinski): <span id='Bck-CalcCompProp-HBAL' class="right teal-text"><!-- Backbone --></span></div>
            </li>

          </ul>

        </div>

        <div class="col s12 m6">

          <ul class="collection with-header">

            <li class="collection-item">
              <div>HBD (Lipinski): <span id='Bck-CalcCompProp-HBDL' class="right teal-text"><!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>#Ro5 Violations (Lipinski): <span id='Bck-CalcCompProp-ROL' class="right teal-text"><!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>CX Acidic pKa: <span id='Bck-CalcCompProp-APKA' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>CX Basic pKa: <span id='Bck-CalcCompProp-BPKA' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>#CX LogP:<span id='Bck-CalcCompProp-CXLogP' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>CX LogD pH7.4:<span id='Bck-CalcCompProp-CXLogD' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>Aromatic Rings:<span id='Bck-CalcCompProp-AR' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>Heavy Atoms: <span id='Bck-CalcCompProp-HA' class="right teal-text"> <!-- Backbone --></span></div>
            </li>
            <li class="collection-item">
              <div>QED Weighted:<span id='Bck-CalcCompProp-QEDW' class="right teal-text"> <!-- Backbone --></span></div>
            </li>

          </ul>

        </div>


      </div>

    </div>
  </div>
</div>