{% extends "glados/base/embed_base.html" %}

{% block title %}Calculated Compound Parent Properties{% endblock %}

{% block content %}

   <div id="CalculatedCompoundParentProperties" style="margin-top: 25px;">
    {% include "glados/CompoundReportCardParts/CalculatedCompoundParentProperties.html" %}
   </div>

{% endblock %}

{% load static %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'js/coffee-gen/models/Compound.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coffee-gen/models/CompoundList.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coffee-gen/views/base/CardView.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coffee-gen/views/Compound/CompoundCalculatedParentPropertiesView.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coffee-gen/compoundReportCardApp.js' %}"></script>
{% endblock %}

{% block custom_js_inline %}

CompoundReportCardApp.initCalculatedCompoundParentProperties();


{% endblock %}
