<div class="col s12 m12 l12">

  <div id='ClinicalDataCard' class="card chembl-card grey lighten-5">

    <div class="card-content ebi-links">

      <table class="striped">

        <tr>

          <td>
            Number of clinical trials registered at <a href="http://clinicaltrials.gov/">clinicaltrials.gov</a>:

          </td>

          <td>
            <a href="https://clinicaltrials.gov/ct2/results?term=Aspirin&Search=Search">
              1010
            </a>
          </td>

        </tr>

        <tr>

          <td>
            Number of reviews at <a href="http://www.cochrane.org/">The Cochrane Collaboration</a>:
          </td>

          <td>
            <a>
              0
            </a>
          </td>

        </tr>

        <tr>

          <td>
          Number of entries at <a href="http://www.bnf.org/">British National Formulary</a>:
          </td>

          <td>
            <a>
              0
            </a>
          </td>

        </tr>

      </table>

    </div>


  </div>

</div>
