{% extends "glados/base/basic_table_card.html" %}
{% block card_id %}ClinDataCard{% endblock %}

{% block general_content %}
{% verbatim %}
<script id='Handlebars-ClinicalData' type="text/x-handlebars-template">

        <div class="card-content ebi-links">

            <table class="striped">

                <tr>
                    <th>Source:</th>
                    <th>Search Term:</th>
                </tr>
                <tr>

                    <td>
                        <a target="_blank" href="http://clinicaltrials.gov/">ClinicalTrials.gov</a>

                    </td>

                    <td>
                        <a target="_blank" href="https://clinicaltrials.gov/ct2/results?intr={{clinical_trials_terms.encoded_search_term}}&Search=Search">
                            {{clinical_trials_terms.search_term}}
                        </a>
                    </td>

                </tr>

                <tr>

                    <td>
                        <a target="_blank" href="http://www.cochrane.org/">The Cochrane Collaboration</a>
                    </td>

                    <td>
                        <a target="_blank" href="http://www.cochrane.org/search/site/{{chochrane_terms.encoded_value}}">
                            {{chochrane_terms.value}}
                        </a>
                    </td>

                </tr>


            </table>

        </div>


    </div>


</script>

{% endverbatim %}
<div class="BCK-Details-Container" data-hb-template="Handlebars-ClinicalData"></div>
{% endblock %}