{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}CHELMNotationCard{% endblock %}

{% block general_content %}
{% verbatim %}
<script id='Handlebars-HELMNotation' type="text/x-handlebars-template">

    <b>{{molecule_chembl_id.value}} HELM Notation:</b>

    <table class="compact-table">
        <tr>
            <td class="BCK-HELMNotationContainer" data-hb-template="Handlebars-Common-CroppedContainer"
                                data-value="{{helm_notation.value}}" >

            </td>
        </tr>
    </table>

    <br>
    The ChEMBL HELM monomer library is available to download
    <a target="_blank" href='ftp://ftp.ebi.ac.uk/pub/databases/chembl/ChEMBLdb/releases/chembl_26/chembl_26_monomer_library.xml'>here</a>.
    <br>
    For more details about HELM Notation, please visit the
    <a target="_blank" href='http://www.openhelm.org/'>HELM Homepage</a>.

</script>
{% endverbatim %}
<div class="BCK-Details-Container" data-hb-template="Handlebars-HELMNotation"></div>
{% endblock %}