{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}CHELMNotationCard{% endblock %}

{% block general_content %}
{% verbatim %}
<script id='Handlebars-HELMNotation' type="text/x-handlebars-template">

    <table class="compact-table hide-on-small-only">
        <tr>
            <td><b>{{chembl_id.value}} HELM Notation:</b></td>
        </tr>
        <tr>
            <td>
                <div class="cropped-text-field">
                    <table>
                        <tr>
                            <td>
                                <div class="cropped-text-field-input">
                                    <input id="CompReps-canonicalSmiles" type="text" value='{{helm_notation.value}}'>
                                </div>
                            </td>
                            <td class="cropped-text-field-btns-cell">

                              <div class="cropped-text-field-btns">

                                  {% endverbatim %}
                                    {% block CompReps-canonicalSmiles-dnld %}
                                      {% with btn_id='CompReps-canonicalSmiles-dnld' %}
                                        {% include "glados/base/btn_download_only_small.html" %}
                                      {% endwith %}
                                    {% endblock %}

                                    {% block CompReps-canonicalSmiles-copy %}
                                      {% with btn_id='CompReps-canonicalSmiles-copy' %}
                                        {% include "glados/base/btn_copy_small.html" %}
                                      {% endwith %}
                                    {% endblock %}
                                  {% verbatim %}

                              </div>

                            </td>

                        </tr>
                    </table>

                </div>
            </td>
        </tr>
    </table>

    <br>
    The ChEMBL HELM monomer library is available to download
    <a target="_blank" href='ftp://ftp.ebi.ac.uk/pub/databases/chembl/ChEMBLdb/releases/chembl_23/chembl_23_monomer_library.xml'>here</a>.
    <br>
    For more details about HELM Notation, please visit the
    <a target="_blank" href='http://www.openhelm.org/'>HELM Homepage</a>.

</script>
{% endverbatim %}
<div class="BCK-Details-Container" data-hb-template="Handlebars-HELMNotation"></div>
{% endblock %}