<div id="CNCImageCard" class="card z-depth-0 expandable-menu">

  {% block card_loaders %}
  {% include "glados/base/card_loaders.html" %}
  {% endblock %}

  <div style="display: none">

    <div>
      <img id="Bck-COMP_IMG" class="CNC-img" src="" alt="Compound Image">
                    <span class="CNC-img-btn">

                      <a id="CNC-IMG-Options" class="CNC-btn btn waves-effect waves-light teal hide-on-small-only"
                         data-activates="CNC-expandable-bottom,CNC-expandable-top"><i
                        class="material-icons">add</i></a>

                      <a id="CNC-IMG-Options-small" class="CNC-btn btn waves-effect waves-light teal hide-on-med-and-up"
                         data-activates="CNC-expandable-left,CNC-expandable-right"
                      ><i
                        class="material-icons">add</i></a>

                    </span>

        <a class="btn-chembl"> Structure Search </a>
    </div>

  </div>



</div>




