<div class="col s12 m12 l12">

  <div id='MetabolismCard' class="card grey lighten-5">

    {% block card_loaders %}
    {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    <div class="card-content ebi-links" style="display: none">

      {% verbatim %}
        <script id="Handlebars-MetabolismVisualisation-Title" type="text/x-handlebars-template">
          Metabolism Graph for {{chembl_id}}:
        </script>
      {% endverbatim %}

      {% verbatim %}
        <script id="Handlebars-MetabolismVisualisation-FSLink" type="text/x-handlebars-template">
          See in <a target="_blank" href="{{ fs_link }}">full screen</a>.
        </script>
      {% endverbatim %}

      <span class="visualisation-title" ></span>
      <br>
      <br>
      <span class="visualisation-fullscreen-link" ></span>
      <br>
      <br>

      <div id="BCK-metabolism-visualisation-container" style="width:100%;height:75vh;" class="white">
      </div>

    </div>

  </div>

</div>