<div class="col s12 m12 l12">

  <div id='MetabolismCard' class="card grey lighten-5">

    <!-- modal trigger -->
    {% block embed_button %}
    {% include "glados/base/embed_button.html" %}
    {% endblock %}

    {% block card_loaders %}
    {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    <!-- Embed Modal Structure -->
    {% block embed_modal %}
    {% include "glados/base/embed_modal.html" %}
    {% endblock %}

    <div class="card-content ebi-links" style="display: none">

      <div id="metabolism-visualisation-container" style="width:600px;height:400px">
      </div>

    </div>

  </div>

</div>