
<div class="col s12 m12 l12">

  <div id='MoleculeFeaturesCard' class="card chembl-card grey lighten-5">

    <!-- modal trigger -->
    {% block embed_button %}
    {% include "glados/base/embed_button.html" %}
    {% endblock %}

    {% block card_loaders %}
    {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    <!-- Embed Modal Structure -->
    {% block embed_modal %}
    {% include "glados/base/embed_modal.html" %}
    {% endblock %}

    <div class="card-content" style="display: none">

      <div class="row">

        <div class="col s12 m9 offset-m1 l8 offset-l2 BCK-FeaturesGrid"
             data-hb-template="Handlebars-Compound-MoleculeFeaturesGrid">

        </div>

      </div>


    </div>


  </div>

</div>