<div class="col s12 m12 l12">

  <!-- Card Start -->
  <div id="CNCCard" class="card grey lighten-5 BCK-Embed-ButtonContainer">

    {% verbatim %}

    <script id="Handlebars-Compound-NameAndClassification-renderPrefName" type="text/x-handlebars-template">

      <span> {{#if undef}}<i>{{/if}} {{name}} {{#if undef}}</i>{{/if}} </span>

    </script>

    <script id="Handlebars-Compound-NameAndClassification-renderMaxPhase" type="text/x-handlebars-template">

      <span class="{{class}}"> {{text}} </span>
      <span class="{{class}}"> {{desc}} </span>
      <span class="chembl-help">
        <sub><span class="icon icon-generic tooltipped indigo-text" data-tooltip="{{tooltip}}"
                         data-icon='i' data-position="top"></span></sub>
        {{#if withdrawn}}<sub><a href= "#WithdrawnInfo"><span class="icon icon-chembl-2 tooltipped text-darken-2 yellow-text" data-tooltip="{{withdrawn_text}}"
                          data-icon='w' data-position="top"></span></a></sub>{{/if}}
      </span>

    </script>

    <script id="Handlebars-Compound-NameAndClassification-synonyms" type="text/x-handlebars-template">

      {{#each items}}
        <span class="chip-syn">{{ this }}</span>
      {{/each}}

    </script>

    <script id="Handlebars-Compound-NameAndClassification-tradenames" type="text/x-handlebars-template">

      {{#each items}}
        <span class="chip-tn">{{ this }}</span>
      {{/each}}

    </script>

    {% endverbatim %}

    {% block card_loaders %}
      {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    <div class="card-content" style="display:none">

      <div class="row">

      <!-- Coumpound Image -->
      <div class="col s6 m4 offset-s3">

         {% block main_image %}
          {% include "glados/CompoundReportCardParts/MainImage.html" %}
        {% endblock %}

      </div>


      <!-- Basic info table -->
      <div class="col s12 m8">

                  <div class="easyChemConfig auto-compile">

                    <table class="CNC-table striped">

                      <tbody>
                      <tr>
                        <td class="fixed-width-column-12"><b>ID:</b></td>
                        <td id="Bck-CHEMBL_ID"><!-- Backbone --></td>
                      </tr>
                      <tr>
                        <td class="fixed-width-column-12"><b>Name:</b></td>
                        <td id="Bck-PREF_NAME"><!-- Backbone --></td>
                      <tr>
                        <td class="fixed-width-column-12"><b>Max Phase:</b></td>
                        <td id="Bck-MAX_PHASE"><!-- Backbone --></td>
                      </tr>
                      <tr>
                        <td class="td-oneline fixed-width-column-12"><b>Molecular Formula:</b></td>
                        <td>
                          <span id="Bck-MOLFORMULA" class="echem-formula"><!-- Backbone --></span>
                        </td>
                      </tr>
                      <tr>
                        <td class="td-oneline fixed-width-column-12"><b>Molecular Weight:</b></td>
                        <td>
                          <span id="Bck-FULLMWT" ></span>
                        </td>
                      </tr>
                      <tr>
                        <td class="td-oneline fixed-width-column-12"><b>ChEMBL Synonyms:</b></td>
                        <td>
                            <div id="CompNameClass-synonyms"
                                 data-hb-template="Handlebars-Compound-NameAndClassification-synonyms">
                              <!-- Backbone -->
                            </div>

                        </td>
                      </tr>
                      <tr>
                        <td class="fixed-width-column-12" >
                          <b id="CompNameClass-additional-synonymsTitle"></b>
                        </td>
                        <td>
                            <div id="CompNameClass-additional-synonyms"
                                 data-hb-template="Handlebars-Compound-NameAndClassification-synonyms">
                              <!-- Backbone -->
                            </div>

                        </td>
                      </tr>
                      <tr class="fixed-width-column-12">
                        <td><b>Trade Names:</b></td>
                        <td>
                            <div id="CompNameClass-tradenames"
                              data-hb-template="Handlebars-Compound-NameAndClassification-tradenames">
                              <!-- Backbone -->
                            </div>

                        </td>
                      </tr>
                      <tr>
                        <td class="fixed-width-column-12">
                          <b id='CompNameClass-additional-tradenamesTitle'></b>
                        </td>
                        <td>
                            <div id="CompNameClass-additional-tradenames"
                                 data-hb-template="Handlebars-Compound-NameAndClassification-tradenames">
                              <!-- Backbone -->
                            </div>

                        </td>
                      </tr>
                      <tr>
                        <td class="fixed-width-column-12"><b>Molecule Type:</b></td>
                        <td id="Bck-MOLTYPE"><!-- Backbone --></td>
                      <tr>
                      </tbody>

                    </table>
                    </div>

      </div>


    </div>

      </div>

  </div> <!-- Card End -->

</div>