{% load static %}
<div class="col s12 m12 l12">

  <div id='CompRepsCard' class="card chembl-card grey lighten-5">

    {% block card_loaders %}
    {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    <!-- View raw modal -->
    <div id="SDF-raw-modal" class="modal" style="display: none;">
      <div class="sdf-raw-container">
        <div class="SDF-raw-modal-title-container">
          <h3 id="SDF-raw-modal-title"><!-- backbone --></h3>
        </div>
        <div class="SDF-raw-modal-content-container">
          <div class="SDF-raw-modal-content">

          </div>
        </div>
        {% block close_modal %}
        {% include "glados/base/modals/close_modal_button.html" %}
        {% endblock %}
      </div>
    </div>

    <!-- Card Content -->

    <div class="card-content" style="display: none">

      <div class="row">

        <!-- table for medium and large screens -->
        <table class="compact-table hide-on-small-only">

          <tbody>


          <tr>

            <td class="fixed-width-column-12"><b>Molfile:</b></td>

            <td>
              <div class="inline-block">
                <a id="Reps-Molfile-rawview" href="#SDF-raw-modal" class="waves-effect waves-light btn-small teal modal-trigger">
                  <p><i class="fa fa-code"></i></p>
                  <p>View Raw</p>
                </a>
              </div>
              <div class="inline-block">

                {% block Reps-Molfile-dnld %}
                  {% with btn_id='Reps-Molfile-dnld'  %}
                    {% include "glados/base/btn_download_small_2_lines.html" %}
                  {% endwith %}
                {% endblock %}

              </div>
              <div class="inline-block">
                <a id="Reps-Molfile-edit" href="#BCK-MarvinContainer" class="waves-effect waves-light btn-small teal modal-trigger">
                  <p><i class="fa fa-external-link"></i></p>
                  <p>Editor</p>
                </a>
              </div>

               {% block Reps-Molfile-copy %}
                  {% with btn_id='Reps-Molfile-copy'  %}
                    {% include "glados/base/btn_copy_small_2_lines.html" %}
                  {% endwith %}
                {% endblock %}

            </td>

          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Canonical SMILES:</b></td>
            <td class="BCK-CanonicalSmiles" data-hb-template="Handlebars-Common-CroppedContainer"></td>
          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Standard InChI:</b></td>
            <td class="BCK-StandardInchi" data-hb-template="Handlebars-Common-CroppedContainer"></td>
          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Standard InChI Key:</b></td>
            <td class="BCK-StandardInchiKey" data-hb-template="Handlebars-Common-CroppedContainer"></td>
          </tr>

          </tbody>
        </table>

        <!---------------------------------- table for small screens -------------------------------------------------->

        <table class="compact-table hide-on-med-and-up">

          <tbody>


          <tr>

            <td class="fixed-width-column-12"><b>Molfile:</b></td>

          </tr>

          <tr>

            <td>
              <div class="inline-block">
                <a id="Reps-Molfile-rawview-small" href="#SDF-raw-modal" class="waves-effect waves-light btn-small teal modal-trigger">
                  <p><i class="fa fa-code"></i></p>
                  <p>View Raw</p>
                </a>
              </div>
              <div class="inline-block">

                {% block Reps-Molfile-small-dnld %}
                  {% with btn_id='Reps-Molfile-dnld-small'  %}
                    {% include "glados/base/btn_download_small_2_lines.html" %}
                  {% endwith %}
                {% endblock %}

              </div>
              <div class="inline-block">
                <a id="Reps-Molfile-edit-small" href="#SDF-edit-modal" class="waves-effect waves-light btn-small teal modal-trigger">
                  <p><i class="fa fa-external-link"></i></p>
                  <p>Editor</p>
                </a>
              </div>

              <div class="inline-block">

               {% block Reps-Molfile-small-copy %}
                  {% with btn_id='Reps-Molfile-copy-small'  %}
                    {% include "glados/base/btn_copy_small_2_lines.html" %}
                  {% endwith %}
                {% endblock %}

              </div>

            </td>

          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Canonical SMILES:</b></td>
          </tr>

          <tr>

            <td colspan="2" class="BCK-CanonicalSmiles-Small" data-hb-template="Handlebars-Common-CroppedContainer">
            </td>
          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Standard InChI:</b></td>
          </tr>

          <tr>

            <td colspan="2" class="BCK-StandardInchi-Small" data-hb-template="Handlebars-Common-CroppedContainer"></td>
          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Standard InChI Key:</b></td>
          </tr>

          <tr>

            <td colspan="2" class="BCK-StandardInchiKey-Small" data-hb-template="Handlebars-Common-CroppedContainer"></td>
          </tr>

          </tbody>
        </table>

      </div>

    </div>

  </div>


</div>