<div class="col s12 m12 l12">

  <div id='CompRepsCard' class="card chembl-card grey lighten-5">

    <!-- modal trigger -->
    {% block embed_button %}
    {% include "glados/base/embed_button.html" %}
    {% endblock %}

    {% block card_loaders %}
    {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    <!-- Embed Modal Structure -->
    {% block embed_modal %}
    {% include "glados/base/embed_modal.html" %}
    {% endblock %}

    <div class="card-content" style="display: none">

      <div class="row">

        <!-- table for medium and large screens -->
        <table class="compact-table hide-on-small-only">

          <tbody>


          <tr>

            <td class="fixed-width-column-12"><b>Molfile:</b></td>

            <td>
              <div class="inline-block">
                <a class="waves-effect waves-light btn-small teal">
                  <p><i class="fa fa-code"></i></p>
                  <p>View Raw</p>
                </a>
              </div>
              <div class="inline-block">

                {% block Reps-Molfile-dnld %}
                  {% with btn_id='Reps-Molfile-dnld'  %}
                    {% include "glados/base/btn_download_small_2_lines.html" %}
                  {% endwith %}
                {% endblock %}

              </div>
              <div class="inline-block">
                <a class="waves-effect waves-light btn-small teal">
                  <p><i class="fa fa-external-link"></i></p>
                  <p>Editor</p>
                </a>
              </div>

               {% block Reps-Molfile-copy %}
                  {% with btn_id='Reps-Molfile-copy'  %}
                    {% include "glados/base/btn_copy_small_2_lines.html" %}
                  {% endwith %}
                {% endblock %}

            </td>

          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Canonical SMILES:</b></td>
            <td>

              <div class="cropped-text-field">

                <table>

                  <tr>

                    <td>

                      <div class="cropped-text-field-input">
                        <input id="CompReps-canonicalSmiles" type="text">
                        <!--Backbone-->
                      </div>

                    </td>

                    <td class="cropped-text-field-btns-cell">

                      <div class="cropped-text-field-btns">

                        {% block CompReps-canonicalSmiles-dnld %}
                          {% with btn_id='CompReps-canonicalSmiles-dnld' %}
                            {% include "glados/base/btn_download_only_small.html" %}
                          {% endwith %}
                        {% endblock %}

                        {% block CompReps-canonicalSmiles-copy %}
                          {% with btn_id='CompReps-canonicalSmiles-copy' %}
                            {% include "glados/base/btn_copy_small.html" %}
                          {% endwith %}
                        {% endblock %}


                      </div>

                    </td>

                  </tr>

                </table>


              </div>

            </td>
          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Standard InChI:</b></td>
            <td>

              <div class="cropped-text-field">

                <table>

                  <tr>

                    <td>
                      <div class="cropped-text-field-input">
                        <input id="CompReps-standardInchi" type="text">
                        <!--Backbone-->
                      </div>

                    </td>

                    <td class="cropped-text-field-btns-cell">
                      <div class="cropped-text-field-btns">

                        {% block CompReps-standardInchi-dnld %}
                          {% with btn_id='CompReps-standardInchi-dnld' %}
                            {% include "glados/base/btn_download_only_small.html" %}
                          {% endwith %}
                        {% endblock %}

                        {% block CompReps-standardInchi-copy %}
                          {% with btn_id='CompReps-standardInchi-copy' %}
                            {% include "glados/base/btn_copy_small.html" %}
                          {% endwith %}
                        {% endblock %}

                      </div>

                    </td>

                  </tr>
                </table>

              </div>

            </td>
          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Standard InChI Key:</b></td>
            <td>

              <div class="cropped-text-field">

                <table>

                  <tr>

                    <td>

                      <div class="cropped-text-field-input">
                        <input id="CompReps-standardInchiKey" type="text">
                        <!--Backbone-->
                      </div>

                    </td>

                    <td class="cropped-text-field-btns-cell">

                      <div class="cropped-text-field-btns">

                        {% block CompReps-standardInchiKey-dnld %}
                          {% with btn_id='CompReps-standardInchiKey-dnld' %}
                            {% include "glados/base/btn_download_only_small.html" %}
                          {% endwith %}
                        {% endblock %}


                        {% block CompReps-standardInchiKey-copy %}
                          {% with btn_id='CompReps-standardInchiKey-copy' %}
                            {% include "glados/base/btn_copy_small.html" %}
                          {% endwith %}
                        {% endblock %}

                      </div>

                    </td>

                  </tr>
                </table>

              </div>

            </td>
          </tr>

          </tbody>
        </table>

        <!-- table for small screens -->

        <table class="compact-table hide-on-med-and-up">

          <tbody>


          <tr>

            <td class="fixed-width-column-12"><b>Molfile:</b></td>

          </tr>

          <tr>

            <td>
              <div class="inline-block">

                 {% block Reps-Molfile-viewraw %}
                  {% with btn_id='Reps-Molfile-viewraw'  %}
                    {% include "glados/base/btn_view_raw_small.html" %}
                  {% endwith %}
                {% endblock %}

              </div>
              <div class="inline-block">

                {% block Reps-Molfile-small-dnld %}
                  {% with btn_id='Reps-Molfile-small-dnld'  %}
                    {% include "glados/base/btn_download_small_2_lines.html" %}
                  {% endwith %}
                {% endblock %}

              </div>
              <div class="inline-block">
                <a class="waves-effect waves-light btn-small teal">
                  <p><i class="fa fa-external-link"></i></p>
                  <p>Editor</p>
                </a>
              </div>

              <div class="inline-block">

               {% block Reps-Molfile-small-copy %}
                  {% with btn_id='Reps-Molfile-small-copy'  %}
                    {% include "glados/base/btn_copy_small_2_lines.html" %}
                  {% endwith %}
                {% endblock %}

              </div>

            </td>

          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Canonical SMILES:</b></td>
          </tr>

          <tr>

            <td colspan="2">
              <div class="cropped-text-field">

                <table>
                  <tr>

                    <td>
                      <div class="cropped-text-field-input">
                        <input id="CompReps-canonicalSmiles-small" type="text">
                        <!--Backbone-->
                      </div>
                    </td>

                    <td class="cropped-text-field-btns-cell">

                      <div class="cropped-text-field-btns">

                        {% block CompReps-canonicalSmiles-small-dnld %}
                          {% with btn_id='CompReps-canonicalSmiles-small-dnld' %}
                            {% include "glados/base/btn_download_only_small.html" %}
                          {% endwith %}
                        {% endblock %}

                        {% block CompReps-canonicalSmiles-small-copy %}
                          {% with btn_id='CompReps-canonicalSmiles-small-copy' %}
                            {% include "glados/base/btn_copy_small.html" %}
                          {% endwith %}
                        {% endblock %}



                      </div>

                    </td>

                  </tr>

                </table>
              </div>
            </td>
          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Standard InChI:</b></td>
          </tr>

          <tr>

            <td colspan="2">

              <div class="cropped-text-field">

                <table>

                  <tr>

                    <td>

                      <div class="cropped-text-field-input">
                        <input id="CompReps-standardInchi-small" type="text">
                        <!--Backbone-->
                      </div>

                    </td>

                    <td class="cropped-text-field-btns-cell">

                      <div class="cropped-text-field-btns">

                        {% block CompReps-standardInchi-small-dnld %}
                          {% with btn_id='CompReps-standardInchi-small-dnld' %}
                            {% include "glados/base/btn_download_only_small.html" %}
                          {% endwith %}
                        {% endblock %}


                        {% block CompReps-standardInchi-small-copy %}
                          {% with btn_id='CompReps-standardInchi-small-copy' %}
                            {% include "glados/base/btn_copy_small.html" %}
                          {% endwith %}
                        {% endblock %}

                      </div>

                    </td>


                  </tr>

                </table>

              </div>

            </td>
          </tr>

          <tr>
            <td class="td-oneline fixed-width-column-12"><b>Standard InChI Key:</b></td>
          </tr>

          <tr>

            <td colspan="2">

              <div class="cropped-text-field">

                <table>

                  <tr>

                    <td>
                      <div class="cropped-text-field-input">
                        <input id="CompReps-standardInchiKey-small" type="text">
                        <!--Backbone-->
                      </div>
                    </td>

                    <td class="cropped-text-field-btns-cell">



                      <div class="cropped-text-field-btns">

                        {% block CompReps-standardInchiKey-small-dnld %}
                          {% with btn_id='CompReps-standardInchiKey-small-dnld' %}
                            {% include "glados/base/btn_download_only_small.html" %}
                          {% endwith %}
                        {% endblock %}

                        {% block CompReps-standardInchiKey-small-copy %}
                          {% with btn_id='CompReps-standardInchiKey-small-copy' %}
                            {% include "glados/base/btn_copy_small.html" %}
                          {% endwith %}
                        {% endblock %}

                      </div>

                    </td>

                  </tr>

                </table>

              </div>

            </td>
          </tr>

          </tbody>
        </table>

      </div>

    </div>

  </div>


</div>