{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}CTargetPredictionsCard{% endblock %}

{% block general_content %}

    The two table below displays ChEMBL single-protein targets which are predicted to interact with
    <span class="BCK-Predictions-MolChemblID"></span>.
    The <span class="light-green lighten-5">green coloured rows</span> correspond to genuine predictions, i.e.
    targets not included in the original training set for this compound.

    <div class="BCK-Predictions-Table">
        {% include "glados/base/PaginatedCollections/DefaultTableContentB.html" %}
    </div>


{% endblock %}


