{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}CWithdrawnInfoCard{% endblock %}

{% block general_content %}
{% verbatim %}
<script id='Handlebars-WithdrawnInfo' type="text/x-handlebars-template">

    <div class="withdrawn-info amber lighten-5">
        <div class="center-align"><i class='icon icon-chembl-2' data-icon='w'></i></div>
        <ul>
            <li>
                <b>{{withdrawn_year.name_to_show}}:</b> {{withdrawn_year.value}}
            </li>
            <li>
                <b>{{withdrawn_country.name_to_show}}:</b> {{withdrawn_country.value}}
            </li>
            <li>
                <b>{{withdrawn_reason.name_to_show}}:</b> {{withdrawn_reason.value}}
            </li>
            <li>
                <b>{{withdrawn_class.name_to_show}}:</b> {{withdrawn_class.value}}
            </li>
        </ul>
    </div>

</script>
{% endverbatim %}
<div class="BCK-Details-Container" data-hb-template="Handlebars-WithdrawnInfo"></div>
{% endblock %}