<span class="card-title"><i class="icon icon-generic" data-icon="u"></i>Browse Drugs</span>

<div class="divider"></div>
<br>

<div id='BCK-DrugBrowserMain' class="row grey lighten-5">

  <div class="row">

    <div class="input-field col s4">

      <select class="change-page-size">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <label>Records per page:</label>
    </div>

  </div>


  <div id='DB-MainContent' class="row" >

    {% block card_loaders %}
      {% include "glados/base/card_loaders.html" %}
    {% endblock %}

    <table id='DBTable-large' class="compact-table striped hide-on-small-only ebi-links"
           data-hb-template="Handlebars-Common-Paginated-Row-large"
           data-hb-template-2="Handlebars-Common-Paginated-Header-large">

      <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

    </table>

  </div>

  <div class="row">

    <div id='DB-paginator' data-hb-template="Handlebars-Common-Paginated-UL">

      <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

    </div>

  </div>



</div>