{% extends "glados/base/base_layout.html" %}

{% block title %}ChEMBL Drug Browser{% endblock %}

{% block content %}

<div class="container">
  <h2>
    <span class="card-title"><i class="icon icon-generic" data-icon="u"></i>Browse Drugs</span>
  </h2>

  <div id="DrugInfBrowser">

    <div class="row">
      <div class="col m6 s12">

        <div class="input-field">
          <input placeholder="Search" id="first_name" type="text" class="validate search">
        </div>

      </div>

      <div class="input-field col s10 m4">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Sort by:</label>
      </div>

      <div class="col s2 full-height">
        <a class="waves-effect waves-light btn-mini teal">
          <i class="fa fa-sort-asc" aria-hidden="true"></i>
          Asc
        </a>

      </div>

    </div>

    <div id="DrugInfBrowserCardsContainer" class='row' data-is-infinite="yes"
         data-hb-template="Handlebars-Common-Paginated-Card">
      <!-- Backbone fills this with the infinity browser view -->

    </div>

    {% block preloaders %}
        {% include "glados/base/infinite_browse_loaders.html" %}
      {% endblock %}

  </div>
</div>

{% endblock %}

{% block custom_js_inline %}
var drugList = DrugBrowserApp.initDrugList();

var infBrowser = DrugBrowserApp.initInfinityBrowserView(drugList, $('#DrugInfBrowser'));
drugList.fetch({reset: true});


{% endblock %}