<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=product+sans|Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    {% block open_graph_tags %}{% endblock %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <title>Unichem SSS</title>
    {% block analytics %}
    {% endblock %}
    {% include "glados/base/data_protection_banner.html" %}
    {% load compress %}
    <!-- Imports used by all the templates-->
    <!-- only use this if absolutely necessary, it can complicate the css imports -->
    {% block common_css %}
    {% include "glados/base/css_imports_for_all.html" %}
    {% endblock %}
    <!-- Imports used by the current template -->
    {% block stylesheets %}{% endblock %}    
</head>
<header>
    <div id="masthead-contaniner" class="row">
        {% block header %}
        {% include "glados/base/header.html" %}
        {% endblock %}
    </div>
    <div class="chembl-header-spacer">
    </div>
</header>
<body>
    
    <main>
        <div id="unichem-app"></div>
    </main>
    <!-- built files will be auto injected -->
    <!-- Footer -->
    <footer class="page-footer">
        {% block footer %}
        {% include "glados/base/footer.html" %}
        {% endblock %}
    </footer>  
</body>
</html>