/*colours from materialize*/
@import "components/color";
@import "components/variables";


/* ----------------------------------------------------------------------------------------------------------------------
 Typography and colours
----------------------------------------------------------------------------------------------------------------------*/

$chembl-teal: color("teal", "darken-3");
$chembl-highlight: #FE7F9D;

.chembl-teal {
  background-color: $chembl-teal !important;
}

.chembl-teal-text {
  color: $chembl-teal !important;
}

$h1-color: #f7f7f7;
$h2-color: $chembl-teal;
$h3-color: #996a44;
$h4-color: #222;
$h5-color: #222;
$h6-color: #222;

$synonyms-color: color('green', 'lighten-4');
$tradenames-color: color('light-green', 'lighten-3');
$prot-target-class-color: color('blue-grey', 'lighten-4');
$default-btn-border-radius: 3px;

$global-masthead-large-height: 32px;
$global-masthead-small-med-height: 49px;

html {
  font-family: "ChEMBL_Verdana", Verdana, sans-serif;
  color: $primary-color-dark;
  scroll-behavior: smooth;
}

h1 {
  color: $h1-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 370%;
}

h2 {
  color: $h2-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 277%;
}

h3 {
  color: $h3-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 182%;
}

h4 {
  color: $h4-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 161.6%;
}

h5 {
  color: $h5-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 138.5%;
}

h6 {
  color: $h5-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 123.1%;
}

b,
strong {
  color: $primary-color-dark
}


/* ----------------------------------------------------------------------------------------------------------------------
 General Layout setup
----------------------------------------------------------------------------------------------------------------------*/

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

$modals-height: 80%;

a {

  &.disabled {
    color: color('grey', 'base')
  }

  /** make sure all links hav the hand pointer even with no href */
  &:hover {
    cursor: pointer;
  }
}

.no-margin {
  margin: 0 !important;
}

footer {
  padding-top: 0 !important;
}
