/*colours from materialize*/
@import "components/color";
@import "components/variables";


/* ----------------------------------------------------------------------------------------------------------------------
 Typography and colours
----------------------------------------------------------------------------------------------------------------------*/

/* BASE COLOURS */

$chembl-teal: color("teal", "base");
$lighter-teal: color("teal", "lighten-3");
$darker-teal: color("teal", "darken-3");
$teal-accent: color('teal', 'accent-4');

$grey-light: #e9e9e9;
$grey-medium: #707779;
$grey-dark: #4d5456;

$chembl-highlight: #FE7F9D;


.chembl-teal {
  background-color: $chembl-teal !important;
}

.chembl-teal-text {
  color: $chembl-teal !important;
}

$h1-color: $grey-light;
$h2-color: $darker-teal;
$h3-color: $grey-dark;
$h4-color: $grey-medium;
$h5-color: $grey-dark;
$h6-color: $grey-dark;

$synonyms-color: color('green', 'lighten-4');
$tradenames-color: color('light-green', 'lighten-3');
$prot-target-class-color: color('blue-grey', 'lighten-4');
$default-btn-border-radius: 3px;

$global-masthead-large-height: 32px;
$global-masthead-small-med-height: 49px;

html {
  font-family: "ChEMBL_Verdana", Verdana, sans-serif;
  color: $primary-color-dark;
  scroll-behavior: smooth;
}

h1 {
  color: $h1-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 370%;
}

h2 {
  color: $h2-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 277%;
}

h3 {
  color: $h3-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 182%;
}

h4 {
  color: $h4-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 161.6%;
}

h5 {
  color: $h5-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 138.5%;
}

h6 {
  color: $h6-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 123.1%;
}

b,
strong {
  color: $primary-color-dark
}


/* ----------------------------------------------------------------------------------------------------------------------
 General Layout setup
----------------------------------------------------------------------------------------------------------------------*/

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

$modals-height: 80%;

a {

  &.disabled {
    color: color('grey', 'base')
  }

  &:hover {
    cursor: pointer;
  }
}

.no-margin {
  margin: 0 !important;
}

footer {
  padding-top: 0 !important;
}


/**
* Buttons
* ----------------------------------------------------------------------------------------------------------------------
*/

.dotted-link {
  border-bottom: 1px dotted;
}

.close-corner-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.btn-chembl {
  color: #ffffff;
  border-radius: $default-btn-border-radius;
  padding: 10px 20px;
  text-align: center;
}

.btn-small {
  color: #ffffff;
  border-radius: $default-btn-border-radius;
  padding: 10px 6px 6px 6px;
  text-align: center;
  width: 60px;
  line-height: 9px;
  font-size: 9px;
}

.btn-mini i,
.btn-small i {
  font-size: 180%;
}

.btn-micro i {
  font-size: 150%;
}

.btn-mini {
  color: #ffffff;
  border-radius: $default-btn-border-radius;
  padding: 10px 3px 6px 3px;
  text-align: center;
  width: 30px;
  line-height: 9px;
  font-size: 9px;
  margin-left: 4px;
}

.btn-micro {
  color: #ffffff;
  border-radius: $default-btn-border-radius;
  padding: 8px 2px 4px 2px;
  text-align: center;
  width: 25px;
  line-height: 9px;
  font-size: 9px;
  margin-left: 4px;
}
