@import "chembl_base";


/**
* Custom elements
* ----------------------------------------------------------------------------------------------------------------------
*/

.css-tooltipped {
  position: relative;

  .css-tooltip {
    white-space: normal;
    visibility: hidden;
    word-wrap: break-word;
    background-color: color('grey', 'lighten-3');
    text-align: left;
    border-radius: 0.5em;
    padding: 0.5em;

    /* Position the tooltip */
    position: absolute;
    left: -0.5em;
    right: -0.5em;
    top: -0.5em;
    z-index: 100;
  }

  &.active-tooltip {
    &:hover {
      .css-tooltip {
        visibility: visible;
      }
    }
  }
}



/**
* main content container
* ----------------------------------------------------------------------------------------------------------------------
*/

/* medium and up screens */
@media only screen and (min-width: 601px) {

  .main-container {
    width: 97.5%;
    max-width: none;
  }
}


/**
* Error message styles
* ----------------------------------------------------------------------------------------------------------------------
*/

a.error-redirect-link {
  font-size: 1.3em;
  color: $chembl-teal;
  text-decoration: underline;
  &:hover {
    color: color('teal', 'lighten-1');
    font-size: 1.3em;
  }
}

/**
* Preloaders and Error message wrapppers
* ----------------------------------------------------------------------------------------------------------------------
*/
.card-load-error,
.card-preolader-to-hide {
  padding: 10% 5%;
}

.chembl-help {
  font-size: 210%;
  line-height: 10px;
}

.chembl-help span {
  border-radius: 15px;

}

/**
* Compound Representations
* ----------------------------------------------------------------------------------------------------------------------
*/

.inline-block {
  display: inline-block;
  margin-top: 2px;
}

.inline {
  display: inline;
  margin-top: 2px;
}

.compact-table {
  display: table;
  overflow-x: inherit;

  &.scrollable {
    overflow-x: auto;
  }

  &.scrolling {
    display: block;
  }

  [type="checkbox"] + label {
    left: 10px;
    top: 5px;
  }

  .headers-table {
    border-collapse: separate;

    &.sort {

      .name-to-show {
        cursor: pointer;
      }

      &:hover {

        .sort-icon {
          color: color($primary-color-name, "accent-4") !important;
        }
      }
    }

    .sort-icon {
      font-size: 1.3em;
      cursor: pointer;
    }
  }
  td {

    font-size: 80%;
    padding: 5px;

    &.number-cell {
      text-align: right;
    }

    &.number-cell-center {
      text-align: center;
    }

    .vis-container {
      width: 150px;
      padding: 5px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  th {
    font-size: 0.9em;
  }

}

.table-header-menu {

  &.row {
    margin-bottom: 0;
  }

  .buttons-container {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.table-top-scroller-container {
  overflow-x: auto;
}

.ebi-links {

  a {
    border-bottom: 0 none;
    color: color("teal", "base");
  }

  a:hover {

    color: color("teal", "accent-4")
  }

  span {
    border-bottom: 0 none;
    color: color("teal", "base");
    font-size: 70%;
  }

  .chembl-breadcrumbs {
    width: fit-content;
    display: inline;
  }

}

.cropped-text-field {
  position: relative;
}

.cropped-text-field-input {
  position: relative;
}

.cropped-text-field-input {
  font-family: 'Roboto Mono', 'Ubuntu Mono', courier, sans-serif;
}

.cropped-text-field-btns {
  max-height: 32px;
}

.cropped-text-field-btns .btn-mini {
  float: right;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.cropped-text-field td {
  padding: 0;
}

.cropped-text-field-btns-cell {
  width: 75px;
}

.cards-container {
  // Arrange materialize floating elements just in case flex does not work
  @media #{$small-and-down}{
    .col:nth-child(n+1) {
      clear: left;
    }
  }
  @media #{$medium-only}{
    .col:nth-child(2n+1) {
      clear: left;
    }
  }
  @media #{$large-and-up} {
    .col:nth-child(3n+1) {
      clear: left;
    }
  }

  &.infinite-cards {
    width: 100%;
  }

  display: flex;
  flex-flow: row wrap;

  .col {

    .card {

      .checkbox-container {
        z-index: 4;
        position: absolute;
        right: -15px;
        top: 0;

        [type="checkbox"].filled-in:not(:checked) + label:after {
          border-color: color('grey', 'lighten-1')
        }
      }

      .card-content {
        position: relative;
      }

      .slide-more-info {
        width: 100%;

        a {
          display: inline-block;
          width: 100%;

          &:hover {
            background-color: color($primary-color-name, 'lighten-5');
          }
        }

        &.opener {
          position: absolute;
          top: 0;
          left: 0;
          margin-left: auto;
          margin-right: auto;
        }

      }

      .details {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        display: none;

        .details-content {
          padding: 4px;
        }

        .tabs-container {
          position: absolute;
          bottom: 0;
          left: 0;
          margin-left: auto;
          margin-right: auto;
          width: 100%;

        }

        .tabs-contents {
          height: calc(100% - 45px);
          overflow-y: scroll;

          .compound-details {
            overflow-y: scroll;
          }
        }
      }
    }
  }
}

.card {
  position: relative;
}

.card-top-border {
  border-top: 2px solid color('cyan', 'lighten-3');
}

/**
* Molecule Features
* ----------------------------------------------------------------------------------------------------------------------
*/

#MoleculeFeaturesCard {

   .row {
    margin-bottom: 0;
  }
}

.mol-features-grid {
  .col {
    padding: 2px;
  }

  .row {
    margin-bottom: 0;
  }

  .mol-features-grid {
    line-height: 1.5;
  }

  .feat-icon {
    padding: 5px;
    border-radius: 2px;

    i {
      font-size: 2.5em;
      margin: auto;

      &.table_cell_icon {
        font-size: 2.5em;
      }
    }
  }

  .off {
     background-color: #e6e6e6; //grey

    .feature-icon {
        color: #9a9a9a; //dark grey
      }
  }

  .first-row {

    .active {
      background-color: #7FDBB1; //light green

      .feature-icon {
        color: #2F7071; //dark green
        //color: #EEFFEE; //white green
      }
    }
  }

  .second-row {

    .active {
      background-color: #90CFDA; //LIGHT BLUE

      .feature-icon{
        color: #39576F; //dark blue
      }
    }
  }

}



/**
* Alternate Forms
* ----------------------------------------------------------------------------------------------------------------------
*/

.card .card-image .chembl-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.card.horizontal {

  .card-image {
    display: table;
    height: 100%;

    .image-container {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .embed-btn-in-card {
    position: absolute;
    bottom: 18px;
    right: 0px;
  }
}

.card {

  &.vertical {

    .embed-btn-in-card {
      position: absolute;
      left: 20px;
    }
  }
}

/**
* Charts
* ----------------------------------------------------------------------------------------------------------------------
*/

.chart {
  max-width: 100%;
}

/**
* EBI-Breadcrums
* ----------------------------------------------------------------------------------------------------------------------
*/

.ebi-breadcrumb {
  font-size: 70%;

  &.truncate {
    max-width: 200px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 10px;
  }

}

.long-filter-content {
  max-height: 20vh;
  overflow: scroll;
}

.share-url {
  padding: 4px;
  border: 1px solid $primary-color-dark;
}

/**
* Acknowledgements
* ----------------------------------------------------------------------------------------------------------------------
*/

.acks-list {
  li {
    padding: 2px 0;
  }
}

/**
* Download Menu
* ----------------------------------------------------------------------------------------------------------------------
*/

.db-menu-option {
  height: 99px;

  .menu-link {
    height: 100%;
    border-radius: $default-btn-border-radius;
    background-color: $primary-color;
    padding: 5px;

    a {
      color: white;
      width: 100%;

      p {
        margin: 5px 0;
      }

    }

    img {
      max-height: 45px;
    }

    .only-text {
      font-size: 2rem;
    }
  }
}

.db-menu-option-default {
  border: 2px solid $primary-color-dark;
  border-radius: $default-btn-border-radius + 2px;
}

.wizard-modal {
  height: $modals-height;

  .modal-content {
    height: 100%;

    .step-content {
      height: 100%;
      position: relative;

      .db-menu-option {
        .icon-chembl {
          font-size: 220%;
        }
      }
    }
  }

  .db-menu-foter {
    width: 100%;
    position: absolute;
    bottom: 0;

    .db-menu-last-row {
      border-top: 1px solid $primary-color;
      margin-bottom: 0px;

    }

    .db-menu-description {
      font-size: 80%;
      padding: 10px;
    }

  }

  .license-text {
    background-color: white;
    height: 60%;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 1rem;
  }

  .input-field {
    margin-top: 0;
    input {
      margin-bottom: 0;
    }
  }
}

.speck-fullscreen {
  position: relative;

  .visualisation {
    width: 100vw;
    height: 90vh;
  }

  .controls {
    position: absolute;
    bottom: 0;
  }
}

/**
* Target Browser
* ----------------------------------------------------------------------------------------------------------------------
*/

.small-input-wrapper {

  input {
    margin: 0px;
    height: 2rem;
  }
}

/**
 * Download buttons
 * ----------------------------------------------------------------------------------------------------------------------
 */

.downloads-btn-wrapper {
  position: relative;
  display: inline-block;

  .downloads-btns {
    position: absolute;
    top: 0;
    left: 120%;
    width: 300px;
    display: none;
  }
}


/**
  * MarvinJS editor
  * ----------------------------------------------------------------------------------------------------------------------
  */

.marvin-search-container {

  .marvinjs-buttons, .marvin-container, .marvinjs-buttons-closed {

    .col {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
    }

    a {
      width: 100%;
    }
  }

  &.in-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;

    .row {
      padding: 0;
      margin: 0;
    }

    .marvinjs-buttons, .marvin-container, .marvinjs-buttons-closed {

      .col {
        padding: 0.1rem;
      }

      a {
        width: 100%;
      }

      p {
        font-size: 0.7rem;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .marvinjs-buttons-closed, .marvinjs-buttons {
      flex-grow: 1;
      flex-shrink: 0;
    }

    .marvin-container {
      width: 100%;
      flex-grow: 100;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .div-cover-wrapper {
        width: 100%;
        flex-grow: 10;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        iframe {
          width: 100%;
          flex-grow: 10;
          flex-shrink: 0;
        }

        &::after {
          flex-grow: 0.001;
          flex-shrink: 0;
        }
      }

      &::after {
        flex-grow: 0.001;
        flex-shrink: 0;
      }
    }
  }

}


/* carrousel with overlay buttons
* --------------------------------------------
*/

$chevron-button-size: 40px;
$chevron-button-margin: 0px;

@media (max-width: 600px) {
  #SimilarCompoundsCard, #AlternateFormsOfCompoundInChEMBL {
    max-width: 500px !important;
  }

}

.carousel-container {
  position: relative;
  overflow: hidden;

  .chevron-container {
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 0.75em;
    width: 100%;

    .page-selector {
      background-color: rgba(250, 250, 250, 0.73) !important;
      height: $chevron-button-size * 2;
      width: $chevron-button-size;

      a {
        height: 2.5em;

        i {
          transition: all 100ms ease-in-out;
          color: #848484;
          font-size: 2.5em;
        }
        i:hover {
          transition: all 100ms ease-in-out;
          color: #4e4e4e;
        }
      }
    }

    .page-selector.disabled a {
      i {
        color: #cccccc;
      }
      cursor: default;
      pointer-events: none;
    }

    .page-selector.right {
      border-radius: 80px 0 0 80px;
      box-shadow: -2px 0 2px 0px rgba(169, 169, 169, 0.38);
    }
    .page-selector.left {
      border-radius: 0 80px 80px 0;
      box-shadow: 2px 0 2px 0px rgba(169, 169, 169, 0.38);
    }
  }
  .items-container {
    margin-bottom: 0;
    margin-left: $chevron-button-margin;
    margin-right: $chevron-button-margin;
    position: relative;
    display: flex;

    .carousel-card {
      width: calc(100% - 10px);
      .card-container {
        width: 85%;
        margin-left: auto;
        margin-right: auto;

        .card-content {
          padding: 10px 10px 5px 10px;

          .p-oneline a {
            font-size: 0.8rem;
          }
        }
      }
    }

  }
}

/*
* Paginated Collections
* ----------------------------------------------------------------------------------------------------------------------
*/

$chembl-header-height: 52.245px;

.pagination {
  margin: 0;

  a {
    font-size: 1em;
  }
}

.number-of-results {
  margin-left: 30px !important;
}


.paginated-collection {
  padding: 4px;

  .paginator-row {
    margin-top: 20px;
  }

  .pg-table {
    margin-left: 8px;

    .pinned-header {
      background-color: rgb(255, 255, 255);
      position: fixed;
      z-index: 2;
      top: 3.2em;
      border-bottom: solid 0.5px #f1f1f1;
    }

    .hidden_header, .hidden_cell {
      display: none;
    }

  }

  .hidden_list_prop {
    display: none;
  }

  .pagination {
    margin: 0;
    li {
      a {
        font-size: 1rem;
      }
    }
  }

  .paginated-card {

    .card-stacked {
      width: 50%;

      .card-content {
        padding: 0.75em;
      }
    }
  }
}

.row {

  &.row-hidden {
    margin-bottom: 0px;
  }
}

.card-content {

  .main-container-row {
    margin-bottom: 0px;
    height: 100%;
  }
}

.mini-report-card {

  .card-content {

    &.has-img {
      width: 60%
    }
  }

  .empty-list-message {
    margin-bottom: 0;

    .h5 {
      margin: 0;
    }
  }
}

.show-hide-columns {

  .sortable-items-container {
    position: relative;

    .sortable-item {
      padding: 0 0.25rem;

      .item-content {
        margin-top: 2px;
        border-radius: $default-btn-border-radius;
        white-space: nowrap;

        input {
          width: 0;
          height: 0;
        }

        label {
          margin-top: 1px;
          padding-left: 25px;
        }

        .item-checkbox, .property-name {
          display: inline-block;
        }

        .property-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: calc(100% - 50px);
        }

        &:hover {
          background-color: color('grey', 'lighten-3');
        }

        [type="checkbox"] {
          position: static;
        }
      }

      &.dragged-over {

        .item-content {
        }
      }

      &.being-dragged {
        display: none;
      }
    }

    .drag-dummy {
      display: none;
      background-color: color('grey', 'lighten-2');

      &.show {
        display: initial;
      }
    }
  }
}

/**
* Custom Tabs
* ----------------------------------------------------------------------------------------------------------------------
*/

.card-tabs {
  background-color: white;

  .section-item {
    padding: 10px 10px;
    margin: 0px 0px;
    color: color('grey', 'darken-2');
    display: inline-block;

    &.selected {
      color: color('black', 'base');
      border-bottom: 2px solid color($primary-color-name, 'base');
      background-color: color('grey', 'lighten-5');
    }

    &:not(.selected):hover {
      color: color('grey', 'darken-4');
      border-bottom: 2px solid color($primary-color-name, 'lighten-3');
    }
  }

  &.scrollable {
    white-space: nowrap;
    overflow-x: auto;
  }
}




