/*colours from materialize*/
@import "components/color";
@import "components/variables";

/**
* Typograhpy and colours
* ----------------------------------------------------------------------------------------------------------------------
*/

$chembl-teal: color("teal", "darken-3");
$chembl-highlight: #FE7F9D;

.chembl-teal {
  background-color: $chembl-teal !important;
}

.chembl-teal-text {
  color: $chembl-teal !important;
}

$h1-color: #f7f7f7;
$h2-color: $chembl-teal;
$h3-color: #996a44;
$h4-color: #222;
$h5-color: #222;
$h6-color: #222;

$synonyms-color: color('green', 'lighten-4');
$tradenames-color: color('light-green', 'lighten-3');
$prot-target-class-color: color('blue-grey', 'lighten-4');
$default-btn-border-radius: 3px;

$global-masthead-large-height: 32px;
$global-masthead-small-med-height: 49px;

html {
  font-family: "ChEMBL_Verdana", Verdana, sans-serif;
  color: $primary-color-dark;
  scroll-behavior: smooth;
}

h1 {
  color: $h1-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 370%;
}

h2 {
  color: $h2-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 277%;
}

h3 {
  color: $h3-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 182%;
}

h4 {
  color: $h4-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 161.6%;
}

h5 {
  color: $h5-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 138.5%;
}

h6 {
  color: $h5-color;
  font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
  font-size: 123.1%;
}

b,
strong {
  color: $primary-color-dark
}

/**
* Custom elements
* ----------------------------------------------------------------------------------------------------------------------
*/

.css-tooltipped {
  position: relative;
  .css-tooltip {
    white-space: normal;
    visibility: hidden;
    word-wrap: break-word;
    background-color: color('grey', 'lighten-3');
    text-align: left;
    border-radius: 0.5em;
    padding: 0.5em;

    /* Position the tooltip */
    position: absolute;
    left: -0.5em;
    right: -0.5em;
    top: -0.5em;
    z-index: 100;
  }

  &.active-tooltip {
    &:hover {
      .css-tooltip {
        visibility: visible;
      }
    }
  }
}

/**
* General layout setup
* ----------------------------------------------------------------------------------------------------------------------
*/

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

$modals-height: 80%;
a {
  &.disabled {
    color: color('grey', 'base')
  }
  /** make sure all links hav the hand pointer even with no href */
  &:hover {
    cursor: pointer;
  }
}

.no-margin {
  margin: 0 !important;
}

footer {
  padding-top: 0 !important;
}


/**
* Scroll spy
* ----------------------------------------------------------------------------------------------------------------------
*/

.scrollspy-wrapper {
  position: relative;
  &.pin-top {
    margin-top: 40px;
  }

  &.pinned {
    top: 40px;
  }
}



.table-of-contents a.active {
  border-left: 2px solid $h3-color;
}

.table-of-contents a:hover {
  border-left: 1px solid $h3-color;
}

/**
* main content container
* ----------------------------------------------------------------------------------------------------------------------
*/

/* medium and up screens */
@media only screen and (min-width: 601px) {
  .main-container {
    width: 97.5%;
    max-width: none;
  }
}

/**
* Compound report card
* ----------------------------------------------------------------------------------------------------------------------
*/

div#CompoundNameAndClassification .row {
  margin-bottom: 0;
}

div#CompoundNameAndClassification .CNC-img {
  max-width: 100%;
  max-height: 90%;
}

div#CompoundNameAndClassification .CNC-img-btn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.td-oneline {
  white-space: nowrap;
}

.p-oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div#CompoundNameAndClassification .CNC-table td {
  padding: 2px;
  font-size: 80%;
}

.fixed-width-column-12 {
  width: 12em;
}

.fixed-width-column-11 {
  width: 11em;
}

div#CompoundNameAndClassification .card-panel {
  padding: 5px;
  position: relative;
}

div#CompoundNameAndClassification .comp-phase-0,
div#CompoundNameAndClassification .comp-phase-1,
div#CompoundNameAndClassification .comp-phase-2,
div#CompoundNameAndClassification .comp-phase-3,
div#CompoundNameAndClassification .comp-phase-4 {
  color: #ffffff;
  padding: 1px 3px 1px 3px;
  display: inline-block;
  border-radius: 2px;
}

div#CompoundNameAndClassification .comp-phase-4 {
  background-color: #43a047;
}

div#CompoundNameAndClassification .comp-phase-3 {
  color: #000000;
  background-color: #ffeb3b;
}

div#CompoundNameAndClassification .comp-phase-2 {
  background-color: #ff9800;
}

div#CompoundNameAndClassification .comp-phase-1 {
  background-color: #f44336;
}

div#CompoundNameAndClassification .comp-phase-0 {
  background-color: #9e9e9e;
}

.chip-ptc,
.chip-tn,
.chip-syn {
  font-size: 100%;
  margin: 1px 0;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  display: inline-block;
  word-break: break-all;
  line-height: normal;
}

.chip-syn {
  background-color: $synonyms-color;
}

.chip-tn {
  background-color: $tradenames-color;
}

.chip-ptc {
  background-color: $prot-target-class-color;
}

.CNC-btn {
  padding: 0 5px;
}

.cropped {
  overflow: hidden;
  max-height: 88px;
  max-width: 80%;
}

.expanded {
  overflow: visible;
  max-height: none;
  max-width: 100%;
}

.cropped-container {
  position: relative;

  .toggle-more-less {
    padding: 4px;
  }

}

.cropped-container-btns {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.material-tooltip {
  padding: 5px 4px;
  font-size: 0.8rem;
  min-height: 20px;
  max-width: calc(80% - 4px)
}

.cropped-container-btns span {
  margin: 0 1px;
  padding-left: 3px;
  font-size: 0.65rem;
}

.cropped-container-btns-exp {
  position: relative;
  float: right;
}

.CNC-expandable-content-right,
.CNC-expandable-content-left,
.CNC-expandable-content-top,
.CNC-expandable-content-bottom {
  background-color: rgba(158, 158, 158, 0.6);
  position: absolute;
  z-index: 990;
  width: 100%;
  overflow: hidden;
  display: none;
}

.CNC-expandable-content-top {
  bottom: 100%;
}

.CNC-expandable-content-left {
  width: 40px;
  top: 0;
  right: 100%;
}

.CNC-expandable-content-right {
  width: 80px;
  top: 0;
  left: 100%;
}

.CNC-expandable-content-right a,
.CNC-expandable-content-left a,
.CNC-expandable-content-top a,
.CNC-expandable-content-bottom a {
  color: white;
  margin: 8px auto 8px auto;
  border-radius: 2px;
  display: inline-block;
  padding: 6px;
  width: 30px;
  height: 33px;
  line-height: 21px;
}

.CNC-expandable-content-right a,
.CNC-expandable-content-left a {
  margin: 2px auto 2px 2px;
}

.CNC-expandable-content-right i,
.CNC-expandable-content-left i,
.CNC-expandable-content-top i,
.CNC-expandable-content-bottom i {
  color: white;
  font-size: 120%;
}

.CNC-expandable-content-right p,
.CNC-expandable-content-left p,
.CNC-expandable-content-top p,
.CNC-expandable-content-bottom p {
  margin: 0;
  text-align: center;
}

.CNC-expandable-content-right .container,
.CNC-expandable-content-left .container,
.CNC-expandable-content-top .container,
.CNC-expandable-content-bottom .container {

  width: 90%;

}

.position-relative {
  position: relative;
}

.embed-btn {
  position: absolute;
  color: white;
  padding: 0 4px;
  top: -3px;
  right: 0px;
  &.inverted {
    color: $primary-color-dark
  }
}

.embed-preview {
  height: 80vh;
}

.code-container {
  border: 1px solid $primary-color;
  padding: 10px;
  overflow: scroll;
}

div#CNC-zoom-modal {
  height: $modals-height;
  overflow-y: hidden;
}

.img-zoom-container {
  height: 95%;
  width: 95%;
  text-align: center;
  margin: 2% auto 2% auto;
}

.responsive-height-img {
  max-height: 100%;
  max-width: 100%;
}

.img-zoom-title {
  position: absolute;
  top: 0;
  padding: 5px;
  margin-top: 10px;
}

#SDF-raw-modal {
  display: inline-block;
}

.sdf-raw-container {
  height: 95%;
  width: 95%;
  text-align: center;
  margin: 2% auto 2% auto;
}

.SDF-raw-modal-title-container {
  position: absolute;
  top: 0;
  padding: 5px;
  margin-top: 10px;
}

.SDF-raw-modal-content-container {
  width: 95%;
  text-align: center;
  margin: 35px auto 2% auto;
}

.SDF-raw-modal-content {
  display: inline-block;
  font-family: 'Roboto Mono', 'Ubuntu Mono', courier, sans-serif;
  text-align: left;
}

.modal-close-icon {
  position: absolute;
  top: 5px;
  right: 0;
}

.menu-close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.menu-open-icon {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: 5px;
}

.img-zoom-menu {
  opacity: 0.8;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  padding: 15px;
  border-radius: 5px;
}

.img-zoom-menu label {
  color: black;
}

/* small screens */
@media only screen and (max-width: 600px) {
  .img-zoom-menu {
    max-width: 90%;
  }
}

.modal-3D {
  min-height: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.options-3D-menu-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.visualisation-container-3D {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.vis-3D-wrapper {
  min-height: 350px;
}

.img-3D-menu {
  opacity: 0.8;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  padding: 15px;
  border-radius: 5px;
}

.img-3D-menu label {
  color: black;
}

/* small screens */
@media only screen and (max-width: 600px) {
  .img-3D-menu {
    max-width: 90%;
  }
}

/**
* Error message styles
* ----------------------------------------------------------------------------------------------------------------------
*/
a.error-redirect-link {
  font-size: 1.3em;
  color: $chembl-teal;
  text-decoration: underline;
  &:hover {
    color: color('teal', 'lighten-1');
    font-size: 1.3em;
  }
}

/**
* highlight styles
* ----------------------------------------------------------------------------------------------------------------------
*/
em.glados-result-highlight {
  background: $chembl-highlight;
  font-style: normal;
  color: white;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

/**
* Preloaders and Error message wrapppers
* ----------------------------------------------------------------------------------------------------------------------
*/
.card-load-error,
.card-preolader-to-hide {
  padding: 10% 5%;
}

.chembl-help {
  font-size: 210%;
  line-height: 10px;
}

.chembl-help span {

  border-radius: 15px;

}

/**
* Compound Representations
* ----------------------------------------------------------------------------------------------------------------------
*/

.inline-block {
  display: inline-block;
  margin-top: 2px;
}

.inline {
  display: inline;
  margin-top: 2px;
}

.compact-table {
  display: table;
  overflow-x: inherit;
  &.scrollable {
    overflow-x: auto;
  }
  &.scrolling {
    display: block;
  }

  [type="checkbox"] + label {
    left: 10px;
    top: 5px;
  }
  .headers-table {
    border-collapse: separate;

    &.sort {
      .name-to-show {
        cursor: pointer;
      }

      &:hover {
        .sort-icon {
          color: color($primary-color-name, "accent-4") !important;
        }
      }
    }
    .sort-icon {
      font-size: 1.3em;
      cursor: pointer;
    }
  }
  td {

    font-size: 80%;
    padding: 5px;

    &.number-cell {
      text-align: right;
    }
    &.number-cell-center {
      text-align: center;
    }
    .vis-container {
      width: 150px;
      padding: 5px;
      margin-left: auto;
      margin-right: auto;
    }

  }

  th {
    font-size: 0.9em;
  }

}

.table-header-menu {
  &.row {
    margin-bottom: 0;
  }
  .buttons-container {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.table-top-scroller-container {
  overflow-x: auto;
}

.ebi-links {

  a {
    border-bottom: 0 none;
    color: color("teal", "base");
  }

  a:hover {

    color: color("teal", "accent-4")
  }

  span {
    border-bottom: 0 none;
    color: color("teal", "base");
    font-size: 70%;
  }

  .chembl-breadcrumbs {
    width: fit-content;
    display: inline;
  }

}

.cropped-text-field {
  position: relative;
}

.cropped-text-field-input {
  position: relative;
}

.cropped-text-field-input {
  font-family: 'Roboto Mono', 'Ubuntu Mono', courier, sans-serif;
}

.cropped-text-field-btns {
  max-height: 32px;
}

.cropped-text-field-btns .btn-mini {
  float: right;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.cropped-text-field td {
  padding: 0;
}

.cropped-text-field-btns-cell {
  width: 75px;
}

.cards-container {
  // Arrange materialize floating elements just in case flex does not work
  @media #{$small-and-down}{
    .col:nth-child(n+1) {
      clear: left;
    }
  }
  @media #{$medium-only}{
    .col:nth-child(2n+1) {
      clear: left;
    }
  }
  @media #{$large-and-up} {
    .col:nth-child(3n+1) {
      clear: left;
    }
  }

  &.infinite-cards {
    width: 100%;
  }

  display: flex;
  flex-flow: row wrap;

  .col {
    .card {
      .checkbox-container {
        z-index: 4;
        position: absolute;
        right: -15px;
        top: 0;

        [type="checkbox"].filled-in:not(:checked) + label:after {
          border-color: color('grey', 'lighten-1')
        }

      }
      .card-content {
        position: relative;
      }

      .slide-more-info {
        width: 100%;

        a {
          display: inline-block;
          width: 100%;
          &:hover {
            background-color: color($primary-color-name, 'lighten-5');
          }
        }

        &.opener {
          position: absolute;
          top: 0;
          left: 0;
          margin-left: auto;
          margin-right: auto;
        }

      }

      .details {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        display: none;
        .details-content {
          padding: 4px;
        }

        .tabs-container {

          position: absolute;
          bottom: 0;
          left: 0;
          margin-left: auto;
          margin-right: auto;
          width: 100%;

        }

        .tabs-contents {

          .compound-details {
            overflow-y: scroll;
          }

          height: calc(100% - 45px);
          overflow-y: scroll;

        }

      }
    }

  }

}

.card {
  position: relative;
}

.card-top-border {
  border-top: 2px solid color('cyan', 'lighten-3');
}

/**
* Molecule Features
* ----------------------------------------------------------------------------------------------------------------------
*/

.mol-features-grid {
  .col {
    border: 1px solid #fafafa;
    padding: 2px;
    background-color: #e0e0e0;
  }

  .row {
    margin-bottom: 0;
  }

  .mol-features-grid {
    line-height: 1.5;
  }

  .feat-icon {

    i {
      font-size: 2em;
      margin: auto;

      &.table_cell_icon {
        font-size: 1.6em;
      }
    }
  }

  .first-row {
    .active {
      background-color: #73b360;
      opacity: 0.9
    }
  }

  .second-row {
    .active {
      background-color: #02355C; //BLUE
    }
  }

}

/**
* Indications
* ----------------------------------------------------------------------------------------------------------------------
*/

.chembl-paginated-table .pagination {
  padding-bottom: 15px;
}

.chembl-paginated-table .pagination li {
  font-size: 1rem;
}

.chembl-paginated-table .pagination li.active {
  background-color: #009688;
}

.inications-dowload {
  margin-top: 14px;
}

/**
* Alternate Forms
* ----------------------------------------------------------------------------------------------------------------------
*/

.card .card-image .chembl-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.card.horizontal {
  .card-image {
    display: table;
    height: 100%;
    .image-container {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .embed-btn-in-card {
    position: absolute;
    bottom: 18px;
    right: 0px;
  }
}

.card {
  &.vertical {
    .embed-btn-in-card {
      position: absolute;
      left: 20px;
    }
  }
}

/**
* Charts
* ----------------------------------------------------------------------------------------------------------------------
*/

.chart {
  max-width: 100%;
}

/**
* EBI-Breadcrums
* ----------------------------------------------------------------------------------------------------------------------
*/

.ebi-breadcrumb {
  font-size: 70%;
  &.truncate {
    max-width: 200px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 10px;
  }

}

.long-filter-content {
  max-height: 20vh;
  overflow: scroll;
}

.share-url {
  padding: 4px;
  border: 1px solid $primary-color-dark;
}

/**
* Acknowledgements
* ----------------------------------------------------------------------------------------------------------------------
*/

.acks-list {

  li {
    padding: 2px 0;
  }

}

/**
* Search Bar and inputs
* ----------------------------------------------------------------------------------------------------------------------
*/

.search-bar {

  position: relative;

  .col {
    padding: 0
  }

  input {
    font-size: 1rem;
    height: 1.5rem;
    margin-left: 10px;
    margin-top: 0.5rem;
    width: 99% !important;
    border-bottom: 0px;
  }

  input:focus {

    border-bottom: 0px;
    color: rgba(8, 46, 52, 0.81);

  }

  /* label underline focus color */
  input[type=search]:focus {
    border-bottom: 0;
    box-shadow: none;
    color: rgba(8, 46, 52, 0.81);
  }

  background-color: white;

}

.buttons-helper-expandable-input {
  color: $primary-color;
  resize: none;
  z-index: 20;
  line-height: 1.5;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border: 2px solid $primary-color;
  border-radius: 5px;
}

.full-height:after {
  content: "";
  display: table;
  clear: both;
}

$search-items-height: 35px;

.search-input-wrapper, .search-opts, .search-btn, .draw-st-btn {

  height: $search-items-height;

}

.calign {

  margin: auto;

}

.clean-button {
  background: none;
  border: none;
  outline: none;
  vertical-align: middle;
  text-align: center;
  border-radius: $default-btn-border-radius;
  &:active, &:target {
    background: none;
    border: none;
    outline: none !important;
    font-size: 1.1em !important;
  }
  &:focus {
    background: none;
    border: none;
    outline-style: dashed lighten($primary-color, 40%) 2px !important;
  }
  &:hover {
    background: none;
    border: none;
    outline: none !important;
    font-size: 1.05em;
  }
}

.search-opts, .draw-st-btn {
  @extend .clean-button;
  color: $primary-color;
  &:active, &:target {
  }
  &:focus {
  }
  &:hover {
  }
}

.search-btn {
  @extend .clean-button;
  background-color: $primary-color;
  color: white;
  border-radius: 0px 3px 3px 0px;
  &:active, &:target {
    background-color: darken($primary-color, 3%) !important;
  }
  &:focus {
    background-color: $primary-color !important;
  }
  &:hover {
    background-color: lighten($primary-color, 3%) !important;
  }
}

.search-bar {
  .search-bar-help {
    color: #e7e7e7;
    font-size: 0.7em;
    letter-spacing: 0.05em;
    .example-link {
      color: #e7e7e7;

    }
  }
}

.search-bar-help {

  position: absolute;
  bottom: -20px;
  left: 5px;

  a {
    color: white
  }
  a:hover {
    border-bottom: 1px solid white;
  }

}

.autocomplete-option {

  @extend .clean-button;
  text-align: left;
  font-size: 1.05em;
  &:active, &:target {
    background-color: darken(white, 3%) !important;
    font-size: 1.1em;
  }
  &:focus {
    outline: none !important;
    background-color: darken(white, 10%) !important;
    font-size: 1.15em;
  }
  &:hover {
    font-size: 1.2em;
  }
}

.autocomplete-option-rc-link {
  font-size: 1.1em;
  &:active, &:target {
    font-size: 1.15em;
  }
  &:focus {
    outline: none !important;
    font-size: 1.3em;
  }
  &:hover {
    font-size: 1.4em;
  }
}

/**
* Buttons
* ----------------------------------------------------------------------------------------------------------------------
*/

.dotted-link {
  border-bottom: 1px dotted;
}

.close-corner-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.btn-chembl {
  color: #ffffff;
  border-radius: $default-btn-border-radius;
  padding: 10px 20px;
  text-align: center;
}

.btn-small {
  color: #ffffff;
  border-radius: $default-btn-border-radius;
  padding: 10px 6px 6px 6px;
  text-align: center;
  width: 60px;
  line-height: 9px;
  font-size: 9px;
}

.btn-mini i,
.btn-small i {
  font-size: 180%;
}

.btn-micro i {
  font-size: 150%;
}

.btn-mini {
  color: #ffffff;
  border-radius: $default-btn-border-radius;
  padding: 10px 3px 6px 3px;
  text-align: center;
  width: 30px;
  line-height: 9px;
  font-size: 9px;
  margin-left: 4px;
}

.btn-micro {
  color: #ffffff;
  border-radius: $default-btn-border-radius;
  padding: 8px 2px 4px 2px;
  text-align: center;
  width: 25px;
  line-height: 9px;
  font-size: 9px;
  margin-left: 4px;
}


/**
* Search bar
* ----------------------------------------------------------------------------------------------------------------------
*/

$marvin-size-fullscreen: 91vh;

.marvin-search-options {

  position: fixed;
  bottom: 0;

  width: 100%;

  .col {
    background-color: $primary-color;
    padding: 1px;
    height: 100vh - $marvin-size-fullscreen;
  }

  .row {
    margin: 0;
  }

  a {
    display: block;
    background-color: $primary-color;
    color: white;
    padding: 2vh 5vw;

  }

}

.div-cover-wrapper {
  display: block;
  position: relative;
  .div-cover {
    z-index: 5;
    position: absolute;
    top: 0 !important;
    left: 0;
    right: 0;
    bottom: 0 !important;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    color: white;
    &.inside-container {
      width: calc(100% + 1.5rem);
      left: -0.75rem;
      right: -0.75rem;
    }
    a, p, i, span {
      color: white;
      opacity: 1;
      outline: none;
    }
    .top-right {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    .div-cover-centered {
      position: absolute;
      top: 15%;
      text-align: center;
      width: 100%;
      &.top-aligned {
        top: 1%;
      }
    }
  }

  .chembl-modal-cover {
    @extend .div-cover;
    display: block;
    z-index: 99999;
  }
}

.marvin-search-fullscreen {
  margin: 0;
  height: $marvin-size-fullscreen;

}

.search-banner {

  margin-left: 0.75rem;
  margin-right: 0.70rem;
  .card-content {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .search-bar {
    border-radius: 4px;
    .search-input-wrapper {
      background-color: white;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .advanced-search-wrapper {
      background-color: white;
    }

    .draw-and-search-wrapper {
      background-color: white;
    }
  }

}

.search-banner-results {

  background-color: color('green', 'lighten-5');
  background-size: cover;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  .card-content {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .search-bar-help a {
    color: $chembl-teal !important;
  }
}

/**
* Search results
* ----------------------------------------------------------------------------------------------------------------------
*/

span.badge-primary-color-no-float {
  font-family: "ChEMBL_Verdana";
  display: inline-block;
  min-width: 2rem;
  // Padding to make Verdana font look centered
  padding: 1px 5px 3px 5px !important;
  text-align: center;
  line-height: $badge-height;
  height: $badge-height;
  float: none;
  font-weight: 300;
  font-size: 0.8rem;
  color: color('black', 'base');
  background-color: color('grey', 'lighten-3');
  border-radius: 7px;
}

.summary-tabs {
  background-color: color('grey', 'lighten-4');
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .results-section-item:nth-child(1) {
    border-top-left-radius: 5px;
  }
  .results-section-item:last-child {
    border-top-right-radius: 5px;
  }

  .results-section-item {

    padding: 10px 10px;
    margin: 0px 0px;
    color: color('grey', 'darken-2');
    display: inline-block;
    .badge-primary-color-no-float {
      background-color: color('grey', 'lighten-2');
    }

    &.disabled {
      color: color('grey', 'lighten-1');
    }
    &.selected {
      background-color: color('grey', 'lighten-2');
      color: color('black', 'base');
      border-bottom: 2px solid color($primary-color-name, 'base');
      .badge-primary-color-no-float {
        background-color: color('grey', 'lighten-5');
      }
    }
    &:not(.selected):hover {
      background-color: color('grey', 'lighten-3');
      color: color('grey', 'darken-4');
      border-bottom: 2px solid color($primary-color-name, 'lighten-3');
      .badge-primary-color-no-float {
        background-color: color('grey', 'lighten-4');
      }
    }
  }

  border-bottom: 1px solid color('grey', 'lighten-1');

  &.scrollable {
    white-space: nowrap;
    overflow-x: auto;
  }
}

.similarity-map-img {
  padding-top: 20px;
}

/**
* Browser Menus
* ----------------------------------------------------------------------------------------------------------------------
*/
.browser-header {
  text-transform: capitalize
}

.browser-menu {

  background-color: color('grey', 'lighten-4');
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  border-bottom: 1px solid color('grey', 'lighten-1');
  &.row {
    margin-bottom: 2px;
  }
  .view-menu {
    padding-left: 0;
    position: relative;
  }
  .download-menu {
    position: relative;
    height: 55px;
    .buttons-container {
      margin: 20px 10px 0 auto;
      @media #{$small-and-down} {
        margin: auto;
      }
    }
  }
  .selection-menu {

    @media #{$small-and-down} {
      margin-bottom: 5px;
    }
    text-align: center;
    .selection-information {
      font-size: 0.8em;
    }

    .link-to-all-activities-container {
      display: inline;
    }
  }
  .title {
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translate(-50%, 0);
    color: $primary-color-dark;
    font-size: 0.7em;
    text-decoration: underline;
  }
  .summary-tabs {
    .section-item {
      @extend .results-section-item;

      padding: 10px 6px;
      text-align: center;

      .label {
        font-size: 0.8em;
        margin: 0;
      }
      .icon {
        margin: 0;
      }

    }
    border-bottom: none;
  }
}

.menu-button {
  background-color: color($primary-color-name, 'base');
  padding: 8px;
  color: white;
  font-size: 0.7em;
  border-radius: 3px;
  display: inline-block;
  &:hover {
    background-color: color($primary-color-name, 'accent-4');
  }
  &.big {
    padding: 10px 8px;
    font-size: 0.8em;
  }
  &.mini {
    padding: 4px 8px;
    font-size: 0.65em;
  }
  &.disabled {
    background-color: color('grey', 'lighten-3');
    color: color('grey', 'lighten-1');
  }
}



/**
* Download Menu
* ----------------------------------------------------------------------------------------------------------------------
*/

.db-menu-option {

  height: 99px;

  .menu-link {

    height: 100%;

    border-radius: $default-btn-border-radius;

    background-color: $primary-color;
    padding: 5px;

    a {
      color: white;
      width: 100%;

      p {
        margin: 5px 0;
      }

    }

    img {
      max-height: 45px;
    }

    .only-text {
      font-size: 2rem;
    }

  }

}

.db-menu-option-default {
  border: 2px solid $primary-color-dark;
  border-radius: $default-btn-border-radius + 2px;
}

.wizard-modal {
  height: $modals-height;

  .modal-content {
    height: 100%;

    .step-content {
      height: 100%;
      position: relative;

      .db-menu-option {
        .icon-chembl {
          font-size: 220%;
        }
      }
    }
  }

  .db-menu-foter {
    width: 100%;
    position: absolute;
    bottom: 0;

    .db-menu-last-row {
      border-top: 1px solid $primary-color;
      margin-bottom: 0px;

    }

    .db-menu-description {
      font-size: 80%;
      padding: 10px;
    }

  }

  .license-text {
    background-color: white;
    height: 60%;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 1rem;

  }

  .input-field {
    margin-top: 0;
    input {
      margin-bottom: 0;
    }
  }

}

.speck-fullscreen {

  position: relative;

  .visualisation {

    width: 100vw;
    height: 90vh;

  }

  .controls {

    position: absolute;
    bottom: 0;

  }

}

/**
* Target Browser
* ----------------------------------------------------------------------------------------------------------------------
*/

$vis-teal: #09979B;
$vis-dark: #0D343A;
.small-input-wrapper {
  input {
    margin: 0px;
    height: 2rem;
  }
}

.target-browser {

  .options {
    a {
      display: inline-block;
      margin-bottom: 5px;
    }
  }

  label {
    font-size: 1em;
  }

  [type="checkbox"].filled-in + label {
    padding-left: 20px;
    height: unset;
    line-height: unset;
  }

  [type="checkbox"].incomplete {
    &:checked {
      + label:before {
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }
    }
  }

  .browser-as-circles {
    position: relative;

    .instructions {
      position: absolute;
      pointer-events: none;
    }

    .node {
      cursor: pointer;
      &.hoverable {
        stroke-width: 1px;
        stroke: $vis-teal;
        &:hover, &.force-hover {
          stroke: $vis-teal;
          stroke-width: 2px;
        }
      }

      &.selected {
        stroke: $vis-teal;
        stroke-width: 2px;
        stroke-dasharray: 8;
      }
    }

    .node--leaf {
      fill: white;
    }

    .label {
      text-anchor: middle;
      text-shadow: 0 0.8px 0 #fff, 0.8px 0 0 #fff, -0.8px 0 0 #fff, 0 -0.8px 0 #fff;
      fill: $vis-dark;
      font-family: 'Open Sans', sans-serif;
    }

    .label,
    .node--root {
      pointer-events: none;
    }

    .incomplete {
      stroke: $vis-teal;
      stroke-width: 2;
      stroke-dasharray: 10;
    }

  }

  /**
  * Tree as list browser
  * ----------------------------------------------------------------------------------------------------------------------
  */

  .tree-indent {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
  }

  .tree-expander {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .tree-expander-expanded:before {

    font-family: 'EBI-Functional';
    content: '8'

  }

  .tree-expander-collapsed:before {

    font-family: 'EBI-Functional';
    content: '9'

  }

  .tree {
    tr {
      border-bottom: 1px solid $primary-color;
    }
  }

}

/**
 * Download buttons
 * ----------------------------------------------------------------------------------------------------------------------
 */

.downloads-btn-wrapper {

  position: relative;
  display: inline-block;

  .downloads-btns {

    position: absolute;
    top: 0;
    left: 120%;
    width: 300px;
    display: none;

  }

}

/**
 * Word Cloud
 * ----------------------------------------------------------------------------------------------------------------------
 */
.wordcloud-word:hover {
  cursor: pointer;
  /*text-decoration: underline;*/
  letter-spacing: 0.5px;
  transition: all .15s ease-in-out;
  color: #D33C60 !important; /* glados.Settings.VIS_COLORS.RED2 */

}

/**
  * MarvinJS editor
  * ----------------------------------------------------------------------------------------------------------------------
  */

.marvin-search-container {
  .marvinjs-buttons, .marvin-container, .marvinjs-buttons-closed {
    .col {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
    }

    a {
      width: 100%;
    }
  }

  &.in-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    .row {
      padding: 0;
      margin: 0;
    }
    .marvinjs-buttons, .marvin-container, .marvinjs-buttons-closed {
      .col {
        padding: 0.1rem;
      }

      a {
        width: 100%;
      }
      p {
        font-size: 0.7rem;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .marvinjs-buttons-closed, .marvinjs-buttons {
      flex-grow: 1;
      flex-shrink: 0;
    }
    .marvin-container {
      width: 100%;
      flex-grow: 100;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .div-cover-wrapper {
        width: 100%;
        flex-grow: 10;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        iframe {
          width: 100%;
          flex-grow: 10;
          flex-shrink: 0;
        }
        &::after {
          flex-grow: 0.001;
          flex-shrink: 0;
        }
      }
      &::after {
        flex-grow: 0.001;
        flex-shrink: 0;
      }
    }
  }

}

/**
  * results lists menu editor
  * ----------------------------------------------------------------------------------------------------------------------
  */
.es-collection-download-btn {

  background-color: color('teal', 'base');

  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

}

.es-collection-download-btn.disabled {
  background-color: color('grey', 'lighten-2');
  color: color('grey', 'base')
}

/**
  * Matrix visualisation
  * ----------------------------------------------------------------------------------------------------------------------
  */
.es-results-matrix {
  position: relative;

  .vis-container {
    cursor: context-menu;
    &:hover {
      stroke-width: 2;
      stroke: black;
    }
  }

  .matrix-vis-options {
    position: absolute;
    right: 20px;
    top: 0;
    padding: 5px;
    opacity: 0.8;
    user-select: none;

    a {
      &.disabled {
        color: $button-disabled-color;
      }
      &:not(.disabled):hover {
        color: color("teal", "accent-4");
      }
    }

  }
  .rows-text, .columns-text {
    font-weight: bold;
  }

  .columns-text {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      fill: color("teal", "accent-4");
    }
  }
  .headers-text, .footers-text {

    text-decoration: underline;
    cursor: pointer;
    &:hover {
      fill: color("teal", "accent-4");
    }
    &.emphasis {
      font-weight: bold;
    }
  }
  .cells-container-g {
    &.grab-activated {
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }
    &.grabbing {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }

  .square2-g {
    .divider-triangle {
      fill: white;
    }
  }
}

.simple-qtip {
  max-width: 1000px !important;
  .qtip-content {
    max-width: 1000px !important;
    margin: 0;
    padding: 0;
  }
}

.matrix-full-screen {
  margin-top: 20px;
}

.matrix-qtip {

  .qtip-content {
    padding: 0;
    font-size: 120%;
  }
  .card {
    margin: 0;
    .card-content {
      padding: 12px;
    }
  }
}

/**
  * Legend
  * ----------------------------------------------------------------------------------------------------------------------
  */
.legend {
  .legend-rect:hover {
    stroke: color('teal', 'accent-4');
  }
  .legend-rect.selected {
    stroke: color('green', 'base');
  }
  .legend-range-selector:hover {
    cursor: -webkit-grab;
    cursor: grab;
    .legend-rect {
      stroke: color('teal', 'accent-4');
    }
  }
  .legend-range-selector:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    .legend-rect {
      stroke: color('teal', 'accent-4');
    }
  }
  .tick {
    text {
      font-size: 80%
    }
  }

}

.histogram-legend {
  max-height: 100px;
  overflow-y: scroll;
  margin: 15px;
  padding: 15px;

  .legend-text {
    font-size: 65%;
    fill: #666;
    font-family: "ChEMBL_Verdana", Verdana, sans-serif;
  }
}

/**
  * Scatter plot
  * ----------------------------------------------------------------------------------------------------------------------
  */
.plot {
  .plot-container {
    position: relative;
  }
  .total-items {
    position: absolute;
    bottom: 0;
    left: 2px;
  }
  .tooltip-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .tooltip-background {
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.4;
    }
    .tooltip-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 40%;
      margin: auto;
      transform: translate(50%, 50%);

    }
  }

}

/**
* Mini histograms
* ----------------------------------------------------------------------------------------------------------------------
*/
.histogram {
  .mainSVGContainer {
    background-color: white;
  }

  &.mini {
    .mainSVGContainer {
      background-color: transparent;
    }
    .title {
      text-decoration: underline;
      font-size: 80%;
    }
  }

  .title {
    cursor: pointer;
    font-size: 90%;
    font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
    fill: #5e5e5e;
  }
  .title:hover {
    fill: color('teal', 'accent-4');
  }
  .bars-background {
    fill: white;
    opacity: 0;
  }
  .bar-group {

    .background-bar {
      fill: white;
      opacity: 0;
    }
    .front-bar {
      opacity: 0;
      cursor: pointer;
    }

    .front-bar:hover {
      stroke-width: 1;
      stroke: black;
      fill: black;
      opacity: 0.07;
    }

    .hovered {
      opacity: 0.7;
      stroke: #5cb7b4;
      stroke-width: 2px;

    }
  }

  .x-axis, .y-axis {
    .axis-line {
      stroke-width: 0.5;
      stroke: grey;

    }
    .property-label {
      font-size: 80%;
    }
    .tick {
      font-size: 60%;

      .axis-helper-line {
        stroke-width: 0.5;
        stroke: grey;
      }
      .rotated {
        font-size: 70%;
      }
    }
    path {
      display: none;
    }

    text {
      fill: #666666;
    }
  }

  .y-axis {
    .tick {
      line {
        stroke-width: 0.1;
        stroke: color('grey', 'lighten-1');
      }
    }
  }

}

.browser-views-container {
  display: flex;
  .facets-container-hidden, preloader-row-hidden {
    display: none !important;
  }
}

$browser-tools-height: 98vh;
$browser-tool-bar-width: 55px;
.browser-tools {
  width: $browser-tool-bar-width;
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
  padding: 0 !important;
  background-color: color('grey', 'lighten-2');
  min-height: $browser-tools-height !important;
  z-index: 3;

  .tool-bar {
    padding-top: 1px;
    padding-bottom: 5px;
    text-align: center;

    a {
      display: block;
      margin: 2px 4px;

    }
    .zoom-buttons, .toggle-special-structures-imgs {
      margin-top: 8px;
      padding-top: 8px;
      border-top: 1px solid color('grey', 'base');
    }

    .buttons-wrapper {
      background-color: white;
      margin-left: 8px;
      margin-right: 8px;
      box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.4);

      .zoom-btn {
        padding: 8px 4px;
        color: color('grey', 'darken-2');
        font-size: 80%;

        &:hover {
          color: color('grey', 'darken-4');
        }
        &.disabled {
          color: color('grey', 'lighten-1');
        }

      }

      a:nth-child(1), a:nth-child(2) {
        border-bottom: 1px solid color('grey', 'lighten-2');
      }

    }

    .tool-title {
      font-size: 70%;
    }
    .lever {
      transform: rotate(-90deg);
      margin: 20px 0;
    }

  }
}

$facets-width-medium: 30%;
$facets-width-large: 21%;

.pag-items-container {
  height: fit-content;
  float: left;
  padding-left: 8px;
  @media #{$medium-only} {
    width: calc(100% - #{$facets-width-medium} - #{$browser-tool-bar-width});
  }
  @media #{$large-and-up} {
    width: calc(100% - #{$facets-width-large} - #{$browser-tool-bar-width});
  }

  -webkit-transition: width 0.5s;
  transition: width 0.5s;

  &.facets-hidden {
    @media #{$medium-only} {
      width: calc(100% - #{$browser-tool-bar-width} - 30px);
    }
    @media #{$large-and-up} {
      width: calc(100% - #{$browser-tool-bar-width} - 30px);
    }
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }

}

.facets {
  z-index: 3;
  @media #{$medium-only} {
    width: $facets-width-medium;
  }
  @media #{$large-and-up} {
    width: $facets-width-large;
  }

  -webkit-transition: transform 0.5s, width 0.5s, opacity 0.5s cubic-bezier(1, 0, 1, 0);
  transition: transform 0.5s, width 0.5s, opacity 0.5s cubic-bezier(1, 0, 1, 0);

  &.facets-hidden {
    overflow: hidden;
    opacity: 0;
    width: 0;
    z-index: -1;
    transform: translateX(-100%);
    -webkit-transition: transform 0.5s, width 0.5s, opacity 0.5s cubic-bezier(0, 1, 0, 1);
    transition: transform 0.5s, width 0.5s, opacity 0.5s cubic-bezier(0, 1, 0, 1);
  }

  display: block;
  float: left;
  position: relative;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: color('grey', 'lighten-4');
  padding: 6px 0;
  min-height: $browser-tools-height !important;

  .close-filters {
    position: absolute;
    top: 0;
    right: 0;
  }

  i.material-icons {
    margin-right: 0;
  }
  .filters-title {
    margin: 10px;
    .title {
      line-height: 31px;
    }
    .modal-trigger {
      float: right;
    }
  }

  .collapsible-body {
    padding: 0;
  }

  .clear-filters-button {
    margin-top: 10px;
  }

  .histogram-container {
    .bucket {
      cursor: pointer;
      .value-bar {
        fill: color($primary-color-name, 'lighten-4');

      }
      .key-text {
        font-size: 80%;
        fill: color($primary-color-name, 'darken-3');
      }
      .count-text {
        font-size: 80%;
        fill: color($primary-color-name, 'darken-3');
      }
      .front-bar {
        fill: black;
        opacity: 0;
      }
      .hover-bar {
        fill: none;
      }
      .make-teal-bar {
        fill: none;
      }
      .background-bar {
        fill: none;
      }

      &:not(.selected):not(.disabled):hover {

        .value-bar {
          fill: color($primary-color-name, 'lighten-5');
        }

        .background-bar {
          fill: color('teal', 'lighten-5');
        }

      }

      &.disabled {
        cursor: initial;
        .value-bar {
          fill: color('grey', 'lighten-3');
        }
        .key-text {
          fill: color('grey', 'lighten-1');
        }
        .count-text {
          fill: color('grey', 'lighten-1');
        }
      }

      &.selected {

        isolation: isolate;

        .background-bar {
          fill: color('grey', 'lighten-2');
        }

        .value-bar {
          fill: black;
        }

        .key-text {
          fill: color('grey', 'lighten-3');;
          mix-blend-mode: difference;
        }

        .count-text {
          fill: color('grey', 'lighten-3');
          mix-blend-mode: difference;
        }
        .make-teal-bar {
          fill: color($primary-color-name, 'base');
          mix-blend-mode: screen;
        }

      }
    }
  }
}

/* carrousel with overlay buttons
* --------------------------------------------
*/

$chevron-button-size: 40px;
$chevron-button-margin: 0px;

@media (max-width: 600px) {
  #SimilarCompoundsCard, #AlternateFormsOfCompoundInChEMBL {
    max-width: 500px !important;
  }

}

.carousel-container {
  position: relative;
  overflow: hidden;

  .chevron-container {
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 0.75em;
    width: 100%;

    .page-selector {
      background-color: rgba(250, 250, 250, 0.73) !important;
      height: $chevron-button-size * 2;
      width: $chevron-button-size;

      a {
        height: 2.5em;

        i {
          transition: all 100ms ease-in-out;
          color: #848484;
          font-size: 2.5em;
        }
        i:hover {
          transition: all 100ms ease-in-out;
          color: #4e4e4e;
        }
      }
    }

    .page-selector.disabled a {
      i {
        color: #cccccc;
      }
      cursor: default;
      pointer-events: none;
    }

    .page-selector.right {
      border-radius: 80px 0 0 80px;
      box-shadow: -2px 0 2px 0px rgba(169, 169, 169, 0.38);
    }
    .page-selector.left {
      border-radius: 0 80px 80px 0;
      box-shadow: 2px 0 2px 0px rgba(169, 169, 169, 0.38);
    }
  }
  .items-container {
    margin-bottom: 0;
    margin-left: $chevron-button-margin;
    margin-right: $chevron-button-margin;
    position: relative;
    display: flex;

    .carousel-card {
      width: calc(100% - 10px);
      .card-container {
        width: 85%;
        margin-left: auto;
        margin-right: auto;

        .card-content {
          padding: 10px 10px 5px 10px;

          .p-oneline a {
            font-size: 0.8rem;
          }
        }
      }
    }

  }
}

/*
* Paginated Collections
* ----------------------------------------------------------------------------------------------------------------------
*/

$chembl-header-height: 52.245px;

.pagination {
  margin: 0;
  a {
    font-size: 1em;
  }
}

.number-of-results {
  margin-left: 30px !important;
}

.push-30px {
  margin-left: $chevron-button-margin + 10 !important;
  margin-top: 0;
  margin-bottom: 0;
}

.paginated-collection {
  padding: 4px;

  .paginator-row {
    margin-top: 20px;
  }
  .pg-table {
    margin-left: 8px;

    .pinned-header {
      background-color: rgb(255, 255, 255);
      position: fixed;
      z-index: 2;
      top: 3.2em;
      border-bottom: solid 0.5px #f1f1f1;
    }

    .hidden_header, .hidden_cell {
      display: none;
    }

  }
  .hidden_list_prop {
    display: none;
  }
  .pagination {
    margin: 0;
    li {
      a {
        font-size: 1rem;
      }
    }
  }

  .paginated-card {
    .card-stacked {
      width: 50%;
      .card-content {
        padding: 0.75em;
      }
    }
  }
}

.row {
  &.row-hidden {
    margin-bottom: 0px;
  }
}

.card-content {
  .main-container-row {
    margin-bottom: 0px;
    height: 100%;
  }
}

.mini-report-card {
  .card-content {
    &.has-img {
      width: 60%
    }
  }
  .empty-list-message {
    margin-bottom: 0px;
    .h5 {
      margin: 0px;
    }
  }
}

.show-hide-columns {

  .sortable-items-container {
    position: relative;

    .sortable-item {

      padding: 0 0.25rem;
      .item-content {
        margin-top: 2px;
        border-radius: $default-btn-border-radius;
        white-space: nowrap;

        input {
          width: 0;
          height: 0;
        }

        label {
          margin-top: 1px;
          padding-left: 25px;
        }

        .item-checkbox, .property-name {
          display: inline-block;
        }
        .property-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: calc(100% - 50px);
        }

        &:hover {
          background-color: color('grey', 'lighten-3');
        }

        [type="checkbox"] {
          position: static;
        }
      }

      &.dragged-over {
        .item-content {
        }
      }

      &.being-dragged {
        display: none;
      }
    }

    .drag-dummy {
      display: none;
      background-color: color('grey', 'lighten-2');
      &.show {
        display: initial;
      }
    }
  }
}

/**
* Custom Tabs
* ----------------------------------------------------------------------------------------------------------------------
*/

.card-tabs {
  .section-item {

    padding: 10px 10px;
    margin: 0px 0px;
    color: color('grey', 'darken-2');
    display: inline-block;

    &.selected {
      color: color('black', 'base');
      border-bottom: 2px solid color($primary-color-name, 'base');
      background-color: color('grey', 'lighten-5');
    }
    &:not(.selected):hover {
      color: color('grey', 'darken-4');
      border-bottom: 2px solid color($primary-color-name, 'lighten-3');
    }
  }

  background-color: white;

  &.scrollable {
    white-space: nowrap;
    overflow-x: auto;
  }
}

.chembl-logo-link {
  img {
    padding-top: 7px;
    width: 40px;

  }

}

.chembl-logo-link-new {

  position: absolute;
  top: 0;
  left: -15%;

  img {
    width: 70px;
    padding-top: 10px;
  }
}

.withdrawn-info {
  padding: 10px;
  .icon {
    font-size: 150%;
  }
}

/**
* Report card piechart
* ----------------------------------------------------------------------------------------------------------------------
*/

.piechart-group {
  display: flex;
  flex-flow: wrap;
  .piechart-col {
    display: flex;
    .piechart-section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      .layout {
        display: flex;
        flex-grow: 1;
        .chembl-card {
          display: flex;
          flex-grow: 1;
          width: 100%;
          .card-content {
            width: 100%;
            .container {
              display: flex;
              flex-direction: column;
              height: 100%;
              .pie-with-error {
                height: 100%;
                .valign-wrapper {
                  height: 100%;
                  text-align: center;
                }
              }
              .pie-content {
                overflow: scroll;
              }
            }
          }
        }
      }
    }
  }
}

/**
* d3 simple pie-chart
* ----------------------------------------------------------------------------------------------------------------------
*/
.pie-action-buttons-container{
  text-align: center;
}
.principal-pie-container {
  height: 100%;
  //background-color: white;
}

.simple-pie-container {
  background-color: white;
  .pie-title {
    //padding-top: 10px;
    a {
      cursor: pointer;
      font-size: 85%;
      font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
      color: #5e5e5e;
      text-align: center;

      width: 100%;
    }
  }

  .pie-title a:hover {
    color: color('teal', 'accent-4');
  }

  .pie-content {
    margin: 0;
    .arc {
      text {
        fill: #494949;
        font-size: 70%;
        font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif
      }
    }
    .arc:hover {
      path {
        opacity: 0.7;
        stroke: white;
        stroke-width: 2px;
        transition: all 100ms ease-in-out;
      }
      text {
        font-size: 80%;
      }
    }
  }
  .simple-pie-legend {
    .legend-text {
      font-size: 65%;
      fill: #666;
      font-family: "ChEMBL_Verdana", Verdana, sans-serif;
    }
  }
}

/**
* stacked donut pie-chart
* ----------------------------------------------------------------------------------------------------------------------
*/
.main-pie-container {
  display: flex !important;
  background-color: white;
  .legend {
    width: 100%;
    margin-left: -10px;
    margin-top: 40px;
    overflow-y: scroll;
    overflow-x: hidden !important;
    .legend-text {
      font-size: 65%;
      fill: #666;
      font-family: "ChEMBL_Verdana", Verdana, sans-serif;
    }
  }

  .title {
    cursor: pointer;
    font-size: 90%;
    font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
    fill: #5e5e5e;
  }

  .title:hover {
    fill: color('teal', 'accent-4');
  }

  .sub-arc:hover {
    fill-opacity: 0.7;
    cursor: pointer;
  }

  .arc:hover {
    cursor: pointer;
  }

  .arc {
    text {
      font-family: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
      font-size: 100%;
    }
  }

}

/**
* Report card section
* ----------------------------------------------------------------------------------------------------------------------
*/

.section {
  .max-height-col {
    .card-content {
      max-height: 500px;
    }
  }
}

/**
* References
* ----------------------------------------------------------------------------------------------------------------------
*/
.ref-source-link {
  color: black;
}

/**
* Report Cards
* ----------------------------------------------------------------------------------------------------------------------
*/
.report-card-header-table {
  .collapser-button-cell {
    text-align: right;
  }
}

.report-card-container {
  max-width: 1280px + 200px;

}

/**
* Visualisation Cards
* ----------------------------------------------------------------------------------------------------------------------
*/


.visualisation-card {
  height: 100%;
  .card-content {
    padding: 5px;
    height: 100%;
    .row {
      margin: 0;
    }
    .main-histogram-container {
      height: 100%;
      background-color: white;
      .histogram {
        height: calc(100% - 85px);
      }
      .histogram-legend {
        max-height: 80px;
        margin: 0;

      }
    }
    .principal-pie-container {
      height: calc(100% - 30px);
      .main-pie-container {
        height: 100%;
        .pie-content {
          height: 100%;
        }
      }
    }

    .target-browser {
      height: 100%;
      .browser-as-circles {
        height: 100%;
        .vis-container {
          height: calc(100% - 10px);
        }
      }
    }
  }
}

.all-sources-link {
  font-size: 80%;
}

.about-chembl {
  height: 100%;
  p {

    color: rgba(0, 133, 121, 0.91) !important;
    font-family: "Sentinel SSm A", "Sentinel SSm B", "sans-serif";
    font-style: italic;
    line-height: 1.4em;
    font-size: 1.2em;

    margin: 0 10px 0 20px !important;

    b {
      color: rgba(0, 133, 121, 0.91) !important;
    }
  }
}

/**** CUSTOM RESPONSIVE SIZES FOR CAROUSEL CARDS ********/

.carousel-card.card-s1 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / (12 / 1));
}

.carousel-card.card-s2 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / (12 / 2));
}

.carousel-card.card-s3 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / (12 / 3));
}

.carousel-card.card-s4 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / (12 / 4));
}

.carousel-card.card-s5 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / (12 / 5));
}

.carousel-card.card-s6 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / (12 / 6));
}

.carousel-card.card-s7 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / (12 / 7));
}

.carousel-card.card-s8 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / (12 / 8));
}

.carousel-card.card-s9 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / (12 / 9));
}

.carousel-card.card-s10 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / (12 / 10));
}

.carousel-card.card-s11 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / (12 / 11));
}

.carousel-card.card-s12 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

@media #{$medium-and-up} {
  .carousel-card.card-m1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 1));
  }

  .carousel-card.card-m2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 2));
  }

  .carousel-card.card-m3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 3));
  }

  .carousel-card.card-m4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 4));
  }

  .carousel-card.card-m5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 5));
  }

  .carousel-card.card-m6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 6));
  }

  .carousel-card.card-m7 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 7));
  }

  .carousel-card.card-m8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 8));
  }

  .carousel-card.card-m9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 9));
  }

  .carousel-card.card-m10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 10));
  }

  .carousel-card.card-m11 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 11));
  }

  .carousel-card.card-m12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 12));
  }
}

@media #{$large-and-up} {
  .carousel-card.card-l1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 1));
  }

  .carousel-card.card-l2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 2));
  }

  .carousel-card.card-l3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 3));
  }

  .carousel-card.card-l4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 4));
  }

  .carousel-card.card-l5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 5));
  }

  .carousel-card.card-l6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 6));
  }

  .carousel-card.card-l7 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 7));
  }

  .carousel-card.card-l8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 8));
  }

  .carousel-card.card-l9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 9));
  }

  .carousel-card.card-l10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 10));
  }

  .carousel-card.card-l11 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 11));
  }

  .carousel-card.card-l12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / (12 / 12));
  }
}