@import "chembl_base";


/**
* Custom elements
* ----------------------------------------------------------------------------------------------------------------------
*/

.css-tooltipped {
  position: relative;

  .css-tooltip {
    white-space: normal;
    visibility: hidden;
    word-wrap: break-word;
    background-color: color('grey', 'lighten-3');
    text-align: left;
    border-radius: 0.5em;
    padding: 0.5em;

    /* Position the tooltip */
    position: absolute;
    left: -0.5em;
    right: -0.5em;
    top: -0.5em;
    z-index: 100;
  }

  &.active-tooltip {

    &:hover {

      .css-tooltip {
        visibility: visible;
      }
    }
  }
}


/**
* main content container
* ----------------------------------------------------------------------------------------------------------------------
*/

/* medium and up screens */
@media only screen and (min-width: 601px) {

  .main-container {
    width: 97.5%;
    max-width: none;
  }
}


/**
* Error message styles
* ----------------------------------------------------------------------------------------------------------------------
*/

a.error-redirect-link {
  font-size: 1.3em;
  color: $chembl-teal;
  text-decoration: underline;

  &:hover {
    color: color('teal', 'lighten-1');
    font-size: 1.3em;
  }
}

/**
* Preloaders and Error message wrapppers
* ----------------------------------------------------------------------------------------------------------------------
*/
.card-load-error,
.card-preolader-to-hide {
  padding: 10% 5%;
}

.chembl-help {
  font-size: 210%;
  line-height: 10px;
}

.chembl-help span {
  border-radius: 15px;

}


/**
* EBI-Breadcrums
* ----------------------------------------------------------------------------------------------------------------------
*/

.ebi-breadcrumb {
  font-size: 70%;

  &.truncate {
    max-width: 200px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 10px;
  }
}

.long-filter-content {
  max-height: 20vh;
  overflow: scroll;
}

.share-url {
  padding: 4px;
  border: 1px solid $primary-color-dark;
}

/**
* Acknowledgements
* ----------------------------------------------------------------------------------------------------------------------
*/

.acks-list {
  li {
    padding: 2px 0;
  }
}

/**
* Download Menu
* ----------------------------------------------------------------------------------------------------------------------
*/

.db-menu-option {
  height: 99px;

  .menu-link {
    height: 100%;
    border-radius: $default-btn-border-radius;
    background-color: $primary-color;
    padding: 5px;

    a {
      color: white;
      width: 100%;

      p {
        margin: 5px 0;
      }
    }

    img {
      max-height: 45px;
    }

    .only-text {
      font-size: 2rem;
    }
  }
}

.db-menu-option-default {
  border: 2px solid $primary-color-dark;
  border-radius: $default-btn-border-radius + 2px;
}

.wizard-modal {
  height: $modals-height;

  .modal-content {
    height: 100%;

    .step-content {
      height: 100%;
      position: relative;

      .db-menu-option {

        .icon-chembl {
          font-size: 220%;
        }
      }
    }
  }

  .db-menu-foter {
    width: 100%;
    position: absolute;
    bottom: 0;

    .db-menu-last-row {
      border-top: 1px solid $primary-color;
      margin-bottom: 0px;

    }

    .db-menu-description {
      font-size: 80%;
      padding: 10px;
    }

  }

  .license-text {
    background-color: white;
    height: 60%;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 1rem;
  }

  .input-field {
    margin-top: 0;
    input {
      margin-bottom: 0;
    }
  }
}

.speck-fullscreen {
  position: relative;

  .visualisation {
    width: 100vw;
    height: 90vh;
  }

  .controls {
    position: absolute;
    bottom: 0;
  }
}


/**
 * Download buttons
 * ----------------------------------------------------------------------------------------------------------------------
 */

.downloads-btn-wrapper {
  position: relative;
  display: inline-block;

  .downloads-btns {
    position: absolute;
    top: 0;
    left: 120%;
    width: 300px;
    display: none;
  }
}


/**
  * MarvinJS editor
  * ----------------------------------------------------------------------------------------------------------------------
  */

.marvin-search-container {

  .marvinjs-buttons, .marvin-container, .marvinjs-buttons-closed {

    .col {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
    }

    a {
      width: 100%;
    }
  }

  &.in-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;

    .row {
      padding: 0;
      margin: 0;
    }

    .marvinjs-buttons, .marvin-container, .marvinjs-buttons-closed {

      .col {
        padding: 0.1rem;
      }

      a {
        width: 100%;
      }

      p {
        font-size: 0.7rem;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .marvinjs-buttons-closed, .marvinjs-buttons {
      flex-grow: 1;
      flex-shrink: 0;
    }

    .marvin-container {
      width: 100%;
      flex-grow: 100;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .div-cover-wrapper {
        width: 100%;
        flex-grow: 10;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        iframe {
          width: 100%;
          flex-grow: 10;
          flex-shrink: 0;
        }

        &::after {
          flex-grow: 0.001;
          flex-shrink: 0;
        }
      }

      &::after {
        flex-grow: 0.001;
        flex-shrink: 0;
      }
    }
  }
}