/*
* ----------------------------------------------------------------------------------------------------------------------
* CHEMBL HEADER STYLES
* ----------------------------------------------------------------------------------------------------------------------
*/

//@import "components/variables";

/* -------- VARIABLES -------- */

//header
$chembl-header-height: 54px;
$chembl-header-padding: 10px;
$chembl-name-font: "ChEMBL_HelveticaNeueLTPRo", helvetica, Arial, sans-serif;
$side-buttons-width-big: 180px;

//colors
$primary-color: #62b7bd;
$header-darker: #09979B;

//search bar
$search-bar-height: 25px;
$search-bar-height-wider: 30px;
$search-bar-font-size-small: 0.8em;
$search-bar-font-size-big: 1em;
$search-bar-font: helvetica, Arial, sans-serif;
$search-bar-max-width: 600px;
$search-bar-max-width-xl: 1000px;


/* -------- DEFAULT STYLES -------- */
header .row {
  margin-bottom: 0;
}

#chembl-header-container {
  height: 0;
  width: 100%;
  z-index: 5;

  .chembl-header {
    width: 100%;
    height: $chembl-header-height;
    background-color: $primary-color;
    position: relative;
    float: left;
    margin-top: -5px;
    display: flex;
    justify-content: space-between;

    .burger-button, .chembl-logo {
      height: $chembl-header-height;
      padding: $chembl-header-padding;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .chembl-logo {
      img {
        width: 30px;
        height: auto;
      }
      span {
        padding-left: $chembl-header-padding;
        padding-top: $chembl-header-padding;
        font-family: $chembl-name-font;
        font-size: 30px;
      }
    }

    .search-bar {
      height: $chembl-header-height;
      padding: $chembl-header-padding;
      float: left;
      background: none;
      flex-grow: 2;
      display: flex;
      align-items: center;

      .bar-wrapper {
        width: 100%;
        background-color: white;
        display: flex;

        -webkit-transition: height 100ms ease-in;
        transition: height 100ms ease-in;

        .chembl-search-bar {
          font-family: $search-bar-font;
          padding-left: $chembl-header-padding;
          margin: 0;
          height: 100%;
        }

        .bar-button {
          padding: $chembl-header-padding;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: auto;
            transition: height, width 100ms ease-in;
          }

          &.search-button {
            background-color: $header-darker;

          }
        }
      }
    }
  }
}

/* -------- PINNED DEFAULTS -------- */
#chembl-header-container.pinned {

  .chembl-header {
    margin-top: 0;
  }
}

/* -------- SMALL DEVICES <748px -------- */
@media (max-width: 748px) {

  .bar-wrapper {
    height: $search-bar-height;

    .chembl-search-bar {
      font-size: $search-bar-font-size-small;
    }

    .bar-button {
      img {
        width: 15px;
      }
    }
  }

  .burger-button {
    img {
      width: 20px;
      height: 20px;
    }
  }
}


/* -------- SMALL BREAKPOINT SM >748px -------- */
@media (min-width: 749px) {

  .bar-wrapper {
    height: $search-bar-height-wider;

    .header-button {
      width: $chembl-header-height;
    }

    .chembl-search-bar {
      font-size: $search-bar-font-size-big;
    }

    .bar-button {
      img {
        width: 22px;
      }
    }
  }

  .burger-button {
    img {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
  }
}

/* -------- BREAKPOINT L > 992px -------- */
@media (min-width: 992px) {

  .chembl-logo {
    width: $side-buttons-width-big;
  }

}

/* -------- BREAKPOINT XL > 1200px -------- */
@media (max-width: 1200px) {

  .search-bar {
    max-width: $search-bar-max-width;
  }

}

@media (min-width: 1200px) {

  .search-bar {
    max-width: $search-bar-max-width-xl;
  }
}