@import "chembl_base";

#MoleculeFeaturesCard {

   .row {
    margin-bottom: 0;
  }
}

.mol-features-grid {

  .col {
    padding: 2px;
  }

  .row {
    margin-bottom: 0;
  }

  .mol-features-grid {
    line-height: 1.5;
  }

  .feat-icon {
    padding: 5px;
    border-radius: 2px;

    i {
      font-size: 2.5em;
      margin: auto;

      &.table_cell_icon {
        font-size: 2.5em;
      }
    }
  }

  .off {
     background-color: $off-base;

    .feature-icon {
        color: $off-accent;
      }
  }

  .first-row {

    .active {
      background-color: $first-base;

      .feature-icon {
        color: $first-accent;
      }
    }
  }

  .second-row {

    .active {
      background-color: $second-base;

      .feature-icon{
        color: $second-accent
      }
    }
  }
}