@import "chembl_base";

.query-editor{
  margin-bottom: 5px;
  .query-container{

    height: 40vh;
    overflow-y: scroll;
    resize: vertical;
    border: 1px solid #09979b;

    .query{
      padding: 10px;
    }
  }
  .query-menu-container{
    padding: 0 10px;
    margin-bottom: 0;
    .input-field{
      margin-top: 0;
    }
  }
}