@import "chembl_base";

.query-editor{
  margin-bottom: 5px;
  .query-container{

    height: 40vh;
    overflow-y: hidden;
    resize: vertical;
    background-color: #f5f5f5;
    margin-top: 10px;

    .query{
      padding: 10px;
      overflow-y: scroll;
      height: calc(100% - 60px);
    }
  }
  .query-menu-container{
    padding: 0 10px;
    margin-bottom: 0;
    border-bottom: 1px solid $grey-light;
    .buttons-container{
      margin-top: 7px;
    }
    .input-field{
      margin-top: 0;
    }
  }
}