/*
* Unichem connectivity matches
* ----------------------------------------------------------------------------------------------------------------------
*/
.unichem_connectivity_matches{
  .class1 {
    color: #D33C60;
  }
  .class2 {
    color: #0F77C9;
  }
  .class3 {
    color: #EE4F4F;
  }
  .class4 {
    color: #FFC107;
  }
  .class5 {
    color: #8795E8;
  }
}