// // Various includes
// @import 'ebi_theme_settings';
// @import 'ebi_base_styles';
// @import 'ebi_utility_styles';
// @import 'ebi_table_styles';
// @import 'ebi_print_styles';
// @import 'ebi_masthead_styles';
// @import 'ebi_footer_styles';
// @import 'ebi_related_pattern';
// @import 'ebi_code_styles';
// @import 'ebi_color_styles';
// @import 'ebi_clearable_inputs';
// @import 'ebi_tag';
// @import 'embl_selector'; // EMBL Dropdown selector for .masthead-black-bar

// @include ebi-base-styles;
// @include ebi-utility-styles;
// @include ebi-masthead-styles;
// @include ebi-footer-styles;
// @include ebi-color-styles;
// @include embl-selector;

// @if $include-ebi-global-styles {
//   @include ebi-base-styles;
//   @include ebi-utility-styles;
//   @include ebi-masthead-styles;
//   @include ebi-footer-styles;
//   @include ebi-color-styles;
//   @include embl-selector;
// }
// @if $include-ebi-extra-styles {
//   @include ebi-print-styles;
//   @include ebi-clearable-inputs;
//   @include ebi-table-styles;
//   @include ebi-code-styles;
//   @include ebi-related-pattern;
//   @include ebi-tag;
// }

@import "ebi-lite"