{% extends "glados/base/base_layout.html" %}

{% block title %}Acknowledgements {% endblock %}


{% block content %}

<div class="container main-container">
  <h2>Website Funding Acknowledgments</h2>

  The ChEMBL resources are made available due to funding from the following:

  <h3>Current Awards</h3>

  {% if current_acks %}
  <ul class="acks-list">
    {% for ack in current_acks %}
    <li><b>{{ ack.dates }}: </b>{{ ack.content }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No Acknowledgements are available.</p>
  {% endif %}

  <h3>Past Awards</h3>

  {% if old_acks %}
  <ul class="acks-list">
    {% for ack in old_acks %}
    <li><b>{{ ack.dates }}: </b>{{ ack.content }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No Acknowledgements are available.</p>
  {% endif %}

</div>

{% endblock %}

{% block custom_js_inline %}
    glados.apps.Main.MainGladosApp.hideMainSplashScreen()
{% endblock %}