{% extends "glados/base/base_layout.html" %}

{% block title %}Assay Report Card{% endblock %}

{% block content %}
<div class="container main-container">


  {% block breadcrumb %}
  {% include "glados/base/breadcrumb.html" %}
  {% endblock %}

  <div class="row">

    <!-- the scrollspy disappears in medium and down -->
    <div class="col m12 l10">

      <h2>Assay Report Card</h2>

      <div class="divider"></div>
      <div id="BasicInformation" class="section scrollspy">
        <h3>Basic Information</h3>

        <div class="row">

          {% block abi %}
            {% with is_dynamic=True  %}
              {% include "glados/AssayReportCardParts/BasicInformation.html" %}
            {% endwith %}
          {% endblock %}

        </div>

      </div>

      <div class="divider"></div>
      <div id="CurationSummary" class="section scrollspy">
        <h3>Curation Summary</h3>

        <div class="row">

          {% block cs%}
            {% with is_dynamic=True  %}
              {% include "glados/AssayReportCardParts/CurationSummary.html" %}
            {% endwith %}
          {% endblock %}

        </div>

      </div>

      <div class="divider"></div>
      <div id="Bioactivity" class="section scrollspy">
        <h3>Bioactivity</h3>

        <div class="row">

          stuff

        </div>

      </div>

      <div class="divider"></div>
      <div id="CompoundSummaries" class="section scrollspy">
        <h3>Compound Summaries</h3>

        <div class="row">

          stuff

        </div>

        <div class="divider"></div>
        <div id="ProteinTargetSummaries" class="section scrollspy">
          <h3>Protein Target Summaries</h3>

          <div class="row">

            stuff

          </div>

        </div>

      </div>

    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Scrolspy -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="col l2 hide-on-med-and-down">

      <div class="scrollspy-wrapper pin-top">
        <ul class="section table-of-contents">

          <li><a href="#BasicInformation">
            <small>Basic Information</small>
          </a></li>

          <li><a href="#CurationSummary">
            <small>Curation Summary</small>
          </a></li>

          <li><a href="#Bioactivity">
            <small>Bioactivity</small>
          </a></li>

          <li><a href="#CompoundSummaries">
            <small>Compound Summaries</small>
          </a></li>

          <li><a href="#ProteinTargetSummaries">
            <small>Protein Target Summaries</small>
          </a></li>

        </ul>
      </div>

    </div>


  </div>

</div>
{% endblock %}

{% block custom_js %}
{% endblock %}

{% block custom_js_inline %}

AssayReportCardApp.init();




{% endblock %}