{% extends "glados/base/base_layout.html" %}
{% load static %}

{% block open_graph_tags %}

    <meta property="og:title" content="{{ og_tags.chembl_id }}"/>
    <meta property="og:description" content="{{ og_tags.description}}"/>
    <meta property="og:type" content="object" />
    <meta property="og:url" content="{{request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{% static 'img/og_main.png' %}" />
    <meta property="og:image:secure_url" content="https://{{ request.get_host }}{% static 'img/og_main.png' %}" />
    <meta property="og:image:type" content="image/png" />

    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

{% endblock %}

{% block title %}Assay Report Card{% endblock %}

{% block content %}
<div class="container main-container report-card-container">

  <div class="row">

    <!-- the scrollspy disappears in medium and down -->
    <div class="col m12 l10">

      <h2>Assay Report Card</h2>

      <div id="BasicInformation">
        {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

        <div class="row BCK-section-content">

          {% block abi %}
            {% with is_dynamic=True  %}
              {% include "glados/AssayReportCardParts/BasicInformation.html" %}
            {% endwith %}
          {% endblock %}

        </div>

      </div>

      <div id="CurationSummary">
        {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

        <div class="row BCK-section-content">

          {% block cs%}
            {% with is_dynamic=True  %}
              {% include "glados/AssayReportCardParts/CurationSummary.html" %}
            {% endwith %}
          {% endblock %}

        </div>

      </div>

      <div id="ActivityCharts">
        {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

        <div class="row piechart-group BCK-section-content">
            <div class="col m12 l6 piechart-col">
              <div id="Bioactivity" class="section piechart-section">
                <h4 class="center-align">Bioactivity</h4>
                  {% with is_dynamic=True  %}
                    {% include "glados/AssayReportCardParts/AssociatedBioactivities.html" %}
                  {% endwith %}
              </div>
            </div>
            <div class="col m12 l6 piechart-col"></div>
        </div>

      </div>

      <div id="CompoundSummaries">
        {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

        <div class="row BCK-section-content">
          {% with is_dynamic=True  %}
            {% include "glados/AssayReportCardParts/AssociatedCompounds.html" %}
          {% endwith %}
        </div>

      </div>

    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Scrolspy -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="col l2 hide-on-med-and-down">
      {% include "glados/base/ScrollSpy/DefaultScrollSpyContent.html" %}
    </div>


  </div>

</div>
{% endblock %}

{% block custom_js %}
{% endblock %}

{% block custom_js_inline %}

AssayReportCardApp.init();




{% endblock %}