{% extends "glados/base/base_layout.html" %}

{% block open_graph_tags %}

    <meta property="og:title" content="{{ og_tags.title }}"/>
    <meta property="og:description" content="{{ og_tags.description }}"/>
    <meta property="og:type" content="object" />
    <meta property="og:url" content="{{request.build_absolute_uri }}" />
    <meta property="og:image" content="{{ ws_url }}/image/{{ og_tags.chembl_id }}.png?bgColor=white" />
    <meta property="og:image:secure_url" content="{{ ws_url }}/image/{{ og_tags.chembl_id }}.png?bgColor=white" />
    <meta property="og:image:type" content="image/png" />

    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

{% endblock %}

{% block json_ld %}
{% include "glados/CompoundReportCardParts/Markup/json_ld.html" %}
{% endblock %}

{% block link_to_rdf %}
{% include "glados/CompoundReportCardParts/Markup/link_to_rdf.html" %}
{% endblock %}

{% block title %}Compound Report Card{% endblock %}


{% block content %}

    <div class="container main-container report-card-container">

        <div class="row ">

            <!-- the scrollspy disappears in medium and down -->
            <div class="col m12 l10">

                <!-- Compound name and classification Section Start -->
                <h2>Compound Report Card</h2>


                <div id="CompoundNameAndClassification">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% block cnc %}
                            {% include "glados/CompoundReportCardParts/NameAndClassification.html" %}
                        {% endblock %}

                    </div>

                </div>

                <div id="CompoundRepresentations" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% include "glados/CompoundReportCardParts/Representations.html" %}
                    </div>

                </div>


                <div id="CompoundSources" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/Sources.html" %}
                        {% endwith %}
                    </div>

                </div>


                <div id="AlternateFormsOfCompoundInChEMBL" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/AlternateForms.html" %}
                        {% endwith %}

                    </div>

                </div>

                <div id="MoleculeFeatures" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% include "glados/CompoundReportCardParts/MoleculeFeatures.html" %}
                    </div>

                </div>

                <div id="WithdrawnInfo" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/WithdrawnInformation.html" %}
                        {% endwith %}

                    </div>

                </div>

                <div id="MechanismOfAction" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/MechanismOfAction.html" %}
                        {% endwith %}


                    </div>
                </div>


                <div id="Indications" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/Indications.html" %}
                        {% endwith %}
                    </div>
                </div>
             

                <div id="ClinicalData" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/ClinicalData.html" %}
                        {% endwith %}

                    </div>

                </div><div id="ClinicalData" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/ClinicalData.html" %}
                        {% endwith %}

                    </div>

                </div>

                <div id="SimilarCompounds" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/SimilarCompounds.html" %}
                        {% endwith %}

                    </div>


                </div>

                <div id="Metabolism" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% block metabolism %}
                            {% include "glados/CompoundReportCardParts/Metabolism.html" %}
                        {% endblock %}

                    </div>



                </div>

              <div id="CompoundBIOLSeq" style="display: none;">
                {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                <div class="row BCK-section-content">
                  {% with is_dynamic=True %}
                    {% include "glados/CompoundReportCardParts/Biocomponents.html" %}
                  {% endwith %}
                </div>

              </div>



              <div id="CompoundHELMNotation" style="display: none;">
                  {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                  <div class="row BCK-section-content">
                      {% with is_dynamic=True %}
                          {% include "glados/CompoundReportCardParts/HELMNotation.html" %}
                      {% endwith %}
                  </div>

              </div>


                <div id="ActivityCharts" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}
                    <div class="row">
                        {% include "glados/base/ReportCards/Sections/FullSectionEmbedder.html" %}
                    </div>
                    <div id="ActivityChartsGroup" class="row piechart-group BCK-section-content">
                        <div class="col s12 m6 l4  piechart-col">
                            <div id="CompoundBioactivitySummary" class="section piechart-section">
                                <h4 class="center-align">Bioactivity Summary</h4>
                                {% block bioactivity_summary %}
                                    {% with is_dynamic=True %}
                                        {% include "glados/CompoundReportCardParts/BioactivitySummary.html" %}
                                    {% endwith %}
                                {% endblock %}
                            </div>
                        </div>

                        <div class="col s12 m6 l4 piechart-col">
                            <div id="CompoundAssaySummary" class="section piechart-section">
                                <h4 class="center-align">Assay Summary</h4>
                                {% with is_dynamic=True %}
                                    {% include "glados/CompoundReportCardParts/AssaySummary.html" %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col s12 m6 l4  piechart-col">
                            <div id="CompoundTargetSummary" class="section piechart-section">
                                <h4 class="center-align">Target Summary</h4>
                                {% with is_dynamic=True %}
                                    {% include "glados/CompoundReportCardParts/TargetSummary.html" %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="s12 m6 l4 piechart-col"></div>
                    </div>
                </div>

                <div id="PapersAboutCompound" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content row">
                        <div class="col s12 max-height-col">
                                {% with is_dynamic=True %}
                                     {% include "glados/CompoundReportCardParts/PapersAboutCompound.html" %}
                                {% endwith %}
                        </div>
                        <div class="col m12 l6"></div>
                    </div>

                </div>


                <div id="TargetPredictions" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}


                    <div class="row BCK-section-content">

                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/TargetPredictions.html" %}
                        {% endwith %}

                    </div>

                </div>

                <div id="CalculatedCompoundParentProperties" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% block calculated_parent_properties %}
                            {% include "glados/CompoundReportCardParts/CalculatedCompoundParentProperties.html" %}
                        {% endblock %}

                    </div>

                </div>

                <div id="StructuralAlerts" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/StructuralAlerts.html" %}
                        {% endwith %}
                    </div>


                </div>

                <div id="CompoundCrossReferences" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/CrossReferences.html" %}
                        {% endwith %}

                    </div>

                </div>

                <div id="UniChemCrossReferences" style="display: none;">

                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/UniChemCrossReferences.html" %}
                        {% endwith %}

                    </div>
                </div>

                <div id="UniChemConnectivityMatches" style="display: none;">

                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% with is_dynamic=True %}
                            {% include "glados/CompoundReportCardParts/UnichemConnectivityMatches.html" %}
                        {% endwith %}

                    </div>
                </div>

            </div>


            <!-- - - - - - - - - - - - - - - - - - - - - - - -->
            <!-- Scrolspy -->
            <!-- - - - - - - - - - - - - - - - - - - - - - - -->

            <div class="col l2 hide-on-med-and-down">
                {% include "glados/base/ScrollSpy/DefaultScrollSpyContent.html" %}
            </div>

        </div>

    </div>

{% endblock %}


{% block custom_js_inline %}

    CompoundReportCardApp.init();

{% endblock %}