{% extends "glados/base/base_layout.html" %}

{% load static %}

{% block open_graph_tags %}

    <meta property="og:title" content="{{ og_tags.chembl_id }}"/>
    <meta property="og:description" content="Document Report Card: {{ og_tags.title}}"/>
    <meta property="og:type" content="object" />
    <meta property="og:url" content="{{request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{% static 'img/og_main.png' %}" />
    <meta property="og:image:secure_url" content="https://{{ request.get_host }}{% static 'img/og_main.png' %}" />
    <meta property="og:image:type" content="image/png" />

    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

{% endblock %}

{% block title %}Document Report Card{% endblock %}

{% block content %}
    <div class="container main-container report-card-container">

        <div class="row">

            <!-- the scrollspy disappears in medium and down -->
            <div class="col m12 l10">

                <h2>Document Report Card</h2>

                <div id="BasicInformation">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% block dbi %}
                            {% with is_dynamic=True %}
                                {% include "glados/DocumentReportCardParts/BasicInformation.html" %}
                            {% endwith %}
                        {% endblock %}

                    </div>

                </div>

                <div id="RelatedDocuments">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% with is_dynamic=True %}
                            {% include "glados/DocumentReportCardParts/RelatedDocuments.html" %}
                        {% endwith %}

                    </div>

                </div>

                <div id="WordCloud">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% block wc %}
                            {% with is_dynamic=True %}
                                {% include "glados/DocumentReportCardParts/WordCloud.html" %}
                            {% endwith %}
                        {% endblock %}
                    </div>

                </div>

                <div id="AssayNetwork">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% block dan %}
                            {% with is_dynamic=True %}
                                {% include "glados/DocumentReportCardParts/AssayNetwork.html" %}
                            {% endwith %}
                        {% endblock %}

                    </div>

                </div>

                <div id="ActivityCharts">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row piechart-group BCK-section-content">
                        <div class="col s12 m6 l4 piechart-col">
                            <div id="ProteinTargetSummay" class="section piechart-section">
                                <h4 class="center-align">Protein Target Summary</h4>

                                {% with is_dynamic=True %}
                                    {% include "glados/DocumentReportCardParts/TargetSummary.html" %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col s12 m6 l4 piechart-col">
                            <div id="AssaySummary" class="section piechart-section">
                                <h4 class="center-align">Assay Summary</h4>
                                {% with is_dynamic=True %}
                                    {% include "glados/DocumentReportCardParts/AssaySummary.html" %}
                                {% endwith %}
                            </div>
                        </div>

                        <div class="col s12 m6 l4 piechart-col">
                            <div id="BioactivitySummary" class="section piechart-section">
                                <h4 class="center-align">Bioactivity Summary</h4>
                                {% with is_dynamic=True %}
                                    {% include "glados/DocumentReportCardParts/ActivitySummary.html" %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col s12 m6 l4 piechart-col"></div>
                    </div>
                </div>


                <div id="CompoundSummaries">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}
                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/DocumentReportCardParts/CompoundSummary.html" %}
                        {% endwith %}
                    </div>
                </div>

            </div>


            <!-- - - - - - - - - - - - - - - - - - - - - - - -->
            <!-- Scrolspy -->
            <!-- - - - - - - - - - - - - - - - - - - - - - - -->

            <div class="col l2 hide-on-med-and-down">
                {% include "glados/base/ScrollSpy/DefaultScrollSpyContent.html" %}
            </div>


        </div>

    </div>

{% endblock %}

{% block custom_js %}
{% endblock %}

{% block custom_js_inline %}

    DocumentReportCardApp.init();

{% endblock %}