{% extends "glados/base/base_layout.html" %}

{% block title %}Frequently Asked Questions{% endblock %}


{% block content %}

<div class="container main-container">
  <h2>ChEMBL FAQ</h2>

  {% if faqs_structure %}

    {% for category_struc in faqs_structure %}

      <h3>{{category_struc.category}}</h3>

      {% for subcategory_struc in category_struc.items %}

        <h4>{{subcategory_struc.subcategory}}</h4>

        <ul class="collapsible" data-collapsible="expandable">

        {%for question in subcategory_struc.items%}
          <li>
            <div class="collapsible-header"><i class="material-icons">help</i>{{question}}</div>
            <div class="collapsible-body"><p>{{question.answer}}</p></div>
          </li>
        {% endfor %}

        </ul>


      <div class="divider"></div>
      {% endfor %}


    {% endfor %}


  {% else %}
    <p>No Frequently Asked Questions are available.</p>
  {% endif %}

</div>

{% endblock %}

{% block custom_js_inline %}
    glados.apps.Main.MainGladosApp.hideMainSplashScreen()
{% endblock %}

