{% extends "glados/base/base_layout.html" %}

{% block title %}Layout test page{% endblock %}

{% block custom_js %}

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <h1>h1: The quick brown fox jumps over the lazy dog.</h1>
      <h2>h2: The quick brown fox jumps over the lazy dog.</h2>
      <h3>h3: The quick brown fox jumps over the lazy dog.</h3>
      <h4>h4: The quick brown fox jumps over the lazy dog.</h4>
      <h5>h5: The quick brown fox jumps over the lazy dog.</h5>
      <h6>h6: The quick brown fox jumps over the lazy dog.</h6>
      <p> p: The quick brown fox jumps over the lazy dog. </p>
      <p> p: The quick brown fox jumps over the lazy dog. </p>
      <p><b> p: The quick brown fox jumps over the lazy dog.</b></p>
      <br>
      <span class="icon-accommodation"></span>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et interdum felis. Nunc sollicitudin est nec
        lorem fermentum fermentum. Curabitur eget ultricies libero, et rutrum lacus. Vestibulum varius cursus lorem ac
        malesuada. Phasellus sed efficitur arcu. Proin ut orci feugiat, fermentum tortor quis, dictum magna. Integer
        ultrices justo et euismod molestie. Sed fermentum, odio non fringilla suscipit, lacus libero feugiat nulla,
        nec posuere eros neque et erat. Donec ipsum nisi, lobortis vel mollis sed, semper et tortor. Nunc et congue
        lorem.

        Nulla a egestas nisl, non facilisis nisl. Quisque euismod nunc eget ex condimentum tincidunt. Morbi dignissim
        quam ut tristique eleifend. Phasellus leo odio, blandit a diam in, vestibulum gravida metus. Aenean sagittis
        neque laoreet lacus vulputate auctor vitae sit amet turpis. Fusce luctus leo augue, vitae commodo dui
        vestibulum interdum. In aliquet libero vel urna tristique, in rutrum dolor condimentum. Mauris vestibulum
        lacus nec nulla pellentesque mollis quis in metus. Aliquam id varius mi. Etiam accumsan molestie tellus, ac
        sodales odio malesuada a.

        Etiam consequat neque nec magna placerat condimentum. Fusce efficitur bibendum velit, eu hendrerit lorem
        porttitor at. Duis sed felis blandit, tempus nisi eget, molestie risus. Suspendisse potenti. Curabitur
        porttitor rhoncus massa id ornare. Donec gravida egestas fringilla. Cras gravida aliquet bibendum. Ut
        tincidunt dolor vel mauris condimentum volutpat. Aliquam erat volutpat. Proin convallis ante sit amet purus
        viverra semper. Vestibulum laoreet, nisl eget ullamcorper pharetra, ligula ligula finibus eros, non sagittis
        ipsum augue quis diam. Ut lorem neque, tincidunt a ullamcorper eu, facilisis at risus. Etiam lobortis luctus
        aliquam.

        In varius turpis vitae magna ullamcorper, ac ullamcorper elit laoreet. Proin nec augue augue. Suspendisse
        volutpat, metus ac aliquam sodales, arcu mauris volutpat elit, non sodales turpis leo in purus. Suspendisse
        elit neque, vulputate ac nunc sit amet, facilisis vulputate nisl. In gravida enim ex, vitae pulvinar odio
        auctor at. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vel
        congue diam. Nulla sodales in ante ac scelerisque. Suspendisse lacus libero, gravida non enim eget, dictum
        posuere nunc.

        Nunc auctor convallis felis, vitae tempor ipsum vestibulum at. Cras quis auctor dolor. Nunc sit amet est nec
        nibh pretium aliquet sed eget orci. Vestibulum velit neque, malesuada quis consectetur a, pretium quis enim.
        Phasellus lacinia nunc neque, ac cursus metus lobortis ac. Morbi in cursus metus, in blandit risus. Quisque
        nibh enim, lobortis at magna a, pellentesque euismod odio. Integer in tristique nisl, eu mattis augue. Ut ac
        dui lectus.

      </p>

      <h3>Molecule Features Icons:</h3>

      <p>

        <i class="icon icon-chembl" data-icon="b"></i> <i class="icon icon-chembl" data-icon="t"></i>
        <i class="icon icon-chembl" data-icon="5"></i><i class="icon icon-chembl" data-icon="s"></i>
        <i class="icon icon-chembl" data-icon="o"></i><i class="icon icon-chembl" data-icon="u"></i>
        <i class="icon icon-chembl" data-icon="m"></i><i class="icon icon-chembl" data-icon="r"></i>
        <i class="icon icon-chembl" data-icon="l"></i><i class="icon icon-chembl" data-icon="c"></i>
        <i class="icon icon-chembl" data-icon="B"></i>


      </p>

      <p>

        <i class="icon icon-chembl-2" data-icon="w"></i><i class="icon icon-chembl-2" data-icon="p"></i>
        <i class="icon icon-chembl-2" data-icon="O"></i><i class="icon icon-chembl-2" data-icon="c"></i>
        <i class="icon icon-chembl-2" data-icon="m"></i><i class="icon icon-chembl-2" data-icon="o"></i>
        <i class="icon icon-chembl-2" data-icon="P"></i>

      </p>

      <a class="waves-effect waves-light btn">button</a>
      <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
      <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

      <h2>Progress Bar:</h2>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>

      <h2>Search Results:</h2>

       <ul>
        <li>
          <a target="_blank" href="{% url 'main' %}search_results">Search Results</a>
        </li>
         <li>
          <a target="_blank" href="{% url 'main' %}compound_target_matrix">Compound vs Target Matrix</a>
        </li>
         <li>
          <a target="_blank" href="{% url 'main' %}compound_results_graph">Compound Results Graph</a>
        </li>
      </ul>

      <h2>Report Cards:</h2>

      <ul>
        <li>
          <a target="_blank" href="{% url 'main' %}compound_report_card/CHEMBL25">Compound Report Card</a>
        </li>
        <li>
          <a target="_blank" href="{% url 'main' %}target_report_card/CHEMBL1615387/">Target Report Card</a>
        </li>
        <li>
          <a target="_blank" href="{% url 'main' %}assay_report_card/CHEMBL931654/">Assay Report Card</a>
        </li>
        <li>
          <a target="_blank" href="{% url 'main' %}document_report_card/CHEMBL1151960/">Document Report Card</a>
        </li>
        <li>
          <a target="_blank" href="{% url 'main' %}cell_line_report_card/CHEMBL3307242/">Cell Line Report Card</a>
        </li>
        <li>
          <a target="_blank" href="{% url 'main' %}tissue_report_card">Tissue Report Card</a>
        </li>
      </ul>

      <h2>Acknowledgements:</h2>

      <ul>
        <li>
          <a target="_blank" href="{% url 'main' %}acknowledgements">Acknowledgements</a>
        </li>
      </ul>

      <h2>Frequently Asked Questions:</h2>

      <ul>
        <li>
          <a target="_blank" href="{% url 'main' %}faqs">Faqs</a>
        </li>
      </ul>


      <h2>Site Administration:</h2>

      <ul>
        <li>
          <a target="_blank" href="{% url 'main' %}admin">Admin login</a>
        </li>
      </ul>

      <h2>Components List:</h2>

      <ul>
        <li>
          <a target="_blank" href="{% url 'main' %}components_summary/">Components List</a>
        </li>
      </ul>

  </div>
</div>


{% endblock %}

{% block custom_js_inline %}
{% endblock %}

