{% extends "glados/base/base_layout.html" %}
<!-- HIDE SIDE-NAV: Needs to call 3 blocks again -->
{% block main_start_tag %}
  {% with hide_side_nav=False %}
    {{block.super}}
  {% endwith %}
{% endblock main_start_tag %}
{% block chembl_header %}
  {% with hide_side_nav=False main_page=True%}
    {{block.super}}
  {% endwith %}
{% endblock chembl_header %}
{% block side_nav %}
  {% with hide_side_nav=False main_page=True%}
    {{block.super}}
  {% endwith %}
{% endblock side_nav %}

{% block title %}ChEMBL{% endblock %}

{% block content %}

<div class="container main-container">


  {% block breadcrumb %}
  {% include "glados/base/breadcrumb.html" %}
  {% endblock %}

</div>


<div id="MainPageCentralDiv" class="row">

  <div class="col l9 m12 s12">

    <div class="col m6 s12" >
      {% with is_dynamic=True %}
          {% include "glados/MainPageParts/TargetBrowserParts/browse_as_circles.html" %}
      {% endwith %}
    </div>

    <div class="col m6 s12 ppy" >
      {% with is_dynamic=True %}
          {% include "glados/MainPageParts/Visualizations/PapersPerYearHistogram.html" %}
      {% endwith %}
    </div>

  </div>

  <div class="col m6 l3 xl400 hide-on-small-only">

    {% block database_info %}
    {% include "glados/MainPageParts/database_info.html" %}
    {% endblock %}
  </div>

   <div class="col m6 l3 xl400 hide-on-small-only">
    {% block tweets %}
    {% include "glados/MainPageParts/tweets.html" %}
    {% endblock %}


  </div>

</div>

{#{% block marvin_fullscreen %}#}
{#{% include "glados/MainPageParts/link_to_marvin_fullscreen.html" %}#}
{#{% endblock %}#}

{% endblock %}

{% block custom_js %}



{% endblock %}

{% block custom_js_inline %}

MainPageApp.init();

{% endblock %}

