{% extends "glados/base/base_layout.html" %}
{% block title %}ChEMBL{% endblock %}

{% load static %}

{% block open_graph_tags %}

    <meta property="og:title" content="ChEMBL Database"/>
    <meta property="og:description" content="A manually curated database of bioactive molecules with drug-like properties"/>
    <meta property="og:type" content="object" />
    <meta property="og:url" content="{{request.build_absolute_uri }}" />
    <meta property="og:image" content="https://{{ request.get_host }}{% static 'img/og_main.png' %}" />
    <meta property="og:image:secure_url" content="https://{{ request.get_host }}{% static 'img/og_main.png' %}" />
    <meta property="og:image:type" content="image/png" />

    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

{% endblock %}

{% block custom_js_inline %}
glados.apps.Main.MainGladosApp.init();
{% endblock %}