{% extends "glados/base/base_layout.html" %}

{% block title %}ChEMBL{% endblock %}

{% block content %}

<div class="container main-container">


  {% block breadcrumb %}
  {% include "glados/base/breadcrumb.html" %}
  {% endblock %}

</div>

{% include "glados/SearchResultsParts/SearchBar.html" %}

<div id="MainPageCentralDiv" class="row hide-on-small-only" style="display: none">

  <div class="col m12 l9 ">

    {% block marvin %}
    {% include "glados/MainPageParts/central_card.html" %}
    {% endblock %}

  </div>

  <div class="col m6 l3">

    {% block database_info %}
    {% include "glados/MainPageParts/database_info.html" %}
    {% endblock %}
</div>

   <div class="col m6 l3">
    {% block tweets %}
    {% include "glados/MainPageParts/tweets.html" %}
    {% endblock %}


  </div>

</div>

{% block marvin_fullscreen %}
{% include "glados/MainPageParts/link_to_marvin_fullscreen.html" %}
{% endblock %}

{% endblock %}

{% block custom_js %}



{% endblock %}

{% block custom_js_inline %}

MainPageApp.init();

{% endblock %}

