{% extends "glados/base/base_layout.html" %}

{% load static %}

{% block title %} ChEMBL Database {% endblock %}

{% block content %}

    <div class="main-page-container">

        <!-------------- ROW for text about chembl + carousel -------------->
        <div class="row container">

            <!-------------- Text about ChEMBL SECTION -------------->
            <div class="main-page-section col s12 l6 right smaller-on-med">

                <div class="section-col valign-wrapper">

                    {% include "glados/MainPageParts/about_chembl.html" %}

                </div>

            </div>

            <div class="col-divider col s12 hide-on-large-only"></div>

            <!-------------- Explore the database SECTION -------------->
            <div class="col s12 l6 hide-on-large-only explore-database">

                {% include "glados/MainPageParts/explore_the_database.html" %}

            </div>

            <!-------------- Visualisation Carousel SECTION -------------->
            <div class="main-page-section col s12 l6 smaller-on-small">

                <div class="section-col">

                    {% include "glados/MainPageParts/main_carousel.html" %}

                </div>

            </div>

        </div>

        <div class="divider"></div>

        <!-------------- Database Summary SECTION -------------->
        <div class="main-page-section col s12 database-summary fit-height">

            <div class="row container">

                {% include "glados/MainPageParts/database_info.html" %}

            </div>

        </div>

        <!-------------- Latest papers  SECTION -------------->
        <div class="main-page-section col s12 papers fit-height">

            {% include "glados/MainPageParts/latest_papers.html" %}

        </div>

        <!-------------- Associated Resources SECTION -------------->
        <div class="main-page-section col s12 fit-height associated-resources BCK-Associated-resources">

            <div class="container">

                {% include "glados/MainPageParts/associated_resources.html" %}

            </div>

        </div>

        <!-------------- Github Details SECTION -------------->
        <div class="main-page-section col s12 min-height BCK-github-details github-details">

            <div class="container">

                    <span class="small-text"> Latest Commit on GitHub: </span>

                    <span class="small-text"> <a href="#">Update Read.md </a></span>

                    <span class="small-text grey-light ">  2 hours ago  </span>

                    <div class="right">

                        <span class="btn-container">

                            <a class="button" href="https://www.ebi.ac.uk/chembl/downloads" target="_blank">

                               GitHub

                            </a>

                        </span>

                        <span class="btn-container">

                            <a class="button" href="https://www.ebi.ac.uk/chembl/downloads" target="_blank">

                               New Issue

                            </a>

                        </span>

                    </div>

                </div>

            </div>

        </div>


        <!-------------- Want to Know More?  SECTION -------------->
        <div class="main-page-section col s12 know-more fit-height">

            <div class="row container">

                {% include "glados/MainPageParts/want_to_know_more.html" %}

            </div>

        </div>

        <div class="row color-row">

            <div class="row container">

                <!-------------- Tweets SECTION -------------->
                <div class="main-page-section col s12 l6 half-height" id="tweets-section">

                    <div class="section-col">

                        {% include "glados/MainPageParts/tweets.html" %}

                    </div>

                </div>

                <div class="col-divider col s12 hide-on-large-only"></div>

                <!-------------- Blog Entries SECTION -------------->
                <div class="main-page-section col s12 l6 half-height" id="blog-section">

                    <div class="section-col">

                        {% include "glados/MainPageParts/blogEntries.html" %}

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block custom_js_inline %}
    MainPageApp.init();
{% endblock %}
