{% load static %}
<!DOCTYPE html>
<html>
<head>
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
  <title>Marvin Search</title>
  {% block analytics %}
    {% include "glados/base/google_analytics.html" %}
  {% endblock %}
  <!-- google graphs loader -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  {% load compress %}
  <!-- Imports used by all the templates-->
  {% block common_css %}
  {% include "glados/base/css_imports_for_all.html" %}
  {% endblock %}

</head>

<body id="BCK-MarvinContainer">
  {% with in_modal=True %}
    {% include "glados/Sketchers/marvinSearch.html" %}
  {% endwith %}

  <!-- - - - - - - - - - - - - - - - - - - - -->
  <!-- APIs -->
  <!-- - - - - - - - - - - - - - - - - - - - -->

  <!-- common imports for all templates -->
  {% include "glados/base/js_imports_for_all.html" %}

  <!-- inline javascript -->
  {% compress js %}
  <script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
      glados.MarvinFullScreenApp.init()
    });
  </script>
  {% endcompress%}
  <div style="display: none">
    <!-- handlebars templates -->
    {% block common_handlebars %}
      {% include "glados/Handlebars/CommonSources.html" %}
    {% endblock %}
  </div>

</body>

</html>