{% extends "glados/base/base_layout.html" %}

{% block title %} Play with ChEMBL {% endblock %}

{% block content %}

    <div class="main-page-container">

        <!-------------- What is ChEMBL and visualisations SECTION -------------->
        <div class="row container">

            <div class="main-page-section col s12 l12">

                <div class="section-col first-section">

                    <div class="BCK-chembl-game chembl-game">Play</div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block custom_js_inline %}

    glados.apps.Play.PlayPageApp.init();

{% endblock %}