{% extends "glados/base/base_layout.html" %}
{% load i18n %}

{% block title %}Standard Strings{% endblock %}

{% block custom_js %}

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content %}
<h2>String Standardisation Catalog:</h2>

<div id='catalog' data-hb-template='catalog-template'>

</div>
<h2>GLaDOS-es Generated Catalog:</h2>
<div id='glados_es_gs__catalog' data-hb-template='catalog-template'>

</div>


<script id="catalog-template" type="text/x-handlebars-template">
{% verbatim %}
<table>
    <tr>
        <th>ID</th>
        <th>Value</th>
    </tr>

    {{#each rows}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.value}}</td>
    </tr>
    {{/each}}
</table>
{% endverbatim %}
</script>
{% endblock %}

{% block custom_js_inline%}

rows = []
rows_gen = []
for (var key in django.catalog) {

  if (key.startsWith('glados_es_gs__')){
   rows_gen.push({id: key, value: django.catalog[key]});
  }
  else{
    rows.push({id: key, value: django.catalog[key]});
  }

}
$catalogTable = $('#catalog');
glados.Utils.fillContentForElement($catalogTable, {rows: rows});
$catalogTable = $('#glados_es_gs__catalog');
glados.Utils.fillContentForElement($catalogTable, {rows: rows_gen});

glados.apps.Main.MainGladosApp.hideMainSplashScreen()

{% endblock %}