{% extends "glados/base/base_layout.html" %}

{% block title %}Target Report Card{% endblock %}

{% block content %}

<div class="container main-container">


  {% block breadcrumb %}
  {% include "glados/base/breadcrumb.html" %}
  {% endblock %}

  <div class="row">

    <!-- the scrollspy disappears in medium and down -->
    <div class="col m12 l10">

      <h2>Target Report Card</h2>

      <div class="divider"></div>
      <div id="TargetNameAndClassification" class="section scrollspy">
        <h3>Target Name and Classification</h3>

        <div class="row">

        {% block tnc %}
          {% with is_dynamic=True  %}
            {% include "glados/TargetReportCardParts/NameAndClassification.html" %}
          {% endwith %}
        {% endblock %}

        </div>


      </div>

      <div class="divider"></div>
      <div id="TargetComponents" class="section scrollspy">
        <h3>Target Components</h3>

        <div class="row">
        {% block tc %}
          {% with is_dynamic=True  %}
            {% include "glados/TargetReportCardParts/Components.html" %}
          {% endwith %}
        {% endblock %}

        </div>


      </div>

      <div class="divider"></div>
      <div id="TargetRelations" class="section scrollspy">
        <h3>Target Relations</h3>

        <div class="row">

         {% block tr %}
            {% with is_dynamic=True  %}
              {% include "glados/TargetReportCardParts/Relations.html" %}
            {% endwith %}
          {% endblock %}

        </div>


      </div>

      <div class="divider"></div>
      <div id="ApprovedDrugsAndClinicalCandidates" class="section scrollspy">
        <h3>Approved Drugs And Clinical Candidates</h3>

         <div class="row">

        {% block adcc %}
           {% with is_dynamic=True  %}
            {% include "glados/TargetReportCardParts/ApprovedDrugsAndClinicalCandidates.html" %}
           {% endwith %}
        {% endblock %}

        </div>


      </div>

       <div class="divider"></div>
      <div id="TargetAssociatedBioactivities" class="section scrollspy">
        <h3>Target Associated Bioactivities</h3>

         {% with is_dynamic=True  %}
          {% include "glados/TargetReportCardParts/AssociatedBioactivities.html" %}
         {% endwith %}

      </div>

      <div class="divider"></div>
      <div id="TargetAssociatedAssays" class="section scrollspy">
        <h3>Target Associated Assays</h3>

        {% with is_dynamic=True  %}
          {% include "glados/TargetReportCardParts/AssociatedAssays.html" %}
        {% endwith %}


      </div>

      <div class="divider"></div>
      <div id="TargetLigandEfficiencies" class="section scrollspy">
        <h3>Target Ligand Efficiencies</h3>

        {% with is_dynamic=True  %}
          {% include "glados/TargetReportCardParts/LigandEfficiencies.html" %}
        {% endwith %}


      </div>

      <div class="divider"></div>
      <div id="TargetAssociatedCompoundProperties" class="section scrollspy">
        <h3>Target Associated Compound Properties</h3>

        <p>stuff</p>


      </div>

      <div class="divider"></div>
      <div id="TargetCrossReferencesGene" class="section scrollspy">
        <h3>Target Cross References - Gene</h3>

        <div class="row">
        {% block gtcr %}
          {% include "glados/TargetReportCardParts/GeneCrossReferences.html" %}
        {% endblock %}

        </div>


      </div>

      <div class="divider"></div>
      <div id="TargetCrossReferencesProtein" class="section scrollspy">
        <h3>Target Cross References - Protein</h3>

        <div class="row">
        {% block ptcr %}
          {% include "glados/TargetReportCardParts/ProteinCrossReferences.html" %}
        {% endblock %}

        </div>


      </div>

      <div class="divider"></div>
      <div id="TargetCrossReferencesDomain" class="section scrollspy">
        <h3>Target Cross References - Domain</h3>

        <div class="row">
          {% block dtcr %}
            {% include "glados/TargetReportCardParts/DomainCrossReferences.html" %}
          {% endblock %}
        </div>


      </div>

      <div class="divider"></div>
      <div id="TargetCrossReferencesStructure" class="section scrollspy">
        <h3>Target Cross References - Structure</h3>

        <div class="row">
          {% block stcr %}
            {% include "glados/TargetReportCardParts/StructureCrossReferences.html" %}
          {% endblock %}
        </div>


      </div>


    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Scrolspy -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="col l2 hide-on-med-and-down">

      <div class="scrollspy-wrapper pin-top">

        <ul class="section table-of-contents">
          <li><a href="#TargetNameAndClassification">
            <small>Name And Classification</small>
          </a></li>
          <li><a href="#TargetComponents">
            <small>Components</small>
          </a></li>
          <li><a href="#TargetRelations">
            <small>Relations</small>
          </a></li>
          <li><a href="#ApprovedDrugsAndClinicalCandidates">
            <small>Drugs And Clinical Candidates</small>
          </a></li>
          <li><a href="#TargetAssociatedBioactivities">
            <small>Target Associated Bioactivities</small>
          </a></li>
          <li><a href="#TargetAssociatedAssays">
            <small>Associated Assays</small>
          </a></li>
          <li><a href="#TargetLigandEfficiencies">
            <small>Ligand Efficiencies</small>
          </a></li>
          <li><a href="#TargetAssociatedCompoundProperties">
            <small>Associated Compound Properties</small>
          </a></li>
          <li><a href="#TargetCrossReferencesGene">
            <small>Gene Cross References</small>
          </a></li>
          <li><a href="#TargetCrossReferencesProtein">
            <small>Protein Cross References</small>
          </a></li>
          <li><a href="#TargetCrossReferencesDomain">
            <small>Domain Cross References</small>
          </a></li>
          <li><a href="#TargetCrossReferencesStructure">
            <small>Structure Cross References</small>
          </a></li>
        </ul>

      </div>
    </div>


  </div>

</div>

{% endblock %}

{% block custom_js %}

{% endblock %}

{% block custom_js_inline %}

TargetReportCardApp.init();

{% endblock %}

