{% extends "glados/base/base_layout.html" %}

{% block title %}Target Report Card{% endblock %}

{% block content %}

    <div class="container main-container">


        {% block breadcrumb %}
            {% include "glados/base/breadcrumb.html" %}
        {% endblock %}

        <div class="row">

            <!-- the scrollspy disappears in medium and down -->
            <div class="col m12 l10">

                <h2>Target Report Card</h2>

                <div id="TargetNameAndClassification" class="section scrollspy">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% block tnc %}
                            {% with is_dynamic=True %}
                                {% include "glados/TargetReportCardParts/NameAndClassification.html" %}
                            {% endwith %}
                        {% endblock %}
                    </div>
                </div>

                <div id="TargetComponents" class="section scrollspy" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% block tc %}
                            {% with is_dynamic=True %}
                                {% include "glados/TargetReportCardParts/Components.html" %}
                            {% endwith %}
                        {% endblock %}
                    </div>
                </div>

                <div id="TargetRelations" class="section scrollspy" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% block tr %}
                            {% with is_dynamic=True %}
                                {% include "glados/TargetReportCardParts/Relations.html" %}
                            {% endwith %}
                        {% endblock %}
                    </div>

                </div>

                <div class="divider"></div>
                <div id="ApprovedDrugsAndClinicalCandidates" class="section scrollspy" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% block adcc %}
                            {% with is_dynamic=True %}
                                {% include "glados/TargetReportCardParts/ApprovedDrugsAndClinicalCandidates.html" %}
                            {% endwith %}
                        {% endblock %}

                    </div>
                
                </div>

                <div id="ActivityCharts" class="section scrollspy">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row piechart-group BCK-section-content">
                        <div class="col m12 l6 piechart-col">
                            <div id="TargetAssociatedBioactivities" class="section piechart-section">
                                <h4 class="center-align">Target Associated Bioactivities</h4>
                                {% with is_dynamic=True %}
                                    {% include "glados/TargetReportCardParts/AssociatedBioactivities.html" %}
                                {% endwith %}
                            </div>
                        </div>

                        <div class="col m12 l6 piechart-col">
                            <div id="TargetAssociatedAssays" class="section piechart-section">
                                <h4 class="center-align">Target Associated Assays</h4>
                                {% with is_dynamic=True %}
                                    {% include "glados/TargetReportCardParts/AssociatedAssays.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>

                </div>

                <div id="TargetLigandEfficiencies" class="section scrollspy">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/TargetReportCardParts/LigandEfficiencies.html" %}
                        {% endwith %}
                    </div>


                </div>

                <div id="TargetAssociatedCompoundProperties" class="section scrollspy">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/TargetReportCardParts/AssociatedCompounds.html" %}
                        {% endwith %}
                    </div>


                </div>

                <div id="TargetCrossReferencesGene" class="section scrollspy">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% block gtcr %}
                            {% include "glados/TargetReportCardParts/GeneCrossReferences.html" %}
                        {% endblock %}

                    </div>


                </div>

                <div id="TargetCrossReferencesProtein" class="section scrollspy">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% block ptcr %}
                            {% include "glados/TargetReportCardParts/ProteinCrossReferences.html" %}
                        {% endblock %}

                    </div>


                </div>

                <div id="TargetCrossReferencesDomain" class="section scrollspy">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% block dtcr %}
                            {% include "glados/TargetReportCardParts/DomainCrossReferences.html" %}
                        {% endblock %}
                    </div>


                </div>

                <div id="TargetCrossReferencesStructure" class="section scrollspy">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% block stcr %}
                            {% include "glados/TargetReportCardParts/StructureCrossReferences.html" %}
                        {% endblock %}
                    </div>


                </div>


            </div>

            <!-- - - - - - - - - - - - - - - - - - - - - - - -->
            <!-- Scrolspy -->
            <!-- - - - - - - - - - - - - - - - - - - - - - - -->

            <div class="col l2 hide-on-med-and-down">
                {% include "glados/base/ScrollSpy/DefaultScrollSpyContent.html" %}
            </div>

        </div>

    </div>

{% endblock %}

{% block custom_js %}

{% endblock %}

{% block custom_js_inline %}

    TargetReportCardApp.init();

{% endblock %}

