{% extends "glados/base/base_layout.html" %}

{% load static %}

{% block open_graph_tags %}

    <meta property="og:title" content="{{ og_tags.chembl_id }}"/>
    <meta property="og:description" content="Target Report Card for {{ og_tags.chembl_id }} {{ og_tags.name}} ({{ og_tags.type }})"/>
    <meta property="og:type" content="object" />
    <meta property="og:url" content="{{request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{% static 'img/og_main.png' %}" />
    <meta property="og:image:secure_url" content="https://{{ request.get_host }}{% static 'img/og_main.png' %}" />
    <meta property="og:image:type" content="image/png" />

    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

{% endblock %}

{% block title %}Target Report Card{% endblock %}

{% block content %}

    <div class="container main-container report-card-container">

        <div class="row">

            <!-- the scrollspy disappears in medium and down -->
            <div class="col m12 l10">

                <h2>Target Report Card</h2>

                <div id="TargetNameAndClassification">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% block tnc %}
                            {% with is_dynamic=True %}
                                {% include "glados/TargetReportCardParts/NameAndClassification.html" %}
                            {% endwith %}
                        {% endblock %}
                    </div>
                </div>

                <div id="TargetComponents" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% block tc %}
                            {% with is_dynamic=True %}
                                {% include "glados/TargetReportCardParts/Components.html" %}
                            {% endwith %}
                        {% endblock %}
                    </div>
                </div>

                <div id="TargetRelations" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% block tr %}
                            {% with is_dynamic=True %}
                                {% include "glados/TargetReportCardParts/Relations.html" %}
                            {% endwith %}
                        {% endblock %}
                    </div>

                </div>

                <div id="ApprovedDrugsAndClinicalCandidates" style="display: none;">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">

                        {% block adcc %}
                            {% with is_dynamic=True %}
                                {% include "glados/TargetReportCardParts/ApprovedDrugsAndClinicalCandidates.html" %}
                            {% endwith %}
                        {% endblock %}

                    </div>
                
                </div>

                <div id="ActivityCharts">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row piechart-group BCK-section-content">
                        <div class="col s12 m6 piechart-col">
                            <div id="TargetAssociatedBioactivities" class="section piechart-section">
                                <h4 class="center-align">Associated Bioactivities</h4>
                                {% with is_dynamic=True %}
                                    {% include "glados/TargetReportCardParts/AssociatedBioactivities.html" %}
                                {% endwith %}
                            </div>
                        </div>

                        <div class="col s12 m6 piechart-col">
                            <div id="TargetAssociatedAssays" class="section piechart-section">
                                <h4 class="center-align">Associated Assays</h4>
                                {% with is_dynamic=True %}
                                    {% include "glados/TargetReportCardParts/AssociatedAssays.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>

                </div>

                <div id="TargetLigandEfficiencies">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/TargetReportCardParts/LigandEfficiencies.html" %}
                        {% endwith %}
                    </div>


                </div>

                <div id="TargetAssociatedCompoundProperties">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/TargetReportCardParts/AssociatedCompounds.html" %}
                        {% endwith %}
                    </div>


                </div>

                <div id="TargetCrossReferencesGene">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/TargetReportCardParts/GeneCrossReferences.html" %}
                        {% endwith %}

                    </div>


                </div>

                <div id="TargetCrossReferencesProtein">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/TargetReportCardParts/ProteinCrossReferences.html" %}
                        {% endwith %}

                    </div>


                </div>

                <div id="TargetCrossReferencesDomain">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/TargetReportCardParts/DomainCrossReferences.html" %}
                        {% endwith %}
                    </div>


                </div>

                <div id="TargetCrossReferencesStructure">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/TargetReportCardParts/StructureCrossReferences.html" %}
                        {% endwith %}
                    </div>


                </div>


            </div>

            <!-- - - - - - - - - - - - - - - - - - - - - - - -->
            <!-- Scrolspy -->
            <!-- - - - - - - - - - - - - - - - - - - - - - - -->

            <div class="col l2 hide-on-med-and-down">
                {% include "glados/base/ScrollSpy/DefaultScrollSpyContent.html" %}
            </div>

        </div>

    </div>

{% endblock %}

{% block custom_js %}

{% endblock %}

{% block custom_js_inline %}

    TargetReportCardApp.init();

{% endblock %}

