{% extends "glados/base/base_layout.html" %}

{% block title %}Tissue Report Card{% endblock %}

{% block content %}

    <div class="container main-container">

        <div class="row">

            <!-- the scrollspy disappears in medium and down -->
            <div class="col m12 l10">

                <h2>Tissue Report Card</h2>

                <div id="BasicInformation" class="section scrollspy">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/TissueReportCardParts/BasicInformation.html" %}
                        {% endwith %}
                    </div>

                </div>

                <div id="ActivityCharts" class="section scrollspy">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row piechart-group BCK-section-content">
                        <div class="col m12 l6 piechart-col">
                            <div id="AssaySummary" class="section piechart-section">
                                <h4 class="center-align">Assay Summary</h4>
                                {% with is_dynamic=True %}
                                    {% include "glados/TissueReportCardParts/AssaySummary.html" %}
                                {% endwith %}
                            </div>
                        </div>

                        <div class="col m12 l6 piechart-col">
                            <div id="BioactivitySummary" class="section piechart-section">
                                <h4 class="center-align">Bioactivity Summary</h4>
                                {% with is_dynamic=True %}
                                    {% include "glados/TissueReportCardParts/ActivitySummary.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="CompoundSummaries" class="section scrollspy">
                    {% include "glados/base/ReportCards/Sections/DefaultSectionContent.html" %}

                    <div class="row BCK-section-content">
                        {% with is_dynamic=True %}
                            {% include "glados/TissueReportCardParts/CompoundSummary.html" %}
                        {% endwith %}
                    </div>

                </div>

            </div>

            <!-- - - - - - - - - - - - - - - - - - - - - - - -->
            <!-- Scrolspy -->
            <!-- - - - - - - - - - - - - - - - - - - - - - - -->

            <div class="col l2 hide-on-med-and-down">
                {% include "glados/base/ScrollSpy/DefaultScrollSpyContent.html" %}
            </div>


        </div>

    </div>


{% endblock %}

{% load static %}


{% block custom_js_inline %}
    TissueReportCardApp.init();
{% endblock %}