{% extends "glados/base/base_layout.html" %}

{% block title %}Tissue Report Card{% endblock %}

{% block content %}

<div class="container main-container">


  {% block breadcrumb %}
  {% include "glados/base/breadcrumb.html" %}
  {% endblock %}

  <div class="row">

    <!-- the scrollspy disappears in medium and down -->
    <div class="col m12 l10">

      <h2>Tissue Report Card</h2>

      <div class="divider"></div>
      <div id="BasicInformation" class="section scrollspy">
        <h3>Basic Information</h3>

        <div class="row">
          {% with is_dynamic=True  %}
          {% include "glados/TissueReportCardParts/BasicInformation.html" %}
          {% endwith %}
        </div>

      </div>

      <div id="AssaySummary" class="section scrollspy">
        <h3>Assay Summary</h3>

        <div class="row">
          {% with is_dynamic=True  %}
            {% include "glados/TissueReportCardParts/AssaySummary.html" %}
          {% endwith %}
        </div>

      </div>

      <div id="BioactivitySummary" class="section scrollspy">
        <h3>Bioactivity Summary</h3>

        <div class="row">
          {% with is_dynamic=True  %}
            {% include "glados/TissueReportCardParts/ActivitySummary.html" %}
          {% endwith %}
        </div>

      </div>

      <div id="CompoundSummaries" class="section scrollspy">
        <h3>Compound Summaries</h3>

        <div class="row">
          {% with is_dynamic=True  %}
            {% include "glados/TissueReportCardParts/CompoundSummary.html" %}
          {% endwith %}
        </div>

      </div>

    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Scrolspy -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="col l2 hide-on-med-and-down">
      {% include "glados/base/ScrollSpy/DefaultScrollSpyContent.html" %}
    </div>


  </div>

</div>


{% endblock %}

{% load static %}


{% block custom_js_inline %}
TissueReportCardApp.init();
{% endblock %}