{% extends "glados/base/base_layout.html" %}

{% block title %} Visualise ChEMBL {% endblock %}

{% block content %}

    <div class="container">

        <div class="text-section vis-section valign-wrapper row">

            <h2 class="col l12 center">

                Visualise ChEMBL

            </h2>

            <p class ="col l12 center">
                Text about what this page is about bla bla balas
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua
            </p>

        </div>

        <div class="vis-section">

            <h3>  Protein Target Classification  </h3>

            {% with is_dynamic=True %}
                {% include "glados/MainPageParts/Visualizations/zoomable_sunburst.html" %}
            {% endwith %}

        </div>

        <div class="btn-container center">

                <a class="hollow-button" href="/g/#browse/targets" target="_blank">
                    Browse all Targets
                </a>

        </div>

        <div class="divider"></div>

        <div class="vis-section">

            <h3> Drugs by Max Phase and Usan Year </h3>

            {% with is_dynamic=True %}
                {% include "glados/MainPageParts/Visualizations/PapersPerYearHistogram.html" %}
            {% endwith %}

        </div>

        <div class="btn-container center">

            <a class="hollow-button" href="/g/#browse/targets" target="_blank">
                Browse all Targets
            </a>

        </div>

        <div class="divider"></div>

        <div class="vis-section">

            <h3> Organism Taxonomy Classification </h3>

            {% with is_dynamic=True %}
                {% include "glados/MainPageParts/TargetBrowserParts/browse_as_circles.html" %}
            {% endwith %}

        </div>

        <div class="btn-container center">

            <a class="hollow-button" href="/g/#browse/targets" target="_blank">
                Browse all Targets
            </a>

        </div>

        <div class="divider"></div>

        <div class="vis-section">

            <h3> Drugs By Max Phase and Disease</h3>

            {% with is_dynamic=True %}
                    {% include "glados/MainPageParts/Visualizations/MaxPhaseForDiseaseDonut.html" %}
            {% endwith %}

        </div>

        <div class="btn-container center">

            <a class="hollow-button" href="/g/#browse/targets" target="_blank">
                Browse all Targets
            </a>

        </div>

    </div>



{% endblock %}

{% block custom_js_inline %}

    glados.apps.VisualisePageApp.init();

{% endblock %}