{% extends "glados/base/base_layout.html" %}

{% block title %} Visualise ChEMBL {% endblock %}

{% block content %}

    <div class="color-block">

        <div class="container">

            <div class="text-section vis-section valign-wrapper row">

                <h2 class="col l12 header-dark-grey ">

                    Visualise ChEMBL

                </h2>

                <p class ="col l12 vis-paragraph">
                    A visual overview of ChEMBL and a starting point for exploring the database.
                </p>

            </div>

        </div>

    </div>

    <div class="BCK-visualisations-with-captions" data-hb-template="Handlebars-FullPage-visContainer"></div>


{% endblock %}

{% block custom_js_inline %}

    glados.apps.VisualisePageApp.init();

{% endblock %}