{% extends "glados/base/base_layout.html" %}

{% block title %} Visualise ChEMBL {% endblock %}

{% block content %}

    <div class="color-block">

        <div class="container">

            <div class="text-section vis-section valign-wrapper row">

                <h2 class="col l12 header-dark-grey ">

                    Visualise ChEMBL

                </h2>

                <p class ="col l12 vis-paragraph">
                    A visual overview of ChEMBL and a starting point for exploring the database.
                </p>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="vis-section">

            <h3 class="header-dark-grey">  Protein Target Classification  </h3>

            {% with is_dynamic=True %}
                {% include "glados/MainPageParts/Visualizations/zoomable_sunburst.html" %}
            {% endwith %}

        </div>

        <div class="BCK-browse-button btn-container center"
             data-hb-template="Handlebars-circles-browser-button-medium">

            <a class="hollow-button" href="/g/#browse/targets" target="_blank">

                Browse all Targets

            </a>

        </div>

    </div>

    <div class="divider"></div>

    <div class="container">

        <div class="vis-section">

            <h3 class="header-dark-grey"> Drugs by Max Phase and Usan Year </h3>

            {% with is_dynamic=True %}
                {% include "glados/MainPageParts/Visualizations/PapersPerYearHistogram.html" %}
            {% endwith %}

        </div>

        <div class="btn-container center">

            <a class="hollow-button" href="/g/#browse/drugs/filter/_metadata.compound_records.src_id:13"
               target="_blank">

                Browse all USAN Drugs

            </a>

        </div>

    </div>

        <div class="divider"></div>

    <div class="container">

        <div class="vis-section">

            <h3 class="header-dark-grey"> Organism Taxonomy Classification </h3>

            {% with is_dynamic=True %}
                {% include "glados/MainPageParts/TargetBrowserParts/browse_as_circles.html" %}
            {% endwith %}

        </div>

        <div class="BCK-browse-button-circles btn-container center"
             data-hb-template="Handlebars-circles-browser-button-medium">

            <a class="hollow-button" href="/g/#browse/targets" target="_blank">

                Browse all Targets

            </a>

        </div>

    </div>

        <div class="divider"></div>

    <div class="container">

        <div class="vis-section">

            <h3 class="header-dark-grey"> Drugs By Max Phase and Disease</h3>

            {% with is_dynamic=True %}
                    {% include "glados/MainPageParts/Visualizations/MaxPhaseForDiseaseDonut.html" %}
            {% endwith %}

        </div>

        <div class="btn-container center">

            <a class="hollow-button" href="/g/#browse/drugs" target="_blank">
                Browse all Drugs
            </a>

        </div>

    </div>



{% endblock %}

{% block custom_js_inline %}

    glados.apps.VisualisePageApp.init();

{% endblock %}