{% extends "glados/base/base_layout.html" %}

{% block title %}ChEMBL Drug Browser{% endblock %}

{% block content %}




<div class="container">
  <h2>
    <span><i class="icon icon-generic" data-icon="u"></i>Browse Drugs</span>
  </h2>

  <div id="DrugInfBrowser">



    <div class="row controls hide">


      <div class="input-field col s10 m4 select-sort-container" data-hb-template="Handlebars-Common-SortSelect">

          <!-- Backbone fills this from the corresponding view-->

      </div>

      <div class="col s2 full-height btn-sort-direction-container" data-hb-template="Handlebars-Common-SortDirectionBtn">

         <!-- Backbone fills this from the corresponding view -->

      </div>

    </div>

    <div class="row">

      <div class="input-field col s6">
        <input type="text" id="search1" class="search" data-column="molecule_chembl_id" data-column-type="text">
        <label for="search1">molecule_chembl_id</label>
      </div>

      <div class="input-field col s6">
        <input type="text" id="search2" class="search" data-column="molecule_type" data-column-type="text">
        <label for="search2">molecule_type</label>
      </div>

      <div class="input-field col s6">
        <input type="text" id="search3" class="search" data-column="pref_name" data-column-type="text">
        <label for="search3">pref_name</label>
      </div>

      <div class="input-field col s6">

        <select class="select-search" data-column="dosed_ingredient" data-column-type="boolean" >
          <option value="any">Any</option>
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
        <label>dosed_ingredient</label>

      </div>

      <div class="col s6">
        max_phase:
        <div id="search_max_phase" class="numeric-search" data-column="max_phase" data-column-type="numeric"></div>
      </div>

    </div>

    <div class="col s12 num-results" data-hb-template="Handlebars-Common-Paginated-NumResults">

      <!-- Backbone fills this with the infinity browser view -->

    </div>



    <div class='BCK-items-container row' data-is-infinite="yes"
         data-hb-template="Handlebars-Common-Paginated-Card">
      <!-- Backbone fills this with the infinity browser view -->

    </div>

    <div class="BCK-PreloaderContainer">
      {% block preloaders %}
        {% include "glados/base/infinite_browse_loaders.html" %}
      {% endblock %}
    </div>

  </div>
</div>

{% endblock %}

{% block custom_js_inline %}
// TODO: use the new pattern
var drugList = glados.models.paginatedCollections.PaginatedCollectionFactory.getNewDrugList();
var infBrowser = DrugBrowserApp.initInfinityBrowserView(drugList, $('#DrugInfBrowser'));
drugList.fetch({reset: true});


{% endblock %}