{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}TiBasicInformation{% endblock %}

{% block table %}

<table class="compact-table striped hide-on-small-only">

  <tr>
    <td class="fixed-width-column-11"><b>ChEMMBL ID:</b></td>
    <td>CHEMBL3559721</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Name:</b></td>
    <td>blood plasma</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Uberon:</b></td>
    <td>UBERON:0001969</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>EFO:</b></td>
    <td></td>
  </tr>

</table>

{% endblock %}

{% block collection %}

<ul class="collection hide-on-med-and-up">

  <li class="collection-item">

    <b>ChEMMBL ID:</b> CHEMBL3559721

  </li>

  <li class="collection-item">

    <b>Name:</b> blood plasma

  </li>

  <li class="collection-item">

    <b>Uberon:</b> UBERON:0001969

  </li>

  <li class="collection-item">

    <b>EFO:</b>

  </li>

</ul>

{% endblock %}

