{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}TiBasicInformation{% endblock %}

{% block table %}

<div id="BCK-TBI-large" data-hb-template="Handlebars-Tissue-BasicInformation-large">
</div>

{% verbatim %}

<script id="Handlebars-Tissue-BasicInformation-large" type="text/x-handlebars-template">

  <table class="compact-table striped hide-on-small-only">

    <tr>
      <td class="fixed-width-column-11"><b>ChEMBL ID:</b></td>
      <td>{{chembl_id}}</td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Name:</b></td>
      <td>{{name}}</td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Uberon:</b></td>
      <td>{{uberon_id}}</td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>EFO:</b></td>
      <td>{{efo_id}}</td>
    </tr>

  </table>

</script>
{% endverbatim %}

{% endblock %}

{% block collection %}

<div id="BCK-TBI-small" data-hb-template="Handlebars-Tissue-BasicInformation-small">
</div>

{% verbatim %}

<script id="Handlebars-Tissue-BasicInformation-small" type="text/x-handlebars-template">

  <ul class="collection hide-on-med-and-up">

    <li class="collection-item">

      <b>ChEMBL ID:</b> {{chembl_id}}

    </li>

    <li class="collection-item">

      <b>Name:</b> {{name}}

    </li>

    <li class="collection-item">

      <b>Uberon:</b> {{uberon_id}}

    </li>

    <li class="collection-item">

      <b>EFO:</b> {{efo_id}}

    </li>

  </ul>

</script>

{% endverbatim %}

{% endblock %}

