{% verbatim %}
<script id="Handlebars-Common-CardError" type="text/x-handlebars-template">

  <i class="fa fa-exclamation-circle"></i> {{msg}}

</script>

<script id="Handlebars-Common-EmbedCode" type="text/x-handlebars-template">

  <object data="http://glados-ebitest.rhcloud.com/compound_report_card/{{chembl_id}}/embed/{{section_name}}/"
             width="360px" height="600px"></object>

</script>

<script id="Handlebars-Common-Preloader" type="text/x-handlebars-template">

  <div class="card-preolader-to-hide">

  <div class="progress">
    <div class="indeterminate"></div>
  </div>


</div>

</script>





{% endverbatim %}
