{% verbatim %}

<script id="Handlebars-Common-ESResultsListInfiniteView" type="text/x-handlebars-template">
{% endverbatim %}
  {% include "glados/base/PaginatedCollections/DefaultInfinityBrowserContent.html" %}
{% verbatim %}
</script>

<script id="Handlebars-Common-ESResultsListGraphView" type="text/x-handlebars-template">

  <span class="load-messages-container">
  </span>

  <div class="card grey lighten-5">
    <div class="card-content">
      {% endverbatim %}

        {% include "glados/base/Visualisation/DefaultScatterPLotContent.html" %}

      {% verbatim %}
    </div>
  </div>

</script>

<script id="Handlebars-Common-ESResultsListTableView" type="text/x-handlebars-template">

  {% endverbatim %}
    {% include "glados/base/PaginatedCollections/DefaultTableContent.html" %}
  {% verbatim %}

</script>

{% endverbatim %}

{% verbatim %}
<script id="Handlebars-Common-ESResultsListCardsView" type="text/x-handlebars-template">

{% endverbatim %}
    {% include "glados/base/PaginatedCollections/DefaultCardPageContent.html" %}
{% verbatim %}
</script>

<script id="Handlebars-Common-ESResultsListHeatmapView" type="text/x-handlebars-template">

  <span class="load-messages-container">
  </span>
  <div class="card grey lighten-5">
    <div class="card-content">
    {% endverbatim %}
      {% include "glados/ActivityAggregations/ActivityAggregationMatrixBase.html" %}
    {% verbatim %}
    </div>
  </div>
</script>

<script id="Handlebars-DownloadColButtons" type="text/x-handlebars-template">

  <div class="buttons-container">
    {{#each formats}}
    <a class="menu-button big BCK-download-btn-for-format" data-format="{{this}}"><i class="fa fa-download"></i> {{this}}</a>
    {{/each}}
  </div>

</script>

<script id="Handlebars-SwitchColViewButtons" type="text/x-handlebars-template">

  <div class="summary-tabs">
    {{#each options}}<a class="section-item BCK-btn-switch-view {{#if is_disabled}}disabled{{/if}}"
      data-view="{{this.label}}"
      data-disabled-reason="{{this.disable_reason}}">
      <p class="icon"><i class="fa {{this.icon_class}}"></i></p>
      <p class="label">{{this.label}}</p>
    </a>{{/each}}
  </div>

</script>

<script id="Handlebars-SelectionMenu" type="text/x-handlebars-template">

  <div class="selection-menu">
    <div class="selection-information">

      <b>
          {{#if out_of_n}}
            Showing first {{total_items}} {{entity_label}} out of {{out_of_n}}
          {{else}}
            {{total_items}} {{entity_label}}
          {{/if}}
      </b><br>
      {{num_selected}} Selected -
      <a class="BCK-toggle-clear-selections">
        {{#if none_is_selected}}
        Select All
        {{else}}
        Clear Selections
        {{/if}}
      </a>
    </div>

    <div class="BCK-LinkToOtherEntitiesContainer link-to-other-entities-container"
                                     data-hb-template="Handlebars-LinkToAllActivities"> </div>

  </div>

</script>

<script id="Handlebars-LinkToAllActivities" type="text/x-handlebars-template">


    <div class="menu-and-main-link-container">

        <div class="menu-opener">

            <div class="BCK-additional-links-container additional-links" style="display: none"
            data-id="{{ generated_id_base }}">

                {{#each rest_of_entities}}
                    <div class="link-row">
                        <i class="BCK-preloader fa fa-cog fa-spin fa-fw" data-destination-entity="{{ this.singular }}"
                        style="display: none">
                        </i>
                        <a class="BCK-LinkToOtherEntities {{#if this.too_many_items}}disabled{{/if}}"
                           data-destination-entity="{{ this.singular }}">
                            Browse {{ this.plural }}
                        </a>
                    </div>
                {{/each}}
            </div>

        </div>

        <div class="link-container" style="display: inline;">
            <i class="BCK-preloader fa fa-cog fa-spin fa-fw" data-destination-entity="{{ first_entity.singular }}"
            style="display: none">
            </i>
            <a class="BCK-LinkToOtherEntities {{#if too_many_items}}disabled{{/if}}"
            data-destination-entity="{{ first_entity.singular }}">
                Browse {{ first_entity.plural }}
            </a>
            
            <a {% endverbatim %}href="{%  url 'faqs_browsing_related_entities' %}"{% verbatim %}>
                <i class="BCK-preloader fa fa-question-circle" ></i>
            </a>
        </div>
    </div>

</script>

<script id="Handlebars-ESResultsList" type="text/x-handlebars-template">

  <h2 class="browser-header" >
    {{entity_name}}
  </h2>

  {% endverbatim %}
    {% include "glados/Browsers/DefaultBrowserContent.html" %}
  {% verbatim %}
</script>

<script id="Handlebars-ESResultsListTitleAndMenu" type="text/x-handlebars-template">
  <h3>{{es_results_list_title}}
    <small><small>
      <a id ="{{es_results_list_id}}-filter-link" href="{{es_results_url_path}}" style="display: none">Filter {{es_results_list_title}} results</a>
      <a id ="{{es_results_list_id}}-all-link" href="{{es_all_results_url_path}}" style="display: none">Explore All Results</a>
    </small></small>
  </h3>

  <div id ="{{es_results_list_id}}-menu">
    {% endverbatim %}
      {% include "glados/Browsers/DefaultBrowserMenuContent.html" %}
    {% verbatim %}
  </div>

</script>

<script id="Handlebars-BrowserMenuContent" type="text/x-handlebars-template">
  <div class="col s12 m5 l5 BCK-changeView-btns-container view-menu"
       data-hb-template="Handlebars-SwitchColViewButtons">
    <!-- backbone fills this -->
  </div>

  <div class="col s12 m3 l3 BCK-selection-menu-container selection-menu-container" data-hb-template="Handlebars-SelectionMenu">
    <!-- backbone fills this -->
  </div>

  <div class="col s12 m4 l4 BCK-download-btns-container download-menu valign-wrapper" data-hb-template="Handlebars-DownloadColButtons">
    <!-- backbone fills this -->
  </div>
</script>

{% endverbatim %}
{% include "glados/Handlebars/Browsers/QueryEditorSources.html" %}
