{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}ABasicInformation{% endblock %}

{% block table %}

<div id="BCK-ABI-large" data-hb-template="Handlebars-Assay-BasicInformation-large">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% verbatim %}

<script id="Handlebars-Assay-BasicInformation-large" type="text/x-handlebars-template">

  <table class="compact-table striped hide-on-small-only">

    <tr>
      <td class="fixed-width-column-11"><b>Assay ID:</b></td>
      <td id="Bck-Assay_ID">{{chembl_id}}</td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Type:</b></td>
      <td id="Bck-Assay_Type">{{type}}</td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Description:</b></td>
      <td id="Bck-Assay_Desc">{{description}}
      </td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Format:</b></td>
      <td id="Bck-Assay_Format">{{format}}</td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Journal:</b></td>
      <td><a href="{{reference_link}}" target="_blank">{{reference_text}}</a>
      </td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Organism:</b></td>
      <td id="Bck-Assay_Organism">{{#if organism}} {{organism}} {{else}} --- {{/if}}</td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Strain:</b></td>
      <td id="Bck-Assay_Strain">{{#if strain}} {{strain}} {{else}} --- {{/if}}</td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Tissue:</b></td>
      <td id="Bck-Assay_Tissue">{{#if tissue}} {{tissue}} {{else}} --- {{/if}}</td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Cell Type:</b></td>
      <td id="Bck-Assay_CellType">{{#if cell_type}} {{cell_type}} {{else}} --- {{/if}}</td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Subcellular Fraction:</b></td>
      <td id="Bck-Assay_SubCellFrac">{{#if subcellular_fraction}} {{subcellular_fraction}} {{else}} --- {{/if}}</td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Target:</b></td>
      <td><a href='{{target_link}}'>{{target_chembl_id}}</a></td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Document:</b></td>
      <td><a href='{{document_link}}'>{{document_chembl_id}}</a></td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Cell:</b></td>
      <td><a href='{{cell_link}}'>{{cell_chembl_id}}</a></td>
    </tr>

    <tr>
      <td class="fixed-width-column-11"><b>Tissue:</b></td>
      <td><a href='{{tissue_link}}'>{{tissue_chembl_id}}</a></td>
    </tr>

    {{#if show_assay_src_id }}
    <tr>
      <td class="fixed-width-column-11"><b>PubChem Source:</b></td>
      <td><a target="_blank" href='{{src_assay_id_link}}'>{{src_assay_id_text}}</a></td>
    </tr>
    {{/if }}

  </table>

</script>
{% endverbatim %}

{% endblock %}

{% block collection %}

{% verbatim %}

<div id="BCK-ABI-small" data-hb-template="Handlebars-Assay-BasicInformation-small">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

<script id="Handlebars-Assay-BasicInformation-small" type="text/x-handlebars-template">

<ul class="collection hide-on-med-and-up">
  <li class="collection-item">

    <b>Assay ID:</b> {{chembl_id}}

  </li>

  <li class="collection-item">

    <b>Type:</b> {{type}}

  </li>

  <li class="collection-item">

    <b>Description:</b> {{description}}

  </li>

  <li class="collection-item">

    <b>Format:</b> {{format}}

  </li>


  <li class="collection-item">

    <b>Journal:</b> <a href="http://europepmc.org/abstract/MED/19049433" target="_blank">J. Med. Chem. (2008)
    51:7991-7999</a>

  </li>

  <li class="collection-item">

    <b>Organism:</b> {{#if organism}} {{organism}} {{else}} --- {{/if}}

  </li>

  <li class="collection-item">

    <b>Strain:</b> {{#if strain}} {{strain}} {{else}} --- {{/if}}

  </li>

  <li class="collection-item">

    <b>Tissue:</b> {{#if tissue}} {{tissue}} {{else}} --- {{/if}}

  </li>

  <li class="collection-item">

    <b>Cell Type:</b> {{#if cell_type}} {{cell_type}} {{else}} --- {{/if}}

  </li>

  <li class="collection-item">

    <b>Subcellular Fraction:</b> {{#if subcellular_fraction}} {{subcellular_fraction}} {{else}} --- {{/if}}

  </li>

  <li class="collection-item">

    <b>No of Bioactivities:</b> 1

  </li>

</ul>

</script>

{% endverbatim %}

{% endblock %}