{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}ACurationSummaryCard{% endblock %}

{% block buttons %}

  {% block CurationSummary-dnld %}
    {% with btn_id='CurationSummary-dnld' additional_classes='hide-on-small-only' %}
      {% include "glados/base/btn_download_group.html" %}
    {% endwith %}
  {% endblock %}

  {% block CurationSummary-small-dnld %}
    {% with btn_id='CurationSummary-small-dnld' additional_classes='hide-on-med-and-up' %}
      {% include "glados/base/btn_download_small_2_lines.html" %}
    {% endwith %}
  {% endblock %}

{% endblock %}


{% block table %}

<div id="BCK-ACS-large" data-hb-template="Handlebars-AssayCurationSummary-large">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% verbatim %}
<script id="Handlebars-AssayCurationSummary-large" type="text/x-handlebars-template">

  <table class="compact-table striped hide-on-small-only">

    <tr>
      <th>
        Target
      </th>
       <th>
        Target Type
      </th>
       <th>
        Target Description
      </th>
    </tr>

    <tr>
      <td id="BCK-Assay-Target-Name"><a href="{{report_card_url}}" >{{pref_name}} ({{target_chembl_id}})</a></td>
      <td id="BCK-Assay-Target-Type">{{target_type}}</td>
      <td></td>
    </tr>

  </table>

</script>
{% endverbatim %}

{% endblock %}

{% block collection %}

<div id="BCK-ACS-small" data-hb-template="Handlebars-AssayCurationSummary-small">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% verbatim %}


<script id="Handlebars-AssayCurationSummary-small" type="text/x-handlebars-template">

<ul class="collection hide-on-med-and-up">
  <li class="collection-item">

    <b>Target:</b> <a href="{{report_card_url}}" >{{pref_name}} ({{target_chembl_id}})</a>
    <b>Type:</b> {{target_type}}

  </li>

</ul>

</script>

{% endverbatim %}

{% endblock %}