{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}DBasicInformation{% endblock %}

{% block buttons %}

 {% block DBasicInformation-dnld %}
    {% with btn_id='DBasicInformation-dnld' additional_classes='hide-on-small-only' %}
      {% include "glados/base/btn_download_group.html" %}
    {% endwith %}
  {% endblock %}

  {% block DBasicInformation-small-dnld-csv %}
    {% with btn_id='DBasicInformation-small-dnld-csv' additional_classes='hide-on-med-and-up' %}
      {% include "glados/base/btn_download_csv.html" %}
    {% endwith %}
  {% endblock %}

   {% block DBasicInformation-small-dnld-json %}
    {% with btn_id='DBasicInformation-small-dnld-csv' additional_classes='hide-on-med-and-up' %}
      {% include "glados/base/btn_download_json.html" %}
    {% endwith %}
  {% endblock %}

{% endblock %}

{% block table %}

<div id="BCK-DBI-large" data-hb-template="Handlebars-Document-BasicInformation-large">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% verbatim %}

<script id="Handlebars-Document-BasicInformation-large" type="text/x-handlebars-template">

<table class="compact-table striped hide-on-small-only">

  <tr>
    <td class="fixed-width-column-11"><b>Doc ID:</b></td>
    <td id="Bck-Doc_ID">{{doc_id}}</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Journal:</b></td>
    <td id="Bck-Journal">{{#if journal}} {{journal}} ({{year}}) {{volume}}:{{first_page}}-{{last_page}} {{/if}}</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Title:</b></td>
    <td>{{title}}</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Authors:</b></td>
    <td>{{authors}}</td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>Abstract:</b></td>
    <td>{{abstract}}
    </td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>CiteXplore:</b></td>
    <td><a id='Bck-Cite_Explore' href="http://europepmc.org/abstract/MED/{{pubmed_id}}" target="_blank">{{pubmed_id}}</a></td>
  </tr>

  <tr>
    <td class="fixed-width-column-11"><b>DOI:</b></td>
    <td><a id='Bck-DOI' href="http://dx.doi.org/{{doi}}" target="_blank">{{doi}}</a></td>
  </tr>

</table>

</script>
{% endverbatim %}

{% endblock %}

{% block collection %}

<div id="BCK-DBI-small" data-hb-template="Handlebars-Document-BasicInformation-small">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

{% verbatim %}

<script id="Handlebars-Document-BasicInformation-small" type="text/x-handlebars-template">

<ul class="collection hide-on-med-and-up">

  <li class="collection-item">

    <b>Doc ID:</b> {{doc_id}}

  </li>

  <li class="collection-item">

    <b>Journal:</b> {{journal}} ({{year}}) {{volume}}:{{first_page}}-{{last_page}}

  </li>

  <li class="collection-item">

    <b>Title:</b> Modified smear method for screening potential inhibitors of platelet aggregation from plant sources.

  </li>

  <li class="collection-item">

    <b>Authors:</b> Yun-Choi HS, Kim SO, Kim JH, Lee JR, Cho HI

  </li>

  <li class="collection-item">

    <b>Abstract:</b> The smear method developed by Velaskar and Chitre was modified to allow the massive screening of plant extracts
      and/or fractions for platelet antiaggregating activity. Aspirin and papaverine, known inhibitors of platelet
      aggregation, were tested by the modified method and showed comparable results with previously reported data.
      Fifty-four fractions prepared from eighteen plant species were screened for their inhibitory effects on adenosine
      5'-diphosphate, arachidonic acid, or collagen-induced rat platelet aggregation. The results suggest that plants
      could be a potential source of inhibitors of platelet aggregation.

  </li>

  <li class="collection-item">

    <b>CiteXplore:</b> <a href="http://europepmc.org/abstract/MED/{{pubmed_id}}" >{{pubmed_id}}</a>

  </li>

  <li class="collection-item">

    <b>DOI:</b> <a href="http://dx.doi.org/10.1021/{{doi}}" target="_blank">{{doi}}</a>

  </li>

    <li class="collection-item">

    <b>Patent ID:</b> <a href="https://www.surechembl.org/document/{{ patent_id }}" target="_blank">{{doi}}</a>

  </li>

</ul>

</script>
{% endverbatim %}

{% endblock %}