{% extends "glados/base/basic_table_card.html" %}

{% block card_id %}DRelatedDocuments{% endblock %}

{% block table %}

<table class="compact-table striped hide-on-small-only">

  <tr>
    <th>Reference</th>
    <th>Title</th>
  </tr>

  <tr>
    <td>
      <a href="/chembl/doc/inspect/CHEMBL3351875">
        ACS Med. Chem. Lett. (2014) 5:1162-1166 </a>
    </td>
    <td>
      Synthesis of Deuterated Benzopyran Derivatives as Selective COX-2 Inhibitors with Improved Pharmacokinetic
      Properties.
    </td>
  </tr>

  <tr>
    <td>
      <a href="/chembl/doc/inspect/CHEMBL3045211">
        Med Chem Res (2012) 21:3491-3498 </a>
    </td>
    <td>

    </td>
  </tr>

  <tr>
    <td>
      <a href="/chembl/doc/inspect/CHEMBL2062479">
        J. Med. Chem. (2012) 55:5143-5150 </a>
    </td>
    <td>
      Synthesis and Biological Evaluation of Derivatives of 2-{2-Fluoro-4-[(2-oxocyclopentyl)methyl]phenyl}propanoic
      Acid: Nonsteroidal Anti-Inflammatory Drugs with Low Gastric Ulcerogenic Activity
    </td>
  </tr>


</table>

{% endblock %}

{% block collection %}

<ul class="collection hide-on-med-and-up">

  <li class="collection-item">

    <b>Reference:</b> <a href="/chembl/doc/inspect/CHEMBL3351875"> ACS Med. Chem. Lett. (2014) 5:1162-1166 </a>
    <b>Title:</b> Synthesis of Deuterated Benzopyran Derivatives as Selective COX-2 Inhibitors with Improved
    Pharmacokinetic
    Properties.

  </li>

  <li class="collection-item">

    <b>Reference:</b> <a href="/chembl/doc/inspect/CHEMBL3045211">Med Chem Res (2012) 21:3491-3498 </a>
    <b>Title:</b>

  </li>

  <li class="collection-item">

    <b>Reference:</b> <a href="/chembl/doc/inspect/CHEMBL2062479">J. Med. Chem. (2012) 55:5143-5150 </a>
    <b>Title:</b> Synthesis and Biological Evaluation of Derivatives of
    2-{2-Fluoro-4- [(2-oxocyclopentyl)methyl] phenyl}propanoic
    Acid: Nonsteroidal Anti-Inflammatory Drugs with Low Gastric Ulcerogenic Activity

  </li>

</ul>

{% endblock %}
