{% extends "glados/base/base_layout.html" %}

{% block title %}Document Assay Network{% endblock %}

{% block custom_handlebars %}
  {% include "glados/DocumentAssayNetwork/DocumentAssayNetworkHBS.html" %}
{% endblock %}

{% block content %}

<div id='DAN-Main' class="container main-container">

  {% block vis_base %}
    {% include "glados/DocumentAssayNetwork/VisualisationBase.html" %}
  {% endblock %}

</div>
{% endblock %}

{% block custom_js_inline %}

DocumentReportCardApp.initAssayNetworkFS();

{% endblock %}