{% extends "glados/base/base_layout.html" %}

{% block side_nav %}
  {% with hide_side_nav=True %}
  {{block.super}}
  {% endwith %}
{% endblock side_nav %}

{% block title %}ChEMBL{% endblock %}

{% block content %}
<div class="container main-container">
  <h3>
    Substructure Search Results
  </h3>
   <div class="BCK-query-Container" data-hb-template="Handlebars-Common-StructureQuery">
  </div>
    <div id="BCK-loading-messages-container"></div>
  {% include "glados/Browsers/DefaultBrowserContent.html" %}
</div>

{% endblock %}

{% block custom_js_inline %}

SearchResultsApp.initSubstructureSearchResults();

{% endblock %}