<div class="BCK-header-container row" style="display: none">

  <div class="BCK-select-page-size-container col s12 m4" data-hb-template="Handlebars-Common-SelectPageSizeContainer">

    <!-- Backbone fills this, it will use the handlebars template defined in data-hb-template -->
  </div>

  <div class="BCK-selectAll-container col s12 m4 offset-m4 right-align" data-hb-template="Handlebars-Common-SelectAll">
  </div>

  <!-- these will be added when Elasticsearch results sorting is implemented -->
  <!--<div class="input-field col s4 m4 select-sort-container" data-hb-template="Handlebars-Common-SortSelect">-->

    <!--&lt;!&ndash; Backbone fills this from the corresponding view&ndash;&gt;-->

  <!--</div>-->

  <!--<div class="col s2 full-height btn-sort-direction-container" data-hb-template="Handlebars-Common-SortDirectionBtn">-->

    <!--&lt;!&ndash; Backbone fills this from the corresponding view &ndash;&gt;-->

  <!--</div>-->

</div>

<div class='BCK-PreloaderContainer row'>
  {% block comp_card_loaders %}
  {% include "glados/base/card_loaders.html" %}
  {% endblock %}
</div>

<div class='BCK-SuggestedLabel row' style="display: none">
  <h5>No records were found. However, we found the following similar results:</h5>
</div>

<div class='BCK-EmptyListMessage row' style="display: none">
  <h5>No records were found.</h5>
</div>

<div class='BCK-items-container row cards-container' data-hb-template="Handlebars-Common-Paginated-Card-Horizontal"
     style="display: none">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

<div class="BCK-footer-container row" style="display: none">

  <div class='BCK-paginator-container' data-hb-template="Handlebars-Common-Paginated-UL">

    <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

  </div>

</div>