<div class="row">

  <div class="BCK-select-page-size-container col s4" data-hb-template="Handlebars-Common-SelectPageSizeContainer">

    <!-- Backbone fills this, it will use the handlebars template defined in data-hb-template -->

  </div>

</div>


<div class="row">

  <div class="BCK-PreloaderContainer">
    {% block card_loaders %}
    {% include "glados/base/card_loaders.html" %}
    {% endblock %}
  </div>

  <table class="BCK-items-container compact-table striped hide-on-small-only ebi-links"
         data-hb-template="Handlebars-Common-Paginated-Row-large"
         data-hb-header-template="Handlebars-Common-Paginated-Header-large">

    <!-- Backbone fills this, it will use the handlebars template defined in data-hb-template -->

  </table>

  <ul class="BCK-items-container collection hide-on-med-and-up" data-hb-template="Handlebars-Common-Pagination-LI">

   <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

  </ul>

</div>

<div class="row">

  <div class='BCK-paginator-container' data-hb-template="Handlebars-Common-Paginated-UL">

    <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

  </div>

</div>