<div class="BCK-header-container row">

  <div class="BCK-select-page-size-container col s4" data-hb-template="Handlebars-Common-SelectPageSizeContainer">

    <!-- Backbone fills this, it will use the handlebars template defined in data-hb-template -->
  </div>

   <div class="input-field col s4 m4 select-sort-container" data-hb-template="Handlebars-Common-SortSelect">

      <!-- Backbone fills this from the corresponding view-->

  </div>

  <div class="col s2 full-height btn-sort-direction-container" data-hb-template="Handlebars-Common-SortDirectionBtn">

     <!-- Backbone fills this from the corresponding view -->

  </div>

</div>

<div class='BCK-PreoladerContainer row'>
  {% block comp_card_loaders %}
  {% include "glados/base/card_loaders.html" %}
  {% endblock %}
</div>

<div class='BCK-EmptyListMessage row'>
  <h5>No records were found.</h5>
</div>

<div class='BCK-items-container row' data-hb-template="Handlebars-Common-Paginated-Card-Horizontal">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

<div class="BCK-footer-container row">

  <div class='BCK-paginator-container' data-hb-template="Handlebars-Common-Paginated-UL">

    <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

  </div>

</div>