<div class="row BCK-PreloaderContainer">
  {% block card_loaders %}
  {% include "glados/base/card_loaders.html" %}
  {% endblock %}
</div>

<div class="row BCK-header-container">
  <div class="BCK-select-page-size-container col s4" data-hb-template="Handlebars-Common-SelectPageSizeContainer">

      <!-- Backbone fills this, it will use the handlebars template defined in data-hb-template -->

  </div>

  <div class="col offset-s3 s4">

    <div class="input-field">
      <input placeholder="Search" id="first_name" type="text" class="validate search">
    </div>

  </div>

</div>

<div class="table-top-scroller-container BCK-top-scroller-container hide-on-small-only">
  <div class="BCK-top-scroller-dummy">
  </div>
</div>

<table class="BCK-items-container compact-table scrollable striped hide-on-small-only ebi-links"
       data-hb-template="Handlebars-Common-Paginated-Row-large"
       data-hb-header-template="Handlebars-Common-Paginated-Header-large">

  <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</table>

<br>
<div class='BCK-paginator-container' data-hb-template="Handlebars-Common-Paginated-UL">

   <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</div>

<div class="BCK-selectAll-container col s6 hide-on-med-and-up" data-hb-template="Handlebars-Common-SelectAll">
</div>
<ul class="BCK-items-container collection hide-on-med-and-up" data-hb-template="Handlebars-Common-Pagination-LI">

   <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

</ul>