<div class="col s12 num-results" data-hb-template="Handlebars-Common-Paginated-NumResults">
  <!-- Backbone fills this with the infinity browser view -->
</div>


<div class='BCK-items-container row' data-is-infinite="yes"
     data-hb-template="Handlebars-Common-Paginated-Card">
  <!-- Backbone fills this with the infinity browser view -->
</div>

<div class="BCK-PreloaderContainer">
  {% block preloaders %}
  {% include "glados/base/infinite_browse_loaders.html" %}
  {% endblock %}
</div>

<div class="BCK-ErrorMessagesContainer">
</div>