<div class="paginated-collection">

  <div class="BCK-ErrorMessagesContainer">
  </div>

  <div class="BCK-header-container cards-header" style="display: none">
      <div class="first-row">
          <div class="records-per-page-container">
              <div class="BCK-select-page-size-container" data-hb-template="Handlebars-Common-SelectPageSizeContainer">
              </div>
          </div>
          <div class="select-all-container">
              <div class="BCK-selectAll-container" data-hb-template="Handlebars-Common-SelectAll">
              </div>
          </div>
          <div class="text-filter-container">
              <div class="BCK-textFilter-container" data-hb-template="Handlebars-Common-TextFilter">
              </div>
          </div>
      </div>
      <div class="second-row">
          <div class='BCK-paginator-container' data-hb-template="Handlebars-Common-Paginated-UL">
          </div>
      </div>
  </div>

  <div class='BCK-PreloaderContainer row'>
    {% block comp_card_loaders %}
    {% include "glados/base/card_loaders.html" %}
    {% endblock %}
  </div>

  <div class='BCK-SuggestedLabel row' style="display: none">
    <h5>No records were found. However, we found the following similar results:</h5>
  </div>

  <div class='BCK-EmptyListMessage empty-list-message' style="display: none">
    <h5>No records were found.</h5>
  </div>

  <div class='BCK-items-container row cards-container' data-hb-template="Handlebars-Common-Paginated-Card-Horizontal"
       style="display: none">

    <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

  </div>

  <div class="BCK-footer-container row" style="display: none">

    <div class='BCK-paginator-container' data-hb-template="Handlebars-Common-Paginated-UL">

      <!-- Backbone fills this, it will use the handlebars template defined in data-handlebar-template -->

    </div>
  </div>

</div>